$nested-unordered-list-item-decorator: '\2013';
$inline-list-item-indentation-space: 1em;
$nested-list-indentation-space: 1em;
$inline-unordered-list-item-indentation-space: 1.5em;
$inline-list-space: 0;
$unordered-list-indentation-space: 1em;
$nested-list-space: 8px;
$compact-list-item-space: 4px;
$ordered-list-indentation-space: 1.5em;
$list-item-indentation-space: 0;
$unordered-list-item-decorator: '\2022';
$inline-compact-list-item-indentation-space: 0.5em;
$nested-ordered-list-item-decorator: '\2013';
$list-item-space: 8px;
