@mixin cdr-list-base-mixin() {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: $cdr-color-text-primary; // TODO: necessary?

  /* spacing
    ---------- */
  & > li + li {
    margin-top: $cdr-space-half-x;
  }
}

@mixin cdr-list-base-nested-mixin() {
  margin-top: $cdr-space-half-x;
  padding-left: 1em; // TODO: is em correct?
  list-style-type: none;
}


/* compact */
@mixin cdr-list-compact-mixin() {
  & > li + li {
    margin-top: $cdr-space-quarter-x;
  }
}

/* compact nested */
@mixin cdr-list-compact-nested-mixin() {
  margin-top: $cdr-space-quarter-x;
}


/* ordered */
@mixin cdr-list-ordered-mixin() {
  list-style-type: decimal;
  padding-left: 1.5em;
  list-style-position: outside;

  & li {
    padding: 0 0 0 $cdr-space-quarter-x;
  }
}

@mixin cdr-list-ordered-nested-mixin() {
  position: relative;
  padding-left: 1em;

  & > li {
    padding-left: 0;

    &::before {
      content: '\2013';
      position: absolute;
      color: $cdr-color-text-secondary;
      left: 0;
    }
  }
}

@mixin cdr-list-unordered-mixin() {
  position: relative;
  padding-left: 1em;

  & > li::before {
    content: '\2022';
    position: relative;
    margin-left: -1em;
    padding-right: $cdr-space-half-x;
    color: $cdr-color-text-secondary;
  }
}

/* unordered nested */
@mixin cdr-list-unordered-nested-mixin() {
  position: relative;
  padding-left: 1em;

  & > li {
    &::before {
      content: '\2013';
      position: relative;
      margin-left: -1em;
      padding-right: $cdr-space-half-x;
      color: $cdr-color-text-secondary;
    }
  }
}
