@import '../../../css/settings/index.scss';
@import './vars/CdrRadio.vars.scss';
@import url('@rei/cedar/dist/style/cdr-label-wrapper.css');
.cdr-radio {
  /* Figure
  ========== */

  .cdr-label-wrapper__figure {
    @include cdr-form-figure-radio-base-mixin;
  }

  /* States
    ========================================================================== */

  /* Checked
  ========== */
  &__input:checked ~ .cdr-label-wrapper__figure {
    @include cdr-form-figure-radio-checked-mixin;
  }

  // /* Hover */
  &:hover {
    .cdr-label-wrapper__figure {
      @include cdr-form-figure-radio-hover-mixin;
    }

    .cdr-radio__input:checked ~ .cdr-label-wrapper__figure {
      @include cdr-form-figure-radio-checked-hover-mixin;
    }
  }

  // /* Disabled
  // ========== */
  &__input:disabled {

    & ~ .cdr-label-wrapper__figure {
      @include cdr-form-figure-radio-disabled-mixin;
    }

    /* Disabled + Checked
    ========== */
    &:checked {
      & ~ .cdr-label-wrapper__figure {
        @include cdr-form-figure-radio-checked-disabled-mixin;
      }
    }
  }

  //
  // /* Focus
  // ========== */
  &__input:focus ~ .cdr-label-wrapper__figure {
    @include cdr-form-figure-radio-focus-mixin;
  }

  &__input:focus:checked ~ .cdr-label-wrapper__figure {
    @include cdr-form-figure-radio-checked-focus-mixin;
  }

  //
  // /* Active
  // ========== */
  &:active {
    .cdr-label-wrapper__figure, .cdr-radio__input:checked ~ .cdr-label-wrapper__figure {
      @include cdr-form-figure-radio-active-mixin;
    }
  }
}
