@import '../../../css/settings/index.scss';
@import './vars/CdrRadio.vars.scss';

.cdr-radio {
  @include cdr-label-base-mixin;
  display: inline-block;
  margin: 0;
  position: relative;
  user-select: none;

  /* Elements
    ========================================================================== */

  /* Wrap
  ========== */
  &__wrap {
    /* get rid of inline-block whitespace from label element */
    font-size: 0;
    line-height: 1;
  }

  /* Input
  ========== */
  &__input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  /* Content
  ========== */
  &__content {
    user-select: text;
  }

  /* Figure
  ========== */

  &__figure {
    @include cdr-label-figure-medium-mixin
    position: absolute;
    left: 0;
    border-radius: $cdr-radius-round;
    background-color: $cdr-color-background-input-default;
    border: 1px solid $cdr-color-border-input-default;

    &::after {
      content: '';
      position: absolute;
      // @include cdr-label-figure-medium-mixin
      width: $cdr-label-figure-size-medium / 2;
      height: $cdr-label-figure-size-medium / 2;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: $cdr-radius-round;
    }
  }

  /* States
    ========================================================================== */

  /* Checked
  ========== */
  &__input:checked ~ &__figure {
    // outer circle
    border-color: $cdr-color-border-input-default-selected;

    &::after {
      // inner circle
      background-color: $cdr-color-background-input-default-selected;
    }
  }

  /* Hover */
  &:hover {
    & > .cdr-radio__figure {
      cursor: pointer;
      border-color: $cdr-color-border-input-default-hover;
      background-color: $cdr-color-background-input-default-hover;
    }

    & > .cdr-radio__content {
      @include cdr-label-hover-mixin;
    }

    & > .cdr-radio__input {
      /* Hover + Checked
      ========== */
      &:checked ~ .cdr-radio__figure {
        border-color: $cdr-color-border-input-default-selected-hover;

        &::after {
          background-color: $cdr-color-background-input-default-selected-hover;
        }
      }
    }
  }

  /* Disabled
  ========== */
  &__input:disabled {
    & ~ .cdr-radio__content {
      @include cdr-label-disabled-mixin;
    }

    & ~ .cdr-radio__figure {
      border-color: $cdr-color-border-input-default-disabled !important;
      background-color: $cdr-color-background-input-default-disabled !important;
      cursor: not-allowed;
    }

    /* Disabled + Checked
    ========== */
    &:checked {
      & ~ .cdr-radio__figure {
        &::after {
          background-color: $cdr-color-background-input-default-disabled !important;
        }
      }
    }
  }

  /* Active
  ========== */
  &:active > .cdr-radio__figure {
    border-color: $cdr-color-border-input-default-active;
    background-color: $cdr-color-background-input-default;
  }

  /* Focus
  ========== */
  &__input:focus ~ .cdr-radio__figure {
    border-color: $cdr-color-border-input-default-active;
    box-shadow: $cdr-label-figure-box-shadow;
  }


  /* Sizes
  ========================================================================== */
  @include radio-small-mixin(&);

  @include radio-medium-mixin(&);

  @include radio-large-mixin(&);

  /* Breakpoint variants

  /* @xs
    0px - 767px
    ========== */
  @include xs-mq-only {
    @include radio-small-mixin(&, \@xs);

    @include radio-medium-mixin(&, \@xs);

    @include radio-large-mixin(&, \@xs);
  }

  /* @sm
    768px - 991px
    ========== */
  @include sm-mq-only {
    @include radio-small-mixin(&, \@sm);

    @include radio-medium-mixin(&, \@sm);

    @include radio-large-mixin(&, \@sm);
  }

  /* @md
    992px - 1199px
    ========== */
  @include md-mq-only {
    @include radio-small-mixin(&, \@md);

    @include radio-medium-mixin(&, \@md);

    @include radio-large-mixin(&, \@md);
  }

  /* @lg
    1200px and up
    ========== */

  @include lg-mq-only {
    @include radio-small-mixin(&, \@lg);

    @include radio-medium-mixin(&, \@lg);

    @include radio-large-mixin(&, \@lg);
  }

  /* Modifiers
    ========================================================================== */

  /* Compact
    ========== */

  &--compact {
    @include cdr-label-small-mixin;

    & > .cdr-radio__figure {
      @include cdr-label-figure-small-mixin; // TODO: ????
    }
  }

  /* Hide Figure
    ========== */

  &--hide-figure {
    padding-left: 0 !important;

    & > .cdr-radio__figure {
      display: none;
    }
  }

}
