/* ==========================================================================
  # CdrTab
  
  All values should map to variables in
  vars/CdrTab.vars.pcss
  in order to allow for theming

  TOC:

    :Base - CdrTab
========================================================================== */
