<section class="vertical-push-3" data-ui="nav-list">
    <h2 id="nav-tabs" class="status status-good">Tabs</h2>

    <div class="well" data-example-id="simple-nav-tabs" role="navigation">
        {% include markup-templates/lists/nav-list.html param="tabs" %}
    </div>
    {% highlight html %}
    {% include markup-templates/lists/nav-list.html param="tabs" %}
    {% endhighlight %}

    <div class="bs-callout bs-callout-info" id="callout-navs-tabs-plugin">
        <h5>Using navs for tab panels requires JavaScript tabs plugin</h5>

        <p>For tabs with tabbable areas, you must use the <a href="#tabs">tabs JavaScript plugin</a>. The markup will
            also require additional <code>role</code> and ARIA attributes – see the plugin's <a href="#tabs-usage">example
                markup</a> for further details.</p>
    </div>
</section>
