<section class="vertical-push-3" data-ui="nav-list">


<cdr-well-docs example-title="Tabs" element-id="button-primary">
    <yield to="example-description">

        <p> Use for a single transactional CTA; when only one action is needed.</p>
        <p> When grouped, it is used for the primary action of the grouping.</p>

        
    </yield>
    <yield to="example">
        <ul class="nav-tabs">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Messages</a></li>
        </ul>
    </yield>
    <yield to="codeblock">
        {% highlight html %}
        <ul class="nav-tabs">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Messages</a></li>
        </ul>
        {% endhighlight %}
    </yield>
</cdr-well-docs>

</section>
