@mixin cdr-card-base-mixin() {
  position: relative;
  background-color: $cdr-color-background-primary;
  border-radius: $cdr-radius-soft;
  box-shadow: $cdr-prominence-raised;
  color: $cdr-color-text-primary;
  width: 100%;
}
