/* ==========================================================================
  # CdrCard

  This file provides a contract between
  design tokens and cedar non-changing variables.

  TOC:

    :Base
========================================================================== */

$card-background-color: #ffffff;
$card-border-radius: $radius-soft;
$card-box-shadow: $prominence-raised;
$card-color: $text-color-primary-on-light;
$card-width: 100%;
