<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include /header.html %}
  </head>
  <body>
    <div>
      <a id="skippy" class="skip-nav-link sr-only sr-only-focusable" href="#content">
          <div class="container">
              <span class="skiplink-text">Skip to main content</span>
          </div>
      </a>
    </div>

      <!-- Docs master nav -->


      <!-- Docs page layout -->
      <div class="bs-docs-header bs-docs-content" id="content" tabindex="-1">
        <div class="container">
          <h1 class="heading-hero">{{ page.title }}</h1>
          <p>{{ page.lead }}</p>
        </div>
      </div>
      <div class="overlay-dark-1 ui-navigation">
          <div class="container">
              <div class="row">
                    <button type="button" class="btn btn-block btn-contrast btn-primary hidden-md hidden-lg"
                      data-toggle="collapse"
                      aria-expanded="false"
                      aria-controls="pattern_navigation"
                      data-target="#pattern_navigation"
                      aria-label="Navigation Toggle">
                        <span class="icon icon-rei-hamburger-menu" aria-hidden="true"></span>
                    </button>
                    <nav id="pattern_navigation" aria-label="Primary Navigation" role="navigation" class="collapse">
                        {% include markup-templates/navigation/main.html %}
                    </nav>
              </div>
          </div>
      </div>
      <div class="container vertical-pull-2">
        <div class="row">
            {% unless page.fullwidth == true %}
            <div class="col-md-3 pull-right" role="complementary">
                <div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm">
                    <ul class="ui list-menu">

                        {% for item in site.data.navigation.items %}
                        {% if item.slug == page.slug %}

                        {% for nested in item.subCats %}
                        <li>
                            <a href="{{ nested.href }}">{{ nested.label }}</a>
                        </li>
                        {% endfor %}

                        {% endif %}
                        {% endfor %}

                        {% for item in site.data.navigation.items %}
                        {% for nested in item.subCats %}
                        {% if nested.slug == page.slug %}
                        {% for nav in nested.nav %}
                        <li>
                            <a href="#{{ nav.href }}">{{ nav.label }}</a>
                        </li>
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                        <li>
                            <a href="#content">Back to top</a>
                        </li>
                    </ul>
                </div>
            </div>
            {% endunless %}
          <div class="col-md-{% if page.fullwidth == true %}12{% else %}9 {% endif %}" role="main">
            {{ content }}
          </div>
        </div>
      </div>
      {% include /footer.html %}
  </body>
</html>
