:root {
  --btn-bgcolor: red;
  --btn-border-style: solid;
  --btn-cursor: pointer;

  --button-theme: {
    background-color: darkred;
    color: white;
    padding: 20px;
  }

  --button-size-small: {
    padding: 10px;
  }
}
