{% for item in site.data.list-names %}{%
if item.type == include.param %}
<ol class="{{item.class}}" itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item" href="https://example.com/item1">
            <span itemprop="name">Item 1</span></a>
        <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item" href="https://example.com/item1/item2">
            <span itemprop="name">Item 2</span></a>
        <meta itemprop="position" content="2" />
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item" href="https://example.com/item1/item2/item3">
            <span itemprop="name">Item 3</span></a>
        <meta itemprop="position" content="3" />
    </li>
</ol>{%
endif %}{%
endfor %}
