@import "../settings/index";

.cdr-color-background-primary {
  background-color: $cdr-color-background-primary;
}

.cdr-color-background-secondary {
  background-color: $cdr-color-background-secondary;
}

.cdr-color-background-success {
  background-color: $cdr-color-background-success;
}

.cdr-color-background-warning {
  background-color: $cdr-color-background-warning;
}

.cdr-color-background-error {
  background-color: $cdr-color-background-error;
}

.cdr-color-background-info {
  background-color: $cdr-color-background-info;
}
