@import "../settings/index";

.cdr-color-bg-primary {
  background-color: $cdr-color-background-primary;
}

.cdr-color-bg-secondary {
  background-color: $cdr-color-background-secondary;
}

.cdr-color-bg-success {
  background-color: $cdr-color-background-success;
}

.cdr-color-bg-warning {
  background-color: $cdr-color-background-warning;
}

.cdr-color-bg-error {
  background-color: $cdr-color-background-error;
}

.cdr-color-bg-info {
  background-color: $cdr-color-background-info;
}
