/* ==========================================================================
  # Visibility
  
  Utility classes visibility
  TOC:
    :display
    ::none
    ::hidden
    ::flex
    ::inline-flex
    ::block
    ::inline-block
    ::screen reader
    ::screen focusable
    :screen breakpoints
    :print

 
========================================================================== */

/*
/// Sets display to none. 
/// Append [@xs, @sm, @md, @lg, or @print] to make responsive.
/// @group utility.visibility
*/
.cdr-display-none { @include cdr-display-none-mixin; }
/*
/// Sets visibility to hidden. 
/// Append [@xs, @sm, @md, or @lg] to make responsive.
/// @group utility.visibility
*/
.cdr-display-hidden { @include cdr-display-hidden-mixin; }
/*
/// Sets display to block. 
/// Append [@xs, @sm, @md, @lg, or @print] to make responsive.
/// @group utility.visibility
*/
.cdr-display-block { @include cdr-display-block-mixin; }
/*
/// Sets display to inline. 
/// Append [@xs, @sm, @md, @lg, or @print] to make responsive.
/// @group utility.visibility
*/
.cdr-display-inline { @include cdr-display-inline-mixin; }
/*
/// Sets display to inline-block. 
/// Append [@xs, @sm, @md, @lg, or @print] to make responsive.
/// @group utility.visibility
*/
.cdr-display-inline-block { @include cdr-display-inline-block-mixin; }
/*
/// Sets display to flex. 
/// Append [@xs, @sm, @md, or @lg] to make responsive.
/// @group utility.visibility
*/
.cdr-display-flex { @include cdr-display-flex-mixin; }
/*
/// Sets display to inline-flex. 
/// Append [@xs, @sm, @md, or @lg] to make responsive.
/// @group utility.visibility
*/
.cdr-display-inline-flex { @include cdr-display-inline-flex-mixin; }
/*
/// Screen reader only text. 
/// @group utility.visibility
*/
.cdr-display-sr-only { @include cdr-display-sr-only-mixin; }
/*
/// Screen reader only text, but focusable. 
/// @group utility.visibility
*/
.cdr-display-sr-focusable { @include cdr-display-sr-focusable-mixin; }

/*..............................................
Screen Breakpoints
..............................................*/

@include xs-mq-only {
  .cdr-display-none\@xs { @include cdr-display-none-mixin; }
  .cdr-display-hidden\@xs { @include cdr-display-hidden-mixin; }
  .cdr-display-block\@xs { @include cdr-display-block-mixin; }
  .cdr-display-inline\@xs { @include cdr-display-inline-mixin; }
  .cdr-display-inline-block\@xs { @include cdr-display-inline-block-mixin; }
  .cdr-display-flex\@xs { @include cdr-display-flex-mixin; }
  .cdr-display-inline-flex\@xs { @include cdr-display-inline-flex-mixin; }
}

@include sm-mq-only {
  .cdr-display-none\@sm { @include cdr-display-none-mixin; }
  .cdr-display-hidden\@sm { @include cdr-display-hidden-mixin; }
  .cdr-display-block\@sm { @include cdr-display-block-mixin; }
  .cdr-display-inline\@sm { @include cdr-display-inline-mixin; }
  .cdr-display-inline-block\@sm { @include cdr-display-inline-block-mixin; }
  .cdr-display-flex\@sm { @include cdr-display-flex-mixin; }
  .cdr-display-inline-flex\@sm { @include cdr-display-inline-flex-mixin; }
}

@include md-mq-only {
  .cdr-display-none\@md { @include cdr-display-none-mixin; }
  .cdr-display-hidden\@md { @include cdr-display-hidden-mixin; }
  .cdr-display-block\@md { @include cdr-display-block-mixin; }
  .cdr-display-inline\@md { @include cdr-display-inline-mixin; }
  .cdr-display-inline-block\@md { @include cdr-display-inline-block-mixin; }
  .cdr-display-flex\@md { @include cdr-display-flex-mixin; }
  .cdr-display-inline-flex\@md { @include cdr-display-inline-flex-mixin; }
}

@include lg-mq-only {
  .cdr-display-none\@lg { @include cdr-display-none-mixin; }
  .cdr-display-hidden\@lg { @include cdr-display-hidden-mixin; }
  .cdr-display-block\@lg { @include cdr-display-block-mixin; }
  .cdr-display-inline\@lg { @include cdr-display-inline-mixin; }
  .cdr-display-inline-block\@lg { @include cdr-display-inline-block-mixin; }
  .cdr-display-flex\@lg { @include cdr-display-flex-mixin; }
  .cdr-display-inline-flex\@lg { @include cdr-display-inline-flex-mixin; }
}
/*..............................................
Print
..............................................*/

@media print {
  .cdr-display-none\@print { @include cdr-display-none-mixin; }
  .cdr-display-block\@print { @include cdr-display-block-mixin; }
  .cdr-display-inline\@print { @include cdr-display-inline-mixin; }
  .cdr-display-inline-block\@print { @include cdr-display-inline-block-mixin; }
}