////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Background color / text color classes
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// dark backgrounds
.overlay-dark-1,
.well.overlay-dark-1 {
    @background-black-ruleset();
    .checkbox-radio-color-variant( @core-architectural-1; );
}
.overlay-dark-2,
.well.overlay-dark-2 {
    @background-grey-4-ruleset();
    .checkbox-radio-color-variant( @core-architectural-2; );
}

//Mid-tone backgrounds
.overlay-medium-1,
.well.overlay-medium-1 {
    @background-grey-3-ruleset();
    .checkbox-radio-color-variant( @core-architectural-3; );
}
.overlay-medium-2,
.well.overlay-medium-2 {
    @background-grey-2-ruleset();
}

// Light backgrounds
.overlay-light-1,
.well.overlay-light-1 {
    @background-white-ruleset();
}
.overlay-light-2,
.well.overlay-light-2 {
    @background-grey-1-ruleset();
}
.overlay-light-3,
.well.overlay-light-3 {
    @background-dusty-white-ruleset();
}

//Deprecated
.overlay-dark{ &:extend( .overlay-dark-1 ); }
.overlay-medium{ &:extend( .overlay-dark-2 ); }
.overlay-light{ &:extend( .overlay-light-1 ); }
.overlay-dusty{ &:extend( .overlay-light-3 ); }
// Explore
.overlay-explore-dark,
.well.overlay-explore-dark {
    &:extend( .explore );
    @bg-explore-2-ruleset();
    .checkbox-radio-color-variant( @core-architectural-1; );
}
.overlay-explore-light,
.well.overlay-explore-light {
    @bg-explore-1-ruleset();
}

.overlay-outlet-dark-1,
.well.overlay-outlet-dark-1,
.overlay-off-price,
.well.overlay-off-price {
    @bg-brand-danger-background-dark-ruleset();
    .checkbox-radio-color-variant( @core-architectural-1; );
}
 //TODO move to theme
//Explore theme
.explore {
    .link-body {
        &:extend( .link-explore all );
        .overlay-dark-1 & {
            &:extend( .link-explore-overlay all );
        }
    }
    // buttons
    .btn-primary {
        &:extend( .btn-explore all );
    }
    .btn-link {
        &:extend( .link_stag-explore all );
        .overlay-dark-1 & {
            &:extend( .link_stag-explore-overlay all );
        }
    }
    //lists
    .breadcrumb {
        > li {
            a {
                &:extend( .link-explore-crumb );
                font-size: @font-size-smaller;
            }
        }
    }
}

.overlay-dark-1,
.overlay-dark-2 {
    .input-group-addon {
        border: none;
        padding: 0 0 0 @padding-base-horizontal;
    }
    .input-group {
        .form-control {
            background-color: inherit;
            color: inherit;
            &:focus,
            &:active {
                border-color: @core-architectural-5;
            }
        }
    }
}
