/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//            THEME
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@type    : 'layout';
@element : 'groups';

@import (multiple) '../../theme.config';

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  display
//----------------------------------------------------------------------------------------------------------------------
.group {
    display: @group-display;
    @group-display-flex-ruleset();
    position: @group-position;
    &.group-display-overflow {
        @group-overflow-display-flex-ruleset();
        cursor: @group-overflow-cursor;
        overflow: @group-overflow;
        &.group-disply-fixed {
            @group-fixed-display-flex-ruleset();
        }
    }
    &.group-display-fixed {
        @group-fixed-display-flex-ruleset();
    }
    .card,
    .tile,
    .well {
        .group-flex-default( @flex-grow: 1; @flex-shrink: 0; @flex-basis: 0; );
    }

}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  list
//----------------------------------------------------------------------------------------------------------------------
.group {
    &.group-display-list-xs .tile {
        @group-list-tile-ruleset();
    }
    @media (min-width: @screen-xs-max) {
        &.group-display-list-sm .tile {
            @group-list-tile-ruleset();
        }
        &.end-group-display-list-sm .tile {
            @group-end-list-tile-ruleset();
        }
    }
    @media (min-width: @screen-sm-max) {
        &.group-display-list-md .tile {
            @group-list-tile-ruleset();
        }
        &.end-group-display-list-md .tile {
            @group-end-list-tile-ruleset();
        }
    }
    @media (min-width: @screen-md-max) {
        &.group-display-list-lg .tile {
            @group-list-tile-ruleset();
        }
        &.end-group-display-list-lg .tile {
            @group-end-list-tile-ruleset();
        }
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  gutter
//----------------------------------------------------------------------------------------------------------------------
.group {
    > [class^=col-],
    > [class*=col-] {
        display: @group-display-child-container;
        padding: @group-gutter-width;
    }
    &.group-gutter-xs-open-10 {
        @group-gutter-open-10-ruleset();
    }
    @media (min-width: @screen-sm-min) {
        &.group-gutter-sm-open-10 {
            @group-gutter-open-10-ruleset();
        }
    }
    @media (min-width: @screen-sm-min) {
        &.group-gutter-md-open-10 {
            @group-gutter-open-10-ruleset();
        }
    }
    @media (min-width: @screen-lg-min) {
        &.group-gutter-lg-open-10 {
            @group-gutter-open-10-ruleset();
        }
    }
    @media (min-width: @screen-sm-min) {
        &.flex-grow-none {
            > [class^=col-],
            > [class*=col-] {
                .group-flex-default( @group-flex-grow-default; @group-flex-shrink-default; @group-flex-basis-auto; );
            }
        }
    }

}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  grid
//  open and closed container spacing
//-------------------------------------------------------------------------
.container-open-default {
    display: block;
    padding: @card-spacer-inner-x @card-spacer-inner-y;
}
.container-closed {
    padding: 0;
}

//----------------------------------------------------------------------------------------------------------------------
.group {
     >.col-xs-auto {
        min-width: @group-grid-auto-width;
        .group-flex-default( @flex-grow: 1; @group-flex-shrink-default; @group-flex-basis-auto; );
    }
    .group-col-variant( 12; xs );

    @media (min-width: @screen-sm-min) {
         .group-col-variant( 12; sm );
    }
    @media (min-width: @screen-md-min) {
         .group-col-variant( 12; md );
    }
    @media (min-width: @screen-lg-min) {
         .group-col-variant( 12; lg );
    }
}
