////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//            THEME
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@type    : 'layout';
@element : 'tiles';

@import (multiple) '../../theme.config';

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// REI Cedar Card
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//            Card Scaffolding
//----------------------------------------------------------------------------------------------------------------------
.tile {
    display: block;
    box-shadow: @tile-box-shadow;
    .color-variant( @core-architectural-5 );
    position: relative;
    a& {
        cursor: pointer;
        &[ href ] {
            backface-visibility: hidden;
            &:focus,
            &:hover {
                cursor: pointer;
                z-index: 5;
                text-decoration: none;
            }
        }
    }
    .tile-block,
    .tile-block-xs-squished {
        .container-squished();
   }
    .tile-block-xs-stretched {
        .container-streched();
    }
    @media (min-width: @screen-xs-max) {
        .tile-block-sm-squished {
            .container-squished();
        }
        .tile-block-sm-stretched {
            .container-streched();
        }
    }
    @media (min-width: @screen-sm-max) {
        .tile-block-md-squished {
            .container-squished();
        }
        .tile-block-md-stretched {
            .container-streched();
        }
    }
    @media (min-width: @screen-md-max) {
        .tile-block-lg-squished {
            .container-squished();
        }
        .tile-block-lg-stretched {
            .container-streched();
        }
    }
    &[data-theme="medium-10"]{
        box-shadow: @tile-box-shadow-medium-10;
    }
    &[data-theme="dark-10"]{
        box-shadow: @tile-box-shadow-dark-10;
    }
    &[data-theme="dark-20"]{
        box-shadow: @tile-box-shadow-dark-20;
    }
}

