//
// Wells
// --------------------------------------------------

// Base class
.well {
  padding: @vertical-push @padding-base-horizontal;
  margin-bottom: 20px;
  & *:last-child {
    margin-bottom: 0;
  }
  &:extend(.clearfix all);
}

// Well shapes and shape groups
.well-mountain-group {
    .well {
        &:not(:last-of-type) {
            padding-bottom: (20px + @vertical-push);
            &:extend(.well-collapse);
            @media (min-width: @screen-sm-min) {
                padding-bottom: (40px + @vertical-push);
            }
        }
        &.text-center,
        &.text-right{
            .shape-mountain {
                transform: translate(-42px, -32px);
                @media (min-width: @screen-sm-min) {
                    transform: translate(-72px, -42px);
                }
            }
        }
        .shape-mountain {
            transform: translate(0, -32px);
            @media (min-width: @screen-sm-min) {
                transform: translate(0, -42px);
            }
        }
    }
}

// Sizes
.well-lg {
  padding: @padding-xlarge;
}
.well-sm {
  padding: 9px;
}
.well-collapse {
  margin-bottom: 0;
}

// shapes
.shape-mountain {
    .twin-mountain-peaks();
}
