@mixin cdr-table-base-text() {
  @include cdr-text-utility-200;
}

@mixin cdr-table-base() {
  @include cdr-table-base-text();
  
  border: none;
  border-collapse: collapse;
  
  th,
  td {
    min-height: 48px;
    color: $cdr-color-text-primary-lightmode;
    padding: $cdr-space-inset-one-x-squish;
    text-align: left;
  }
  
  th {
    @include cdr-text-utility-strong-200;
    background-color: $cdr-color-background-table-header;
  }
  
  caption {
    @include cdr-text-heading-300;
  }
}

@mixin cdr-table-small {
  th, td {
    padding: 0.4rem 1.6rem;
  }
}

@mixin cdr-table-medium {
  th, td {
    padding: $cdr-space-inset-one-x-squish;
  }
}

@mixin cdr-table-large {
  th, td {
    padding: $cdr-space-inset-one-x;
  }
}

@mixin cdr-table-border() {
  $table-border-styles:1px solid $cdr-color-border-table-default;
  // border for every tr except the last
  tr {
    border-bottom: $table-border-styles;
    &:last-of-type {
      border-bottom: none;
    }
  }

  // turn back on for some situations
  thead + tbody > tr:first-of-type,
  thead + tr:first-of-type,
  tbody + tfoot > tr:first-of-type,
  tbody + tr:first-of-type {
    border-top: $table-border-styles;
  }
}

@mixin cdr-table-striped() {
  thead {
    th {
      background-color: $cdr-color-background-table-header;
    }

    // override body styling when head is present
    & + tbody tr {
      // striping rows
      &:nth-child(even) {
        background-color: $cdr-color-background-table-row-alt;
        
        & td {
          background-color: $cdr-color-background-table-row-alt;
        }
      }

      // disabled default
      &:nth-child(odd) {
        background-color: $cdr-color-background-table-row;
        
        & td {
          background-color: $cdr-color-background-table-row;
        }
      }
    }
  }

  tbody,
  tfoot {
    tr {
      // striping rows
      &:nth-child(odd) {
        background-color: $cdr-color-background-table-row-alt;
        
        & td {
          background-color: $cdr-color-background-table-row-alt;
        }
      }
    }
  }
}

@mixin cdr-table-full-width() {
  width: 100%;
}

@mixin cdr-table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}
