/* ==========================================================================
  # CdrTable

  This file provides a contract between
  design tokens and cedar non-changing variables.

  TOC:

    :Base - Table
      :States
========================================================================== */

$table-cell-width: 110px;
$table-cell-max-width: 150px;
$table-cell-min-width: 127px;
$table-cell-min-height: 48px;
