@mixin cdr-table-base-text() {
  @include cdr-text-utility-200;
}

@mixin cdr-table-base() {
  @include cdr-table-base-text();
  
  border: none;
  border-collapse: collapse;
  
  th,
  td {
    min-height: 48px;
    color: $cdr-color-text-primary-lightmode;
    padding: $cdr-space-inset-one-x-squish;
    text-align: left;
  }
  
  thead {
    th {
      font-weight: 600;
    }
  }
  
  caption {
    @include cdr-text-heading-300;
  }
}

@mixin cdr-table-small {
  th, td {
    padding: 0.4rem 1.6rem;
  }
}

@mixin cdr-table-medium {
  th, td {
    padding: $cdr-space-inset-one-x-squish;
  }
}

@mixin cdr-table-large {
  th, td {
    padding: $cdr-space-inset-one-x;
  }
}

@mixin cdr-table-border() {
  th,
  td {
    border: 1px solid $cdr-color-border-secondary-lightmode;
  }
  
  thead th {
    border-bottom: 2px solid $cdr-color-border-secondary-lightmode;
  }
}

@mixin cdr-table-striped() {
  thead {
    th {
      background-color: $cdr-color-background-light;
    }

    // override body styling when head is present
    & + tbody tr {
      // striping rows
      &:nth-child(even) {
        background-color: $cdr-color-background-light;
        
        & td {
          background-color: $cdr-color-background-light;
        }
      }

      // disabled default
      &:nth-child(odd) {
        background-color: transparent;
        
        & td {
          background-color: transparent;
        }
      }
    }
  }

  tbody,
  tfoot {
    tr {
      // striping rows
      &:nth-child(odd) {
        background-color: $cdr-color-background-light;
        
        & td {
          background-color: $cdr-color-background-light;
        }
      }
    }
  }
}

@mixin cdr-table-full-width() {
  width: 100%;
}
