/* ==========================================================================
  # CdrTable

  This file provides a contract between
  design tokens and cedar non-changing variables.

  TOC:

    :Base - Table
      :States
========================================================================== */

$table-cell-width: 129px;
