<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% if (htmlWebpackPlugin.options.description) { %>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>"/>
    <% } %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:400,700" rel="stylesheet">
    <!-- <link href="static/cedar-fonts.min.css" rel="stylesheet"> -->
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <div id="app">
      <<%= htmlWebpackPlugin.options.tagName %> href="#">Test Anchor</<%= htmlWebpackPlugin.options.tagName %>>
    </div>
    <script type="text/javascript">new Vue({el: "#app"});</script>
  </body>
</html>