// variables shared between checkbox and radio
$cdr-label-base-spacing: $cdr-space-half-x;

$cdr-label-figure-size-small: 16px;
$cdr-label-figure-size-medium: 16px;
$cdr-label-figure-size-large: 20px;
$cdr-label-figure-box-shadow: 0 0 8px 0 rgb(50, 120, 174);

$cdr-label-height-medium: $cdr-text-utility-300-height;
@mixin cdr-label-base-mixin() {
  @include cdr-text-utility-300;
  padding-left: calc(#{$cdr-label-figure-size-medium} + #{$cdr-label-base-spacing});
  color: $cdr-color-text-form-label-lightmode;
}

@mixin cdr-label-hover-mixin() {
  cursor: pointer;
}

@mixin cdr-label-disabled-mixin() {
  color: $cdr-color-text-disabled-lightmode !important;
  cursor: default;
}

$cdr-label-height-small: $cdr-text-utility-200-height;
@mixin cdr-label-small-mixin() {
  @include cdr-text-utility-200;
  padding-left: calc(#{$cdr-label-figure-size-small} + #{$cdr-label-base-spacing});
}

$cdr-label-height-large: $cdr-text-utility-300-height;
@mixin cdr-label-large-mixin() {
  @include cdr-text-utility-300;
  padding-left: calc(#{$cdr-label-figure-size-large} + #{$cdr-label-base-spacing});
}

@mixin cdr-label-figure-small-mixin() {
  top: calc((#{$cdr-label-height-small} - #{$cdr-label-figure-size-small}) / 2);
  width: $cdr-label-figure-size-small;
  height: $cdr-label-figure-size-small;
}

@mixin cdr-label-figure-medium-mixin() {
  top: calc((#{$cdr-label-height-medium} - #{$cdr-label-figure-size-medium}) / 2);
  width: $cdr-label-figure-size-medium;
  height: $cdr-label-figure-size-medium;
}

@mixin cdr-label-figure-large-mixin() {
  top: calc((#{$cdr-label-height-large} - #{$cdr-label-figure-size-large}) / 2);
  width: $cdr-label-figure-size-large;
  height: $cdr-label-figure-size-large;
}
