

@mixin cdr-display-none-mixin() {
  display: none !important; 
  visibility: hidden !important;
}

@mixin cdr-display-hidden-mixin() {
  visibility: hidden !important
}

@mixin cdr-display-block-mixin() {
  visibility: visible !important;
  display: block !important;
}

@mixin cdr-display-inline-mixin() {
  visibility: visible !important;
  display: inline !important;
}

@mixin cdr-display-inline-block-mixin() {
  visibility: visible !important;
  display: inline-block !important;
}

@mixin cdr-display-flex-mixin() {
  visibility: visible !important;
  display: flex !important;
}

@mixin cdr-display-inline-flex-mixin() {
  visibility: visible !important;
  display: inline-flex !important;
}

@mixin cdr-display-sr-only-mixin() {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@mixin cdr-display-sr-focusable-mixin () {
  @include cdr-display-sr-only-mixin;
  &:hover,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}