/*
*
* REI Cedar Color
* Base values inherited from brandai.pcss
*
* TOC:
*  Global generics
** Outline
** Transparent
** Feedback
*/

/*
* Global generics
*/

/* Outline */
$color-outline: inherit;
$color-outline-focus: #8dd1ed;

/* Transparent  */
$color-transparent-background: transparent;
$color-transparent-border: inherit;
