/*
* Global generics
*
* TOC:
* Outline
*/

/* Outline */
$outline-default-width: 2px;
$outline-default-style: dotted;

/* spacing modifiers */
$size-modifier--stretch: 1.5;
$size-modifier--squish: 0.5;
