/*
* Global generics
*
* TOC:
* Outline
*/

/* Outline */
$outline-default-width: thin;
$outline-default-style: dotted;

/* spacing modifiers */
$size-modifier--stretch: 1.5;
$size-modifier--squish: 0.5;

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1;
  font-size: inherit;
}

ol,
ul,
dl {
  margin: 0;
}
