/* used in input select and activity card */

$space-md:  $spacing-md;
$space-modifier--stretch: 1.5;
$space-modifier--squish: 0.5;
$space-md-squish: calc($space-md * $space-modifier--squish);
$space-md-stretch: calc($space-md * $space-modifier--stretch);
$inset-md: $space-md;
