/* ==========================================================================
  # CdrBlockquote
  
  All values should map to variables in
  vars/CdrBlockquote.vars.pcss
  in order to allow for theming

  TOC:

    :Base - CdrBlockquote
========================================================================== */
