/* ==========================================================================
  # CdrIcon

  This file provides a contract between
  design tokens and cedar non-changing variables.

  TOC:

    :Base
========================================================================== */

$icon-width: $sizing-size-md;
$icon-height: $sizing-size-md;
$icon-fill: $sys-color-hillary-darken-30;
