@mixin cdr-input-base-mixin() {
  @include cdr-text-utility-sans-300;

  color: $cdr-color-text-input-default;
  // box-shadow: inset 0 0 0 1px $cdr-color-border-input-default; // TODO: re-enable once token is added
  border: 0;
  border-radius: $cdr-radius-softer;
  padding: $cdr-space-inset-half-x;
  height: 40px;
  display: block;
  width: 100%;
  overflow: visible;
  margin: 0;

  /* Prevent iOS from altering border and box-shadow */
  @supports (-webkit-overflow-scrolling: touch) {
    /* CSS specific to iOS devices */
    -webkit-appearance: none;
  }

  &[type=number]::-webkit-inner-spin-button,
  &[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }

  &:active,
  &:focus {
    box-shadow: inset 0 0 0 1px $cdr-color-border-input-default-selected;
  }

  &::placeholder {
    @include cdr-text-utility-sans-300;

    color: $cdr-color-text-input-placeholder;
  }

  &[disabled] {
    background-color: $cdr-color-background-input-default-disabled;
    color: $cdr-color-text-input-disabled;
    box-shadow: inset 0 0 0 1px $cdr-color-border-input-default-disabled;

    &:hover {
      box-shadow: inset 0 0 0 1px $cdr-color-border-input-default-disabled;
    }

    &::placeholder {
      color: $cdr-color-text-input-disabled;
    }
  }
}

@mixin cdr-input-base-label-mixin() {
  @include cdr-text-utility-sans-200;

  color: $cdr-color-text-input-label;
  display: inline-block;
  margin: 0;
  margin-bottom: $cdr-space-quarter-x;
  margin-right: $cdr-space-inset-quarter-x;
}

@mixin cdr-input-large-mixin() {
  @include cdr-text-utility-sans-400;

  padding-top: $cdr-space-half-x;
  padding-left: $cdr-space-half-x;
  height: 48px;
}

@mixin cdr-input-helper-text-mixin() {
  // TODO: possible custom font token
  font-family: $cdr-font-family-sans;
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: -0.016rem;

  color: $cdr-color-text-input-help;
  display: block;
}

@mixin cdr-input-info-container-mixin() {
  @include cdr-text-utility-sans-200;

  float: right;
}

@mixin cdr-input-required-label-mixin() {
  color: $cdr-color-text-input-required;
  margin-left: $cdr-space-inset-quarter-x;
}
