@mixin cdr-input-base-mixin() {
  @include cdr-text-utility-sans-300;
  font-weight: 500;
  color: $cdr-color-text-input-default;
  border: 0;
  background-color: $cdr-color-background-input-default;
  box-shadow: inset 0 0 0 1px $cdr-color-border-input-default;
  border-radius: $cdr-radius-softer;
  fill: $cdr-color-icon-default;
  border-radius: $cdr-radius-softer;
  padding: $cdr-space-inset-half-x;
  height: $cdr-form-input-height-default;
  display: block;
  width: 100%;
  overflow: visible;
  margin: 0;

  /* Prevent iOS from altering border and box-shadow */
  -webkit-appearance: none;

  &[type=number]::-webkit-inner-spin-button,
  &[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
  &:active,
  &:focus {
    outline: none;
    box-shadow: inset 0 0 0 2px $cdr-color-border-input-default-focus, $cdr-prominence-raised;
  }

  &::placeholder {
    @include cdr-text-utility-sans-300;

    color: $cdr-color-text-input-placeholder;
  }

  &[disabled] {
    background-color: $cdr-color-background-input-default-disabled;
    color: $cdr-color-text-input-disabled;
    box-shadow: inset 0 0 0 1px $cdr-color-border-input-default-disabled;

    &:hover {
      box-shadow: inset 0 0 0 1px $cdr-color-border-input-default-disabled;
      cursor: not-allowed;
    }

    &::placeholder {
      color: $cdr-color-text-input-disabled;
    }
  }
}

@mixin cdr-input-primary-mixin() {
  background-color: $cdr-color-background-input-default;
  &:active,
  &:focus {
    background-color: $cdr-color-background-input-default-active;
  }
}

@mixin cdr-input-secondary-mixin() {
  background-color: $cdr-color-background-input-secondary;
  &:active,
  &:focus {
    background-color: $cdr-color-background-input-secondary-active;
  }
}

@mixin cdr-input-error-mixin() {
  background-color: $cdr-color-background-input-error;
  box-shadow: inset 0 0 0 1px $cdr-color-border-input-error;
}


@mixin cdr-input-large-mixin() {
  @include cdr-text-utility-sans-400;
  line-height: $cdr-space-half-x + $cdr-text-utility-sans-400-height;
  padding-left: $cdr-space-half-x;
  height: $cdr-form-input-height-large;
  &::placeholder {
    line-height: $cdr-space-half-x + $cdr-text-utility-sans-400-height;
  }
}

@mixin cdr-input-helper-text-mixin() {
  @include cdr-text-utility-sans-200;
  color: $cdr-color-text-input-help;
}
