{
  "presets": [
    ["@babel/preset-env", { "modules": false }],
  ],
  "plugins": [
    "@babel/transform-runtime",
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": [
        "@babel/preset-env",
      ],
      "plugins": ["istanbul"]
    }
  }
}