{
  "presets": [
    ["env", { "modules": false }],
    "stage-2"
  ],
  "plugins": ["transform-runtime"],
  "comments": false,
  "env": {
    "test": {
      "presets": [
        "env", 
        "stage-2"
      ],
      "plugins": [ 
        ["module-resolver", {
          "root": ["./src"],
          "alias": {
            "Components": "./src/components",
            "Assets": "./src/assets"
          }
        }]
      ]
    }
  }
}