# Ignore docs files
_gh_pages
_site
.ruby-version

# Numerous always-ignore extensions
*.diff
*.err
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
*.zip
*~

# OS or Editor folders
._*
.cache
.DS_Store
.idea
*.iml
.classpath
.metadata
.project
.settings
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace
nbproject
Thumbs.db

# Komodo
.komodotools
*.komodoproject

# Folders to ignore
bower_components
node_modules
backstop_data

# Build directories and files
dist
target

# docs_src ignores
docs_src/assets/css/*.min.css
docs_src/assets/js/*.min.js
docs_src/_includes/less
docs_src/_includes/**/*.less
docs_src/_data/package.json

# Compiled files added to docs_src
/docs_src/.jekyll-metadata
/docs_src/rei-cedar*
docs_src/assets/css/src/docs.css

# Build and transitional directories
docs_dist
test/tmp/
deprecated/


# PhantomCSS test reference images
test/test-ui/screenshots
test/test-ui/failures
