{
    "processors": ["stylelint-processor-html"],
    "extends": "stylelint-config-standard",
    "ignoreFiles": ["**/*.js"],
    "rules": {
        "no-empty-source": null,
        "no-invalid-double-slash-comments": null,
        "no-eol-whitespace": [ true, {
            "ignore": ["empty-lines"]
        } ],
        "at-rule-empty-line-before": null,
        "no-duplicate-at-import-rules": null,
        "no-descending-specificity": null,
        "at-rule-no-unknown": [true, {
            "ignoreAtRules": ["mixin", "include"]
        } ],
        "color-hex-length": null,
        "selector-pseudo-class-no-unknown": [true, {
            "ignorePseudoClasses": ["global"]
        }]
    }
}