{
    "extends": "stylelint-config-recommended-scss",
    "ignoreFiles": ["**/*.js", "**/*.vars.pcss"],
    "plugins": [
        "stylelint-scss"
    ],
    "rules": {
        "at-rule-blacklist": ["debug"],
        "no-empty-source": null,
        "no-descending-specificity": null,
        "selector-pseudo-class-no-unknown": [true, {
            "ignorePseudoClasses": ["global"]
        }]
    }
}