{
    "processors": ["stylelint-processor-html"],
    "extends": "stylelint-config-standard",
    "rules": {
        "no-empty-source": null,
        "no-invalid-double-slash-comments": null,
        "no-eol-whitespace": [ true, {
            "ignore": "empty-lines",
        } ],
        "at-rule-empty-line-before": null,
    }
}