.cdr-search {
  display: flex;

  &__input {
    flex-grow: 1;
  }

  &__icon {
    display: block;
    height: 16px;
    width: 16px;
    background-image: svg-load('../../../assets/icons/rei/cdr-spyglass.svg', fill=$(sys-color-search-icon));
  }
}
