@mixin cdr-cta-base-mixin() {
  // TODO: custom type token? use button type token?
  font-family: $cdr-font-family-sans;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -.08px;
  font-size: 16px;
  line-height: 22px;

  border: none;
  border-radius: $cdr-radius-softer;
  cursor: pointer;
  display: inline-flex;
  outline: none;
  padding: $cdr-space-inset-one-and-a-half-x-squish;
  padding-right: $cdr-space-one-x;
  text-align: left;
  text-transform: none;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }

  &:focus {
    outline: $default-outline;
    outline-color: -webkit-focus-ring-color;
    outline-offset: 0;
  }
}

@mixin cdr-cta-base-icon-mixin() {
  align-self: center;
  display: inline-block;
  fill: inherit;
  height: $cdr-icon-size;
  width: $cdr-icon-size;
  margin-left: $cdr-space-quarter-x;
  vertical-align: middle;
  flex: 0 0 auto;
}


@mixin cdr-cta-full-width-mixin() {
  justify-content: center;
  width: 100%;
}


@mixin cdr-cta-brand-mixin() {
  background-color: #3278ae;
  box-shadow: inset 0 0 0 1px #2b6692;
  color: #ffffff;
  fill: #ffffff;

  &:hover,
  &:active,
  &:focus {
    background-color: #2b6692;
    box-shadow: inset 0 0 0 1px #2b6692;
    color: #ffffff;
    fill: #ffffff;
  }
}

@mixin cdr-cta-dark-mixin() {
  background-color: #292929;
  box-shadow: inset 0 0 0 1px #434343;
  color: #ffffff;
  fill: #ffffff;

  &:hover,
  &:active,
  &:focus {
    background-color: #434343;
    box-shadow: inset 0 0 0 1px #434343;
    color: #ffffff;

    & > .cdr-cta__icon {
      fill: #ffffff;
    }
  }
}

@mixin cdr-cta-light-mixin() {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 1px #616161;
  color: #292929;
  fill: #292929;

  &:hover,
  &:active,
  &:focus {
    background-color: #f7f7f7;
    box-shadow: inset 0 0 0 1px #616161;
    color: #292929;
    fill: #292929;
  }
}

@mixin cdr-cta-light-elevated-mixin() {
  box-shadow: inset 0 0 0 1px #616161, $cdr-prominence-elevated;

  &:hover,
  &:active,
  &:focus {
    box-shadow: inset 0 0 0 1px #616161, $cdr-prominence-elevated;
  }
}

@mixin cdr-cta-sale-mixin() {
  background-color: #b5292b;
  box-shadow: inset 0 0 0 1px #a12024;
  color: #ffffff;
  fill: #ffffff;

  &:hover,
  &:active,
  &:focus {
    background-color: #a12024;
    box-shadow: inset 0 0 0 1px #a12024;
    color: #ffffff;
    fill: #ffffff;
  }
}

@mixin cdr-cta-elevated-mixin() {
  box-shadow: $cdr-prominence-elevated;

  // TODO: are these necessary since no style change?
  &:hover,
  &:active,
  &:focus {
    box-shadow: $cdr-prominence-elevated;
  }
}
