@mixin cdr-cta-base-mixin() {
  // TODO: custom type token? use button type token?
  font-family: $cdr-font-family-sans;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -.08px;
  font-size: 16px;
  line-height: 22px;

  border: none;
  border-radius: $cdr-radius-softer;
  cursor: pointer;
  display: inline-flex;
  outline: none;
  padding: $cdr-space-inset-one-and-a-half-x-squish;
  padding-right: $cdr-space-one-x;
  text-align: left;
  text-transform: none;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }

  &:focus {
    outline: $default-outline;
    outline-color: -webkit-focus-ring-color;
    outline-offset: 0;
  }
}

@mixin cdr-cta-base-icon-mixin() {
  align-self: center;
  display: inline-block;
  fill: inherit;
  height: $cdr-icon-size;
  width: $cdr-icon-size;
  margin-left: $cdr-space-quarter-x;
  vertical-align: middle;
  flex: 0 0 auto;
}


@mixin cdr-cta-full-width-mixin() {
  justify-content: center;
  width: 100%;
}


@mixin cdr-cta-brand-mixin() {
  background-color: $cdr-color-background-cta-brand-rest;
  box-shadow: inset 0 0 0 1px $cdr-color-border-cta-brand-rest;
  color: $cdr-color-text-cta-brand;
  fill: $cdr-color-text-cta-brand;

  &:active,
  &:focus {
    background-color: $cdr-color-background-cta-brand-active;
    box-shadow: inset 0 0 0 1px $cdr-color-border-cta-brand-active;
  }

  &:hover {
    background-color: $cdr-color-background-cta-brand-hover;
    box-shadow: inset 0 0 0 1px $cdr-color-border-cta-brand-hover;
  }
}

@mixin cdr-cta-dark-mixin() {
  background-color: $cdr-color-background-cta-dark-rest;
  box-shadow: inset 0 0 0 1px $cdr-color-border-cta-dark-rest;
  color: $cdr-color-text-cta-dark;
  fill: $cdr-color-text-cta-dark;

  &:active,
  &:focus {
    background-color: $cdr-color-background-cta-dark-active;
    box-shadow: inset 0 0 0 1px $cdr-color-border-cta-dark-active;
  }

  &:hover {
    background-color: $cdr-color-background-cta-dark-hover;
    box-shadow: inset 0 0 0 1px $cdr-color-border-cta-dark-hover;
  }
}

@mixin cdr-cta-light-mixin() {
  background-color: $cdr-color-background-cta-light-rest;
  box-shadow: inset 0 0 0 1px $cdr-color-border-cta-light-rest;
  color: $cdr-color-text-cta-light;
  fill: $cdr-color-text-cta-light;

  &:active,
  &:focus {
    background-color: $cdr-color-background-cta-light-active;
    box-shadow: inset 0 0 0 1px $cdr-color-border-cta-light-active;
  }

  &:hover {
    background-color: $cdr-color-background-cta-light-hover;
    box-shadow: inset 0 0 0 1px $cdr-color-border-cta-light-hover;
  }
}

@mixin cdr-cta-light-elevated-mixin() {
  box-shadow: inset 0 0 0 1px $cdr-color-border-cta-light-rest, $cdr-prominence-elevated;

  &:active,
  &:focus {
    box-shadow: inset 0 0 0 1px $cdr-color-border-cta-light-active, $cdr-prominence-raised;
  }
  &:hover {
    box-shadow: inset 0 0 0 1px $cdr-color-border-cta-light-hover, $cdr-prominence-floating;
  }
}

@mixin cdr-cta-sale-mixin() {
  background-color: $cdr-color-background-cta-sale-rest;
  box-shadow: inset 0 0 0 1px $cdr-color-border-cta-sale-rest;
  color: $cdr-color-text-cta-sale;
  fill: $cdr-color-text-cta-sale;

  &:active,
  &:focus {
    background-color: $cdr-color-background-cta-sale-active;
    box-shadow: inset 0 0 0 1px $cdr-color-border-cta-sale-active;
  }

  &:hover {
    background-color: $cdr-color-background-cta-sale-hover;
    box-shadow: inset 0 0 0 1px $cdr-color-border-cta-sale-hover;
  }
}

@mixin cdr-cta-elevated-mixin() {
  box-shadow: $cdr-prominence-elevated;

  &:active,
  &:focus {
    box-shadow: $cdr-prominence-raised;
  }

  &:hover {
    box-shadow: $cdr-prominence-floating;
  }
}
