@import '../../../css/settings/index.scss';
@import './vars/CdrQuote.vars.scss';

/* ==========================================================================
  # Cdrquote

  TOC:

    :Base - Cdrquote
========================================================================== */

.cdr-quote {
  @include cdr-quote-base-container;

  &__summary {
    @include cdr-quote-base-content;
  }

  &--pull {
    @include cdr-quote-pull-container;
    .cdr-quote__summary {
      @include cdr-quote-pull-content;
    }
  }
}
