@import '../../../css/settings/index.scss';

/* ==========================================================================
  # Cdrquote
  
  TOC:

    :Base - Cdrquote
========================================================================== */

.cdr-quote {
  margin: 0;
  padding: $cdr-space-inset-one-x-stretch;
  line-height: 1;
  
  &__summary {
    font-family: #{$cdr-font-family-serif}, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -.08rem;
    margin: 0;
    
    @include sm-mq {
      font-size: 24px;
      line-height: 34px;
      letter-spacing: -.016rem;
    }

    & + .cdr-quote__citation {
      display: block;
      padding-top: $cdr-space-one-x;
    }
  }

  &--pull {
    border-style: solid;
    border-color: #222;

    .cdr-quote__summary {
      font-weight: 600;
    }

    @include xs-mq {
      border-width: 0 0 1px 0;
      padding: $cdr-space-inset-one-x-stretch;
      margin: 0 0 $cdr-space-one-x;
    }

    @include sm-mq {
      border-width: 0 0 0 1px;
      padding: $cdr-space-half-x $cdr-space-one-x $cdr-space-half-x $cdr-space-two-x;
      margin: $cdr-space-one-x 0;
    }
  }
}
