/* ==========================================================================
  # CdrList

  TOC:

    :Base Styles
      :cdr-list (Bare)
        :Spacing
        :Nesting
    :Style variants
      :Compact
        :Nesting
      :Ordered
        :Nesting
      :Unordered
        :Nesting
      :Inline
        :compact
        :unordered
          :compact

========================================================================== */
.cdr-list {
  list-style-type: none;
  padding: $list-item-indentation-space;
  margin: 0;

  /* spacing
    ---------- */
  & > li + li {
    margin-top: $list-item-space;
  }

  /* nesting
    ---------- */
  & li > .cdr-list {
    margin-top: $nested-list-space;
    padding-left: $nested-list-indentation-space;
    list-style-type: none;
  }

  /* Style variants
    ========================================================================== */

  /* Compact
    ========== */
  &--compact {
    & > li + li {
      margin-top: $cdr-space-quarter-x;
    }

    /* nesting
      ---------- */
    & li > .cdr-list {
      margin-top: $cdr-space-quarter-x;
    }
  }

  /* Ordered
    ========== */
  &--ordered {
    list-style-type: decimal;
    padding-left: $ordered-list-indentation-space;
    list-style-position: outside;
    
    & li {
      padding-left: $cdr-space-quarter-x;
      padding-bottom: 0;
      padding-right: 0;
      padding-top: 0;

      /* nesting
      ---------- */
      & > .cdr-list {
        position: relative;
        padding-left: $nested-list-indentation-space;

        & > li {
          padding-left: $list-item-indentation-space;

          &::before {
            content: '#{$nested-ordered-list-item-decorator}';
            position: absolute;
            left: 0;
          }
        }
      }
    }
  }

  /* Unordered
     ========== */
  &--unordered {
    position: relative;
    padding-left: $unordered-list-indentation-space;

    & > li::before {
      content: '#{$unordered-list-item-decorator}';
      position: absolute;
      left: 0;
    }

    /* nesting
      ---------- */
    & li > .cdr-list {
      position: relative;
      padding-left: $nested-list-indentation-space;

      & > li {
        &::before {
          content: '#{$nested-unordered-list-item-decorator}';
          position: absolute;
          left: 0;
        }
      }
    }
  }

  /* Inline
  ========== */
  &--inline {
    display: flex;
    list-style-type: none;
    padding-left: $inline-list-space;

    & > li {
      display: block;

      & + li {
        margin-top: $inline-list-space;
        padding-left: $inline-list-item-indentation-space;
      }
    }

    /* compact
    ---------- */
    &.cdr-list--compact > li + li {
      padding-left: $inline-compact-list-item-indentation-space;
    }

    /* unordered
    ---------- */
    &.cdr-list--unordered {
      left: $inline-list-space;

      & > li {
        position: relative;

        & + li {
          padding-left: $inline-unordered-list-item-indentation-space;
        }

        &:first-of-type::before {
          content: '';
        }

        &::before {
          content: '#{$unordered-list-item-decorator}';
          display: block;
          position: absolute;
          top: 50%;
          transform: translate(150%, -50%);
          height: 6px;
          width: 6px;
          line-height: 6px;
          left: 0;
        }
      }

      /* unordered - compact
      ---------- */
      &.cdr-list--compact {
        & > li + li {
          padding-left: $inline-list-item-indentation-space;

          &::before {
            transform: translate(100%, -50%);
          }
        }
      }
    }
  }
}
