/* ==========================================================================
  # CdrList
  TOC:
    :Base Styles
      :cdr-list (Bare)
        :Spacing
        :Nesting
    :Style variants
      :Compact
        :Nesting
      :Ordered
        :Nesting
      :Unordered
        :Nesting
      :Inline
        :compact
        :unordered
          :compact
========================================================================== */


// nesting is easy, they'll just have to handle the selector
// INLINE is a whole mess.

.cdr-list {
  @include cdr-list-base-mixin;


  /* nesting
    ---------- */
  & li > .cdr-list {
    @include cdr-list-base-nested-mixin;
  }

  /* Style variants
    ========================================================================== */

  /* Compact
    ========== */
  &--compact {
    @include cdr-list-compact-mixin;

    /* nesting
      ---------- */
    & li > .cdr-list {
      @include cdr-list-compact-nested-mixin;
    }
  }

  /* Ordered
    ========== */
  &--ordered {
    @include cdr-list-ordered-mixin;

    & li {
      /* nesting
      ---------- */
      & > .cdr-list {
        @include cdr-list-ordered-nested-mixin;
      }
    }
  }

  /* Unordered
     ========== */
  &--unordered {
    @include cdr-list-unordered-mixin;

    /* nesting
      ---------- */
    & li > .cdr-list {
      @include cdr-list-unordered-nested-mixin;
    }
  }

  /* Inline
  ========== */
  &--inline {
    display: flex;
    list-style-type: none;
    padding-left: $inline-list-space;

    & > li {
      display: block;

      & + li {
        margin-top: $inline-list-space;
        padding-left: $inline-list-item-indentation-space;
      }
    }

    /* inline - compact
    ---------- */
    &.cdr-list--compact > li + li {
      padding-left: $inline-compact-list-item-indentation-space;
    }

    /* inline - unordered
    ---------- */
    &.cdr-list--unordered {
      left: $inline-list-space;

      & > li {
        position: relative;

        & + li {
          padding-left: $inline-unordered-list-item-indentation-space;
        }

        &:first-of-type::before {
          content: '';
        }

        &::before {
          content: '#{$unordered-list-item-decorator}';
          display: block;
          position: absolute;
          top: 50%;
          transform: translate(150%, -50%);
          height: 6px;
          width: 6px;
          line-height: 6px;
          left: 0;
        }
      }

      /* inline - unordered - compact
      ---------- */
      &.cdr-list--compact {
        & > li + li {
          padding-left: $inline-list-item-indentation-space;

          &::before {
            transform: translate(100%, -50%);
          }
        }
      }
    }
  }
}