@import '../../../css/settings/index.scss';
@import './vars/CdrList.vars.scss';

.cdr-list {
  @include cdr-list-base-mixin;

  /* nesting
    ---------- */
  & li > .cdr-list {
    @include cdr-list-base-nested-mixin;
  }

  /* Style variants
    ========================================================================== */

  /* Compact
    ========== */
  &--compact {
    @include cdr-list-compact-mixin;

    /* nesting
      ---------- */
    & li > .cdr-list {
      @include cdr-list-compact-nested-mixin;
    }
  }

  /* Ordered
    ========== */
  &--ordered {
    @include cdr-list-ordered-mixin;

    & li {
      /* nesting
      ---------- */
      & > .cdr-list {
        @include cdr-list-ordered-nested-mixin;
      }
    }
  }

  /* Unordered
     ========== */
  &--unordered {
    @include cdr-list-unordered-mixin;

    /* nesting
      ---------- */
    & li > .cdr-list {
      @include cdr-list-unordered-nested-mixin;
    }
  }

  /* Inline
  ========== */
  &--inline {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;

    & > li {
      display: block;

      & + li {
        margin-top: 0;
        padding-left: 1em;
      }
    }

    /* inline - compact
    ---------- */
    &.cdr-list--compact > li + li {
      padding-left: 0.5em;
    }

    /* inline - unordered
    ---------- */
    &.cdr-list--unordered {
      left: 0;

      & > li {
        position: relative;

        & + li {
          padding-left: 1.5em;
        }

        &:first-of-type::before {
          display: none;
        }

        &::before {
          content: '\2022';
          color: $cdr-color-text-secondary;
          display: block;
          position: absolute;
          top: 50%;
          transform: translate(150%, -50%);
          height: 6px;
          width: 6px;
          line-height: 6px;
          left: 0;
          padding: 0;
          margin: 0;
        }
      }

      /* inline - unordered - compact
      ---------- */
      &.cdr-list--compact {
        & > li + li {
          padding-left: 1em;

          &::before {
            transform: translate(100%, -50%);
          }
        }
      }
    }
  }
}
