$animation-duration: $cdr-duration-2-x;
$timing-function: $cdr-timing-function-ease-out;

@mixin cdr-toast-base-mixin() {
  position: relative;
  border-radius: $cdr-radius-softer;
  border-left: 4px solid;
  box-shadow: $cdr-prominence-floating;
  margin-bottom: $cdr-space-one-x;
  @include cdr-text-default;
  @include cdr-sm-mq-up {
    max-width: 390px;
  }
}
@mixin cdr-toast-default-mixin() {
  background-color: $cdr-color-background-message-info;
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: #B8C5EC;
  svg {
    fill: $cdr-color-border-info;
  }
}

@mixin cdr-toast-info-mixin() {
  background-color: $cdr-color-background-message-info;
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: #B8C5EC;
  svg {
    fill: $cdr-color-border-info;
  }
}

@mixin cdr-toast-success-mixin() {
  background-color: #EAF9EC;
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: #BEE2C1;
  svg {
    fill: #4F974E;
  }
}

@mixin cdr-toast-warning-mixin() {
  background-color: $cdr-color-background-message-warning;
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: $cdr-color-border-warning;
  svg {
    fill: $cdr-color-border-warning;
  }
}

@mixin cdr-toast-error-mixin() {
  background-color: $cdr-color-background-message-error;
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: $cdr-color-border-error;
  svg {
    fill: $cdr-color-border-error;
  }
}

@keyframes :global(toast-enter-right) {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}
