/* ==========================================================================
   # CARD
   ========================================================================== */

/*
* TOC:
*
* Base class: cdr-card
* Style variants
*/

.cdr-card--content {
  &__title {
    font-size: $sys-font-spruce-dsp-40-font-size;
    line-height: $sys-font-spruce-dsp-40-line-height;
    text-align: $sys-font-spruce-dsp-40-text-align;
    color: $sys-font-spruce-dsp-40-color;
    letter-spacing: $sys-font-spruce-dsp-40-letter-spacing;
    font-style: $sys-font-spruce-dsp-40-font-style;
    font-weight: $sys-font-spruce-dsp-40-font-weight;
    font-family: $sys-font-spruce-dsp-40-font-family;
  }
}
