<section class="vertical-push-3">
    <cdr-well-docs example-title="Alerts" example-id="alerts" element-id="alerts-code">
        <yield to="example-description">
<p class="lead">Provide contextual feedback messages for typical user actions with the handful of available and flexible
    alert messages.</p>

<p>Wrap some text and an optional dismiss button in <code>.alert</code> and one of the four contextual classes (e.g.,
    <code>.alert-success</code>) for basic alert messages.</p>
<div class="bs-callout bs-callout-info vertical-push" id="callout-alerts-no-default">
    <p>Alerts don't have default classes, only base and modifier classes. A default gray alert doesn't make too much
        sense, so you're required to specify a type via contextual class. Choose from success, info, warning, or
        danger.
    </p>
</div>
        </yield>
        <yield to="example">
    <div class="well" data-example-id="simple-alerts">
        <div class="alert alert-success" role="alert">
            <span class="icon icon-rei-success" aria-hidden="true"></span>
            <span class="alert-text">
                Success
            </span>
        </div>
        <div class="alert alert-info" role="alert">
            <span class="icon icon-rei-info" aria-hidden="true"></span>
            <span class="alert-text">
                This is an informational message. Used to provide lower-level visual contrast for transactional
                messaging.
            </span>
        </div>
        <div class="alert alert-warning" role="alert">
            <span class="icon icon-rei-warning" aria-hidden="true"></span>
            <span class="alert-text">
                <span class="sr-only">Warning:</span>
                This is an alert message. Used to provide visual weight for key transactional messaging. Limited usage.
            </span>
        </div>
        <div class="alert alert-warning" role="alert">
            <span class="icon icon-rei-backorder" aria-hidden="true"></span>
            <span class="alert-text">
                <span class="sr-only">Warning:</span>
                This item is backorderable
            </span>
        </div>
        <div class="alert alert-danger" role="alert">
            <span class="icon icon-rei-error" aria-hidden="true"></span>
            <span class="alert-text">
                <span class="sr-only">Error:</span>
                This is an error message. Displayed to a user due to user or system error.
            </span>
        </div>
    </div>        </yield>
        <yield to="codeblock">
{% highlight html %}
<div class="alert alert-success" role="alert">...</div>
<div class="alert alert-info" role="alert">...</div>
<div class="alert alert-warning" role="alert">...</div>
<div class="alert alert-danger" role="alert">...</div>
{% endhighlight %}
        </yield>
    </cdr-well-docs>
</section>
