@import '../../../css/settings/index.scss';
@import './vars/CdrInput.vars.scss';
/* ==========================================================================
  # CdrInput
  All values should map to variables in
  vars/CdrInput.vars.pcss
  in order to allow for theming
  TOC:
    :Base - Label
    :Base - Input container
    :Base - Input
      :States
      :Modifiers
      :Style Variants
      :Elements
========================================================================== */

/* ==========================================================================
  # INPUT LABEL
  ========================================================================== */

.cdr-input__label {
  @include cdr-input-base-label-mixin;

  &--disabled {
    color:  $cdr-color-text-input-disabled;
  }
}

/* ==========================================================================
  # INPUT
  ========================================================================== */

.cdr-input {
  @include cdr-input-base-mixin;

  /* Style variants
    ========================================================================== */

  &--multiline {
    height: auto;
  }

  &--preicon {
    /* $input-pre-icon-default-width = 25px with the expectation that
        slot provided icon is close to that width */
    // TODO: use icon token here?
    padding-left: calc(#{$cdr-space-half-x} + #{$cdr-space-quarter-x} + 25px);
  }

  /* Size variants
    ========================================================================== */

  &--large {
    @include cdr-input-large-mixin;
  }

  /* @xs
    0px - 767px
    ========== */
  @include xs-mq-only {
    &--large\@xs {
      @include cdr-input-large-mixin;
    }
  }

  /* @sm
    768px - 991px
    ========== */
  @include sm-mq-only {
    &--large\@sm {
      @include cdr-input-large-mixin;
    }
  }

  /* @md
    992px - 1199px
    ========== */
  @include md-mq-only {
    &--large\@md {
      @include cdr-input-large-mixin;
    }
  }

  /* @lg
    1200px and up
    ========== */

  @include lg-mq-only {
    &--large\@lg {
      @include cdr-input-large-mixin;
    }
  }

  /* Slot Sections
    ========================================================================== */

  &__pre-icon {
    position: absolute;
    top: 50%;
    left: $cdr-space-half-x;
    transform: translateY(-50%);
    fill: $cdr-color-icon-primary-lightmode;
  }

  &__post-icon {
    fill: $cdr-color-icon-primary-lightmode;
    position: absolute;
    top: 50%;
    right: $cdr-space-half-x;
    transform: translateY(-50%);
  }

  &__required-label {
    @include cdr-input-required-label-mixin;
  }

  &__info-container {
    @include cdr-input-info-container-mixin;
  }

  &__helper-text {
    @include cdr-input-helper-text-mixin;
  }
}

/* ==========================================================================
   # INPUT WRAPPER
   ========================================================================== */

/* related to positioning/layout? */
.cdr-input-wrap {
  position: relative;
}
