/* ==========================================================================
  # CdrInput
  All values should map to variables in
  vars/CdrInput.vars.pcss
  in order to allow for theming
  TOC:
    :Base - Label
    :Base - Input container
    :Base - Input
      :States
      :Modifiers
      :Style Variants
      :Elements
========================================================================== */

/* ==========================================================================
  # INPUT LABEL
  ========================================================================== */

.cdr-input__label {
  @include cdr-input-label-mixin;

  &--disabled {
    @include cdr-input-label-disabled-mixin;
  }
}

/* ==========================================================================
  # INPUT
  ========================================================================== */

.cdr-input {
  @include cdr-input-base-mixin;

  /* TODO: should we handle this? include in the mixin but dont export variables? */
  &[type=number]::-webkit-inner-spin-button,
  &[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }

  /* Style variants
    ========================================================================== */

  &--multiline {
    @include cdr-input-multiline-mixin;
  }

  &--preicon {
    /* $input-pre-icon-default-width = 25px with the expectation that
        slot provided icon is close to that width */
    padding-left: calc(#{$cdr-space-half-x} + #{$cdr-space-quarter-x} + #{$input-pre-icon-default-width});
  }

  /* Size variants
    ========================================================================== */

  &--large {
    @include cdr-input-large-mixin;
  }

  /* @xs
    0px - 767px
    ========== */
  @include xs-mq-only {
    &--large\@xs {
      @include cdr-input-large-mixin;
    }
  }

  /* @sm
    768px - 991px
    ========== */
  @include sm-mq-only {
    &--large\@sm {
      @include cdr-input-large-mixin;
    }
  }

  /* @md
    992px - 1199px
    ========== */
  @include md-mq-only {
    &--large\@md {
      @include cdr-input-large-mixin;
    }
  }

  /* @lg
    1200px and up
    ========== */

  @include lg-mq-only {
    &--large\@lg {
      @include cdr-input-large-mixin;
    }
  }

  /* Slot Sections
    ========================================================================== */

  &__pre-icon {
    position: absolute;
    top: 50%;
    left: $cdr-space-half-x;
    transform: translateY(-50%);
    fill: $coal-train;
  }

  &__post-icon {
    fill: $coal-train;
    position: absolute;
    top: 50%;
    right: $cdr-space-half-x;
    transform: translateY(-50%);
  }

  &__required-label {
    @include cdr-input-required-label-mixin;
  }

  &__info-container {
    @include cdr-input-info-container-mixin;
  }

  &__helper-text {
    @include cdr-input-helper-text-mixin;
  }
}

/* ==========================================================================
   # INPUT WRAPPER
   ========================================================================== */

/* related to positioning/layout? */
.cdr-input-wrap {
  position: relative;
}
