@import '../../../css/settings/index.scss';
@import './vars/CdrInput.vars.scss';

/* ==========================================================================
  # INPUT LABEL
  ========================================================================== */

.cdr-input__label {
  @include cdr-input-base-label-mixin;

  &--disabled {
    color:  $cdr-color-text-input-disabled;
  }
}

/* ==========================================================================
  # INPUT
  ========================================================================== */

.cdr-input {
  @include cdr-input-base-mixin;

  /* Style variants
    ========================================================================== */

  &--multiline {
    height: auto;
  }

  &--preicon {
    /* $input-pre-icon-default-width = 25px with the expectation that
        slot provided icon is close to that width */
    // TODO: use icon token here?
    padding-left: calc(#{$cdr-space-half-x} + #{$cdr-space-quarter-x} + 25px);
  }

// TODO: merge with variables (clean up variables?)  //
  &--primary {
    background-color: $cdr-color-background-input-default;
    &:active,
    &:focus {
      background-color: $cdr-color-background-input-default;
    }
  }
  &--secondary {
    background-color: $cdr-color-background-input-secondary;
    &:active,
    &:focus {
      background-color: $cdr-color-background-input-secondary-selected;
    }
  }

  &--has-buttons {
    box-shadow: none;
  }

  &--error {
    background-color: $cdr-color-background-input-error;
    box-shadow: inset 0 0 0 1px $cdr-color-border-input-error;
  }

  &__error-message {
    // TODO: use token once fixed
    color: #B33322;//$cdr-color-text-input-error;
    fill: #B33322;//$cdr-color-text-input-error;
  }


  /* Size variants
    ========================================================================== */

  &--large {
    @include cdr-input-large-mixin;
  }

  /* @xs
    0px - 767px
    ========== */
  @include cdr-xs-mq-only {
    &--large\@xs {
      @include cdr-input-large-mixin;
    }
  }

  /* @sm
    768px - 991px
    ========== */
  @include cdr-sm-mq-only {
    &--large\@sm {
      @include cdr-input-large-mixin;
    }
  }

  /* @md
    992px - 1199px
    ========== */
  @include cdr-md-mq-only {
    &--large\@md {
      @include cdr-input-large-mixin;
    }
  }

  /* @lg
    1200px and up
    ========== */

  @include cdr-lg-mq-only {
    &--large\@lg {
      @include cdr-input-large-mixin;
    }
  }

  /* Slot Sections
    ========================================================================== */

  &__pre-icon {
    position: absolute;
    top: 50%;
    left: $cdr-space-half-x;
    transform: translateY(-50%);
    fill: $cdr-color-icon-default;
  }

  &__post-icon {
    fill: $cdr-color-icon-default;
    position: absolute;
    top: 50%;
    right: $cdr-space-half-x;
    transform: translateY(-50%);
  }

  &__required-label {
    @include cdr-input-required-label-mixin;
  }

  &__optional-label {
    @include cdr-input-required-label-mixin;
  }

  &__info-container {
    @include cdr-input-info-container-mixin;
  }

  &__helper-text {
    @include cdr-input-helper-text-mixin;
  }

  &__helper-text-top {
    margin-bottom: $cdr-space-quarter-x;
  }

  &__helper-text-bottom {
    margin-top: $cdr-space-quarter-x;
  }
}

/* ==========================================================================
   # INPUT WRAPPER
   ========================================================================== */

/* related to positioning/layout? */
.cdr-input-wrap {
  position: relative;
}
