<section class="vertical-push-3">
    <h2 id="accessibility-title" class="page-header">Accessibility</h2>
    <div class="bs-callout bs-callout-warning" id="callout-glyphicons-accessibility">
      <h4>Accessible icons</h4>

      <p>Modern versions of assistive technologies will announce CSS generated content, as well as specific Unicode
        characters.
        To avoid unintended and confusing output in screen readers (particularly when icons are used purely for decoration),
        we hide them with the <code>aria-hidden="true"</code> attribute.</p>

    </div>
    {% highlight html %}
    <span class="icon icon-search" aria-hidden="true"></span>
    {% endhighlight %}
    <div class="bs-callout bs-callout-warning" id="callout-glyphicons-accessibility">
      <p>If you're using an icon to convey meaning (rather than only as a decorative element),
        ensure that this meaning is also conveyed to assistive technologies – for instance,
        include additional content, visually hidden with the <code>.sr-only</code> class.
      </p>

      <p>If you're creating controls with no other text (such as a <code>&lt;button&gt;</code> that only contains an icon),
        you should always provide alternative content to identify the purpose of the control,
        so that it will make sense to users of assistive technologies. In this case,
        you could add an <code>aria-label</code> attribute on the control itself.</p>
    </div>

    {% highlight html %}
    <span class="icon icon-cross-circle" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    {% endhighlight %}
    <p class="bs-callout bs-callout-danger">Be sure to work with your copy writer to add appropriate text describing the
      icon.</p>
</section>

