/* ==========================================================================
  # CdrBreadcrumb

  All values should map to variables in
  vars/CdrBreadcrumb.vars.pcss
  in order to allow for theming

  TOC:

    :Base - CdrBreadcrumb
      :Elements
        :container
        :list
        :item
        :link
        :delimiter
        :ellipses
        :ellipses-icon
========================================================================== */
@import '../../../css/settings/index.scss';
@import './vars/CdrBreadcrumb.vars.scss';
.cdr-breadcrumb {
  line-height: 1;

  /* List
  ========== */
  &__list {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }

  /* Item
  ========== */
  &__item {
    display: inline-flex;
    flex: none;
    color: $breadcrumb-text-color;
    padding: 0;

    &:last-child {
      color: $breadcrumb-last-child-text-color;
    }

    /* Hover
    ---------- */
    &:hover,
    &:active,
    &:focus {
      color: $breadcrumb-hover-text-color;
    }
  }

  /* Link
  ---------- */
  &__link {
    @include redwood-display-10;

    text-decoration: none;
    color: inherit; /* inherit color from &__item */

    &:hover,
    &:active,
    &:focus {
      color: inherit;
      text-decoration: underline;
    }
  }

  /* Delimiter
  ========== */
  &__delimiter {
    @include redwood-display-10;

    color: $breadcrumb-delimiter-text-color;
    padding-left: $cdr-space-quarter-x;
    padding-right: $cdr-space-half-x;
  }

  /* Ellipses
    ========== */
  &__ellipses {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: none;
    background: none;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    padding: 6px 11px; /* extend clickable area */
    margin: -6px -11px; /* preserve layout */

    /* Ellipses Icon
    ========== */
    .cdr-breadcrumb__ellipses-icon {
      border-bottom: 1px solid transparent;
      width: 1.4rem;
      height: 1.4rem;
      fill: $breadcrumb-text-color;
    }

    &:hover,
    &:active,
    &:focus {
      .cdr-breadcrumb__ellipses-icon {
        border-bottom: 1px solid $breadcrumb-hover-text-color;
        fill: $breadcrumb-hover-text-color;
      }
    }
  }

  @include md-mq {
    &__link,
    &__delimiter,
    &__ellipses {
      @include redwood-display-20;
    }

    &__ellipses .cdr-breadcrumb__ellipses-icon {
      width: 1.6rem;
      height: 1.6rem;
    }
  }
}
