/* ==========================================================================
  # CdrBreadcrumb

  All values should map to variables in
  vars/CdrBreadcrumb.vars.pcss
  in order to allow for theming

  TOC:

    :Base - CdrBreadcrumb
      :Elements
        :container
        :list
        :item
        :link
        :delimiter
        :ellipses
        :ellipses-icon
========================================================================== */
@import '../../../css/settings/index.scss';
@import './vars/CdrBreadcrumb.vars.scss';
@import url('@rei/cedar/dist/style/cdr-icon.css');

.cdr-breadcrumb {
  line-height: 1;

  /* List
  ========== */
  &__list {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }

  /* Item
  ========== */
  &__item {
    display: inline-flex;
    flex: none;
    padding: 0;

    @include cdr-breadcrumb-item-mixin;
  }

  /* Link
  ---------- */
  &__link {
    @include cdr-breadcrumb-xs-text-mixin;
    text-decoration: none;
    color: inherit;

    &:hover,
    &:active,
    &:focus {
      color: inherit;
      text-decoration: underline;
    }
  }

  /* Delimiter
  ========== */
  &__delimiter {
    @include cdr-breadcrumb-xs-text-mixin;
    color: inherit;
    padding-left: $cdr-space-quarter-x;
    padding-right: $cdr-space-half-x;
  }

  /* Ellipses
    ========== */
  &__ellipses {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: none;
    background: none;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    fill: inherit;
    padding: 6px 11px; /* extend clickable area */
    margin: -6px -11px; /* preserve layout */

    /* Ellipses Icon
    ========== */
    .cdr-breadcrumb__ellipses-icon {
      border-bottom: 1px solid transparent;
      width: 1.4rem;
      height: 1.4rem;
      fill: inherit;
    }

    &:hover,
    &:active,
    &:focus {
      .cdr-breadcrumb__ellipses-icon {
        border-bottom: 1px solid $cdr-color-text-primary-lightmode;
        fill: inherit;
      }
    }
  }
// TODO: make this a size prop? or a responsive compact?
  @include md-mq {
    &__link,
    &__delimiter,
    &__ellipses {
      @include cdr-breadcrumb-base-text-mixin;
    }

    &__ellipses .cdr-breadcrumb__ellipses-icon {
      width: 1.6rem;
      height: 1.6rem;
    }
  }
}
