@import '../../../css/settings/index.scss';
@import './vars/CdrBreadcrumb.vars.scss';

.cdr-breadcrumb {
  line-height: 1;

  /* List
  ========== */
  &__list {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }

  /* Item
  ========== */
  &__item {
    display: inline-flex;
    flex: none;
    padding: 0;

    @include cdr-breadcrumb-item-mixin;
  }


  /* Link
  ---------- */
  &__link {
    @include cdr-breadcrumb-item-linked-mixin;
  }

  /* Delimiter
  ========== */
  &__delimiter {
    color: inherit;
    padding: 0 $cdr-space-half-x;
  }

  /* Ellipses
    ========== */
  &__ellipses {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: none;
    background: none;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    fill: inherit;
    padding: 0;

    /* Ellipses Icon
    ========== */
    .cdr-breadcrumb__ellipses-icon {
      color: $cdr-color-text-secondary;
      border-bottom: 1px solid transparent;
      fill: inherit;
    }

    &:hover,
    &:active,
    &:focus {
      .cdr-breadcrumb__ellipses-icon {
        color: $cdr-color-text-link-hover;
        text-decoration: underline;
      }
    }
  }

  &__link,
  &__delimiter,
  &__ellipses {
    @include cdr-breadcrumb-xs-text-mixin;
  }

  @include cdr-md-mq {
    &__link,
    &__delimiter,
    &__ellipses {
      @include cdr-breadcrumb-base-text-mixin;
    }
  }
}
