/* ==========================================================================
  # cdrIcon
  
  All values should map to variables in
  styles/vars/cdrIcon.vars.pcss
  in order to allow for theming

  TOC:

    :Base Styles
========================================================================== */

.cdr-icon {
  width: $icon-width;
  height: $icon-height;
  fill: $icon-fill;

  & path {
    all: inherit;
  }
}
