@import '../../../css/settings/index.scss';
/* ==========================================================================
  # CdrIcon

  All values should map to variables in
  vars/CdrIcon.vars.pcss
  in order to allow for theming

  TOC:

    :Base Styles
========================================================================== */

/* non-modularized so it works with <cdr-icon-sprite/> */
:global {
  .cdr-icon-sprite {
    display: none;
  }
}

.cdr-icon {
  display: inline-block;
  vertical-align: middle;
  flex: 0 0 auto;
  width: $cdr-icon-size;
  height: $cdr-icon-size;
  fill: $cdr-color-icon-primary-lightmode;

  &--small {
    width: $cdr-icon-size-sm;
    height: $cdr-icon-size-sm;
  }

  &--large {
    width: $cdr-icon-size-lg;
    height: $cdr-icon-size-lg;
  }

  /* @xs
    0px - 767px
    ========== */
  @include xs-mq-only {
    &--small\@xs {
      width: $cdr-icon-size-sm;
      height: $cdr-icon-size-sm;
    }

    &--large\@xs {
      width: $cdr-icon-size-lg;
      height: $cdr-icon-size-lg;
    }
  }

  /* @sm
    768px - 991px
    ========== */
  @include sm-mq-only {
    &--small\@sm {
      width: $cdr-icon-size-sm;
      height: $cdr-icon-size-sm;
    }

    &--large\@sm {
      width: $cdr-icon-size-lg;
      height: $cdr-icon-size-lg;
    }
  }

  /* @md
    992px - 1199px
    ========== */
  @include md-mq-only {
    &--small\@md {
      width: $cdr-icon-size-sm;
      height: $cdr-icon-size-sm;
    }

    &--large\@md {
      width: $cdr-icon-size-lg;
      height: $cdr-icon-size-lg;
    }
  }

  /* @lg
    1200px and up
    ========== */

  @include lg-mq-only {
    &--small\@lg {
      width: $cdr-icon-size-sm;
      height: $cdr-icon-size-sm;
    }

    &--large\@lg {
      width: $cdr-icon-size-lg;
      height: $cdr-icon-size-lg;
    }
  }
}

.cdr-icon--inherit-color {
  fill: inherit;
}
