<h4 id="forms-disabled-fieldsets">Disabled fieldsets</h4>

<p>Add the <code>disabled</code> attribute to a <code>&lt;fieldset&gt;</code> to disable all the controls within the
    <code>&lt;fieldset&gt;</code> at once.</p>

<div class="bs-callout bs-callout-warning" id="callout-fieldset-disabled-pointer-events">
    <h5>Caveat about link functionality of <code>&lt;a&gt;</code></h5>

    <p>By default, browsers will treat all native form controls (<code>&lt;input&gt;</code>, <code>
        &lt;select&gt;</code> and <code>&lt;button&gt;</code> elements) inside a <code>&lt;fieldset
        disabled&gt;</code> as disabled, preventing both keyboard and mouse interactions on them. However, if your
        form also includes <code>&lt;a ... class="btn btn-*"&gt;</code> elements, these will only be given a style
        of <code>pointer-events: none</code>. As noted in the section about <a href="buttons/#buttons-disabled">disabled
            state for buttons</a> (and specifically in the sub-section for anchor elements), this CSS property is
        not yet standardized and isn't fully supported in Opera 18 and below, or in Internet Explorer 11, and won't
        prevent keyboard users from being able to focus or activate these links. So to be safe, use custom
        JavaScript to disable such links.</p>
</div>
<div class="bs-callout bs-callout-danger" id="callout-fieldset-disabled-ie">
    <h5>Cross-browser compatibility</h5>

    <p>While Bootstrap will apply these styles in all browsers, Internet Explorer 11 and below don't fully support
        the <code>disabled</code> attribute on a <code>&lt;fieldset&gt;</code>. Use custom JavaScript to disable the
        fieldset in these browsers.</p>
</div>
<div class="well" data-example-id="disabled-fieldset">
    {% include markup-templates/forms/disabled-fieldset.html %}
</div>
<!-- /.well -->
{% highlight html %}
{% include markup-templates/forms/disabled-fieldset.html %}
{% endhighlight %}
