<section class="vertical-push-3">
    <h2 id="forms-examples-basic">Basic Example</h2>
     <p class="bs-callout bs-callout-info">
        Forms labels are assigned the h4 heading styles by default, to change this normal weight text use the utility class <code>label-narrow</code>.
    </p>
    <p>
        Individual form controls automatically receive some global styling. All textual <code>&lt;input&gt;</code>, <code>&lt;textarea&gt;</code>, and <code>&lt;select&gt;</code> elements with <code>.form-control</code> are set to <code>width: 100%;</code> by default. Wrap labels and controls in <code>.form-group</code> for optimum spacing.
    </p>
    <div class="well" data-example-id="basic-forms">
        {% include /markup-templates/forms/basic.html %}
    </div><!-- /example -->
    {% highlight html %}
        {% include /markup-templates/forms/basic.html %}
    {% endhighlight %}
