

<h3 id="forms-control-sizes" class="status status-chat">Sizing Controls</h3>
<p>Set heights using classes like <code>.input-lg</code>, and set widths using grid column classes like <code>.col-lg-*</code>.</p>
<h4>Height sizing</h4>
<p>Create taller or shorter form controls that match button sizes.</p>
<div class="well well-control-sizing" data-example-id="form-control-height-sizes">
    {% include /markup-templates/forms/form-control-height-sizes.html %}
</div><!-- /.well -->
{% highlight html %}
{% include /markup-templates/forms/form-control-height-sizes.html %}
{% endhighlight %}

<h4>Horizontal form group sizes</h4>
<p>Quickly size labels and form controls within <code>.form-horizontal</code> by adding <code>.form-group-lg</code> or <code>.form-group-sm</code>.</p>
<div class="well" data-example-id="form-group-height-sizes">
    {% include /markup-templates/forms/form-group-height-sizes.html %}
</div><!-- /.well -->
{% highlight html %}
{% include /markup-templates/forms/form-group-height-sizes.html %}
{% endhighlight %}

<h4>Column sizing</h4>
<p>Wrap inputs in grid columns, or any custom parent element, to easily enforce desired widths.</p>
<div class="well" data-example-id="form-control-column-sizing">
    {% include /markup-templates/forms/form-control-column-sizing.html %}
</div><!-- /.well -->
{% highlight html %}
{% include /markup-templates/forms/form-control-column-sizing.html %}
{% endhighlight %}
