<h3 id="forms-controls-static" class="status status-chat">Static control</h3>
<p>When you need to place plain text next to a form label within a form, use the <code>.form-control-static</code> class on a <code>&lt;p&gt;</code>.</p>

<div class="well" data-example-id="horizontal-static-form-control">
    {% include /markup-templates/forms/form-control-static.html %}
</div><!-- /.well -->
{% highlight html %}
{% include /markup-templates/forms/form-control-static.html %}
{% endhighlight %}

<div class="well" data-example-id="inline-static-form-control">
    {% include /markup-templates/forms/form-control-inline-static.html %}
</div>
{% highlight html %}
{% include /markup-templates/forms/form-control-inline-static.html %}
{% endhighlight %}
