<section class="vertical-push-3">

    <h2 class="status status-good" id="forms-control-validation">Validation Examples</h2>

    <div class="well overlay-dark-1" data-example-id="simple-help-text">
        {% include /markup-templates/forms/messages.html %}
    </div>

    <div class="well overlay-dark-1" data-example-id="simple-help-text">
        {% include /markup-templates/forms/messages-inline.html %}
    </div>

    <div class="bs-callout bs-callout-warning" id="callout-form-validation-state-accessibility">
        <h5>Conveying validation state to assistive technologies and colorblind users</h5>

        <p>Using these validation styles to denote the state of a form control only provides a visual, color-based
            indication, which will not be conveyed to users of assistive technologies - such as screen readers - or to
            colorblind users.</p>

        <p>Ensure that an alternative indication of state is also provided. For instance, you can include a hint about
            state in the form control's <code>&lt;label&gt;</code> text itself (as is the case in the following code
            example), include a Glyphicon (with appropriate alternative text
            using the <code>.sr-only</code> class - see the Glyphicon examples), or by providing an additional
            <a href="#help-text">help text</a> block.
            Specifically for assistive technologies, invalid form controls can also be assigned an <code>aria-invalid="true"</code>
            attribute.</p>
    </div>
    <div class="well" data-example-id="form-validation-states">
        {% include /markup-templates/forms/form-validation-states.html %}
    </div>
    <!-- /.well -->
    {% highlight html %}
    {% include /markup-templates/forms/form-validation-states.html %}
    {% endhighlight %}

    <h4>With optional icons</h4>

    <p>You can also add optional feedback icons with the addition of <code>.has-feedback</code> and the right icon.</p>

    <p><strong class="text-danger">Feedback icons only work with textual <code>&lt;input class="form-control"&gt;</code>
        elements.</strong></p>

    <div class="bs-callout bs-callout-warning" id="callout-has-feedback-icon-positioning">
        <h5>Icons, labels, and input groups</h5>

        <p>Manual positioning of feedback icons is required for inputs without a label and for <a
            href="#input-groups-title">input groups</a> with an add-on on the right. You are strongly encouraged
            to provide labels for all inputs for accessibility reasons. If you wish to prevent labels from being
            displayed, hide them with the <code>.sr-only</code> class. If you must do without labels, adjust the <code>top</code>
            value of the feedback icon. For input groups, adjust the <code>right</code> value to an appropriate pixel
            value depending on the width of your addon.</p>
    </div>
    <div class="bs-callout bs-callout-warning" id="callout-has-feedback-icon-accessibility">
        <h5>Conveying the icon's meaning to assistive technologies</h5>

        <p>To ensure that assistive technologies – such as screen readers – correctly convey the meaning of an icon,
            additional hidden text should be included with the <code>.sr-only</code> class and explicitly associated
            with the form control it relates to using <code>aria-describedby</code>. Alternatively, ensure that the
            meaning (for instance, the fact that there is a warning for a particular text entry field) is conveyed in
            some other form, such as changing the text of the actual <code>&lt;label&gt;</code> associated with the form
            control.</p>

        <p>Although the following examples already mention the validation state of their respective form controls in the
            <code>&lt;label&gt;</code> text itself, the above technique (using <code>.sr-only</code> text and <code>aria-describedby</code>)
            has been included for illustrative purposes.</p>
    </div>
    <div class="well" data-example-id="form-validation-states-with-icons">
        {% include /markup-templates/forms/form-validation-states-with-icons.html %}
    </div>
    {% highlight html %}
    {% include /markup-templates/forms/form-validation-states-with-icons.html %}
    {% endhighlight %}

    <h5>Optional icons in horizontal and inline forms</h5>

    <div class="well" data-example-id="horizontal-form-validation-state-with-icon">
        {% include /markup-templates/forms/horizontal-form-validation-state-with-icon.html %}
    </div>
    {% highlight html %}
    {% include /markup-templates/forms/horizontal-form-validation-state-with-icon.html %}
    {% endhighlight %}

    <div class="well" data-example-id="inline-form-validation-state-with-icon">
        {% include /markup-templates/forms/inline-form-validation-state-with-icon.html %}
    </div>
    {% highlight html %}
    {% include /markup-templates/forms/inline-form-validation-state-with-icon.html %}
    {% endhighlight %}

    <h5>Optional icons with hidden <code>.sr-only</code> labels</h5>

    <p>If you use the <code>.sr-only</code> class to hide a form control's <code>&lt;label&gt;</code> (rather than using
        other labelling options, such as the <code>aria-label</code> attribute), Bootstrap will automatically adjust the
        position of the icon once it's been added.</p>

    <div class="well" data-example-id="form-validation-state-with-icon-without-label">
        {% include /markup-templates/forms/form-validation-state-with-icon-without-label.html %}
    </div>
    {% highlight html %}
    {% include /markup-templates/forms/form-validation-state-with-icon-without-label.html %}
    {% endhighlight %}
</section>
