@mixin cdr-form-figure-radio-base-mixin() {
  border-radius: 100%;
  &::after {
    content: '';
    position: absolute;
    width: $cdr-form-figure-size-medium / 4;
    height: $cdr-form-figure-size-medium / 4;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: $cdr-radius-round;
  }
}

@mixin cdr-form-figure-radio-checked-mixin() {
  box-shadow: inset 0 0 0 1px $cdr-color-border-input-default-selected;
  background-color: $cdr-color-background-input-default-selected;

  &::after {
    background-color: $cdr-color-icon-checkbox-default-selected;
  }
}

@mixin cdr-form-figure-radio-hover-mixin() {
  cursor: pointer;
  box-shadow: inset 0 0 0 1px $cdr-color-border-input-default-hover, 0 0 0 1px $cdr-color-border-input-default-hover;
  background-color: $cdr-color-background-input-default-hover;

}

@mixin cdr-form-figure-radio-checked-hover-mixin() {
  box-shadow: inset 0 0 0 1px $cdr-color-border-input-default-selected-hover, 0 0 0 1px $cdr-color-border-input-default-selected-hover;
  background-color: $cdr-color-background-input-default-selected-hover;

}

@mixin cdr-form-figure-radio-disabled-mixin() {
  cursor: not-allowed !important;
  box-shadow: inset 0 0 0 1px $cdr-color-border-input-default-disabled !important;
  background-color: $cdr-color-background-input-default-disabled !important;
  &:after {
    background-color: $cdr-color-background-input-default-disabled !important;
  }

}

@mixin cdr-form-figure-radio-checked-disabled-mixin() {
  &::after {
    background-color: $cdr-color-background-input-default-disabled !important;
  }
}

@mixin cdr-form-figure-radio-focus-mixin() {
  box-shadow: inset 0 0 0 1px $cdr-color-border-input-default-active, 0 0 0 1px $cdr-color-border-input-default-active;
  background-color: $cdr-color-background-input-default-focus;
}

@mixin cdr-form-figure-radio-checked-focus-mixin() {
  background-color: $cdr-color-background-input-default-selected-focus;
}

@mixin cdr-form-figure-radio-active-mixin() {
  box-shadow: inset 0 0 0 1px $cdr-color-border-input-default-active, 0 0 0 1px $cdr-color-border-input-default-active;
  background-color: $cdr-color-background-input-default-active;
  &::after {
    background-color: $cdr-color-icon-checkbox-default-selected-active;
  }
}
