---
layout: default
title: Less Mixins
slug: less-mixins
---
<section class="vertical-push-3">

    <h2 id="less-mixins" class="page-header">Less Mixins</h2>

    <h3 id="less-variables-buttons">Animations</h3>
    {% highlight scss %}
    {% include less/mixins/animations.less %}
    {% endhighlight %}

    <h3 id="less-variables-buttons">Buttons</h3>
    {% highlight scss %}
    {% include less/mixins/buttons.less %}
    {% endhighlight %}

    <h3 id="less-variables-center-block">Center Block</h3>
    {% highlight scss %}
    {% include less/mixins/center-block.less %}
    {% endhighlight %}

    <h3 id="less-variables-clear-fix">Clear Fix</h3>
    {% highlight scss %}
    {% include less/mixins/clearfix.less %}
    {% endhighlight %}


    <h3 id="less-variables-forms">Forms</h3>
    {% highlight scss %}
    {% include less/mixins/forms.less %}
    {% endhighlight %}

    <h3 id="less-variables-grids">Grid Systems</h3>
    <p class="bs-callout bs-callout-info"> Grid System mixins use mixins from the Grid Framework mixin file.</p>
    <p class="bs-callout bs-callout-info"> Grid Framework mixins can be found at <code>less/mixins/grid-framework.less</code> but are not documented here as they are not intended to be reused.</p>
    {% highlight scss %}
    {% include less/mixins/grid.less %}
    {% endhighlight %}

    <h3 id="less-variables-icons">Icons</h3>
    <p>Primarily used within <code>less/rei-overlays/icon-font/icon-definitions.less</code>.</p>
    {% highlight scss %}
    {% include less/mixins/icon.less %}
    {% endhighlight %}

    <h3 id="less-variables-images">Images</h3>
    {% highlight scss %}
    {% include less/mixins/images.less %}
    {% endhighlight %}

    <h3 id="less-variables-links">Links</h3>
    <p>Primarily used within <code>less/rei-overlays/anchors.less</code>.</p>
    {% highlight scss %}
    {% include less/mixins/link.less %}
    {% endhighlight %}

    <h3 id="less-variables-lists">Lists</h3>
    {% highlight scss %}
    {% include less/mixins/lists.less %}
    {% endhighlight %}

    <h3 id="less-variables-list-groups">List Groups</h3>
    <p>Primarily used within <code>less/rei-overlays/list-group.less</code>.</p>
    {% highlight scss %}
    {% include less/mixins/list-group.less %}
    {% endhighlight %}

    <h3 id="less-variables-text-hide">Hiding Text</h3>
    {% highlight scss %}
    {% include less/mixins/text-hide.less %}
    {% endhighlight %}

    <h3 id="less-variables-resize">Resize</h3>
    {% highlight scss %}
    {% include less/mixins/resize.less %}
    {% endhighlight %}

    <h3 id="less-variables-responsive-visibility">Responsive Visibility</h3>
    {% highlight scss %}
    {% include less/mixins/responsive-visibility.less %}
    {% endhighlight %}

    <h3 id="less-variables-size" class="status status-chat">Size Shortcuts</h3>
    {% highlight scss %}
    {% include less/mixins/size.less %}
    {% endhighlight %}

    <h3 id="less-variables-text-overflow">Text Overflow</h3>
    {% highlight scss %}
    {% include less/mixins/text-overflow.less %}
    {% endhighlight %}

    <h3 id="less-variables-themes">Themes</h3>
    {% highlight scss %}
    {% include less/mixins/themes.less %}
    {% endhighlight %}


    <h3 id="less-mixins-placeholder">Placeholder text</h3>
    <p>Provide context for form controls within each field.</p>
    {% highlight scss %}
    .placeholder(@color: @input-color-placeholder) {
    &::-moz-placeholder           { color: @color; } // Firefox
    &:-ms-input-placeholder       { color: @color; } // Internet Explorer 10+
    &::-webkit-input-placeholder  { color: @color; } // Safari and Chrome
    }
    {% endhighlight %}

</section>
