<section class="vertical-push-3" data-ui="list">
    <!-- Lists -->

    <h2 id="list-text" class="status status-good">Text List - Unstyled (Unordered)</h2>
    <p>For lists of standard text and/or standard text links.</p>

    <div class="well" data-example-id="text-list">
        {% include /markup-templates/lists/unordered.html param="text-unstyled" %}
    </div>
    {% highlight html %}
    {% include /markup-templates/lists/unordered.html param="text" %}
    {% endhighlight %}

    <h2 id="list-decoration" class="status status-good">Text List - With Bullets (Unordered)</h2>
    <p>For lists of standard text and/or standard text links with bullets.</p>

    <div class="well" data-example-id="text-list-decoration">
        {% include /markup-templates/lists/unordered.html param="bullet" %}
    </div>
    {% highlight html %}
    {% include /markup-templates/lists/unordered.html param="bullet" %}
    {% endhighlight %}

    <h2 id="list-ordered" class="status status-good">Text List - Ordered</h2>

    <p>A list of items in which the order <em>does</em> explicitly matter.</p>

    <div class="well" data-example-id="simple-ol">
        {% include /markup-templates/lists/ordered.html param="text-ordered" %}
    </div>
    {% highlight html %}
    <ol>
        <li>...</li>
    </ol>
    {% endhighlight %}

    <h2 id="list-inline" class="status status-base-class">Inline</h2>

    <p>Place all list items on a single line with <code>display: inline-block;</code> and some light padding.</p>

    <div class="well" data-example-id="list-inline">
        {% include /markup-templates/lists/ordered.html param="inline" %}
    </div>
    {% highlight html %}
    {% include /markup-templates/lists/ordered.html param="inline" %}
    {% endhighlight %}

    <h2>Inline Variants</h2>

    <h3 class="status status-base-class">Inline List With Left and Right Padding</h3>

    <div class="well" data-example-id="list-inline-l-r-padding">
        {% include /markup-templates/lists/inline.html param="inline-md" %}
    </div>
    {% highlight html %}
    {% include /markup-templates/lists/inline.html param="inline-md" %}
    {% endhighlight %}

    <h3 class="status status-base-class">Inline List With Large Right Padding</h3>

    <div class="well" data-example-id="list-inline-r-padding">
        {% include /markup-templates/lists/inline.html param="inline-lg" %}
    </div>
    {% highlight html %}
    {% include /markup-templates/lists/inline.html param="inline-lg" %}
    {% endhighlight %}

    <h3 id="list-inline-pipe" class="status status-chat">Inline List With Pipe</h3>

    <div class="well" data-example-id="list-inline-pipe">
        {% include /markup-templates/lists/ordered.html param="inline-pipe" %}
    </div>
    {% highlight html %}
    {% include /markup-templates/lists/ordered.html param="inline-pipe" %}
    {% endhighlight %}

    <h2 id="list-inline-featured" class="status status-good">Featured Inline Link List</h2>
    Use for related, cross-promotional links, Primarily located at the top of Hub pages and within the categorical
    mega-menus.
    <div class="well" data-example-id="list-inline-featured">
        {% include /markup-templates/lists/inline.html param="inline-featured" %}
    </div>
    {% highlight html %}
    {% include /markup-templates/lists/inline.html param="inline-featured" %}
    {% endhighlight %}

</section>
