.svg-icon-rei-add {
	background: url("icon-sprite-6a17adfb.svg") 3.8538739462063427% 94.05617243631613% no-repeat;
}

.svg-icon-rei-add-dims {
	width: 34.5px;
	height: 34.5px;
}

.svg-icon-rei-backorder {
	background: url("icon-sprite-6a17adfb.svg") 60.45673076923077% 93.75% no-repeat;
}

.svg-icon-rei-backorder-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-rei-calendar {
	background: url("icon-sprite-6a17adfb.svg") 0 0 no-repeat;
}

.svg-icon-rei-calendar-dims {
	width: 1280px;
	height: 720px;
}

.svg-icon-rei-call {
	background: url("icon-sprite-6a17adfb.svg") 6.610576923076923% 93.75% no-repeat;
}

.svg-icon-rei-call-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-rei-cart {
	background: url("icon-sprite-6a17adfb.svg") 9.174679487179487% 93.75% no-repeat;
}

.svg-icon-rei-cart-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-rei-cart-empty {
	background: url("icon-sprite-6a17adfb.svg") 11.738782051282051% 93.75% no-repeat;
}

.svg-icon-rei-cart-empty-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-rei-chat {
	background: url("icon-sprite-6a17adfb.svg") 14.302884615384615% 93.75% no-repeat;
}

.svg-icon-rei-chat-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-rei-check {
	background: url("icon-sprite-6a17adfb.svg") 16.86698717948718% 93.75% no-repeat;
}

.svg-icon-rei-check-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-rei-close {
	background: url("icon-sprite-6a17adfb.svg") 19.431089743589745% 93.75% no-repeat;
}

.svg-icon-rei-close-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-rei-close-small {
	background: url("icon-sprite-6a17adfb.svg") 21.995192307692307% 93.75% no-repeat;
}

.svg-icon-rei-close-small-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-rei-collapse {
	background: url("icon-sprite-6a17adfb.svg") 24.559294871794872% 93.75% no-repeat;
}

.svg-icon-rei-collapse-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-rei-devices {
	background: url("icon-sprite-6a17adfb.svg") 27.123397435897434% 93.75% no-repeat;
}

.svg-icon-rei-devices-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-rei-down-arrow {
	background: url("icon-sprite-6a17adfb.svg") 29.6875% 93.75% no-repeat;
}

.svg-icon-rei-down-arrow-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-rei-email {
	background: url("icon-sprite-6a17adfb.svg") 32.25160256410256% 93.75% no-repeat;
}

.svg-icon-rei-email-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-rei-error {
	background: url("icon-sprite-6a17adfb.svg") 34.81570512820513% 93.75% no-repeat;
}

.svg-icon-rei-error-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-rei-expand {
	background: url("icon-sprite-6a17adfb.svg") 37.37980769230769% 93.75% no-repeat;
}

.svg-icon-rei-expand-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-rei-external-link {
	background: url("icon-sprite-6a17adfb.svg") 39.943910256410255% 93.75% no-repeat;
}

.svg-icon-rei-external-link-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-rei-hamburger-menu {
	background: url("icon-sprite-6a17adfb.svg") 42.50801282051282% 93.75% no-repeat;
}

.svg-icon-rei-hamburger-menu-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-rei-help {
	background: url("icon-sprite-6a17adfb.svg") 45.07211538461539% 93.75% no-repeat;
}

.svg-icon-rei-help-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-rei-info {
	background: url("icon-sprite-6a17adfb.svg") 47.63621794871795% 93.75% no-repeat;
}

.svg-icon-rei-info-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-rei-inline-search {
	background: url("icon-sprite-6a17adfb.svg") 50.20032051282051% 93.75% no-repeat;
}

.svg-icon-rei-inline-search-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-rei-left-arrow {
	background: url("icon-sprite-6a17adfb.svg") 52.76442307692308% 93.75% no-repeat;
}

.svg-icon-rei-left-arrow-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-rei-location {
	background: url("icon-sprite-6a17adfb.svg") 55.32852564102564% 93.75% no-repeat;
}

.svg-icon-rei-location-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-rei-play-large {
	background: url("icon-sprite-6a17adfb.svg") 57.892628205128204% 93.75% no-repeat;
}

.svg-icon-rei-play-large-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-rei-play-small {
	background: url("icon-sprite-6a17adfb.svg") 15.384615384615385% 100% no-repeat;
}

.svg-icon-rei-play-small-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-rei-print {
	background: url("icon-sprite-6a17adfb.svg") 63.020833333333336% 93.75% no-repeat;
}

.svg-icon-rei-print-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-rei-profile {
	background: url("icon-sprite-6a17adfb.svg") 65.5849358974359% 93.75% no-repeat;
}

.svg-icon-rei-profile-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-rei-right-arrow {
	background: url("icon-sprite-6a17adfb.svg") 68.14903846153847% 93.75% no-repeat;
}

.svg-icon-rei-right-arrow-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-rei-search {
	background: url("icon-sprite-6a17adfb.svg") 70.71314102564102% 93.75% no-repeat;
}

.svg-icon-rei-search-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-rei-share {
	background: url("icon-sprite-6a17adfb.svg") 17.77777777777778% 98.46153846153847% no-repeat;
}

.svg-icon-rei-share-dims {
	width: 20px;
	height: 20px;
}

.svg-icon-rei-shipping {
	background: url("icon-sprite-6a17adfb.svg") 75.84134615384616% 93.75% no-repeat;
}

.svg-icon-rei-shipping-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-rei-size-chart {
	background: url("icon-sprite-6a17adfb.svg") 78.40544871794872% 93.75% no-repeat;
}

.svg-icon-rei-size-chart-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-rei-social-facebook {
	background: url("icon-sprite-6a17adfb.svg") 80.96955128205128% 93.75% no-repeat;
}

.svg-icon-rei-social-facebook-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-rei-social-instagram {
	background: url("icon-sprite-6a17adfb.svg") 83.53365384615384% 93.75% no-repeat;
}

.svg-icon-rei-social-instagram-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-rei-social-pinterest {
	background: url("icon-sprite-6a17adfb.svg") 86.09775641025641% 93.75% no-repeat;
}

.svg-icon-rei-social-pinterest-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-rei-social-twitter {
	background: url("icon-sprite-6a17adfb.svg") 88.66185897435898% 93.75% no-repeat;
}

.svg-icon-rei-social-twitter-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-rei-social-youtube {
	background: url("icon-sprite-6a17adfb.svg") 91.22596153846153% 93.75% no-repeat;
}

.svg-icon-rei-social-youtube-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-rei-star-100 {
	background: url("icon-sprite-6a17adfb.svg") 93.7900641025641% 93.75% no-repeat;
}

.svg-icon-rei-star-100-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-rei-star-25 {
	background: url("icon-sprite-6a17adfb.svg") 96.35416666666667% 93.75% no-repeat;
}

.svg-icon-rei-star-25-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-rei-star-50 {
	background: url("icon-sprite-6a17adfb.svg") 98.91826923076923% 93.75% no-repeat;
}

.svg-icon-rei-star-50-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-rei-star-75 {
	background: url("icon-sprite-6a17adfb.svg") 0 100% no-repeat;
}

.svg-icon-rei-star-75-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-rei-success {
	background: url("icon-sprite-6a17adfb.svg") 2.5641025641025643% 100% no-repeat;
}

.svg-icon-rei-success-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-rei-target {
	background: url("icon-sprite-6a17adfb.svg") 5.128205128205129% 100% no-repeat;
}

.svg-icon-rei-target-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-rei-tree-arrow {
	background: url("icon-sprite-6a17adfb.svg") 7.6923076923076925% 100% no-repeat;
}

.svg-icon-rei-tree-arrow-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-rei-up-arrow {
	background: url("icon-sprite-6a17adfb.svg") 10.256410256410257% 100% no-repeat;
}

.svg-icon-rei-up-arrow-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-rei-vr {
	background: url("icon-sprite-6a17adfb.svg") 0 95.74468085106383% no-repeat;
}

.svg-icon-rei-vr-dims {
	width: 48px;
	height: 48px;
}

.svg-icon-rei-warning {
	background: url("icon-sprite-6a17adfb.svg") 73.27724358974359% 93.75% no-repeat;
}

.svg-icon-rei-warning-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-rei-zoom {
	background: url("icon-sprite-6a17adfb.svg") 12.820512820512821% 100% no-repeat;
}

.svg-icon-rei-zoom-dims {
	width: 32px;
	height: 32px;
}

