<ul class="list-group">
    <li class="list-group-item radio toggle-sort">
      <a href="#list-group-basic">
        <span>list-group-item 1</span>
      </a>
    </li>
    <li class="list-group-item radio toggle-sort">
      <a href="#list-group-basic">
        <span>list-group-item 2</span>
      </a>
    </li>
    <li class="list-group-item radio toggle-sort">
      <a href="#list-group-basic">
        <span>list-group-item 3</span>
      </a>
    </li>
    <li class="list-group-item radio toggle-sort">
      <a href="#list-group-basic">
        <span>list-group-item 4</span>
      </a>
    </li>
</ul>
