<ul class="list-group">
  <li class="list-group-item radio toggle-sort">
    <input type="radio" name="optionsRadios" id="sort-group-item-1" value="1">
    <label for="sort-group-item-1">sort-group-item 1</label>
  </li>
  <li class="list-group-item radio toggle-sort">
    <input type="radio" name="optionsRadios" id="sort-group-item-2" value="2">
    <label for="sort-group-item-2">sort-group-item 2</label>
  </li>
  <li class="list-group-item radio toggle-sort">
    <input type="radio" name="optionsRadios" id="sort-group-item-3" value="3">
    <label for="sort-group-item-3">sort-group-item 3</label>
  </li>
  <li class="list-group-item radio toggle-sort">
    <input type="radio" name="optionsRadios" id="sort-group-item-4" value="4">
    <label for="sort-group-item-4">sort-group-item 4</label>
  </li>
</ul>
