<ul class="list-group-menu">
    <li class="list-group-item collapsibleList checkbox toggle-expand-collapse" data-ui="nav-level-1">
      <input type="checkbox" value="" id="menu-list-group-item-1">
      <label for="menu-list-group-item-1">menu-list-group-item 1</label>
    <ul class="nest">
        <li class="item-secondary">
            <a href="#">
                <span>Sub-option 1</span>
            </a>
        </li>
        <li class="item-secondary">
            <a href="#">
                <span>Sub-option 2</span>
            </a>
        </li>
        <li class="item-secondary">
            <a href="#">
                <span>Sub-option 3</span>
            </a>
        </li>
        <li class="item-secondary">
            <a href="#">
                <span>Sub-option 4<span>
            </a>
        </li>
    </ul>

    </li>
    <li class="list-group-item collapsibleList checkbox toggle-expand-collapse" data-ui="nav-level-1">
      <input type="checkbox" value="" id="menu-list-group-item-2">
      <label for="menu-list-group-item-2">menu-list-group-item 2</label>
      <ul class="nest">
        <li class="item-secondary">
          <a href="#">
            <span>Sub-option 1</span>
          </a>
        </li>
        <li class="item-secondary">
          <a href="#">
            <span>Sub-option 2</span>
          </a>
        </li>
        <li class="item-secondary">
          <a href="#">
            <span>Sub-option 3</span>
          </a>
        </li>
        <li class="item-secondary">
          <a href="#">
                <span>Sub-option 4<span>
          </a>
        </li>
      </ul>
    </li>
    <li class="list-group-item collapsibleList checkbox toggle-expand-collapse" data-ui="nav-level-1">
      <input type="checkbox" value="" id="menu-list-group-item-3">
      <label for="menu-list-group-item-3">menu-list-group-item 3</label>
      <ul class="nest">
        <li class="item-secondary">
          <a href="#">
            <span>Sub-option 1</span>
          </a>
        </li>
        <li class="item-secondary">
          <a href="#">
            <span>Sub-option 2</span>
          </a>
        </li>
        <li class="item-secondary">
          <a href="#">
            <span>Sub-option 3</span>
          </a>
        </li>
        <li class="item-secondary">
          <a href="#">
            <span>Sub-option 4<span>
          </a>
        </li>
      </ul>
    </li>
    <li class="list-group-item" data-ui="nav-level-1">
      <a href="#list-group-menu">
        <span>list-group-item 4</span>
      </a>
    </li>
</ul>
