<section class="vertical-push-3">

  <h3 id="forms-examples-basic" class="status status-good">Basic Example</h3>
  <p>Individual form controls automatically receive some global styling. All textual <code>&lt;input&gt;</code>, <code>&lt;textarea&gt;</code>, and <code>&lt;select&gt;</code> elements with <code>.form-control</code> are set to <code>width: 100%;</code> by default. Wrap labels and controls in <code>.form-group</code> for optimum spacing.
  </p>
  <div class="well" data-example-id="basic-forms">
    {% include /markup-templates/forms/basic.html %}
  </div><!-- /example -->
  {% highlight html %}
  {% include /markup-templates/forms/basic.html %}
  {% endhighlight %}
</section>

