/*
* Footer
*
* Separated section of content at the bottom of all pages, save the homepage.
*/

.bs-docs-footer {
    .well {
        border: none !important;
    }
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-top: 6rem;
    border-top: 0.1rem solid #e5e5e5;
    .list-text {
        .nested {
            &:extend( .link-sub-navigation );
        }
    }
    .footer-inline-list {
        .list-text();
        position: relative;
        border-top: 0.1rem solid #333;
        padding-top: 4rem;
        margin-top: 4rem;
        > li {
            display: block;
        }
        &:after {
            position: absolute;
            top: -3.5rem;
            right: 1.7rem;
            content:"";
            background: url(http://www.rei.com/img/footer/trees.svg) 73% 100%/8em no-repeat;
            height: 5rem;
            width: 10rem;
        }
        @media ( min-width: @screen-sm-min ) {
            .list-inline();
            .list-inline-md();
            .list-inline-pipe();
        }

    }
}
.bs-docs-footer-links {
    padding-left: 0;
    margin-top: 2rem;
}
.bs-docs-footer-links li {
    display: inline;
    padding: 0 0.2rem;
}
.bs-docs-footer-links li:first-child {
    padding-left: 0;
}

@media (min-width: @screen-sm-min) {
    .bs-docs-footer p {
        margin-bottom: 0;
    }
}
