@import '../../../css/settings/index.scss';
@import './vars/CdrSelect.vars.scss';
@import url('@rei/cedar/dist/style/cdr-icon.css');
@import url('@rei/cedar/dist/style/cdr-label-standalone.css');
@import url('@rei/cedar/dist/style/cdr-form-error.css');
/* ==========================================================================
  # CdrSelect

  All values should map to variables in
  vars/CdrSelect.vars.pcss
  in order to allow for theming

  TOC:

  :Base - Select
  :States

  /* Style variants
========================================================================== */

.cdr-select {
  @include cdr-select-base-mixin;
  
  /* Hide Browser Styled Drowpdown Arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &::-ms-expand {
    display: none;
  }

  &--primary {
    @include cdr-select-primary-mixin;
  }

  &--secondary {
    @include cdr-select-secondary-mixin;
  }

  &--error {
    @include cdr-select-error-mixin;
  }

  &--preicon {
    /* $input-pre-icon-default-width = 25px with the expectation that
        slot provided icon is close to that width */
    // TODO: use icon token here?
    padding-left: calc(#{$cdr-space-half-x} + #{$cdr-space-quarter-x} + 25px);
  }

  &__prompt {
    @include cdr-select-prompt-mixin;
  }

  &__caret {
    fill: $cdr-color-text-primary;
    position: absolute;
    top: 50%;
    right: $cdr-space-half-x;
    transform: translateY(-50%);
    pointer-events: none;

    &--disabled {
      fill: $cdr-color-icon-disabled;
    }
  }

  &__pre-icon {
    position: absolute;
    top: 50%;
    left: $cdr-space-half-x;
    transform: translateY(-50%);
  }

  &__info-action {
    position: relative;
    width: 40px;
    & > * {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &--multiple {
    height: auto;
    padding: $cdr-space-half-x;

    & + .cdr-select__caret {
      display: none;
    }
  }
  // ========================================================================== */

  /* @xs
  0px - 767px
  ========== */
  @include cdr-xs-mq-only {
    &--large\@xs {
      @include cdr-select-large-mixin;
    }
  }

    /* Size variants
    ========================================================================== */

    &--large {
      @include cdr-select-large-mixin;
    }

  /* @sm
    768px - 991px
    ========== */
  @include cdr-sm-mq-only {
    &--large\@sm {
      @include cdr-select-large-mixin;
    }
  }

  /* @md
    992px - 1199px
    ========== */
  @include cdr-md-mq-only {
    &--large\@md {
      @include cdr-select-large-mixin;
    }
  }

  /* @lg
    1200px and up
    ========== */

  @include cdr-lg-mq-only {
    &--large\@lg {
      @include cdr-select-large-mixin;
    }
  }
}

/* ==========================================================================
   # SELECT WRAPPER
   ========================================================================== */

/* Sets new origin for relative positioning of Select and Caret */
.cdr-select-wrap {
  position: relative;
  flex: 1;
}

.cdr-select-outer-wrap {
  position: relative;
  display: flex;
  margin-top: $cdr-space-half-x;
  margin-bottom: $cdr-space-quarter-x;
}

.cdr-select-container {
  margin-bottom: $cdr-space-one-x;
}
