/* ==========================================================================
  # CdrSelect
  
  All values should map to variables in
  vars/CdrSelect.vars.pcss
  in order to allow for theming

  TOC:

    :Base - Select
      :States
========================================================================== */

.cdr-select {
  &.cdr-select {
    box-sizing: border-box;
    font-size: $select-font-size;
    line-height: $select-line-height;
    text-align: $select-text-align;
    color: $select-color;
    font-style: $select-font-style;
    font-weight: $select-font-weight;
    font-family: $select-font-family;
    width: 100%;
    display: block;
    border: $select-border;
    border-radius: $select-border-radius;
    height: $select-height;
    background-color: $select-background-color;
    text-transform: none;
    margin: 0;
  }

  &[multiple] {
    padding: 0;
  }

  & option {
    line-height: 1;
    box-sizing: border-box;
  }

  /* States
    ---------- */

  &[disabled] {
    background-color: $select-disabled-background;
  }

  /* Style variants
    ========================================================================== */

  &--size {
    &[size] {
      height: auto;
    }
  }

  &__label {
    @include maple-utility-20;

    display: block;
    margin: 0;
  }
}
