@import '../../../css/settings/index.scss';
@import './vars/CdrSelect.vars.scss';
/* ==========================================================================
  # CdrSelect

  All values should map to variables in
  vars/CdrSelect.vars.pcss
  in order to allow for theming

  TOC:

    :Base - Select
      :States
========================================================================== */

.cdr-select {
  @include cdr-select-base-mixin;

  /* Style variants
    ========================================================================== */

  &--size {
    &[size] {
      height: auto;
    }
  }

  &__label {
    @include cdr-select-base-label-mixin;
  }
}
