@import '../../../css/settings/index.scss';
@import './vars/CdrSelect.vars.scss';
@import url('@rei/cedar/dist/style/CdrIcon.css');
/* ==========================================================================
  # CdrSelect

  All values should map to variables in
  vars/CdrSelect.vars.pcss
  in order to allow for theming

  TOC:

  :Base - Select
  :States

  /* Style variants
========================================================================== */

.cdr-select {
  @include cdr-select-base-mixin;

  &__required-label {
    @include cdr-select-required-label-mixin;
  }

  &__label {
    @include cdr-select-base-label-mixin;

    &--large {
      @include cdr-select-large-mixin;
    }

    &--disabled {
      @include cdr-select-base-label-disabled-mixin;
    }
  }

  &__caret {
    @include cdr-select-base-caret-mixin;

    &--disabled {
      @include cdr-select-base-caret-disabled-mixin;
    }
  }

  &__info-container {
    @include cdr-select-info-container-mixin;
  }

  &__helper-text {
    @include cdr-select-helper-text-mixin;
  }

  // DEPRICATED STYLE
  // ========================================================================== */
  &--multiple {
    height: auto;
  }
  // ========================================================================== */

  /* @xs
  0px - 767px
  ========== */
  @include xs-mq-only {
    &--large\@xs {
      @include cdr-select-large-mixin;
    }
  }

    /* Size variants
    ========================================================================== */

    &--large {
      @include cdr-select-large-mixin;
    }

  /* @sm
    768px - 991px
    ========== */
  @include sm-mq-only {
    &--large\@sm {
      @include cdr-select-large-mixin;
    }
  }

  /* @md
    992px - 1199px
    ========== */
  @include md-mq-only {
    &--large\@md {
      @include cdr-select-large-mixin;
    }
  }

  /* @lg
    1200px and up
    ========== */

  @include lg-mq-only {
    &--large\@lg {
      @include cdr-select-large-mixin;
    }
  }
}

/* ==========================================================================
   # SELECT WRAPPER
   ========================================================================== */

/* Sets new origin for relative positioning of Select and Caret */
.cdr-select-wrap {
  position: relative;
}