<section class="vertical-push-3">
  <h2 id="input-groups-title" class="page-header">Input Groups</h2>


  <p class="lead">Extend form controls by adding text or buttons before, after, or on both sides of any text-based <code>&lt;input&gt;</code>. Use <code>.input-group</code> with an <code>.input-group-addon</code> to prepend or append elements to a single <code>.form-control</code>.</p>

    <cdr-well-docs example-title="Basic example" element-id="basic-examples">
        <yield to="example-description">
        </yield>
        <yield to="example">
          <div class="well well-lg">
              <form class="form">
                <fieldset>
                    <div class="form-group">
                        <label class="sr-only" for="basicExample">basic Example</label>
                        <div class="input-group">
                            <div class="input-group-addon"><span class="icon icon-rei-search" aria-hidden="true"></span></div>
                            <input type="text" class="form-control" id="basicExample" placeholder="Find great gear" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary">
                                Search
                                </button>
                            </span>
                        </div>
                    </div>
                </fieldset>
             </form>
          </div>
        </yield>
        <yield to="codeblock">
        {% highlight html %}
<form class="form">
<fieldset>
    <div class="form-group">
        <label class="sr-only" for="basicExampleSample">basic Example</label>
        <div class="input-group">
            <div class="input-group-addon"><span class="icon icon-rei-search" aria-hidden="true"></span></div>
            <input type="text" class="form-control" id="basicExampleSample" placeholder="Find great gear">
            <span class="input-group-btn">
                <button type="button" class="btn btn-primary">
                Search
                </button>
            </span>
        </div>
    </div>
</fieldset>
</form>
        {% endhighlight %}
        </yield>
    </cdr-well-docs>

    <cdr-well-docs example-title="Input group sizes" element-id="input-groups-sizing">
        <yield to="example-description">
            <p>Add the relative form sizing classes to the <code>.input-group</code> itself and contents within will automatically resize—no need for repeating the form control size classes on each element.</p>
        </yield>
        <yield to="example">
          <div class="well well-lg">
            <form class="form">
                <fieldset>
                    <div class="form-group">
                        <label class="sr-only" for="searchInputLarge">Search Label large</label>
                        <div class="input-group input-group-lg">
                            <div class="input-group-addon"><span class="icon icon-rei-search" aria-hidden="true"></span></div>
                            <input type="text" class="form-control" id="searchInputLarge" placeholder="Find great gear">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary">
                                Search
                                </button>
                            </span>
                        </div>
                    </div>
                </fieldset>
            </form>
          </div>
        </yield>
        <yield to="codeblock">
        {% highlight html %}
<div class="input-group input-group-lg">....</div>
        {% endhighlight %}
        </yield>
    </cdr-well-docs>

        <cdr-well-docs example-title="combinations" element-id="complex-groups">
        <yield to="example-description">
            <p> While none of the child classes are required, Input Groups can have multiple <code>.input-group-addon</code>,<code>input</code>, and <code>.input-group-btn</code> elements in any order you may need for your layout.</p>
        </yield>
        <yield to="example">
          <div class="well well-lg">
              <fieldset>
        <legend>
            Mix and match elements
        </legend>
    <div class="form-group">
        <label class="sr-only" for="withoutBtn">without btn</label>
        <div class="input-group">
            <div class="input-group-addon"><span class="icon icon-rei-search" aria-hidden="true"></span></div>
            <input id="withoutBtn" type="text" class="form-control" placeholder="Search for...">
            <div class="input-group-addon"><span class="icon icon-rei-search" aria-hidden="true"></span></div>
        </div><!-- /input-group -->
    </div>
    <div class="form-group">
        <label class="sr-only" for="withoutAddon">without addon</label>
        <div class="input-group">
          <input id="withoutAddon" type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button">
                Go
                <span class="icon icon-chevron-large-right" aria-hidden="true"></span>
            </button>
          </span>
        </div><!-- /input-group -->
    </div>
    <div class="form-group">
        <label class="sr-only" for="withTwoActions">with two actions</label>
        <div class="input-group">
          <input id="withTwoActions" type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button">
                Go
                <span class="icon icon-chevron-large-right" aria-hidden="true"></span>
            </button>
          </span>
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
                away
                <span class="icon icon-chevron-large-right" aria-hidden="true"></span>
            </button>
          </span>
        </div><!-- /input-group -->
    </div>
    </fieldset>
          </div>
        </yield>
        <yield to="codeblock">
        {% highlight html %}
<div class="form-group">
    <label class="sr-only" for="withTwoActions">with two actions</label>
    <div class="input-group">
      <input id="withTwoActions" type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button">
            Go
            <span class="icon icon-chevron-large-right" aria-hidden="true"></span>
        </button>
      </span>
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">
            away
            <span class="icon icon-chevron-large-right" aria-hidden="true"></span>
        </button>
      </span>
    </div><!-- /input-group -->
</div>
        {% endhighlight %}
        </yield>
    </cdr-well-docs>

    <cdr-well-docs example-title="Complex input groups" element-id="complex-groups">
        <yield to="example-description">

        </yield>
        <yield to="example">
          <div class="well well-lg">
             <div class="input-group">
                <div class="input-group-addon"><span class="icon icon-rei-search" aria-hidden="true"></span></div>
                <label class="sr-only" for="searchSpot">placeholder search</label>
                <input type="text" class="form-control" id="searchSpot" placeholder="Search for great gear & clothing" />
                <div class="input-group-addon"><span class="icon icon-rei-target" aria-hidden="true"></span></div>
                <label class="sr-only" for="location">location</label>
                <input type="text" class="form-control" id="location" placeholder="Everywhere" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary">
                    Search
                    </button>
                </span>
            </div>
          </div>
        </yield>
        <yield to="codeblock">
        {% highlight html %}
<div class="input-group">
    <div class="input-group-addon"><span class="icon icon-rei-search" aria-hidden="true"></span></div>
    <label class="sr-only" for="searchSpot">placeholder search</label>
    <input type="text" class="form-control" id="searchSpot" placeholder="Search for great gear & clothing" />
    <div class="input-group-addon">
        <div class="icon icon-rei-target" aria-hidden="true"></div>
    </div>
    <label class="sr-only" for="location">location</label>
    <input type="text" class="form-control" id="location" placeholder="Everywhere" />
    <span class="input-group-btn">
        <button type="button" class="btn btn-primary">
        Search
        </button>
    </span>
</div>
        {% endhighlight %}
        </yield>
    </cdr-well-docs>
</section>

