/*
  Note: These classes are deprecated, and will be removed from cedar in the Fall 2020 release.
*/

@import "../../settings/index";

.cdr-text > .cdr-text,
.cdr-text h1.cdr-text,
.cdr-text h2.cdr-text,
.cdr-text h3.cdr-text,
.cdr-text h4.cdr-text,
.cdr-text h5.cdr-text,
.cdr-text h6.cdr-text,
h1.cdr-text.cdr-text ,
h2.cdr-text.cdr-text,
h3.cdr-text.cdr-text,
h4.cdr-text.cdr-text,
h5.cdr-text.cdr-text,
h6.cdr-text.cdr-text,
.cdr-text {
  &--utility {
    &-100 { @include cdr-text-utility-100; }
    &-200 { @include cdr-text-utility-200; }
    &-300 { @include cdr-text-utility-300; }
    &-400 { @include cdr-text-utility-400; }
    &-500 { @include cdr-text-utility-500; }
    &-600 { @include cdr-text-utility-600; }
    &-700 { @include cdr-text-utility-700; }
    &-800 { @include cdr-text-utility-800; }
    &-strong {
      &-100 { @include cdr-text-utility-strong-100; }
      &-200 { @include cdr-text-utility-strong-200; }
      &-300 { @include cdr-text-utility-strong-300; }
      &-400 { @include cdr-text-utility-strong-400; }
      &-500 { @include cdr-text-utility-strong-500; }
      &-600 { @include cdr-text-utility-strong-600; }
      &-700 { @include cdr-text-utility-strong-700; }
      &-800 { @include cdr-text-utility-strong-800; }
    }
  }
}
