<section class="vertical-push-3">
    <h1 id="links-with-icons" class="page-header status status-good">LINKS WITH ICONS</h1>
    <p>
        In addition to the "tree arrow" used in EXPLORE, there are additional icons that help illustrate a links's
        purpose. These may be used across all style families (Shown with CORE styling here) unless otherwise noted.
    </p>
    <section>
        <h2 id="links-icon-play">Play Video</h2>
        <p>
            For use when a link activates a video player.
            (See Button reference for a "Play Video button with icon" alternative.)
        </p>
        <div class="well">
            <div class="row">
                <div class="col-sm-4">
                    <h4>Inline</h4>
                    <a href="#links-icon-play"  class="link-body text-icon-play">
                        <span class="icon icon-rei-play-small" aria-hidden="true"></span>Play video
                    </a>
                    <ul class="list-unstyled vertical-pull-lg ">
                        <li class="note">This is implemented as a relative .7 of the font size</li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h4>Standalone Standard</h4>
                    <a href="#links-icon-play"  class="link_stag text-icon-play">
                        <span class="icon icon-rei-play-small" aria-hidden="true"></span>Play video
                    </a>
                    <ul class="list-unstyled vertical-pull-lg ">
                        <li class="note">This is implemented as a relative .7 of the font size</li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h4>Standalone Title</h4>
                    <a href="#links-icon-play"  class="link_stag-title text-icon-play">
                        <span class="icon icon-rei-play-small" aria-hidden="true"></span>Play video
                    </a>
                    <ul class="list-unstyled vertical-pull-lg ">
                        <li class="note">This is implemented as a relative .7 of the font size</li>
                    </ul>
                </div>
            </div>
        </div>
        {% highlight html %}
        <a href="#links-icon-play"  class="link_stag text-icon-play">
            <span class="icon icon-rei-play-small" aria-hidden="true"></span>Play video
        </a>
        {% endhighlight %}
    </section>
    <section>
        <h2 id="links-icon-external">Offsite</h2>
        <p>
            If a link directs a user to a destination outside of REI.com, use this style.
            (See Button reference for an "Offsite button with icon" alternative.)
        </p>
        <div class="row">
            <div class="col-sm-4">
                <h4>Inline</h4>
                <a href="#links-icon-external"  class="link-body text-icon-external">
                    Visit site<span class="icon icon-rei-external-link" aria-hidden="true"></span>
                </a>
                <ul class="list-unstyled vertical-pull-lg ">
                    <li class="note">This is implemented as a relative .7 of the font size</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h4>Standalone Standard</h4>
                <a href="#links-icon-external"  class="link_stag text-icon-external">
                    Visit site<span class="icon icon-rei-external-link" aria-hidden="true"></span>
                </a>
                <ul class="list-unstyled vertical-pull-lg">
                    <li class="note">This is implemented as a relative .7 of the font size</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h4>Standalone Title</h4>
                <a href="#links-icon-external"  class="link_stag-title text-icon-external">
                    Visit site<span class="icon icon-rei-external-link" aria-hidden="true"></span>
                </a>
                <ul class="list-unstyled vertical-pull-lg ">
                    <li class="note">This is implemented as a relative .7 of the font size</li>
                </ul>
            </div>
        </div>
        {% highlight html %}
        <a href="#links-icon-external"  class="link_stag-title text-icon-external">
            Visit site<span class="icon icon-rei-external-link" aria-hidden="true"></span>
        </a>
        {% endhighlight %}
    </section>
</section>

