<section class="vertical-push-3">

    <h2 class="status status-good" id="inline">Inline</h2>

    <p>
        Links that occur within body copy in articles. Link examples: <strong>Hub Cards, Footer, Recommendations</strong>
    </p>
    <div class="well" data-example-id="links-core-inline">
        <p>
            If you spend much time in the great outdoors,
            you’re likely to hear the phrase “Leave No Trace”
            as often as you hear
            "<a href="https://www.rei.com/learn/expert-advice/ten-essentials.html">
                the Ten Essentials
            </a>".
            What does it mean? Simply put, it’s the best practices
            we should follow to enjoy and protect our natural spaces.
        </p>
        {% include /markup-templates/typography/link.html param="inline" %}
    </div>
    {% highlight html %}
    <a class="link-body" href="#">...</a>
    or
    <div class="text-body">
        <a href="#">...</a>
    </div>
    {% endhighlight %}

    <h4>Off Price</h4>
    <div class="well" data-example-id="links-off-price-inline">
        {% include /markup-templates/typography/link.html param="off-price" %}
    </div>
    {% highlight html %}
    <a class="link-off-price" href="#">...</a>
    {% endhighlight %}


    <h3 >Overlay</h3>
    <div class="well overlay-dark-1" data-example-id="links-overlay-core-inline">
        {% include /markup-templates/typography/link.html param="overlay" %}
    </div>
    {% highlight html %}
    <a class="link-overlay" href="#">...</a>
    {% endhighlight %}

    <h4>Overlay -Contrast</h4>
    <div class="well overlay-dark-1" data-example-id="links-overlay-contrast-inline">
        {% include /markup-templates/typography/link.html param="overlay-contrast" %}
    </div>
    {% highlight html %}
    <a class="link-contrast-overlay" href="#">...</a>
    {% endhighlight %}

</section>
