<section>
  
        {% include /markup-templates/typography/link.html %}

  

  <table class="table">
    <caption>Legacy link classes</caption>
    <thead>
      <tr>
        <th> Description </th>
        <th> Class </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Explore</td>
        <td>{% include /markup-templates/typography/link.html param="explore-inline" %}</td>
      </tr>
      <tr>
        <td>Explore Inline</td>
        <td>{% include /markup-templates/typography/link.html param="explore-inline" %}</td>
      </tr>
      <tr>
        <td>explore inline overlay</td>
        <td class="overlay-dark-1">{% include /markup-templates/typography/link.html param="explore-inline-overlay" %}</td>
      </tr>
      <tr>
        <td>
        Off Price
        </td>
        <td>
        {% include /markup-templates/typography/link.html param="off-price" %}
        </td>
      <tr>
        <td>Overlay</td>
        <td class="overlay-dark-1">{% include /markup-templates/typography/link.html param="overlay" %}</td>
      </tr>
      <tr>
        <td>Overlay Contrast</td>
        <td class="overlay-dark-1">{% include /markup-templates/typography/link.html param="overlay-contrast" %}</td>
      </tr>
      <tr>
        <td>utility</td>
        <td>{% include /markup-templates/typography/link.html param="utility" %}</td>
      </tr>
      </tbody>
  </table>
</section>