<section class="vertical-push-3">

    <h2 id="core-links-nav" class="status status-good">Navigation</h2>

    <p>
        Links used for navigation and sorting. Link examples:<strong> Filters, Contextual Navigation, Footer</strong>
    </p>

    <div class="well">
        {% include /markup-templates/typography/link.html param="navigation" %}
    </div>
    {% highlight html %}
    <a class="link_navigation" href="#">...</a>
    {% endhighlight %}

    <h4>Navigation -Title</h4>
    <div class="well">
        {% include /markup-templates/typography/link.html param="navigation-title" %}
    </div>
    {% highlight html %}
    <a class="link_navigation-title" href="#">...</a>
    {% endhighlight %}

    <h4>Navigation -Utility</h4>
    <div class="well ">
        {% include /markup-templates/typography/link.html param="utility" %}
    </div>
    {% highlight html %}
    <a class="link-utility" href="#">...</a>
    {% endhighlight %}

    <h3>Overlay Navigation</h4>
    <div class="well clearfix overlay-dark-1">
        {% include /markup-templates/typography/link.html param="navigation-overlay" %}
    </div>
    {% highlight html %}
    <a class="link_navigation-overlay" href="#">...</a>
    {% endhighlight %}

    <h4>Overlay Navigation -Title (Contextual)</h4>
    <div class="well overlay-dark-1">
        {% include /markup-templates/typography/link.html param="navigation-title-overlay" %}
    </div>
    {% highlight html %}
    <a class="link_navigation-title" href="#">...</a>
    {% endhighlight %}

    <h4>Overlay Navigation -Utility</h4>
    <div class="well clearfix overlay-dark-1">
        {% include /markup-templates/typography/link.html param="utility-overlay" %}
    </div>
    {% highlight html %}
    <a class="link-utility-overlay" href="#">...</a>
    {% endhighlight %}

    <h4>Overlay Navigation -Sub Navigation </h4>
    <div class="well clearfix overlay-dark-1">
        {% include /markup-templates/typography/link.html param="navigation-sub" %}
    </div>
    {% highlight html %}
    <a class="link_sub-navigation" href="#">...</a>
    {% endhighlight %}
</section>
