<section class="vertical-push-3">

  <h2 id="links-outlet-title" class="page-header">Outlet</h2>

  <p>Link formatting for content presented in the REI "inspired guide" voice.</p>

  <h3 id="links-outlet-inline" class="status status-good">Inline</h3>

  <h4>Inline Standard - Light Background</h4>

  <div class="well">
    {% include /markup-templates/typography/link.html param="outlet" %}
  </div>
  {% highlight html %}
  <a class="link-outlet" href="#">...</a>
  {% endhighlight %}

  <h4>Inline Standard - Dark Background</h4>

  <div class="well overlay-outlet-dark-1">
    {% include /markup-templates/typography/link.html param="outlet-overlay" %}
  </div>
  {% highlight html %}
  <a class="link-outlet-overlay" href="#">...</a>
  {% endhighlight %}

  <h3 id="link-outlet-standalone" class="status status-good">Standalone</h3>

  <h4>Light Background</h4>

  <div class="well">
    {% include /markup-templates/typography/link.html param="outlet-standalone" %}
  </div>
  {% highlight html %}
  <a class="link-outlet-standalone" href="#">...</a>
  {% endhighlight %}

  <h4>Dark Background</h4>

  <div class="well overlay-outlet-dark-1">
    {% include /markup-templates/typography/link.html param="outlet-standalone-overlay" %}
  </div>
  {% highlight html %}
  <a class="link-outlet-standalone-overlay" href="#">...</a>
  {% endhighlight %}

    <h2 id="outlet-links-header" class="status status-good">Outlet Header Links</h2>
    <p>Use when an H1, H2, or H3 Header is presented as a link (Primarily used on Hub or Campaign-related pages).</p>
    <p class="bs-callout bs-callout-warning">
        Please note the lack of whitespace between heading text and icon span, this is intentional and necessary for correct spacing.
    </p>
    <div class="well">
        {% include /markup-templates/typography/header-links.html param="outlet-header" %}
    </div>
    {% highlight html %}
    <h1>
        <a href="#outlet-links-header" class="link_header-outlet text-icon-right-arrow">
            H1 Header Link<span class="icon icon-rei-right-arrow"></span>
        </a>
    </h1>
    {% endhighlight %}
    <p>Title Case</p>
    <p>Default state: Follows text color, and the class sets the color attribute to inherit.</p>
    <p>Hover state: No underline, should follow the primary family action color.</p>
    <p class="note">The <code>icon-rei-right-arrow</code> icon is set to 0.5em of the headings font size, this allows the icon to scale to the heading rather that adhering to a strict px value. This icon is set to the text baseline</p>

</section>
