<section class="vertical-push-3">

    <h2 class="status status-good" id="standalone">Standalone</h2>

    <p>
        Non-editorial CTAs. Link examples: <strong>Sign-in, Footer</strong>
    </p>

    <h3>Standalone</h3>
    <div class="well" data-example-id="links-core-standalone">
        {% include /markup-templates/typography/link.html param="singleton" %}
    </div>
    {% highlight html %}
    <a class="link_stag" href="#">...</a>
    {% endhighlight %}

    <h4>Standalone -Text</h4>
    <div class="well" data-example-id="links-core-standalone-text">
        {% include /markup-templates/typography/link.html param="singleton-body" %}
    </div>
    {% highlight html %}
    <a href="#">...</a>
    {% endhighlight %}

    <h4>Standalone -Title</h4>
    <div class="well" data-example-id="links-core-standalone-title">
        {% include /markup-templates/typography/link.html param="singleton-title" %}
    </div>
    {% highlight html %}
    <a class="link_stag-title" href="#">...</a>
    {% endhighlight %}

    <h4>Standalone -Explore</h4>
    <div class="well" data-example-id="links-explore-standalone">
        <a class="link_stag-explore" href="#">Read more<span class="icon icon-rei-tree-arrow" aria-hidden="true"> </span></a>
    </div>
    {% highlight html %}
    <a class="link_stag-explore" href="#">Read more<span class="icon icon-rei-tree-arrow" aria-hidden="true"> </span></a>
    {% endhighlight %}

    <h4>Standalone -Off Price</h4>
    <div class="well" data-example-id="links-off-price-standalone">
        {% include /markup-templates/typography/link.html param="off-price-standalone" %}
    </div>
    {% highlight html %}
    <a class="link-off-price-standalone" href="#">...</a>
    {% endhighlight %}

    <h3>Overlay Standalone</h3>
    <div class="well overlay-dark-1" data-example-id="links-overlay-standalone">
        {% include /markup-templates/typography/link.html param="overlay-singleton"%}
    </div>
    {% highlight html %}
    <a class="link_stag-overlay" href="#">...</a>
    {% endhighlight %}

    <h4>Overlay Standalone -Text </h4>
    <div class="well overlay-dark-1" data-example-id="links-overlay-text-standalone">
        {% include /markup-templates/typography/link.html param="overlay-singleton-body"%}
    </div>
    {% highlight html %}
    <a class="link_stag-overlay-body" href="#">...</a>
    {% endhighlight %}

    <h4>Overlay Standalone -Title</h4>
    <div class="well overlay-dark-1" data-example-id="links-overlay-title-standalone">
        {% include /markup-templates/typography/link.html param="overlay-singleton-title" %}
    </div>
    {% highlight html %}
    <a class="link_stag-title-overlay" href="#">...</a>
    {% endhighlight %}

    <h4>Overlay Standalone -Explore</h4>
    <div class="well overlay-dark-1" data-example-id="links-overlay-explore-standalone">
        <a class="link_stag-explore-overlay" href="#">Read more<span class="icon icon-rei-tree-arrow" aria-hidden="true"> </span></a>
    </div>
    {% highlight html %}
    <a class="link_stag-explore-overlay" Read more<span class="icon icon-rei-tree-arrow" aria-hidden="true"> </span></a>
    {% endhighlight %}

    <h4>Overlay Standalone -Off Price</h4>
    <div class="well overlay-off-price" data-example-id="links-overlay-off-price-standalone">
        {% include /markup-templates/typography/link.html param="off-price-standalone-overlay" %}
    </div>
    {% highlight html %}
    <a class="link-off-price-standalone-overlay" href="#">...</a>
    {% endhighlight %}
</section>
