/* ==========================================================================
  # cdrHeading
  
  All values should map to variables in
  styles/vars/cdrHeading.vars.pcss
  in order to allow for theming

  TOC:

    :Base Styles
========================================================================== */

.cdr-heading {}
