//
// Utility classes
// --------------------------------------------------

.utility-focus-state {
    // Default
    outline: thin dotted;
    // WebKit
    outline: 0.5rem auto;
    outline-color: @core-action-1;
    outline-offset: -0.2rem;
}

// Floats
// -------------------------

.clearfix {
  .clearfix();
}
.center-block {
  .center-block();
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}


// Toggling content
// -------------------------

.hidden {
    display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  .text-hide();
}

// For Affix plugin
// -------------------------

.affix {
  position: fixed;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Vertical rhythm helper classes
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.vertical-push {
    margin-bottom: @vertical-push;
    & + h1,
    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6 {
        .vertical-pull-md();
    }
}
.vertical-push-sm {
    margin-bottom: @vertical-push-small;
}
.vertical-push-md {
    margin-bottom: @vertical-push-medium;
}
.vertical-push-lg {
    margin-bottom: @vertical-push-large;
}
.vertical-push-xl {
    margin-bottom: @vertical-push-xlarge;
}
.vertical-pull {
    margin-top: @vertical-push;
}
.vertical-pull-sm {
    margin-top: @vertical-push-small;
}
.vertical-pull-md {
    margin-top: @vertical-push-medium;
}
.vertical-pull-lg {
    margin-top: @vertical-push-large;
}
.vertical-pull-xl {
    margin-top: @vertical-push-xlarge;
}

// Position element - vertical and horizontal alignment
// -------------------------------------------------------------------
.utility-position ( @anchor: center; @x: null ) {
    position: absolute;

    & when ( ispercentage( @anchor ) ),
           ( isnumber( @anchor ) ),
           ( ispixel( @anchor ) ) {
        @top: @anchor;

        & when ( @x = null ) {
            @left : @top;

            top: @top;
            right: auto;
            bottom: auto;
            left: @left;

            -o-object-position: @top @left;
               object-position: @top @left;

            -webkit-transform: translate( -@top, -@left );
                    transform: translate( -@top, -@left );
        }

        & when not ( @x = null ) {
            @left: @x;

            top: @top;
            right: auto;
            bottom: auto;
            left: @left;

            -o-object-position: @top @left;
               object-position: @top @left;

            -webkit-transform: translate( -@top, -@left );
                    transform: translate( -@top, -@left );
        }
    }


    & when ( @anchor = center ) {
        top: 50%;
        right: auto;
        bottom: auto;
        left: 50%;

        text-align: @anchor;

        -webkit-transform: translate( -50%, -50% );
                transform: translate( -50%, -50% );
    }

    & when ( @anchor = left ) {
        top: 50%;
        right: auto;
        bottom: auto;
        left: 0;

        text-align: @anchor;

        -webkit-transform: translate( 0, -50% );
                transform: translate( 0, -50% );
    }

    & when ( @anchor = right ) {
        top: 50%;
        right: 0;
        bottom: auto;
        left: auto;

        text-align: @anchor;

        -webkit-transform: translate( 0, -50% );
                transform: translate( 0, -50% );
    }

    & when ( @anchor = top ) {
        top: 0;
        right: auto;
        bottom: auto;
        left: 50%;

        text-align: center;

        -webkit-transform: translate( -50%, 0 );
                transform: translate( -50%, 0 );
    }

    & when ( @anchor = top-left ) {
        top: 0;
        right: auto;
        bottom: auto;
        left: 0;

        text-align: left;

        -webkit-transform: translate( 0, 0 );
                transform: translate( 0, 0 );
    }

    & when ( @anchor = top-right ) {
        top: 0;
        right: 0;
        bottom: auto;
        left: auto;

        text-align: right;

        -webkit-transform: translate( 0, 0 );
                transform: translate( 0, 0 );
    }

    & when ( @anchor = bottom ) {
        top: auto;
        right: auto;
        bottom: 0;
        left: 50%;

        text-align: center;

        -webkit-transform: translate( -50%, 0 );
                transform: translate( -50%, 0 );
    }

    & when ( @anchor = bottom-left ) {
        top: auto;
        right: auto;
        bottom: 0;
        left: 0;

        text-align: left;

        -webkit-transform: translate( 0, 0 );
                transform: translate( 0, 0 );
    }

    & when ( @anchor = bottom-right ) {
        top: auto;
        right: 0;
        bottom: 0;
        left: auto;

        text-align: right;

        -webkit-transform: translate( 0, 0 );
                transform: translate( 0, 0 );
    }
}

/* Application Classes */
.position {

  &--left,
  &.left {
    .utility-position( left );
  }

  &--right,
  &.right {
    .utility-position( right );
  }

  &--top,
  &.top {
    .utility-position( top );

    &-left,
    &.left {
      .utility-position( top-left );
    }
    &-right,
    &.right {
      .utility-position( top-right );
    }
  }

  &--center,
  &.center {
    .utility-position();
  }

  &--bottom,
  &.bottom {
    .utility-position( bottom );

    &-left,
    &.left {
      .utility-position( bottom-left );
    }

    &-right,
    &.right {
      .utility-position( bottom-right );
    }
  }
}


// Aspect Ratio
// -------------------------------------------------------------------
/*
 * Sets the height of an element ( without an implicit height )
 * to a percentage of its own width.
 *
 ********************************************************************/

.utility-aspect-ratio ( @ratio: 1; @align-contents: center ) {
  position: relative;
  overflow: hidden;
  padding-bottom: 100% * @ratio;

  > div {
    .utility-position( @align-contents );
  }
}

/* Application Classes */

.ratio {
  &-square {
    .utility-aspect-ratio( 1 );

    &.content,
    &--content{
      &-top {
        .utility-aspect-ratio( 1, top );
      }

      &-center {
        .utility-aspect-ratio( 1, center );
      }

      &-bottom {
        .utility-aspect-ratio( 1, bottom );
      }
    }
  }

  &-2-3 {
    .utility-aspect-ratio( 2/3 );

    &.content,
    &--content{
      &-top {
        .utility-aspect-ratio( 2/3, top );
      }

      &-center {
        .utility-aspect-ratio( 2/3, center );
      }

      &-bottom {
        .utility-aspect-ratio( 2/3, bottom );
      }
    }
  }

  &-3-2 {
    .utility-aspect-ratio( 3/2 );

    &.content,
    &--content{
      &-top {
        .utility-aspect-ratio( 3/2, top );
      }

      &-center {
        .utility-aspect-ratio( 3/2, center );
      }

      &-bottom {
        .utility-aspect-ratio( 3/2, bottom );
      }
    }
  }

  &-1-2 {
    .utility-aspect-ratio( 1/2 );

    &.content,
    &--content{
      &-top {
        .utility-aspect-ratio( 1/2, top );
      }

      &-center {
        .utility-aspect-ratio( 1/2, center );
      }

      &-bottom {
        .utility-aspect-ratio( 1/2, bottom );
      }
    }
  }

  &-2-1 {
    .utility-aspect-ratio( 2 );

    &.content,
    &--content{
      &-top {
        .utility-aspect-ratio( 2, top );
      }

      &-center {
        .utility-aspect-ratio( 2, center );
      }

      &-bottom {
        .utility-aspect-ratio( 2, bottom );
      }
    }
  }

  &-3-4 {
    .utility-aspect-ratio( 3/4 );

    &.content,
    &--content{
      &-top {
        .utility-aspect-ratio( 3/4, top );
      }

      &-center {
        .utility-aspect-ratio( 3/4, center );
      }

      &-bottom {
        .utility-aspect-ratio( 3/4, bottom );
      }
    }
  }

  &-4-3 {
    .utility-aspect-ratio( 4/3 );

    &.content,
    &--content{
      &-top {
        .utility-aspect-ratio( 4/3, top );
      }

      &-center {
        .utility-aspect-ratio( 4/3, center );
      }

      &-bottom {
        .utility-aspect-ratio( 4/3, bottom );
      }
    }
  }

  &-9-16 {
    .utility-aspect-ratio( 9/16 );

    &.content,
    &--content{
      &-top {
        .utility-aspect-ratio( 9/16, top );
      }

      &-center {
        .utility-aspect-ratio( 9/16, center );
      }

      &-bottom {
        .utility-aspect-ratio( 9/16, bottom );
      }
    }
  }

  &-16-9 {
    .utility-aspect-ratio( 16/9 );

    &.content,
    &--content{
      &-top {
        .utility-aspect-ratio( 16/9, top );
      }

      &-center {
        .utility-aspect-ratio( 16/9, center );
      }

      &-bottom {
        .utility-aspect-ratio( 16/9, bottom );
      }
    }
  }
}

