<section class="vertical-push-3">

    <h2 id="merge-addons" class="status status-warning">Merge addon and input field</h2>

    <p>At times you may want to visually place a button or icon within an input </p>

    <h3>Merge left</h3>

    <form class="well well-form" data-example-id="merge-addon-left">
        <div class="input-group">
            <input type="text" class="form-control input-group-merge-left" placeholder="Username"
                   aria-describedby="basic-addon1">
            <span class="input-group-addon" id="locaton-example">
              <span class="text-danger">
                  <span class="icon icon-rei-error" aria-hidden="true"></span>
                  <span class="sr-only">Error</span>
              </span>
            </span>
        </div>
    </form>
    {% highlight html %}
    <form class="well well-form" data-example-id="merge-addon-left">
        <div class="input-group">
            <input type="text" class="form-control input-group-merge-left" placeholder="Username"
                   aria-describedby="basic-addon1">
            <span class="input-group-addon" id="locaton-example">
              <span class="text-danger">
                  <span class="icon icon-rei-error" aria-hidden="true"></span>
                  <span class="sr-only">Error</span>
              </span>
            </span>
        </div>
    </form>
    {% endhighlight %}
    <h3>Merge right</h3>

    <form class="well well-form" data-example-id="merge-addon-left">
        <div class="input-group">
            <span class="input-group-addon input-group-merge-left" id="warning-example">
              <span class="text-danger">
                  <span class="icon icon-rei-warning" aria-hidden="true"></span>
                  <span class="sr-only">Warning</span>
              </span>
            </span>
            <input type="text" class="form-control input-group-merge-right" placeholder="Username"
                   aria-describedby="basic-addon1">
        </div>
    </form>
    <h3>Merge right with button on left</h3>
    <form class="well well-form" data-example-id="merge-addon-left">
        <div class="input-group">
            <span class="input-group-addon input-group-merge-left" id="success-example">
              <span class="text-danger">
                  <span class="icon icon-rei-success" aria-hidden="true"></span>
                  <span class="sr-only">Success</span>
              </span>
            </span>
            <input type="text" class="form-control input-group-merge-right input-group-merge-left" placeholder="Username"
                   aria-describedby="basic-addon1">
            <span class="input-group-btn" id="success-and-button-example">
              <button class="btn btn-default btn-sm">Submit</button>
            </span>
        </div>
    </form>
    <h3> button link on left</h3>
    <form class="well well-form" data-example-id="merge-addon-left">
        <div class="input-group">
            <input type="text" class="form-control " placeholder="Username"
                   aria-describedby="basic-addon1">
            <span class="input-group-btn" id="success-and-button-example">
              <button class="btn btn-default btn-sm">
                  <span class="icon icon-rei-target"></span>
              </button>
            </span>
        </div>
    </form>
</section>
