<section class="vertical-push-3">

    <h2 id="merge-addons" class="status status-warning">Merge addon and input field</h2>

    <p>At times you may want to visually place a button or icon within an input </p>

    <label for="merge-left-input">Merge left</label>
    <div class="input-group">
        <input aria-describedby="merge-left-message"
               class="form-control input-group-merge-left"
               id="merge-left-input"
               placeholder="Merge left"
               type="text" />
        <span class="input-group-addon" id="merge-left-message">
          <span class="text-danger">
              <span class="icon icon-rei-error" aria-hidden="true"></span>
              <span class="sr-only">Error</span>
          </span>
        </span>
    </div>
    {% highlight html %}
    <label for="merge-left-input-example">Merge left</label>
    <div class="input-group">
        <input aria-describedby="merge-left-message-example"
               class="form-control input-group-merge-left"
               id="merge-left-input-example"
               placeholder="Merge left"
               type="text" />
        <span class="input-group-addon" id="merge-left-message-example">
          <span class="text-danger">
              <span class="icon icon-rei-error" aria-hidden="true"></span>
              <span class="sr-only">Error</span>
          </span>
        </span>
    </div>
    {% endhighlight %}

    <label for="merge-right-input">Merge right</label>
    <div class="input-group">
        <span class="input-group-addon input-group-merge-left" id="merge-right-message-example">
          <span class="text-danger">
              <span class="icon icon-rei-warning" aria-hidden="true"></span>
              <span class="sr-only">Warning</span>
          </span>
        </span>
        <input aria-describedby="merge-right-message-example"
               class="form-control input-group-merge-right"
               id="merge-right-input"
               placeholder="merge-right"
               type="text" />
    </div>

    <label for="merge-right-button-left">Merge right with button on left</label>
    <div class="input-group">
        <span class="input-group-addon input-group-merge-left" id="merge-right-button-left-message">
          <span class="text-danger">
              <span class="icon icon-rei-success" aria-hidden="true"></span>
              <span class="sr-only">Success</span>
          </span>
        </span>
        <input aria-describedby="merge-right-button-left-message"
               class="form-control input-group-merge-right input-group-merge-left"
               id="merge-right-button-left"
               placeholder="Merge right with button on left"
               type="text" />
        <span class="input-group-btn" >
            <button class="btn btn-default btn-sm" type="submit" id="merge-right-button-left-button">Submit</button>
        </span>
    </div>

    <label for="merge-left-button">button on left</label>
    <div class="input-group">
        <input aria-describedby="merge-addon-left-button-text"
               class="form-control"
               id="merge-left-button"
               placeholder="Username"
               type="text" />
        <span class="input-group-btn">
          <button class="btn btn-default btn-sm" type="button">
              <span class="icon icon-rei-target"></span>
              <span class="sr-only" id="merge-addon-left-button-text">allow the browser to detect your location</span>
          </button>
        </span>
    </div>
</section>
