<section class="vertical-push-3">
    <h2 id="input-groups-title" class="page-header">Input Groups</h2>

    <p class="lead">Extend form controls by adding text or buttons before, after, or on both sides of any text-based
        <code>&lt;input&gt;</code>. Use <code>.input-group</code> with an <code>.input-group-addon</code> to prepend or
        append elements to a single <code>.form-control</code>.</p>

    <div class="bs-callout bs-callout-danger" id="callout-inputgroup-text-input-only">
        <strong class="h5">Textual <code>&lt;input&gt;</code>s only</strong>
        <p>Avoid using <code>&lt;select&gt;</code> elements here as they cannot be fully styled in WebKit browsers.</p>
        <p>Avoid using <code>&lt;textarea&gt;</code> elements here as their <code>rows</code> attribute will not be respected in some cases.</p>
    </div>
    <div class="bs-callout bs-callout-warning" id="callout-inputgroup-container-body">
        <strong class="h5">Tooltips &amp; popovers in input groups require special setting</strong>
        <p>When using tooltips or popovers on elements within an <code>.input-group</code>, you'll have to specify the
            option <code>container: 'body'</code> to avoid unwanted side effects (such as the element growing wider
            and/or losing its rounded corners when the tooltip or popover is triggered).</p>
    </div>
    <div class="bs-callout bs-callout-warning" id="callout-inputgroup-dont-mix">
        <strong class="h5">Don't mix with other components</strong>
        <p>Do not mix form groups or grid column classes directly with input groups. Instead, nest the input group
            inside of the form group or grid-related element.</p>
    </div>
    <div class="bs-callout bs-callout-warning" id="callout-inputgroup-form-labels">
        <strong class="h5">Always add labels</strong>
        <p>Screen readers will have trouble with your forms if you don't include a label for every input. For these
            input groups, ensure that any additional label or functionality is conveyed to assistive technologies.</p>
        <p>The exact technique to be used (<code>&lt;label&gt;</code> elements hidden using the <code>.sr-only</code>
            class, or use of the <code>aria-label</code>, <code>aria-labelledby</code>, <code>aria-describedby</code>,
            <code>title</code> or <code>placeholder</code> attribute) and what additional information will need to be
            conveyed will vary depending on the exact type of interface widget you're implementing. The examples in this
            section provide a few suggested, case-specific approaches.</p>
    </div>

    <h3 id="input-groups-basic" class="status status-chat">Basic example</h3>

    <p>Place one add-on or button on either side of an input. You may also place one on both sides of an input.</p>

    <p><strong class="text-danger">We do not support multiple add-ons on a single side.</strong></p>

    <p><strong class="text-danger">We do not support multiple form-controls in a single input group.</strong></p>

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon-left">@</span>
        <input aria-describedby="basic-addon-left"
               aria-label="..."
               class="form-control"
               placeholder="Username"
               type="text"/>
    </div>

    <div class="input-group">
        <input aria-describedby="basic-addon-right"
               aria-label="..."
               class="form-control"
               placeholder="Recipient's username"
               type="text"/>
        <span class="input-group-addon" id="basic-addon-right">@example.com</span>
    </div>

    <div class="input-group">
        <span class="input-group-addon">$</span>
        <input  aria-label="Amount (to the nearest dollar)"
                class="form-control"
                type="text" />
        <span class="input-group-addon">.00</span>
    </div>

    {% highlight html %}
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon-left-example">@</span>
        <input aria-describedby="basic-addon-left-example"
               aria-label="..."
               class="form-control"
               placeholder="Username"
               type="text"/>
    </div>

    <div class="input-group">
        <input aria-describedby="basic-addon-right-example"
               aria-label="..."
               class="form-control"
               placeholder="Recipient's username"
               type="text"/>
        <span class="input-group-addon" id="basic-addon-right-example">@example.com</span>
    </div>

    <div class="input-group">
        <span class="input-group-addon">$</span>
        <input  aria-label="Amount (to the nearest dollar)"
                class="form-control"
                type="text" />
        <span class="input-group-addon">.00</span>
    </div>
    {% endhighlight %}

    <h3 id="input-groups-sizing" class="status status-chat">Sizing</h3>

    <p>Add the relative form sizing classes to the <code>.input-group</code> itself and contents within will
        automatically resize—no need for repeating the form control size classes on each element.</p>

        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon-lg">@</span>
            <input aria-describedby="sizing-addon-lg"
                   aria-label="..."
                   class="form-control"
                   placeholder="Username"
                   type="text" />
        </div>

        <div class="input-group">
            <span class="input-group-addon" id="sizing-addon-md">@</span>
            <input  aria-describedby="sizing-addon-md"
                    aria-label="Username4"
                    class="form-control"
                    placeholder="Username"
                    type="text" />
        </div>

        <div class="input-group input-group-sm">
            <span class="input-group-addon" id="sizing-addon-sm">@</span>
            <input  aria-describedby="sizing-addon-sm"
                    aria-label="..."
                    class="form-control"
                    placeholder="Username"
                    type="text" />
        </div>

    {% highlight html %}
    <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon-lg-example">@</span>
        <input aria-describedby="sizing-addon-lg-example"
               aria-label="..."
               class="form-control"
               placeholder="Username"
               type="text" />
    </div>

    <div class="input-group">
        <span class="input-group-addon" id="sizing-addon-md-example">@</span>
        <input  aria-describedby="sizing-addon-md-example"
                aria-label="Username4"
                class="form-control"
                placeholder="Username"
                type="text" />
    </div>

    <div class="input-group input-group-sm">
        <span class="input-group-addon" id="sizing-addon-sm-example">@</span>
        <input  aria-describedby="sizing-addon-sm-example"
                aria-label="..."
                class="form-control"
                placeholder="Username"
                type="text" />
    </div>
    {% endhighlight %}
</section>
