.container {
  background-color: #f28b4c;
}
.row {
  background-color: #d9e999;
}
.well {
  background-color: #ffbfbf;
}
.well.overlay-medium {
  background-color: #222;
}
.well.show-well * {
  background-color: #fff;
}
