<!-- Footer
================================================== -->
<footer class="bs-docs-footer overlay-dark-1">
  <div class="container">
      <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
              {% for item in site.data.navigation.items %}
              <div class="col-md-2 col-sm-6">
                  <ul class="list-text">
                      <li><a class="h3 link_header-overlay" href="{{ site.github.url }}/{{ item.href }}">{{ item.label }}</a></li>
                      {% for nested in item.subCats %}
                      <li>
                          <a class="nested" href="{{ site.github.url }}/{{ nested.href }}">{{ nested.label }}</a>
                      </li>
                      {% endfor %}
                  </ul>
              </div>
              {% endfor %}
          </div>
      </div>
    <ul class="footer-inline-list">
    <li><a class="nested" href="{{ site.data.package.urls.styleguide }}">Style Guide</a></li>
    <li><a class="nested" href="{{ site.data.package.urls.erl }}">Element Reference Library</a></li>
    <li><a class="nested" href="{{ site.data.package.urls.repo }}">REI Cedar</a></li>
    <li><a class="nested" href="{{ site.data.package.urls.fed_docs }}">Front End Developer Wiki</a></li>
    </ul>
  </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="{{ site.github.url }}/assets/js/rei-cedar.js"></script>
<script src="{{ site.github.url }}/assets/js/vendor/particles.min.js"></script>

{% if site.github %}
    <script type="text/javascript">window.sitename = '{{ site.github.url }}';</script>
{% else %}
    <script type="text/javascript">window.sitename = '';</script>
{% endif %}

<script src="{{ site.github.url }}/assets/js/main.js"></script>

{% if site.github %}
  <script src="{{ site.github.url }}/assets/js/docs.min.js"></script>
{% else %}
  {% for file in site.data.configBridge.paths.docsJs %}
  <script src="{{ file }}"></script>
  {% endfor %}
{% endif %}


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{ site.github.url }}/assets/js/ie10-viewport-bug-workaround.js"></script>
