<section class="vertical-push-3">
    <h3 id="helper-classes-screen-readers">Screen reader and keyboard navigation content</h3>
    <p>Hide an element to all devices <strong>except screen readers</strong> with <code>.sr-only</code>. Combine <code>.sr-only</code> with <code>.sr-only-focusable</code> to show the element again when it's focused (e.g. by a keyboard-only user). Necessary for following <a href="../getting-started#accessibility">accessibility best practices</a>. Can also be used as mixins.</p>
    {% highlight html %}
    <a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>
    {% endhighlight %}
    {% highlight scss %}
    // Usage as a mixin
    .skip-navigation {
    .sr-only();
    .sr-only-focusable();
    }
    {% endhighlight %}
</section>
