<section class="vertical-push-3">
    <h2 id="helper-classes-center">Center content blocks</h2>
    <p>Set an element to <code>display: block</code> and center via <code>margin</code>. Available as a mixin and class.</p>
    {% highlight html %}
    <div class="center-block">...</div>
    {% endhighlight %}
    {% highlight scss %}
    // Class
    .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

    // Usage as a mixin
    .element {
    .center-block();
    }
    {% endhighlight %}
</section>
