<section class="vertical-push-3">
    <h2 id="helper-classes-show-hide">Showing and hiding content</h2>
    <p>Force an element to be shown or hidden (<strong>including for screen readers</strong>) with the use of <code>.show</code> and <code>.hidden</code> classes. These classes use <code>!important</code> to avoid specificity conflicts, just like the <a href="#helper-classes-floats">quick floats</a>. They are only available for block level toggling. They can also be used as mixins.</p>
    <p>Furthermore, <code>.invisible</code> can be used to toggle only the visibility of an element, meaning its <code>display</code> is not modified and the element can still affect the flow of the document.</p>
    {% highlight html %}
    <div class="show">...</div>
    <div class="hidden">...</div>
    {% endhighlight %}
    {% highlight scss %}
    // Classes
    .show {
    display: block !important;
    }
    .hidden {
    display: none !important;
    visibility: hidden !important;
    }
    .invisible {
    visibility: hidden;
    }

    // Usage as mixins
    .element {
    .show();
    }
    .another-element {
    .hidden();
    }
    {% endhighlight %}
</section>
