
$duration: 150ms;
$smMin: 576px;
$overlayColor: rgba(26, 26, 26, .6); // $cdr-color-background-darker
$contentColor: #fff;
$modalBorderRadius: .5rem;

$dialog-margins-vertical: $cdr-space-four-x * 2; // 12.8rem
$dialog-padding-vertical: $cdr-space-one-and-a-half-x; // 2.4rem
$header-padding-bottom: $cdr-space-one-x; // 1.6rem
$title-line-height: $cdr-space-two-x; // 3.2rem

// total up internal padding to get max height of text
$header-height: $header-padding-bottom + $title-line-height;
$modal-total-padding: #{$dialog-margins-vertical + $header-height + $dialog-padding-vertical * 2};
$modal-text-max-height: calc(100vh - #{$modal-total-padding});