<section class="vertical-push-3">
    <h2 class="status status-good" id="alerts">Alerts</h2>
  <p class="lead">Provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages.</p>

    <p>Wrap any text and an optional dismiss button in <code>.alert</code> and one of the four contextual classes (e.g.,
        <code>.alert-success</code>) for basic alert messages.</p>
    <div class="bs-callout bs-callout-info" id="callout-alerts-no-default">
        <h4>No default class</h4>
        <p>Alerts don't have default classes, only base and modifier classes. A default gray alert doesn't make too much
            sense, so you're required to specify a type via contextual class. Choose from success, info, warning, or
            danger.</p>
    </div>
    <div class="well overlay-dark-1" data-example-id="simple-alerts">
        <div class="alert alert-success" role="alert">
            <span class="icon icon-rei-success" aria-hidden="true"></span>
            <span class="alert-text">
                <span class="sr-only">Success:</span>
                This is an availability message. Used to indicate that a product is available.
            </span>
        </div>
        <div class="alert alert-info" role="alert">
            <span class="icon icon-rei-info" aria-hidden="true"></span>
            <span class="alert-text">
                This is an informational message. Used to provide lower-level visual contrast for transactional
                messaging.
            </span>
        </div>
        <div class="alert alert-warning" role="alert">
            <span class="icon icon-rei-warning" aria-hidden="true"></span>
            <span class="alert-text">
                <span class="sr-only">Warning:</span>
                This is an alert message. Used to provide visual weight for key transactional messaging. Limited usage.
            </span>
        </div>
        <div class="alert alert-warning" role="alert">
            <span class="icon icon-rei-backorder" aria-hidden="true"></span>
            <span class="alert-text">
                <span class="sr-only">Warning:</span>
                This item is backorderable
            </span>
        </div>
        <div class="alert alert-danger" role="alert">
            <span class="icon icon-rei-error" aria-hidden="true"></span>
            <span class="alert-text">
                 <span class="sr-only">Error:</span>
                This is an error message. Displayed to a user due to user or system error.
            </span>
        </div>
    </div>
{% highlight html %}
<div class="alert alert-success" role="alert">...</div>
<div class="alert alert-info" role="alert">...</div>
<div class="alert alert-warning" role="alert">...</div>
<div class="alert alert-danger" role="alert">...</div>
{% endhighlight %}

    <h3 id="alerts-dismissible" class="status status-chat">Dismissible alerts</h3>
    <p>
        Build on any alert by adding an optional <code>.alert-dismissible</code> and close button.
    </p>
    <div class="bs-callout bs-callout-info" id="callout-alerts-dismiss-plugin">
        <h4>Requires JavaScript alert plugin</h4>
        <p>
            For fully functioning, dismissible alerts, you must use the
            <a href="#alerts">alerts JavaScript plugin</a>.
        </p>
    </div>
    <div class="well" data-example-id="dismissible-alert-css">
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span class="icon icon-rei-close-small" aria-hidden="true"></span>
            </button>
            <span class="icon icon-rei-warning" aria-hidden="true"></span>
            <span class="alert-text">
                <span class="sr-only">Warning:</span>
                This is an alert message. Used to provide visual weight for key transactional messaging. Limited usage.
            </span>
        </div>
    </div>
{% highlight html %}
<div class="well" data-example-id="dismissible-alert-css">
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span class="icon icon-rei-close-small" aria-hidden="true"></span>
        </button>
        <span class="icon icon-rei-warning" aria-hidden="true"></span>
        <span class="sr-only">Warning:</span>
        This is an alert message. Used to provide visual weight for key transactional messaging. Limited usage.
    </div>
</div>
{% endhighlight %}

    <div class="bs-callout bs-callout-warning" id="callout-alerts-dismiss-use-button">
        <h4>Ensure proper behavior across all devices</h4>

        <p>Be sure to use the <code>&lt;button&gt;</code> element with the <code>data-dismiss="alert"</code> data
            attribute.</p>
    </div>
</section>
<section class="vertical-push-3">
    {% include /style-and-behavior/js/alerts.html %}
</section>
