@mixin cdr-breadcrumb-item-mixin() {
  color: $cdr-color-text-secondary;
}

@mixin cdr-breadcrumb-item-linked-mixin() {
  text-decoration: none;
  color: inherit;
  &:hover,
  &:active,
  &:focus {
    color: $cdr-color-text-link-hover;
  }
}

@mixin cdr-breadcrumb-xs-text-mixin() {
  @include cdr-text-utility-sans-100;
}

@mixin cdr-breadcrumb-base-text-mixin() {
  @include cdr-text-utility-sans-200;
}
