@mixin cdr-breadcrumb-item-mixin() {
  color: $cdr-color-text-secondary-lightmode;
  fill: $cdr-color-text-secondary-lightmode;
  &:hover,
  &:active,
  &:focus {
    color: $cdr-color-text-primary-lightmode;
    fill: $cdr-color-text-primary-lightmode;
  }
}

@mixin cdr-breadcrumb-last-item-mixin() {
  color: $cdr-color-text-primary-lightmode;
  fill: $cdr-color-text-primary-lightmode;
}

@mixin cdr-breadcrumb-base-text-mixin() {
  @include cdr-text-utility-200;
}

@mixin cdr-breadcrumb-xs-text-mixin() {
  @include cdr-text-utility-100;
}
