<section class="vertical-push-3">
    <h2 id="buttons-icon-remove" class="status status-good">Filter - Remove</h2>

    <p>
        Enacting either the "X" or the button removes an applied filter selection. The scale of this button is consistent across all breakpoints.
    </p>
    <div class="well" data-example-id="button-filter-remove">
        <button class="btn btn-primary btn-contrast btn-xs btn-fixed remove-toggle">
            <span class="icon icon-rei-close-small" aria-hidden="true"></span>
            <span class="sr-only">Remove</span>
            <span>Active option 1</span>
        </button>
    </div>
    {% highlight html %}
    <button class="btn btn-primary btn-contrast btn-xs btn-fixed remove-toggle left">
        <span class="icon icon-rei-close-small" aria-hidden="true"></span>
        <span class="sr-only">Remove</span>
        <span>Active option 1</span>
    </button>
    {% endhighlight %}


    <h3 id="button-remove-single" class="status status-warning">Single</h3>

    <p>
        Use when you want to show a single item in a state of being "applied" or "active" (Example: Compare button
        for a single product). The inactive state for this button is the Core button style.
    </p>

    <div class="well">
        <div class="row">
            <div class="col-sm-6">
                <h4>Active State</h4>

                <button class="btn btn-default btn-xs btn-fixed remove-toggle remove-right" data-example-id="button-filter-remove-right">
                    <span class="icon icon-rei-close-small" aria-hidden="true"></span>
                    <span class="sr-only">Remove</span>
                    <span>Active option 1</span>
                </button>

            </div>
            <div class="col-sm-6">
                <h4>Inactive State</h4>
                <button class="btn btn-default btn-xs btn-fixed" data-example-id="button-filter-inactive">Inactive</button>
            </div>

        </div>
    </div>
    {% highlight html %}
    <button class="btn btn-default btn-xs btn-fixed remove-toggle remove-right">
        <span class="icon icon-rei-close-small" aria-hidden="true"></span>
        <span class="sr-only">Remove</span>
        <span>Active option 1</span>
    </button>
    {% endhighlight %}
    {% highlight html %}
    <button class="btn btn-default btn-xs btn-fixed">Inactive</button>
    {% endhighlight %}
</section>
