////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Themes
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//  Overlay Combinations
//
// accepts three parameters
// @background-color: used to set the background and border color.
// @border: Setting the border color here is done to allow child elements which use the border property to inherit the
// parent value. Defaults to @background-color.
// @color: used to set foreground color.
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.bg-variant( @background-color; @color: @text-color; @border-color: @background-color; ) {
    background-color: @background-color;
    border-color: @border-color;
    color: @color;
}
