@import '../../../css/settings/index.scss';

$modal-animation-duration: 150ms;

$dialog-margins-vertical: $cdr-space-four-x * 2; // 12.8rem
$dialog-padding-vertical: $cdr-space-one-and-a-half-x; // 2.4rem
$header-padding-bottom: $cdr-space-one-x; // 1.6rem
$title-line-height: $cdr-space-two-x; // 3.2rem

// total up internal padding to get max height of text
$header-height: $header-padding-bottom + $title-line-height;
$modal-total-padding: #{$dialog-margins-vertical + $header-height + $dialog-padding-vertical * 2};
$modal-text-max-height: calc(100vh - #{$modal-total-padding});

.cdr-modal {
  bottom: 0;
  height: 100%;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  right: 0;
  top: 0;
  visibility: visible;
  z-index: 1000;

  &__overlay {
    background-color: rgba(26, 26, 26, .6); // $cdr-color-background-darker
    bottom: 0;
    left: 0;
    opacity: 1;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity $modal-animation-duration;
    z-index: -1;
  }

  @media (min-width: 672px) {
    &__outerWrap {
      padding: 16px;
    }
  }

  &__outerWrap {
    display: flex;
    box-sizing: border-box;
    left: 0;
    min-height: 100%;
    // padding: 16px 20px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  &__contentWrap {
    align-items: flex-start;
    background-color: $cdr-color-background-lightest;
    display: flex;
    flex-direction: column;
    margin: auto;
    min-height: 100%;
    opacity: 1;
    padding: 24px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: opacity $modal-animation-duration $modal-animation-duration;
    width: 100%; // IE 11
    z-index: 0;
    &:focus {
      outline: 0;
    }
  }

  @media (min-width: 672px) {
    &__contentWrap {
      border-radius: 0.5rem; // TODO: 	cdr-radius-softer is 0.4rem?
      box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .5);
      min-height: auto;
      position: relative;
      top: auto;
      left: auto;
      right: auto;
    }
  }

  &__innerWrap {
    width: 100%; // IE 11
  }

  @media (min-width: 672px) {
    &__dialog {
      max-width: 640px;
    }
  }

  &__dialog {
    width: 100%;
    padding: $cdr-space-inset-one-and-a-half-x;
  }

  &__content {
    position: relative;
  }

  &__header {
    display: flex;
    padding: 0 0 $header-padding-bottom 0;
  }

  &__title {
    flex: auto;
    padding-right: $cdr-space-three-quarter-x;
  }

  &__close-button {
    align-self: flex-start;
    flex: none;
    line-height: normal; // TODO: remove this after button fix merges
  }

  &__text {
    padding: 0;
    position: relative;
  }

  &__text-content {
    // max-height: $modal-text-max-height;
    overflow: auto;
    padding-right: 16px;
    position: relative;

    /* ie/edge/ff bug prevents using padding */
    &::after {
      content: "";
      display: block;
      height: $cdr-space-two-x;
      width: 100%;
    }
  }

  &__text-fade {
    position: absolute;
    bottom: 0;
    left: 0;
    height: $cdr-space-two-x;
    width: 98%;
    /* full transparency doesn't fly on safari */
    background: linear-gradient(rgba(255,255,255,0.001), rgba(255,255,255,1));
    background-attachment: scroll;
  }
}

.closed {
  transition: z-index 0s $modal-animation-duration * 2,
  visibility 0s $modal-animation-duration * 2;
  visibility: hidden;
  z-index: -1;

  .cdr-modal__overlay {
    opacity: 0;
    transition: opacity $modal-animation-duration $modal-animation-duration;
  }

  .cdr-modal__contentWrap {
    opacity: 0;
    transition: opacity $modal-animation-duration;
  }
}

.cdr-modal__noscroll {
  overflow: hidden !important;
  position: fixed !important;
  width: 100%;
}
