@import '../../../css/settings/index.scss';

$duration: 150ms;
$smMin: 576px;
$overlayColor: rgba(0, 0, 0, .4);
$contentColor: #fff;
$modalBorderRadius: .5rem;

:export {
  animationDuration: 300;
}

.modal {
  bottom: 0;
  height: 100%;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  right: 0;
  top: 0;
  visibility: visible;
  z-index: 1000;
}

.closed {
  transition: z-index 0s $duration * 2,
  visibility 0s $duration * 2;
  visibility: hidden;
  z-index: -1;

  .overlay {
    opacity: 0;
    transition: opacity $duration $duration;
  }

  .contentWrap {
    opacity: 0;
    transition: opacity $duration;
  }
}


.overlay {
  background-color: $overlayColor;
  bottom: 0;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity $duration;
  z-index: -1;
}

.outerWrap {
  display: flex;
  box-sizing: border-box;
  left: 0;
  min-height: 100%;
  padding: 16px 20px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.noscroll {
  overflow: hidden !important;
  position: fixed !important;
  width: 100%;
}

.contentWrap {
  align-items: flex-start;
  background-color: $contentColor;
  border-radius: $modalBorderRadius;
  box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .5);
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 40rem;
  opacity: 1;
  padding: 20px;
  position: relative;
  transition: opacity $duration $duration;
  width: 100%; // IE 11
  z-index: 0;
  &:focus {
    outline: 0;
  }
}

.innerWrap {
  width: 100%; // IE 11
}

@media (min-width: $smMin) {
  .content-wrap {
    padding: 1.6rem;
  }
}

$dialog-margins-vertical: $cdr-space-four-x * 2; // 12.8rem
$dialog-padding-vertical: $cdr-space-one-and-a-half-x; // 2.4rem
$header-padding-bottom: $cdr-space-one-x; // 1.6rem
$title-line-height: $cdr-space-two-x; // 3.2rem

// total up internal padding to get max height of text
$header-height: $header-padding-bottom + $title-line-height;
$modal-total-padding: #{$dialog-margins-vertical + $header-height + $dialog-padding-vertical * 2};
$modal-text-max-height: calc(100vh - #{$modal-total-padding});

.pdp-modal {
  &__dialog {
    max-height: calc(100vh - #{$dialog-margins-vertical});
    max-width: 60rem;
    padding: $dialog-padding-vertical;

     &:global(.large) {
      max-width: 80rem;
    }
  }

  &__content {
    position: relative;
  }

  &__header {
    display: flex;
    padding: 0 0 $header-padding-bottom 0;
  }

  &__title {
    flex: auto;
    padding-right: $cdr-space-three-quarter-x;
  }

  &__close-button {
    flex: none;
    padding: 0 0 0 $cdr-space-quarter-x !important;
    margin-right: -$cdr-space-half-x;
  }

  &__text {
    padding: 0;
    position: relative;
  }

  &__text-content {
    max-height: $modal-text-max-height;
    overflow: auto;

    /* ie/edge/ff bug prevents using padding */
    &::after {
      content: "";
      display: block;
      height: $cdr-space-two-x;
      width: 100%;
    }
  }

  &__text-fade {
    position: absolute;
    bottom: 0;
    left: 0;
    height: $cdr-space-two-x;
    width: 98%;
    /* full transparency doesn't fly on safari */
    background: linear-gradient(rgba(255,255,255,0.001), rgba(255,255,255,1));
    background-attachment: scroll;
  }
}
