@mixin cdr-link-base-mixin() {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  align-items: center;
  background-color: transparent;
  border: 0;
  margin: 0;
  color: $cdr-color-text-link-rest;
  fill: $cdr-color-text-link-rest;
  cursor: pointer;
  display: inline-flex;
  outline: none;
  padding: 0;
  text-decoration: underline;
  vertical-align: top;

  /* States
    ---------- */

  &:active,
  &:focus {
    color: $cdr-color-text-link-active;
  }

  &:hover {
    color: $cdr-color-text-link-hover;
    text-decoration: none;
  }

  &:focus {
    outline: $default-outline;
    outline-color: -webkit-focus-ring-color;
    outline-offset: 0;
  }

}

@mixin cdr-link-inherit-color-mixin() {
  fill: inherit;
  color: inherit;

  &:active,
  &:hover,
  &:focus {
    color: inherit;
    fill: inherit;
  }
}

@mixin cdr-link-standalone-mixin() {
  text-decoration: none;

  &:hover,
  &:active,
  &:focus,
  &:visited {
    text-decoration: underline;
  }
}

@mixin cdr-link-inset-small-mixin() {
  padding: $cdr-space-inset-three-quarter-x-squish;
  font-size: 14px;
  line-height: 18px;
}

@mixin cdr-link-inset-medium-mixin() {
  padding: $cdr-space-inset-one-x-squish;
  font-size: 16px;
  line-height: 22px;
}

@mixin cdr-link-inset-large-mixin() {
  padding: $cdr-space-inset-one-and-a-half-x-squish;
  font-size: 18px;
  line-height: 24px;
}

@mixin cdr-link-inset-base-text-mixin() {
  font-family: $cdr-font-family-sans;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -.08px;
  vertical-align: middle;
  display: inline-flex;
}
