$cdr-link-base-text-font-family: inherit;
$cdr-link-base-text-font-size: inherit;
$cdr-link-base-text-line-height: inherit;
$cdr-link-base-space-align-items: center;
$cdr-link-base-color-background: transparent;
$cdr-link-base-color-border: 0;
$cdr-link-base-space-margin: 0;
$cdr-link-base-color-text: $cdr-color-text-link-lightmode;
$cdr-link-base-ui-cursor: pointer;
$cdr-link-base-space-display: inline-flex;
$cdr-link-base-color-fill: $cdr-color-text-link-lightmode;
$cdr-link-base-color-outline: none;
$cdr-link-base-space-padding: 0;
$cdr-link-base-text-decoration: underline;
$cdr-link-base-space-vertical-align: top;

$cdr-link-base-color-text-hover: $cdr-color-text-link-lightmode;
$cdr-link-base-color-outline-hover: none;
$cdr-link-base-text-decoration-hover: underline;

$cdr-link-base-color-text-active: $cdr-color-text-link-lightmode;
$cdr-link-base-color-outline-active: none;
$cdr-link-base-text-decoration-active: underline;

$cdr-link-base-color-text-focus: $cdr-color-text-link-lightmode;
$cdr-link-base-color-outline-focus: $default-outline;
$cdr-link-base-space-outline-offset-focus: 0;
$cdr-link-base-text-decoration-focus: underline;

$cdr-link-standalone-text-decoration: none;
$cdr-link-standalone-text-decoration-hover: underline;
$cdr-link-standalone-text-decoration-active: underline;
$cdr-link-standalone-text-decoration-focus: underline;
$cdr-link-standalone-text-decoration-visited: underline;
