@mixin cdr-link-base-mixin() {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  align-items: center;
  background-color: transparent;
  border: 0;
  margin: 0;
  color: $cdr-color-text-link-rest;
  fill: $cdr-color-text-link-rest;
  cursor: pointer;
  display: inline-flex;
  outline: none;
  padding: 0;
  text-decoration: underline;
  vertical-align: top;

  /* States
    ---------- */

  &:active,
  &:focus {
    color: $cdr-color-text-link-active;
  }

  &:hover {
    color: $cdr-color-text-link-hover;
    text-decoration: none;
  }

  &:focus {
    outline: $default-outline;
    outline-color: -webkit-focus-ring-color;
    outline-offset: 0;
  }

}

@mixin cdr-link-standalone-mixin() {
  text-decoration: none;

  &:hover,
  &:active,
  &:focus,
  &:visited {
    text-decoration: underline;
  }
}
