@mixin cdr-link-base-mixin() {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  align-items: center;
  background-color: transparent;
  border: 0;
  margin: 0;
  color: $cdr-color-text-link-lightmode;
  fill: $cdr-color-text-link-lightmode;
  cursor: pointer;
  display: inline-flex;
  outline: none;
  padding: 0;
  text-decoration: underline;
  vertical-align: top;

  /* States
    ---------- */

  &:hover,
  &:active,
  &:focus {
    color: $cdr-color-text-link-lightmode;
    outline: none;
    text-decoration: underline;
  }

  &:focus {
    outline: $default-outline;
    outline-color: -webkit-focus-ring-color;
    outline-offset: 0;
  }
}

@mixin cdr-link-standalone-mixin() {
  text-decoration: none;

  &:hover,
  &:active,
  &:focus,
  &:visited {
    text-decoration: underline;
  }
}

@mixin cdr-link-lightmode-mixin() {
  color: $cdr-color-text-link-lightmode;
  fill: $cdr-color-text-link-lightmode;
}

@mixin cdr-link-darkmode-mixin() {
  color: $cdr-color-text-link-darkmode;
  fill: $cdr-color-text-link-darkmode;

}
