<section class="vertical-push-3">
    <h2 id="examples" class="page-header">Examples</h2>

    <p class="lead">Build on the basic template above with Bootstrap's many components. We encourage you to customize and adapt Bootstrap to suit your individual project's needs.</p>

    <h3 id="examples-framework">Using the framework</h3>
    <div class="row well">
        <div class="col-xs-6 col-md-4">
            <a class="thumbnail" href="{{ site.github.url }}/examples/starter-template/">
                <img src="{{ site.github.url }}/examples/screenshots/starter-template.jpg" alt="Starter template example">
            </a>
            <h4>Vertical Spacing Example</h4>
            <p>Color coded to show grid and well padding and margins.</p>
        </div>

        <div class="col-xs-6 col-md-4">
            <a class="thumbnail" href="{{ site.github.url }}/examples/grid/">
                <img src="{{ site.github.url }}/examples/screenshots/grid.jpg" alt="Multiple grids example">
            </a>
            <h4>Grids</h4>
            <p>Multiple examples of grid layouts with all four tiers, nesting, and more.</p>
        </div>
</section>
