<section class="vertical-push-3">
  <h2 id="intro-title" class="page-header">Introduction to the REI Pattern Library</h2>
  <h3 id="intro-pattern-lib-q1">What is a Pattern Library (PL)?</h3>
  <p>A pattern library is a collection of user interface design patterns. A user interface
     design pattern is a recurring solution that solve common design problems. Contained within
     these “patterns” are collections of design elements frequently used throughout the site.
     It is the library’s job to document all of these patterns/modules and define their behavior,
     appearance, and implementation.</p>
  <h3 id="intro-pattern-lib-q2">Why do we need a PL?</h3>
  <dl>
  	<dt><strong>Consistency of user experience</strong>
      <dd>Think of the PL as a “markup” contract between all individuals involved in
          creating/maintaining/improving a website (ie. developers, designers, and others) for
          the sake of everyone, customers and employees alike.</dd>
      <dd>A PL offers an easy way to duplicate <strong>existing</strong> design and
          functionality.</dd>
  	</dt>
  	<dt><strong>Reusability</strong>
  		<dd>PL prevents multiple web teams from reinventing the wheel and consequently saving time
          and money.</dd>
  		<dd>Making a global pattern allows teams to leverage other teams’ work.</dd>
  	</dt>
  	<dt><strong>Maintainability</strong>
  		<dd>Aids developers’ ability to work on others’ code and allows new developers to more
          easily get up to speed with an organization’s website if a pattern library already
          exists.</dd>
  	</dt>
  </dl>
  <a id="intro-pattern-lib-link" title="More info on pattern libraries" href="https://boagworld.com/
     design/pattern-library/"><p><strong>More info on pattern libraries.</strong></p></a>
  <h3 id="intro-bootstrap-q1">What is Bootstrap?</h3>
  <p>Bootstrap is a open-source front-end framework (a user-facing interface) for creating
     websites and web applications. It consists of design templates employing HTML and CSS and
     these templates provide structure for various interface components (forms, buttons,
     etc.).</p>
  <h3 id="intro-bootstrap-q2">How does Bootstrap relate to the PL?</h3>
  <p>The Pattern Library was forked from a previous version of Bootstrap. Essentially, Bootstrap
     provided the foundation for the PL. Yet, by forking Bootstrap, REI’s PL gains any and all
     functionality of Bootstrap that it wants as well as the freedom to customize the
     implementation of the inherited design templates.</p>
  <a id="intro-bootstrap-link" title="More info on Bootstrap" href="https://en.wikipedia.org/wiki/
     Bootstrap_(front-end_framework)"><p><strong>More info on Bootstrap.</strong></p></a>
</section>
