.cdr-link {
  @apply --link-theme;
  @apply --link-type;

  &--contrast,
  &--contrast:hover,
  &--contrast:active,
  &--contrast:focus,
  &--contrast:visited {
    color: var(--link-color-contrast);
  }

  &--overlay,
  &--overlay:hover,
  &--overlay:active,
  &--overlay:focus,
  &--overlay:visited {
    color: var(--link-color-overlay);
  }

  &--standalone {
    @apply --link-standalone-type;
  }
}
