
.cdr-box {
  padding: 1.6rem;
  display: block;

  &--no {
    &-top {
      padding-top: 0;
    }

    &-right {
      padding-right: 0;
    }

    &-bottom {
      padding-bottom: 0;
    }

    &-left {
      padding-left: 0;
    }
  }

  & + .cdr-card__block {
    padding-top: 0;
  }
}
