.cdr-card {
  @apply --glaze-light-10;
  @apply --decoration-radius-emphasis;

  box-shadow: 0 0.2rem 0.3rem 0 rgba(0, 0, 0, 0.3);
  width: 100%;

  &__body > .cdr-image {
    border-radius: var(--radius-emphasis) var(--radius-emphasis) 0 0;
  }

  &__block {
    padding: 1.6rem;
    display: block;

    & + .cdr-card__block {
      padding-top: 0;
    }
  }
}

