.cdr- {
  &h1 {
    font-size: 48px;
  }

  &h2 {
    font-size: 40px;
  }

  &h3 {
    font-size: 32px;
  }

  &h4 {
    font-size: 24px;
  }

  &h5 {
    font-size: 16px;
  }

  &h6 {
    font-size: 12px;
  }
}
