.cdr-select {
  @apply --sys-font-spruce-bdy-25;

  width: 100%;
  display: block;
  height: var(--select-height);
  border-width: var(--select-border-width);
  border-style: solid;
  border-color: var(--select-border-color);
  border-radius: var(--select-br);
  background-color: var(--select-background-color);

  &--size {
    height: auto;
  }
}
