.cdr-select {
  /* TODO
  @add-mixin sys-font-spruce-bdy-25;
  */
  width: 100%;
  display: block;
  height: $select-height;
  border-width: $select-border-width;
  border-style: solid;
  border-color: $select-border-color;
  border-radius: $select-br;
  background-color: $select-background-color;

  &--size {
    height: auto;
  }
}
