<p>Groups provide unique content grid and grid gutter options and also allow content containers such as card, tile and well various flex display options. Groups are intended to be homogenous rather than mixed.</p>

<h2>Group grid</h2>
<p>Like our Page Grid, Groups make use of columns for container separation and any gutter spacing requierments. These work in the same manner as the page grid columns and support display variation at the breakpoint level.</p>
<article class="card vertical-push-lg">
    <section class="card-block card-block-top" data-theme="light-20">
        <h3 class="h4">Grid Colunms changing display at breakpoints</h3>
    </section>
    <section class="card-block cedar-example">
        <div class="group group-display-fixed" data-theme="light-20">
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <section class="tile">
                    <div class="media-frame ratio-3-4 portrait center">
                        <img src="http://placehold.it/320x150" alt="Example image">
                    </div>
                        <div class="tile-block">
                        <p>Mauris ut orci eleifend, posuere ex sed, feugiat tellus. Donec quis nisl eget sapien ultrices viverra at eget nisi.</p>
                        </div>
                </section>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <section class="tile">
                    <div class="media-frame ratio-3-4 portrait center">
                        <img src="http://placehold.it/320x150" alt="Example image">
                    </div>
                        <div class="tile-block">
                        <p>Mauris ut orci eleifend, posuere ex sed, feugiat tellus. Donec quis nisl eget sapien ultrices viverra at eget nisi.</p>
                        </div>
                </section>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <section class="tile">
                    <div class="media-frame ratio-3-4 portrait center">
                        <img src="http://placehold.it/320x150" alt="Example image">
                    </div>
                    <div class="tile-block">
                        <p>Mauris ut orci eleifend, posuere ex sed, feugiat tellus. Donec quis nisl eget sapien ultrices viverra at eget nisi.</p>
                    </div>
                </section>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <section class="tile">
                    <div class="media-frame ratio-3-4 portrait center">
                        <img src="http://placehold.it/320x150" alt="Example image">
                    </div>
                        <div class="tile-block">
                        <p>Mauris ut orci eleifend, posuere ex sed, feugiat tellus. Donec quis nisl eget sapien ultrices viverra at eget nisi.</p>
                        </div>
                </section>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <section class="tile">
                    <div class="media-frame ratio-3-4 portrait center">
                        <img src="http://placehold.it/320x150" alt="Example image">
                    </div>
                        <div class="tile-block">
                        <p>Mauris ut orci eleifend, posuere ex sed, feugiat tellus. Donec quis nisl eget sapien ultrices viverra at eget nisi.</p>
                        </div>
                </section>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <section class="tile">
                    <div class="media-frame ratio-3-4 portrait center">
                        <img src="http://placehold.it/320x150" alt="Example image">
                    </div>
                        <div class="tile-block">
                        <p>Mauris ut orci eleifend, posuere ex sed, feugiat tellus. Donec quis nisl eget sapien ultrices viverra at eget nisi.</p>
                        </div>
                </section>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <section class="tile">
                    <div class="media-frame ratio-3-4 portrait center">
                        <img src="http://placehold.it/320x150" alt="Example image">
                    </div>
                        <div class="tile-block">
                        <p>Mauris ut orci eleifend, posuere ex sed, feugiat tellus. Donec quis nisl eget sapien ultrices viverra at eget nisi.</p>
                        </div>
                </section>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <section class="tile">
                    <div class="media-frame ratio-3-4 portrait center">
                        <img src="http://placehold.it/320x150" alt="Example image">
                    </div>
                        <div class="tile-block">
                        <p>Mauris ut orci eleifend, posuere ex sed, feugiat tellus. Donec quis nisl eget sapien ultrices viverra at eget nisi.</p>
                        </div>
                </section>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <section class="tile">
                    <div class="media-frame ratio-3-4 portrait center">
                        <img src="http://placehold.it/320x150" alt="Example image">
                    </div>
                        <div class="tile-block">
                        <p>Mauris ut orci eleifend, posuere ex sed, feugiat tellus. Donec quis nisl eget sapien ultrices viverra at eget nisi.</p>
                        </div>
                </section>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <section class="tile">
                    <div class="media-frame ratio-3-4 portrait center">
                        <img src="http://placehold.it/320x150" alt="Example image">
                    </div>
                        <div class="tile-block">
                        <p>Mauris ut orci eleifend, posuere ex sed, feugiat tellus. Donec quis nisl eget sapien ultrices viverra at eget nisi.</p>
                        </div>
                </section>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <section class="tile">
                    <div class="media-frame ratio-3-4 portrait center">
                        <img src="http://placehold.it/320x150" alt="Example image">
                    </div>
                        <div class="tile-block">
                        <p>Mauris ut orci eleifend, posuere ex sed, feugiat tellus. Donec quis nisl eget sapien ultrices viverra at eget nisi.</p>
                        </div>
                </section>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <section class="tile">
                    <div class="media-frame ratio-3-4 portrait center">
                        <img src="http://placehold.it/320x150" alt="Example image">
                    </div>
                        <div class="tile-block">
                        <p>Mauris ut orci eleifend, posuere ex sed, feugiat tellus. Donec quis nisl eget sapien ultrices viverra at eget nisi.</p>
                        </div>
                </section>
            </div>
        </div>
    </section>
    <div class="code-toggle--control checkbox toggle-show-hide text-xs-right" data-theme="light-20">
        <input
            type="checkbox"
            value=""
            id="group-col-default-example"
            data-toggle="collapse"
            data-target="#gutter-col-example"
        >
        <label for="group-col-default-example">View code</label>
    </div>
    <div class="collapse code-toggle--document" id="gutter-col-example" data-theme="light-20">
    {% highlight html %}
    <div class="group group-display-fixed" data-theme="light-20">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <section class="tile"></section>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <section class="tile"></section>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <section class="tile"></section>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <section class="tile"></section>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <section class="tile"></section>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <section class="tile"></section>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <section class="tile"></section>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <section class="tile"></section>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <section class="tile"></section>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <section class="tile"></section>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <section class="tile"></section>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <section class="tile"></section>
        </div>
    </div>
    {% endhighlight %}
    </div>
</article>

<h2>Group gutters</h2>
<p>Groups also make use of gutters for container separation, however unlike our Page Grid, Group gutters can be collapsed or open and their delimiter remains constant across breakpoints.</p>
<article class="card vertical-push-lg">
    <section class="card-block card-block-top" data-theme="light-20">
        <h3 class="h4">Collapsed Group gutter</h3>
    </section>
    <section class="card-block">
        <p>By default, Grid gutters are in a collapsed state. This is intended for usage where all content containers are related to a larger context and would be appropriate for wells or tiles.</p>
    </section>
    <section class="card-block cedar-example">
        <h4> Group with tiles</h4>
        <div class="group group-display-fixed" data-theme="light-20">
            <div class="col-xs-4">
                <section class="tile">
                    <div class="media-frame ratio-3-4 portrait center">
                        <img src="http://placehold.it/320x150" alt="Example image">
                    </div>
                    <div class="tile-block">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum, ex eget finibus tristique, erat augue scelerisque mauris, cursus efficitur dui ligula efficitur nibh.</p>
                    </div>
                </section>
            </div>
            <div class="col-xs-4">
                <section class="tile">
                    <div class="media-frame ratio-3-4 portrait center">
                        <img src="http://placehold.it/320x150" alt="Example image">
                    </div>
                    <div class="tile-block">
                        <p>Mauris ut orci eleifend, posuere ex sed, feugiat tellus. Donec quis nisl eget sapien ultrices viverra at eget nisi.</p>
                    </div>
                </section>
            </div>
            <div class="col-xs-4">
                <section class="tile">
                    <div class="media-frame ratio-3-4 portrait center">
                        <img src="http://placehold.it/320x150" alt="Example image">
                    </div>
                    <div class="tile-block">
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum, ex eget finibus tristique, erat augue scelerisque mauris, cursus efficitur dui ligula efficitur nibh.</p>
                        <p>Mauris ut orci eleifend, posuere ex sed, feugiat tellus. Donec quis nisl eget sapien ultrices viverra at eget nisi.</p>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <div class="code-toggle--control checkbox toggle-show-hide text-xs-right" data-theme="light-20">
        <input
            type="checkbox"
            value=""
            id="group-gutter-default-example"
            data-toggle="collapse"
            data-target="#gutter-default-example"
        >
        <label for="group-gutter-default-example">View code</label>
    </div>
    <div class="collapse code-toggle--document" id="gutter-default-example" data-theme="light-20">
    {% highlight html %}
    <div class="group group-display-fixed" data-theme="light-20">
        <div class="col-xs-4">
            <section class="tile"></section>
        </div>
        <div class="col-xs-4">
            <section class="tile"></section>
        </div>
        <div class="col-xs-4">
            <section class="tile"></section>
        </div>
    </div>
    {% endhighlight %}
    </div>
</article>

<article class="card vertical-push-lg">
    <div class="card-block card-block-top" data-theme="light-20"><h3 class="h4">Open Group gutter</h3></div>
    <div class="card-block"><p>By adding the <code>.group-gutter-open-10</code> class, Grid gutters create a separation between content containers. This is intended for usage where all content containers are self contained pieces of content and are appropriate for wells or cards.</p></div>

    <div class="card-block cedar-example">
        <h4> Group with Cards</h4>
        <div class="group group-display-fixed group-gutter-open-10" data-theme="light-20">
            <div class="col-xs-4">
                <article class="card">
                    <div class="card-media-top media-frame ratio-3-4 portrait center">
                        <img src="http://placehold.it/320x150" alt="Example image">
                    </div>
                    <div class="card-block">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum, ex eget finibus tristique, erat augue scelerisque mauris, cursus efficitur dui ligula efficitur nibh.</p>
                    </div>
                </article>
            </div>
            <div class="col-xs-4">
                <article class="card">
                    <div class="card-media-top media-frame ratio-3-4 portrait center">
                        <img src="http://placehold.it/320x150" alt="Example image">
                    </div>
                    <div class="card-block">
                        <p>Mauris ut orci eleifend, posuere ex sed, feugiat tellus. Donec quis nisl eget sapien ultrices viverra at eget nisi.</p>
                    </div>
                </article>
            </div>
            <div class="col-xs-4">
                <article class="card">
                    <div class="card-media-top media-frame ratio-3-4 portrait center">
                        <img src="http://placehold.it/320x150" alt="Example image">
                    </div>
                    <div class="card-block">
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum, ex eget finibus tristique, erat augue scelerisque mauris, cursus efficitur dui ligula efficitur nibh.</p>
                        <p>Mauris ut orci eleifend, posuere ex sed, feugiat tellus. Donec quis nisl eget sapien ultrices viverra at eget nisi.</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div class="code-toggle--control checkbox toggle-show-hide text-xs-right" data-theme="light-20">
        <input
            type="checkbox"
            value=""
            id="group-gutter-open-10-example"
            data-toggle="collapse"
            data-target="#gutter-open-10-example"
        >
        <label for="group-gutter-open-10-example">View code</label>
    </div>
    <div class="collapse code-toggle--document" id="gutter-open-10-example" data-theme="light-20">
    {% highlight html %}
    <div class="group group-display-fixed group-gutter-open-10" data-theme="light-20">
        <div class="col-xs-4">
            <article class="card"></article>
        </div>
        <div class="col-xs-4">
            <article class="card"></article>
        </div>
        <div class="col-xs-4">
            <article class="card"></article>
        </div>
    </div>
    {% endhighlight %}
    </div>
</article>

<h2>Content containers options</h2>
<p>Content containers are wrappers for unique collections of content, they come in three unique variations.</p>
<article class="card vertical-push-lg">
    <div class="card-block card-block-top" data-theme="light-20"><h3 class="h4">Well</h3></div>
    <div class="card-block cedar-example">
        <div class="group group-display-fixed" data-theme="light-20">
            <div class="col-xs-4">
                <div class="well">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum, ex eget finibus tristique, erat augue scelerisque mauris, cursus efficitur dui ligula efficitur nibh.</p>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="well">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum, ex eget finibus tristique, erat augue scelerisque mauris, cursus efficitur dui ligula efficitur nibh.</p>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="well">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum, ex eget finibus tristique, erat augue scelerisque mauris, cursus efficitur dui ligula efficitur nibh.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="code-toggle--control checkbox toggle-show-hide text-xs-right" data-theme="light-20">
        <input
            type="checkbox"
            value=""
            id="group-well-example"
            data-toggle="collapse"
            data-target="#gutter-container-well-example"
        >
        <label for="group-well-example">View code</label>
    </div>
    <div class="collapse code-toggle--document" id="gutter-container-well-example" data-theme="light-20">
    {% highlight html %}
    <div class="group group-display-fixed" data-theme="light-20">
        <div class="col-xs-4">
            <div class="well"></div>
        </div>
        <div class="col-xs-4">
            <div class="well"></div>
        </div>
        <div class="col-xs-4">
            <div class="well"></div>
        </div>
    </div>
    {% endhighlight %}
    </div>
</article>

<article class="card vertical-push-lg">
    <section class="card-block card-block-top" data-theme="light-20"><h3 class="h4">Tile</h3></section>
    <section class="card-block cedar-example">
        <div class="group group-display-fixed" data-theme="light-20">
            <div class="col-xs-4">
                <section class="tile">
                    <div class="tile-block">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum, ex eget finibus tristique, erat augue scelerisque mauris, cursus efficitur dui ligula efficitur nibh.</p>
                    </div>
                </section>
            </div>
            <div class="col-xs-4">
                <section class="tile">
                    <div class="tile-block">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum, ex eget finibus tristique, erat augue scelerisque mauris, cursus efficitur dui ligula efficitur nibh.</p>
                    </div>
                </section>
            </div>
            <div class="col-xs-4">
                <section class="tile">
                    <div class="tile-block">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum, ex eget finibus tristique, erat augue scelerisque mauris, cursus efficitur dui ligula efficitur nibh.</p>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <div class="code-toggle--control checkbox toggle-show-hide text-xs-right" data-theme="light-20">
        <input
            type="checkbox"
            value=""
            id="group-tile-example"
            data-toggle="collapse"
            data-target="#gutter-tile-container-example"
        >
        <label for="group-tile-example">View code</label>
    </div>
    <div class="collapse code-toggle--document" id="gutter-tile-container-example" data-theme="light-20">
    {% highlight html %}
    <div class="group group-display-fixed" data-theme="light-20">
        <div class="col-xs-4">
            <section class="tile"></section>
        </div>
        <div class="col-xs-4">
            <section class="tile"></section>
        </div>
        <div class="col-xs-4">
            <section class="tile"></section>
        </div>
    </div>
    {% endhighlight %}
    </div>
</article>

<article class="card vertical-push-lg">
    <section class="card-block card-block-top" data-theme="light-20"><h3 class="h4">Card</h3></section>
    <section class="card-block cedar-example">
        <div class="group group-display-fixed group-gutter-open-10" data-theme="light-20">
            <div class="col-xs-4">
                <article class="card">
                    <section class="card-block">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum, ex eget finibus tristique, erat augue scelerisque mauris, cursus efficitur dui ligula efficitur nibh.</p>
                    </section>
                </article>
            </div>
            <div class="col-xs-4">
                <article class="card">
                    <section class="card-block">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum, ex eget finibus tristique, erat augue scelerisque mauris, cursus efficitur dui ligula efficitur nibh.</p>
                    </section>
                </article>
            </div>
            <div class="col-xs-4">
                <article class="card">
                    <section class="card-block">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum, ex eget finibus tristique, erat augue scelerisque mauris, cursus efficitur dui ligula efficitur nibh.</p>
                    </section>
                </article>
            </div>
        </div>
    </section>
    <div class="code-toggle--control checkbox toggle-show-hide text-xs-right" data-theme="light-20">
        <input
            type="checkbox"
            value=""
            id="group-card-example"
            data-toggle="collapse"
            data-target="#gutter-card-container-example"
        >
        <label for="group-card-example">View code</label>
    </div>
    <div class="collapse code-toggle--document" id="gutter-card-container-example" data-theme="light-20">
    {% highlight html %}
    <div class="group group-display-fixed group-gutter-open-10" data-theme="light-20">
        <div class="col-xs-4">
            <article class="card"></article>
        </div>
        <div class="col-xs-4">
            <article class="card"></article>
        </div>
        <div class="col-xs-4">
            <article class="card"></article>
        </div>
    </div>
    {% endhighlight %}
    </div>
</article>

<h2>Flex display options</h2>

<article class="card vertical-push-lg">
    <section class="card-block card-block-top" data-theme="light-20">
        <h3 class="h4">Defaut flex display</h3>
    </section>
    <section class="card-block">
        <p> Without providing any <code>.group-display-*</code> classes to your Group, you will have a display type that is consistent with the float display provided by the defalt page grid.
    </section>
    <section class="card-block cedar-example">
        <div class="group">
            <div class="col-xs-12 col-sm-4">
                 <section class="tile">
                      <div class="media-frame ratio-3-4 portrait center">
                          <img src="http://placehold.it/320x150" alt="Example image">
                      </div>
                      <div class="tile-block">
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum, ex eget finibus tristique, erat augue scelerisque mauris, cursus efficitur dui ligula efficitur nibh.</p>
                      </div>
                </section>
            </div>
            <div class="col-xs-12 col-sm-4">
                <section class="tile">
                    <div class="tile-block">
                        <p>Mauris ut orci eleifend, posuere ex sed, feugiat tellus. Donec quis nisl eget sapien ultrices viverra at eget nisi.</p>
                    </div>
                </section>
            </div>
            <div class="col-xs-12 col-sm-4">
                <section class="tile">
                    <div class="media-frame ratio-3-4 portrait center">
                        <img src="http://placehold.it/320x150" alt="Example image">
                    </div>
                    <div class="tile-block">
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum, ex eget finibus tristique, erat augue scelerisque mauris, cursus efficitur dui ligula efficitur nibh.</p>
                        <p>Mauris ut orci eleifend, posuere ex sed, feugiat tellus. Donec quis nisl eget sapien ultrices viverra at eget nisi.</p>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <div class="code-toggle--control checkbox toggle-show-hide text-xs-right" data-theme="light-20">
        <input
            type="checkbox"
            value=""
            id="dipslay-root-example"
            data-toggle="collapse"
            data-target="#dipslay-default-example"
        >
        <label for="dipslay-root-example">View code</label>
    </div>
    <div class="collapse code-toggle--document" id="dipslay-default-example" data-theme="light-20">
        {% highlight html %}
        <div class="group">
            <div class="col-xs-12 col-sm-4">
                 <section class="tile"></section>
            </div>
            <div class="col-xs-12 col-sm-4">
                <section class="tile"></section>
            </div>
            <div class="col-xs-12 col-sm-4">
                <section class="tile"></section>
            </div>
        </div>
        {% endhighlight %}
    </div>
</article>

<article class="card vertical-push-lg">
    <section class="card-block card-block-top" data-theme="light-20">
        <h3 class="h4">group-display-fixed</h3>
    </section>
    <section class="card-block">
        <p>Add the <code>.group-display-fixed</code> class to groups to force all containers to stretch to the same height.</p>
    </section>
    <section class="card-block cedar-example">
        <div class="group group-gutter-open-10 group-display-fixed" data-theme="light-20">
            <div class="col-xs-4">
                <article class="card">
                    <section class="card-media-top media-frame ratio-3-4 portrait center">
                        <img src="http://placehold.it/320x150" alt="Example image">
                    </section>
                    <section class="card-block">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum, ex eget finibus tristique, erat augue scelerisque mauris, cursus efficitur dui ligula efficitur nibh.</p>
                    </section>
                </article>
            </div>
            <div class="col-xs-4">
                <article class="card">
                    <section class="card-media-top media-frame ratio-3-4 portrait center">
                        <img src="http://placehold.it/320x150" alt="Example image">
                    </section>
                </article>
            </div>
            <div class="col-xs-4">
                <article class="card">
                    <section class="card-media-top media-frame ratio-3-4 portrait center">
                        <img src="http://placehold.it/320x150" alt="Example image">
                    </section>
                    <section class="card-block">
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum, ex eget finibus tristique, erat augue scelerisque mauris, cursus efficitur dui ligula efficitur nibh.</p>
                        <p>Mauris ut orci eleifend, posuere ex sed, feugiat tellus. Donec quis nisl eget sapien ultrices viverra at eget nisi.</p>
                    </section>
                </article>
            </div>
        </div>
    </section>
    <div class="code-toggle--control checkbox toggle-show-hide text-xs-right" data-theme="light-20">
        <input
            type="checkbox"
            value=""
            id="checkboxroot-example"
            data-toggle="collapse"
            data-target="#group-fixed-example"
        >
        <label for="checkboxroot-example">View code</label>
    </div>
    <div class="collapse code-toggle--document" id="group-fixed-example" data-theme="light-20">
        {% highlight html %}
        <div class="group group-gutter-open-10 group-display-fixed" data-theme="light-20">
            <div class="col-xs-4">
                <article class="card"></article>
            </div>
            <div class="col-xs-4">
                <article class="card"></article>
            </div>
            <div class="col-xs-4">
                <article class="card"></article>
            </div>
        </div>
        {% endhighlight %}
    </div>
</article>

<article class="card vertical-push-lg">
    <section class="card-block card-block-top" data-theme="light-20">
        <h3 class="h4">Fixed group of cards set to overflow</h3>
    </section>
    <section class="card-block"><p>Overflow changes the wrapping proporty to no wrap and allows for a horizontal scroll. This is available for the fixed or default group-display settings.</p></section>
    <section class="card-block cedar-example">
        <div class="group group-display-fixed group-gutter-open-10 group-display-overflow">
            <div class="col-xs-6">
                <article class="card">
                    <section class="media-frame ratio-3-4 portrait center">
                        <img src="http://placehold.it/320x150" alt="Example image">
                    </section>
                    <div class="group group-display-fixed">
                        <div class="col-xs-4">
                            <section class="tile">
                                <div class="media-frame ratio-3-4 portrait center">
                                    <img src="http://placehold.it/320x150" alt="Example image">
                                </div>
                            </section>
                        </div>
                        <div class="col-xs-4">
                            <section class="tile">
                                <div class="media-frame ratio-3-4 portrait center">
                                    <img src="http://placehold.it/320x150" alt="Example image">
                                </div>
                            </section>
                        </div>
                        <div class="col-xs-4">
                            <section class="tile">
                                <div class="media-frame ratio-3-4 portrait center">
                                    <img src="http://placehold.it/320x150" alt="Example image">
                                </div>
                            </section>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-xs-6">
                <article class="card">
                    <section class="media-frame ratio-3-4 portrait center">
                        <img src="http://placehold.it/320x150" alt="Example image">
                    </section>
                    <section class="card-block">
                        <p>Mauris ut orci eleifend, posuere ex sed, feugiat tellus. Donec quis nisl eget sapien ultrices viverra at eget nisi.</p>
                    </section>
                </article>
            </div>
            <div class="col-xs-6">
                <article class="card">
                    <section class="media-frame ratio-3-4 portrait center">
                        <img src="http://placehold.it/320x150" alt="Example image">
                    </section>
                    <section class="card-block">
                        <p>Mauris ut orci eleifend, posuere ex sed, feugiat tellus. Donec quis nisl eget sapien ultrices viverra at eget nisi.</p>
                    </section>
                    <section class="card-block" >
                        <p>Mauris ut orci eleifend, posuere ex sed, feugiat tellus. Donec quis nisl eget sapien ultrices viverra at eget nisi.</p>
                    </section>
                </article>
            </div>
        </div>
    </section>
    <div class="code-toggle--control checkbox toggle-show-hide text-xs-right" data-theme="light-20">
        <input
            type="checkbox"
            value=""
            id="group-overflow"
            data-toggle="collapse"
            data-target="#group-overflow-fixed-example"
        >
        <label for="group-overflow">View code</label>
    </div>
    <div class="collapse code-toggle--document" id="group-overflow-fixed-example" data-theme="light-20">
        {% highlight html %}
        <div class="group group-display-fixed group-display-overflow">
            <div class="col-xs-6">
                <section class="tile">
                    <div class="group group-display-fixed">
                        <div class="col-xs-4">
                            <section class="tile"></section>
                        </div>
                        <div class="col-xs-4">
                            <section class="tile"></section>
                        </div>
                        <div class="col-xs-4">
                            <section class="tile"></section>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-xs-6">
                <section class="tile"></section>
            </div>
            <div class="col-xs-6">
                <section class="tile"></section>
            </div>
        </div>
        {% endhighlight %}
    </div>
</article>

