@import '../../../css/settings/index.scss';
@import './vars/CdrCheckbox.vars.scss';
@import url('@rei/cedar/dist/style/cdr-label-wrapper.css');
.cdr-checkbox {
  /* Checked
  ========== */
  &__input:checked ~ .cdr-label-wrapper__figure {
    @include cdr-form-figure-checkbox-checked-mixin;

  }
  //
  // /* Indeterminate
  // ========== */
  &__input[indeterminate] ~ .cdr-label-wrapper__figure {
    box-shadow: inset 0 0 0 1px $cdr-color-border-input-default-selected;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 8px;
      height: 2px;
      background-color: $cdr-color-background-input-default-selected;
      border-radius: $cdr-radius-soft;
    }
  }
  //
  // /* Hover
  // ========== */
  &:hover {
    .cdr-label-wrapper__figure {
      @include cdr-form-figure-checkbox-hover-mixin;
    }

    .cdr-checkbox__input {
      /* Hover + Checked
      ========== */
      &:checked ~ .cdr-label-wrapper__figure {
        @include cdr-form-figure-checkbox-checked-hover-mixin;
      }

      /* Hover + Indeterminate
      ========== */
      &[indeterminate] ~ .cdr-label-wrapper__figure {
        box-shadow: inset 0 0 0 2px $cdr-color-border-input-default-selected-hover;
        &::after {
          background-color: $cdr-color-icon-checkbox-default-selected-hover;
        }
      }
    }
  }

  /* Disabled
  ========== */
  &__input:disabled {

    & ~ .cdr-label-wrapper__figure {
      @include cdr-form-figure-checkbox-disabled-mixin;
    }
    /* Disabled + Checked
    ========== */
    &:checked {
      & ~ .cdr-label-wrapper__figure {
        @include cdr-form-figure-checkbox-checked-disabled-mixin;
      }
    }

    /* Disabled + Indeterminate
    ========== */
    &[indeterminate] {
      & ~ .cdr-label-wrapper__figure {
        box-shadow: inset 0 0 0 1px $cdr-color-border-input-default-disabled !important;

        &::after {
          background-color: $cdr-color-background-input-default-disabled !important;
        }
      }
    }
  }

  /* Active
  ========== */
  &:active {
    .cdr-label-wrapper__figure, .cdr-checkbox__input:checked ~ .cdr-label-wrapper__figure  {
      @include cdr-form-figure-checkbox-active-mixin;
    }

    .cdr-checkbox__input[indeterminate] ~ .cdr-label-wrapper__figure::after {
      content: none;
    }
  }

  /* Focus
  ========== */
  &__input:focus ~ .cdr-label-wrapper__figure {
    @include cdr-form-figure-checkbox-focus-mixin;
  }

  &__input:focus:checked ~ .cdr-label-wrapper__figure {
    @include cdr-form-figure-checkbox-checked-focus-mixin;
  }
}
