@import '../../../css/settings/index.scss';
@import './vars/CdrCheckbox.vars.scss';
.cdr-checkbox {
  @include cdr-label-base-mixin;
  display: inline-block;
  margin: 0;
  position: relative;
  user-select: none;

  /* Elements
    ========================================================================== */

  /* Wrap
  ========== */
  &__wrap {
    /* get rid of inline-block whitespace from label element */
    font-size: 0;
    line-height: 1;
  }

  /* Input
  ========== */
  &__input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  /* Content
  ========== */
  &__content {
    user-select: text;
  }

  /* Figure
  ========== */
  &__figure {
    @include cdr-label-figure-medium-mixin;
    position: absolute;
    left: 0;
    border-radius: $cdr-radius-softer;
    background-color: $cdr-color-background-input-default;
    border: 1px solid $cdr-color-border-input-default;
  }

  /* States
    ========================================================================== */

  /* Checked
  ========== */
  &__input:checked ~ &__figure {
    border-color: $cdr-color-border-input-default-selected;
    background-color: $cdr-color-background-input-default-selected;
    background-image: svg-load('node_modules/@rei/cedar-icons/dist/icons/check-lg.svg', fill="#fff");
    background-repeat: no-repeat;
  }

  /* Indeterminate
  ========== */
  &__input[indeterminate] ~ .cdr-checkbox__figure {
    border-color: $cdr-color-border-input-default-selected;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 8px;
      height: 2px;
      background-color: $cdr-color-background-input-default-selected;
      border-radius: $cdr-radius-soft;
    }
  }

  /* Hover
  ========== */
  &:hover {
    & > .cdr-checkbox__figure {
      cursor: pointer;
      border-color: $cdr-color-border-input-default-hover;
      background-color: $cdr-color-background-input-default-hover;
    }

    & > .cdr-checkbox__content {
      @include cdr-label-hover-mixin;
    }

    & > .cdr-checkbox__input {
      /* Hover + Checked
      ========== */
      &:checked ~ .cdr-checkbox__figure {
        border-color: $cdr-color-border-input-default-selected-hover;
        background-color: $cdr-color-background-input-default-selected-hover;
      }

      /* Hover + Indeterminate
      ========== */
      &[indeterminate] ~ .cdr-checkbox__figure {
        border-color: $cdr-color-border-input-default-selected-hover;

        &::after {
          background-color: $cdr-color-background-input-default-selected-hover;
        }
      }
    }
  }

  /* Disabled
  ========== */
  &__input:disabled {
    & ~ .cdr-checkbox__content {
      @include cdr-label-disabled-mixin;
    }

    & ~ .cdr-checkbox__figure {
      border-color: $cdr-color-border-input-default-disabled !important;
      background-color: $cdr-color-background-input-default-disabled !important;
      cursor: not-allowed;
    }

    /* Disabled + Checked
    ========== */
    &:checked {
      & ~ .cdr-checkbox__figure {
        background-color: $cdr-color-background-input-default-disabled !important;
      }
    }

    /* Disabled + Indeterminate
    ========== */
    &[indeterminate] {
      & ~ .cdr-checkbox__figure {
        border-color: $cdr-color-border-input-default-disabled !important;

        &::after {
          background-color: $cdr-color-background-input-default-disabled !important;
        }
      }
    }
  }

  /* Active
  ========== */
  &:active > .cdr-checkbox__figure {
    border-color: $cdr-color-border-input-default-active;
  }

  /* Focus
  ========== */
  &__input:focus ~ .cdr-checkbox__figure {
    border-color: $cdr-color-border-input-default-active;
    box-shadow: $cdr-label-figure-box-shadow;
  }


  /* Sizes
    ========================================================================== */
  @include checkbox-small-mixin(&);
  @include checkbox-medium-mixin(&);
  @include checkbox-large-mixin(&);

  /* Breakpoint variants

  /* @xs
    0px - 767px
    ========== */
  @include xs-mq-only {
    @include checkbox-small-mixin(&, \@xs);
    @include checkbox-medium-mixin(&, \@xs);
    @include checkbox-large-mixin(&, \@xs);
  }

  /* @sm
    768px - 991px
    ========== */
  @include sm-mq-only {
    @include checkbox-small-mixin(&, \@sm);
      @include checkbox-medium-mixin(&, \@sm);
    @include checkbox-large-mixin(&, \@sm);
  }

  /* @md
    992px - 1199px
    ========== */
  @include md-mq-only {
    @include checkbox-small-mixin(&, \@md);
    @include checkbox-medium-mixin(&, \@md);
    @include checkbox-large-mixin(&, \@md);
  }

  /* @lg
    1200px and up
    ========== */

  @include lg-mq-only {
    @include checkbox-small-mixin(&, \@lg);
    @include checkbox-medium-mixin(&, \@lg);
    @include checkbox-large-mixin(&, \@lg);
  }

  /* Modifiers
    ========================================================================== */

  /* Hide Figure
    ========== */

  // TODO: remove compact?
  &--compact {
    @include cdr-label-small-mixin;
  }

  &--hide-figure {
    padding-left: 0;

    & > .cdr-checkbox__figure {
      display: none;
    }
  }
}
