@import '../../../css/settings/index.scss';
@import url('@rei/cedar/dist/style/cdr-label-wrapper.css');
.cdr-checkbox {
  /* Checked
  ========== */
  &__input:checked ~ .cdr-label-wrapper__figure {
    box-shadow: 0 0 0 2px $cdr-color-border-input-default-selected;
    background-color: $cdr-color-background-input-default-selected;
    background-image: svg-load('node_modules/@rei/cedar-icons/dist/icons/check-lg.svg', fill="#{$cdr-color-icon-checkbox-default-selected}");
    background-repeat: no-repeat;
  }
  //
  // /* Indeterminate
  // ========== */
  &__input[indeterminate] ~ .cdr-label-wrapper__figure {
    box-shadow: 0 0 0 1px $cdr-color-border-input-default-selected;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 8px;
      height: 2px;
      background-color: $cdr-color-background-input-default-selected;
      border-radius: $cdr-radius-soft;
    }
  }
  //
  // /* Hover
  // ========== */
  &:hover {
    .cdr-label-wrapper__figure {
      cursor: pointer;
      box-shadow: 0 0 0 2px $cdr-color-border-input-default-hover;
      background-color: $cdr-color-background-input-default-hover;
    }

    .cdr-checkbox__input {
      /* Hover + Checked
      ========== */
      &:checked ~ .cdr-label-wrapper__figure {
        box-shadow: 0 0 0 2px $cdr-color-border-input-default-selected-hover;
        background-color: $cdr-color-background-input-default-selected-hover;
        background-image: svg-load('node_modules/@rei/cedar-icons/dist/icons/check-lg.svg', fill="#{$cdr-color-icon-checkbox-default-selected-hover}");

      }

      /* Hover + Indeterminate
      ========== */
      &[indeterminate] ~ .cdr-label-wrapper__figure {
        box-shadow: 0 0 0 2px $cdr-color-border-input-default-selected-hover;
        &::after {
          background-color: $cdr-color-icon-checkbox-default-selected-hover;
        }
      }
    }
  }

  /* Disabled
  ========== */
  &__input:disabled {

    & ~ .cdr-label-wrapper__figure {
      box-shadow: 0 0 0 1px $cdr-color-border-input-default-disabled !important;
      background-color: $cdr-color-background-input-default-disabled !important;
      background-image: none !important;
    }

    & ~ .cdr-label-wrapper__content {
      // TODO: add token
      color: #b2ab9f;//$cdr-color-text-input-label-disabled;
    }

    /* Disabled + Checked
    ========== */
    &:checked {
      & ~ .cdr-label-wrapper__figure {
        background-color: $cdr-color-background-input-default-disabled !important;
      }
    }

    /* Disabled + Indeterminate
    ========== */
    &[indeterminate] {
      & ~ .cdr-label-wrapper__figure {
        box-shadow: 0 0 0 1px $cdr-color-border-input-default-disabled !important;

        &::after {
          background-color: $cdr-color-background-input-default-disabled !important;
        }
      }
    }
  }

  /* Active
  ========== */
  &__input:active ~ .cdr-label-wrapper__figure {
    box-shadow: 0 0 0 2px $cdr-color-border-input-default-active;
    background-color: $cdr-color-background-input-default-active;
    background-image: svg-load('node_modules/@rei/cedar-icons/dist/icons/check-lg.svg', fill="#{$cdr-color-icon-checkbox-default-selected-active}");

  }

  /* Focus
  ========== */
  &__input:focus ~ .cdr-label-wrapper__figure {
    box-shadow: 0 0 0 2px $cdr-color-border-input-default-focus;
  }
}
