/* ==========================================================================
  # CdrCheckbox

  All values should map to variables in
  vars/CdrCheckbox.vars.pcss
  in order to allow for theming

  TOC:

    :Base - Checkbox
      :Elements
        :wrap
        :input
        :figure
      :States
      :Modifiers
        :hide-figure
      :Sizes
========================================================================== */
@import '../../../css/settings/index.scss';
@import './vars/CdrCheckbox.vars.scss';
.cdr-checkbox {
  @include cdr-checkbox-text;
  position: relative;
  padding-left: calc(#{$checkbox-figure-size-medium} + #{$cdr-label-base-spacing});

  /* Elements
    ========================================================================== */

  /* Wrap
  ========== */
  &__wrap {
    /* get rid of inline-block whitespace from label element */
    font-size: 0;
    line-height: 1;
  }

  /* Input
  ========== */
  &__input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  /* Figure
  ========== */
  &__figure {
    position: absolute;
    top: $checkbox-figure-space-top;
    left: 0;
    width: $checkbox-figure-size-medium;
    height: $checkbox-figure-size-medium;
    border-radius: $checkbox-figure-radius;
    background-color: $checkbox-figure-background-color;
    border: 1px solid $checkbox-figure-border-color;
  }

  /* States
    ========================================================================== */

  /* Checked
  ========== */
  &__input:checked ~ &__figure {
    border-color: $checkbox-figure-checked-border-color;
    background-color: $checkbox-figure-checked-background-color;
    background-image: svg-load('node_modules/@rei/cedar-icons/dist/icons/check-lg.svg', fill=#{$checkbox-figure-icon-fill});
    background-repeat: no-repeat;
  }

  /* Indeterminate
  ========== */
  &__input[indeterminate] ~ .cdr-checkbox__figure {
    border-color: $checkbox-figure-indeterminate-border-color;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: $checkbox-figure-indeterminate-size;
      height: $checkbox-figure-indeterminate-size;
      background-color: $checkbox-figure-indeterminate-background-color;
      border-radius: $checkbox-figure-indeterminate-border-radius;
    }
  }

  /* Hover
  ========== */
  &:hover {
    & > .cdr-checkbox__figure {
      cursor: pointer;
      border-color: $checkbox-figure-hover-border-color;
      background-color: $checkbox-figure-hover-background-color;
    }

    & > .cdr-checkbox__content {
      @include cdr-label-hover-mixin;
    }

    & > .cdr-checkbox__input {
      /* Hover + Checked
      ========== */
      &:checked ~ .cdr-checkbox__figure {
        border-color: $checkbox-figure-checked-hover-border-color;
        background-color: $checkbox-figure-checked-hover-background-color;
      }

      /* Hover + Indeterminate
      ========== */
      &[indeterminate] ~ .cdr-checkbox__figure {
        border-color: $checkbox-figure-checked-hover-border-color;

        &::after {
          background-color: $checkbox-figure-checked-hover-background-color;
        }
      }
    }
  }

  /* Disabled
  ========== */
  &__input:disabled {
    & ~ .cdr-checkbox__content {
      @include cdr-label-disabled-mixin;
    }

    & ~ .cdr-checkbox__figure {
      border-color: $checkbox-figure-disabled-border-color !important;
      background-color: $checkbox-figure-disabled-background-color !important;
      cursor: default;
    }

    /* Disabled + Checked
    ========== */
    &:checked {
      & ~ .cdr-checkbox__figure {
        background-color: $checkbox-figure-checked-disabled-background-color !important;
      }
    }

    /* Disabled + Indeterminate
    ========== */
    &[indeterminate] {
      & ~ .cdr-checkbox__figure {
        border-color: $checkbox-figure-disabled-border-color !important;

        &::after {
          background-color: $checkbox-figure-checked-disabled-background-color !important;
        }
      }
    }
  }

  /* Active
  ========== */
  &:active > .cdr-checkbox__figure {
    border-color: $checkbox-figure-active-border-color;
  }

  /* Focus
  ========== */
  &__input:focus ~ .cdr-checkbox__figure {
    border-color: $checkbox-figure-focus-border-color;
    box-shadow: $checkbox-focus-outline;
  }

  /* Modifiers
    ========================================================================== */

  /* Hide Figure
    ========== */

  // TODO: remove compact?
  &--compact {
    @include cdr-checkbox-text-compact;
  }

  &--hide-figure {
    padding-left: 0;

    & > .cdr-checkbox__figure {
      display: none;
    }
  }

  /* Sizes
    ========================================================================== */
  @include cdr-checkbox-small-mixin(&);

  @include cdr-checkbox-medium-mixin(&);

  @include cdr-checkbox-large-mixin(&);

  /* Breakpoint variants

  /* @xs
    0px - 767px
    ========== */
  @include xs-mq-only {
    @include cdr-checkbox-small-mixin(&, \@xs);

    @include cdr-checkbox-medium-mixin(&, \@xs);

    @include cdr-checkbox-large-mixin(&, \@xs);
  }

  /* @sm
    768px - 991px
    ========== */
  @include sm-mq-only {
    @include cdr-checkbox-small-mixin(&, \@sm);

    @include cdr-checkbox-medium-mixin(&, \@sm);

    @include cdr-checkbox-large-mixin(&, \@sm);
  }

  /* @md
    992px - 1199px
    ========== */
  @include md-mq-only {
    @include cdr-checkbox-small-mixin(&, \@md);

    @include cdr-checkbox-medium-mixin(&, \@md);

    @include cdr-checkbox-large-mixin(&, \@md);
  }

  /* @lg
    1200px and up
    ========== */

  @include lg-mq-only {
    @include cdr-checkbox-small-mixin(&, \@lg);

    @include cdr-checkbox-medium-mixin(&, \@lg);

    @include cdr-checkbox-large-mixin(&, \@lg);
  }

}
