$checkbox-label-color: #292929;
$checkbox-figure-size: 16px;
$checkbox-figure-border-color: #616161;
$checkbox-figure-indeterminate-border-radius: $cdr-radius-soft;
$checkbox-figure-background-color: #ffffff;
$checkbox-focus-outline: 0 0 8px 0 rgb(50, 120, 174);
$checkbox-figure-checked-border-color: #3278ae;
$checkbox-figure-checked-background-color: #3278ae;
$checkbox-figure-active-border-color: #3278ae;
$checkbox-figure-space-top: 4px;
$checkbox-figure-checked-disabled-background-color: #dadada;
$checkbox-figure-radius: $cdr-radius-softer;
$checkbox-figure-indeterminate-size: 8px;
$checkbox-figure-hover-border-color: #616161;
$checkbox-figure-indeterminate-border-color: #3278ae;
$checkbox-figure-disabled-border-color: #dadada;
$checkbox-figure-hover-background-color: #fafafa;
$checkbox-label-disabled-color: #b8b8b8;
$checkbox-figure-indeterminate-background-color: #3278ae;
$checkbox-figure-disabled-background-color: #fafafa;
$checkbox-figure-focus-border-color: #3278ae;
$checkbox-figure-space-right: 8px;
$checkbox-figure-checked-hover-border-color: #2b6692;
$checkbox-figure-icon-fill: #ffffff;
$checkbox-compact-figure-space-top: 2px;
$checkbox-figure-checked-hover-background-color: #2b6692;