@mixin cdr-checkbox-text {
  @include cdr-text-utility-300;
  color: $cdr-color-text-form-label-lightmode;
  display: inline-block;
  margin: 0;
}

@mixin cdr-checkbox-text-compact {
  @include cdr-text-utility-200;
}

$checkbox-figure-size-small: 16px;
$checkbox-figure-size-medium: 16px;
$checkbox-figure-size-large: 20px;
$checkbox-figure-border-color: #616161;
$checkbox-figure-indeterminate-border-radius: $cdr-radius-soft;
$checkbox-figure-background-color: #ffffff;
$checkbox-figure-checked-border-color: #3278ae;
$checkbox-figure-checked-background-color: #3278ae;
$checkbox-figure-active-border-color: #3278ae;
$checkbox-figure-space-top: calc((#{$cdr-text-utility-300-height} - #{$checkbox-figure-size-medium}) / 2);
$checkbox-figure-checked-disabled-background-color: #dadada;
$checkbox-figure-radius: $cdr-radius-softer;
$checkbox-figure-indeterminate-size: 8px;
$checkbox-figure-hover-border-color: #616161;
$checkbox-figure-indeterminate-border-color: #3278ae;
$checkbox-figure-disabled-border-color: #dadada;
$checkbox-figure-hover-background-color: #fafafa;
$checkbox-figure-indeterminate-background-color: #3278ae;
$checkbox-figure-disabled-background-color: #fafafa;
$checkbox-figure-focus-border-color: #3278ae;
$checkbox-figure-checked-hover-border-color: #2b6692;
$checkbox-figure-icon-fill: #ffffff;
$checkbox-compact-figure-space-top: 2px;
$checkbox-figure-checked-hover-background-color: #2b6692;
$checkbox-focus-outline: 0 0 8px 0 rgb(50, 120, 174);

@mixin cdr-checkbox-small-mixin($parent-selector, $breakpoint: '') {
  &--small#{$breakpoint} {
    @include cdr-text-utility-200;
    padding-left: calc(#{$checkbox-figure-size-small} + #{$cdr-label-base-spacing});
    
    & > #{$parent-selector}__figure {
      top: calc((#{$cdr-text-utility-200-height} - #{$checkbox-figure-size-small}) / 2);
      width: $checkbox-figure-size-small;
      height: $checkbox-figure-size-small;
    }
  }
}

@mixin cdr-checkbox-medium-mixin($parent-selector, $breakpoint: '') {
  &--medium#{$breakpoint} {
    @include cdr-text-utility-300;
    padding-left: calc(#{$checkbox-figure-size-medium} + #{$cdr-label-base-spacing});
    
    & > #{$parent-selector}__figure {
      top: calc((#{$cdr-text-utility-300-height} - #{$checkbox-figure-size-medium}) / 2);
      width: $checkbox-figure-size-medium;
      height: $checkbox-figure-size-medium;
    }
  }
}

@mixin cdr-checkbox-large-mixin($parent-selector, $breakpoint: '') {
  &--large#{$breakpoint} {
    @include cdr-text-utility-300;
    padding-left: calc(#{$checkbox-figure-size-large} + #{$cdr-label-base-spacing});
    
    & > #{$parent-selector}__figure {
      top: calc((#{$cdr-text-utility-300-height} - #{$checkbox-figure-size-large}) / 2);
      width: $checkbox-figure-size-large;
      height: $checkbox-figure-size-large;
    }
  }
}
