////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  ████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
//  ╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
//     ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
//     ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
//     ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
//     ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝
//     To override a theme for an individual element specify theme name below
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Global
//----------------------------------------------------------------------------------------------------------------------
@site                  : 'default';
@reset                 : 'default';

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Elements
//----------------------------------------------------------------------------------------------------------------------
@anchors               : 'default';
@buttons               : 'default';
@checkbox-and-radio    : 'default';
@icons                 : 'default';
@inputs                : 'default';
@lists                 : 'default';
@typography            : 'default';

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Collections
//----------------------------------------------------------------------------------------------------------------------
@alerts                : 'default';
@button-groups         : 'default';
@input-groups          : 'default';
@list-groups           : 'default';
@breadcrumbs           : 'default';
@forms                 : 'default';
@tables                : 'default';

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Modules
//----------------------------------------------------------------------------------------------------------------------
@tabs                  : 'default';
@modals                : 'default';

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  Folders
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Path to theme packages
@themesFolder : 'themes';

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  Import Theme
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@import "theme.less";

