<div class="bs-icons {{ item.type }}">
   <ul class="bs-icons-list">
      {% for item in site.data.icons.rei-icons %}
          {% if item.type == include.param %}
            <li class="bs-icons-item">
                <div class="well">
                    <div class="media">
                        <div class="media-left media-bottom {% if item.type contains 'site-navigation' %} overlay-medium {% endif %}">
                            <span class="icon {{ item.name }}" aria-hidden="true"></span>
                        </div>
                        <div class="media-body media-middle {% if item.type != 'content' %} pull-right {% endif %}">
                            <h5 class="media-heading">{{ item.title }}</h5>
                        </div>
                    </div>
                  <dl>
                    <dt>icon {{ item.name }}</dt>
                    <dd> {{ item.description }}</dd>
                    <dd><strong>This icon is set display at {{ item.designSize }} and inherits <br /> <code>{{ item.size }}</code></strong></dd>
                    <dd class="note vertical-pull-lg"> {{ item.note }} </dd>
                  </dl>
                </div>
            </li>
          {% endif %}
      {% endfor %}
   </ul>
</div>
