<div class="bs-icons rating">
  <div class="well">
    <input name="myrating" type="radio" value="5" />
    <span class="icon icon-rei-star-100" aria-hidden="true"></span>
    <input name="myrating" type="radio" value="4" />
    <span class="icon icon-rei-star-100" aria-hidden="true"></span>
    <input name="myrating" type="radio" value="3" />
    <span class="icon icon-rei-star-100" aria-hidden="true"></span>
    <input name="myrating" type="radio" value="2" />
    <span class="icon icon-rei-star-100" aria-hidden="true"></span>
    <input name="myrating" type="radio" value="1" />
    <span class="icon icon-rei-star-100" aria-hidden="true"></span>
  </div>
</div>
