/* ==========================================================================
  # CdrPagination

  All values should map to variables in
  vars/CdrPagination.vars.pcss
  in order to allow for theming

  TOC:

    :Base - CdrPagination
========================================================================== */

.cdr-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;

  &__li {
    &--links {
      display: none;

      & + & {
        margin-left: $cdr-space-one-x;
      }
    }

    &--select {
      display: block;
    }
  }

  &__link {
    @include redwood-display-30();

    color: $cdr-color-text-primary-lightmode;
    display: block;
    padding: $cdr-space-inset-three-quarter-x-squish;
    text-decoration: none;

    &:global(.current) {
      box-shadow: inset 0 0 0 1px $cdr-color-border-primary-lightmode;
      border-radius: $cdr-radius-softer;

      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
      }
    }

    &:hover,
    &:focus,
    &:active {
      color: $cdr-color-text-primary-lightmode;
      text-decoration: underline;
    }
  }

  &__ellipse {
    display: block;
    padding: $cdr-space-inset-three-quarter-x-squish;
  }

  &__prev {
    display: flex;
    align-items: center;
    margin-right: $cdr-space-one-and-a-half-x;
  }

  &__next {
    display: flex;
    align-items: center;
    margin-left: $cdr-space-one-and-a-half-x;
  }

  &__caret {
    &--prev {
      margin-right: $cdr-space-eighth-x;
    }

    &--next {
      margin-left: $cdr-space-eighth-x;
    }
  }

  &__select {
    max-width: 240px;
  }

  /* Responsive */
  @include sm-mq {
    &__li--links {
      display: block;
    }

    &__li--select {
      display: none;
    }
  }
}
