/* ==========================================================================
  # CdrPagination
  
  All values should map to variables in
  vars/CdrPagination.vars.pcss
  in order to allow for theming

  TOC:

    :Base - CdrPagination
========================================================================== */
