@import '../../../css/settings/index.scss';
@import url('@rei/cedar/dist/style/CdrIcon.css');
@import url('@rei/cedar/dist/style/CdrSelect.css');
/* ==========================================================================
  # CdrPagination

  All values should map to variables in
  vars/CdrPagination.vars.pcss
  in order to allow for theming

  TOC:

    :Base - CdrPagination
========================================================================== */

.cdr-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;

  &__li {
    &--links {
      display: none;

      & + & {
        margin-left: $cdr-space-quarter-x;
      }
    }

    &--select {
      display: block;
    }
  }

  &__link {
    @include cdr-text-utility-300;

    color: $cdr-color-text-primary-lightmode;
    fill: $cdr-color-text-primary-lightmode;
    display: block;
    padding: $cdr-space-inset-three-quarter-x-squish;
    text-decoration: none;
    border-radius: $cdr-radius-softer;

    &:hover,
    &:focus,
    &:active {
      color: $cdr-color-text-primary-lightmode;
      background-color: $cdr-color-background-light;
    }

    &:global(.current) {
      color: $cdr-color-text-link-lightmode;
      position: relative;
      
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 2px;
        width: 80%;
        background-color: $cdr-color-text-link-lightmode;
      }
      
      &:hover,
      &:focus,
      &:active {
        color: $cdr-color-text-link-lightmode;
        text-decoration: none;
      }
    }

    &#{&}--disabled {
      color: $cdr-color-text-disabled-lightmode;
      fill: $cdr-color-text-disabled-lightmode;
      pointer-events: none;
      
      &:hover,
      &:focus,
      &:active {
        color: $cdr-color-text-disabled-lightmode;
        background-color: transparent;
      }
    }
  }

  &__ellipse {
    display: block;
    padding: $cdr-space-inset-three-quarter-x-squish;
  }

  &__prev {
    display: flex;
    align-items: center;
    margin-right: $cdr-space-one-x;
  }

  &__next {
    display: flex;
    align-items: center;
    margin-left: $cdr-space-one-x;
  }

  &__caret {
    &--prev {
      margin-right: $cdr-space-eighth-x;
    }

    &--next {
      margin-left: $cdr-space-eighth-x;
    }
  }

  /* Responsive */
  @include sm-mq {
    &__li--links {
      display: block;
    }

    &__li--select {
      display: none;
    }
  }
}
