<section class="vertical-push-3">
    <h2 id="type-title" class="page-header">Headings</h2>
    <h3 id="type-headings" class="status status-good">Core Headings</h3>

    <p>All HTML heading tags, <code>&lt;h1&gt;</code> through <code>&lt;h6&gt;</code>, are available.
        <code>.h1</code> through <code>.h6</code> classes are also available for core headings, when you want to match
        the font
        styling
        of a heading but still want your text to be displayed inline.</p>

    <div class="well " data-example-id="core-headings">
        {% include /markup-templates/typography/headings.html param="core" %}
    </div>
    {% highlight html %}
    <h1> H1 core </h1>

    <h1 class="h4"> H1 core styled as h4</h1>
    {% endhighlight %}

    <h3 id="type-headings-explore" class="status status-good">Explore/Impact Headings</h3>

    <p>Complementing the architectural type styles, these uppercase headline styles provide visual
        differentiation
        for storytelling elements. Apply the <code>.heading-editorial</code> class to any <code>
            &lt;h1&gt;</code>
        through <code>&lt;h6&gt;</code> to achieve the explore heading styles</p>

    <div class="well" data-example-id="explore-headings">
        {% include /markup-templates/typography/headings.html param="explore" %}
    </div>
    {% highlight html %}
    <h1 class="heading-editorial"> H1 explore </h1>
    {% endhighlight %}

    <h3 id="type-headings-hero" class="status status-good">Hero Headings</h3>

    <p>This family anchors large-scale mastheads with graphic or photographic backgrounds. Apply the
        <code>.heading-hero</code> class to any <code>&lt;h1&gt;</code> through <code>&lt;h6&gt;</code> to
        achieve the
        explore heading styles</p>

    <div class="well overlay-medium-1" data-example-id="hero-headings">
        {% include /markup-templates/typography/headings.html param="hero" %}
    </div>
    {% highlight html %}
    <h2 class="heading-hero"> H2 hero </h2>
    {% endhighlight %}

    <h3 id="type-headings-announce" class="status status-good">Announce Headings</h3>

    <p>These large-scale sizes are only used in limited situations for special campaigns and initiatives.</p>

    <div class="well" data-example-id="announcement-headings">
        {% include /markup-templates/typography/headings.html param="announce" %}
    </div>
    {% highlight html %}
    <h1 class="heading-announce"> H1 Announce </h1>
    {% endhighlight %}
</section>
