<section class="vertical-push-3">
    <h3 id="text-supplements-rule-line" class="status status-good">Basic rule line</h3>
    <h4>IMPORTANT NOTES:</h4>
    <ul>
        <li>The purpose of this typographic element is to provide clarity of message.</li>
        <li>Rule lines are to be used sparingly to visually separate elements of <strong> contrasting </strong>editorial
            intent.
        </li>
        <li>This line's width should match the width of the content block.</li>
    </ul>
    <div class="well" data-example-id="rule">
        <p>May the Force be with you...</p>
        <hr/>
        <p>Live long and prosper.</p>
    </div>
    {% highlight html %}
    <p>May the Force be with you...</p>
    <hr/>
    <p>Live long and prosper.</p>
    {% endhighlight %}
</section>
