.cdr-select {
  font-size: $sys-font-redwood-bdy-20-font-size;
  line-height: $sys-font-redwood-bdy-20-line-height;
  color: $sys-font-redwood-bdy-20-color;
  font-style: $sys-font-redwood-bdy-20-font-style;
  font-weight: $sys-font-redwood-bdy-20-font-weight;
  font-family: $sys-font-redwood-bdy-20-font-family;
  width: 100%;
  display: block;
  border-width: 1px;
  border-style: solid;
  height: calc(($spacing-space-sm * 2) + $sys-font-redwood-bdy-20-line-height);
  border-color: $sys-color-input-stroke;
  border-radius: $radius-input;
  background-color: $sys-color-input;

  &[disabled] {
    background-color: $sys-color-disabled-input;
  }

  &--size {
    height: auto;
  }
}
