<h2 class="page-header">Inputs</h2>
<p>Most common form control, text-based input fields. Includes support for all HTML5 types: <code>text</code>, <code>password</code>, <code>datetime</code>, <code>datetime-local</code>, <code>date</code>, <code>month</code>, <code>time</code>, <code>week</code>, <code>number</code>, <code>email</code>, <code>url</code>, <code>search</code>, <code>tel</code>, and <code>color</code>.</p>

<div class="bs-callout bs-callout-danger" id="callout-input-needs-type">
    <h5>Type declaration required</h5>
    <p>Inputs will only be fully styled if their <code>type</code> is properly declared.</p>
</div>
<div class="well" data-example-id="text-form-control">
    {% include /markup-templates/forms/type-text.html %}
</div><!-- /.well -->
{% highlight html %}
{% include /markup-templates/forms/type-text.html %}
{% endhighlight %}

<div class="bs-callout bs-callout-info" id="callout-xref-input-group">
    <h5>Input groups</h5>
    <p>To add integrated text or buttons before and/or after any text-based <code>&lt;input&gt;</code>, <a href="/input-groups.html">check out the input group component</a>.</p>
</div>
