
<section class="vertical-push-3">

    <h3 id="forms-control-focus" class="status status-chat">Focus state</h3>

    <p>We remove the default <code>outline</code> styles on some form controls and apply a <code>box-shadow</code> in
        its place for <code>:focus</code>.</p>

    <div class="well">
        {% include /markup-templates/forms/forms-control-focus.html %}
    </div>

    <div class="bs-callout bs-callout-info" id="callout-focus-demo">
        <h5>Demo <code>:focus</code> state</h5>

        <p>The above example input uses custom styles in our documentation to demonstrate the <code>:focus</code> state
            on a <code>.form-control</code>.</p>
    </div>

    <h3 id="forms-control-disabled" class="status status-chat">Disabled state</h3>

    <p>Add the <code>disabled</code> boolean attribute on an input to prevent user interactions. Disabled inputs appear
        lighter and add a <code>not-allowed</code> cursor.</p>

    <div class="well" data-example-id="text-form-control-disabled">
        {% include /markup-templates/forms/forms-control-disabled.html %}
    </div>
    <!-- /.well -->
    {% highlight html %}
    {% include /markup-templates/forms/forms-control-disabled.html %}
    {% endhighlight %}



    <h3 id="forms-control-read-only" class="status status-chat">Read-only state</h3>

    <p>Add the <code>readonly</code> boolean attribute on an input to prevent modification of the input's value.
        Read-only inputs appear lighter (just like disabled inputs), but retain the standard cursor.</p>

    <div class="well" data-example-id="readonly-text-form-control">
        {% include markup-templates/forms/readonly-text-form-control.html %}
    </div>
    <!-- /.well -->
    {% highlight html %}
    {% include /markup-templates/forms/readonly-text-form-control.html %}
    {% endhighlight %}

</section>
