@import '../../../css/settings/index.scss';
@import url('@rei/cedar/dist/style/cdr-icon.css');

$accordion-border: 1px solid $cdr-color-border-primary;

.cdr-accordion {
  border-top: $accordion-border;
  position: relative;
  z-index: 1;

  &__button {
    @include cdr-text-utility-sans-strong-300;

    background-color: inherit;
    border: none;
    color: $cdr-color-text-primary;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: $cdr-space-inset-one-x;
    position: relative;
    text-align: left;
    width: 100%;
    z-index: 1;

    &:hover,
    &:focus {
      background-color: $cdr-color-background-accordion-hover;
    }
  }

  &__label {
    cursor: pointer;
    margin-bottom: 0;
  }

  &__icon {
    margin-left: $cdr-space-one-x;
    fill: $cdr-color-icon-default;
    transition: transform $cdr-duration-3-x $cdr-timing-function-ease-out;

    &:global(.open) {
      transform: rotate(-180deg);
    }
  }

  &__content-container {
    overflow: hidden;
    transition-duration: $cdr-duration-3-x;
    transition-property: max-height;
    transition-timing-function: cubic-bezier(0.15, 0, 0.15, 1); // TODO: possible token?

    &:global(.open) {
      transition-duration: $cdr-duration-3-x;
    }
  }

  &__content {
    @include cdr-text-body-300;

    background-color: inherit;
    color: $cdr-color-text-primary;
    padding: $cdr-space-half-x $cdr-space-one-x $cdr-space-one-x;
    transition: opacity $cdr-duration-1-x linear;
    opacity: 0;

    & > * {
      @include cdr-text-body-300;
    }

    &:global(.open) {
      opacity: 1;
    }

    &:global(.closed) {
      visibility: hidden;
    }
  }

  /* Style variants
    ========================================================================== */

  /* Border-Aligned
     ========== */
  &--border-aligned {
    margin: 0 $cdr-space-inset-one-x;

    .cdr-accordion__button {
      margin-left: -$cdr-space-one-x;
      width: calc(100% + (#{$cdr-space-one-x} * 2));
    }

    .cdr-accordion__content {
      padding: $cdr-space-half-x 0 $cdr-space-one-x;
    }
  }

  /* Compact
     ========== */
  &--compact {
    .cdr-accordion__button {
      @include cdr-text-utility-sans-strong-200;

      padding: $cdr-space-inset-three-quarter-x;
    }

    .cdr-accordion__content {
      @include cdr-text-utility-sans-200;

      padding: $cdr-space-quarter-x $cdr-space-three-quarter-x $cdr-space-three-quarter-x;

      & > * {
        @include cdr-text-utility-sans-200;
      }
    }
  }

  /* Border-Aligned and Compact
     ========== */
  &--compact.cdr-accordion--border-aligned {
    .cdr-accordion__button {
      margin-left: -$cdr-space-three-quarter-x;
      width: calc(100% + (#{$cdr-space-three-quarter-x} * 2));
    }

    .cdr-accordion__content {
      padding: $cdr-space-quarter-x 0 $cdr-space-three-quarter-x;
    }
  }

  &:last-child {
    border-bottom: $accordion-border;
  }

  &--focused {
    /*
      This z-index change is to fix a Chrome-only visual issue with the light blue focus outline. Basically, the bottom
      line of the outline is usually covered by the accordion immediately below what's currently focuesd. We increase
      the z-index so that the outline can be correctly seen when the accordion is focused.
    */
    z-index: 10;
  }
}
