/* ==========================================================================
  # CdrAccordionItem

  TOC:

    :Base
      :__button
      :__label
      :__icon
        :open
      :__content-container
        :open
      :__content
        :open
      :Style Variants
        :border-aligned
        :compact
        :border-aligned and compact
========================================================================== */
@import '../../../css/settings/index.scss';
@import './vars/CdrAccordion.vars.scss';

.cdr-accordion {
  border-top: $cdr-accordion-border;
  position: relative;
  z-index: 1;

  &__button {
    @include cdr-accordion-button-text-mixin;

    background-color: $cdr-accordion-background-color;
    border: none;
    color: $cdr-accordion-text-color;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: $cdr-accordion-button-padding;
    position: relative;
    text-align: left;
    width: 100%;
    z-index: 1;

    &:hover,
    &:focus {
      background-color: $cdr-accordion-background-color-hover;
    }
  }

  &__label {
    cursor: pointer;
    margin-bottom: 0;
  }

  &__icon {
    margin-left: $cdr-accordion-icon-spacing;
    fill: $cdr-accordion-icon-fill;
    transition: $cdr-accordion-icon-transition;

    &:global(.open) {
      transform: $cdr-accordion-icon-transform;
    }
  }

  &__content-container {
    overflow: hidden;
    transition-duration: $cdr-accordion-open-duration;
    transition-property: max-height;
    transition-timing-function: $cdr-accordion-content-container-transition-func;

    &:global(.open) {
      transition-duration: $cdr-accordion-open-duration;
    }
  }

  &__content {
    @include cdr-accordion-content-text-mixin;

    background-color: $cdr-accordion-background-color;
    color: $cdr-accordion-text-color;
    padding: $cdr-space-half-x $cdr-space-one-x $cdr-space-one-x;
    transition: $cdr-accordion-content-transition;
    opacity: 0;

    & > * {
      @include cdr-accordion-content-text-mixin;
    }

    &:global(.open) {
      opacity: 1;
    }

    &:global(.closed) {
      visibility: hidden;
    }
  }

  /* Style variants
    ========================================================================== */

  /* Border-Aligned
     ========== */
  &--border-aligned {
    margin: $cdr-accordion-border-aligned-margin;

    .cdr-accordion__button {
      margin-left: $cdr-accordion-border-aligned-button-margin;
      width: $cdr-accordion-border-aligned-button-width;
    }

    .cdr-accordion__content {
      padding: $cdr-accordion-border-aligned-content-padding;
    }
  }

  /* Compact
     ========== */
  &--compact {
    .cdr-accordion__button {
      @include cdr-accordion-compact-button-text-mixin;

      padding: $cdr-accordion-compact-button-padding;
    }

    .cdr-accordion__content {
      @include cdr-accordion-compact-content-text-mixin;

      padding: $cdr-accordion-compact-content-padding;

      & > * {
        @include cdr-accordion-compact-content-text-mixin;
      }
    }
  }

  /* Border-Aligned and Compact
     ========== */
  &--compact.cdr-accordion--border-aligned {
    .cdr-accordion__button {
      margin-left: $cdr-accordion-border-aligned-compact-button-margin;
      width: $cdr-accordion-border-aligned-compact-button-width;
    }

    .cdr-accordion__content {
      padding: $cdr-accordion-border-aligned-compact-content-padding;
    }
  }

  &:last-child {
    border-bottom: $cdr-accordion-border;
  }

  &--focused {
    /*
      This z-index change is to fix a Chrome-only visual issue with the light blue focus outline. Basically, the bottom
      line of the outline is usually covered by the accordion immediately below what's currently focuesd. We increase
      the z-index so that the outline can be correctly seen when the accordion is focused.
    */
    z-index: 10;
  }
}
