/*
  LEGACY utility classes
  Note: These classes are deprecated, and will be removed from cedar in the Spring 2020 release.
*/

/* ==========================================================================
  # a11y
  
  Utility classes for a11y

  TOC:

    :screen reader
========================================================================== */

.cdr-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.cdr-sr-only-focusable:active,
.cdr-sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}