/*
  LEGACY utility classes
  Note: These classes are deprecated, and will be removed from cedar in the Spring 2020 release.
*/

/* ==========================================================================
  # visibility
  
  Utility classes for hiding/showing content

  TOC:

    :Hide
      :responsive
    :Show
      :responsive
    :Print
      :Hide
      :show
========================================================================== */

/*
* HIDE
* --------------------------------------------
*/

.cdr-hide {
  display: none !important;
}

@include xs-mq-only {
  .cdr-hide\@xs-only {
    display: none !important;
  }
}

/* @sm
============ */

@include sm-mq-only {
  .cdr-hide\@sm-only {
    display: none !important;
  }
}

@include sm-mq {
  .cdr-hide\@sm {
    display: none !important;
  }
}

/* @md
============ */

@include md-mq-only {
  .cdr-hide\@md-only {
    display: none !important;
  }
}

@include md-mq {
  .cdr-hide\@md {
    display: none !important;
  }
}

/* @lg
============ */

@include lg-mq-only {
  .cdr-hide\@lg-only {
    display: none !important;
  }
}

@include lg-mq {
  .cdr-hide\@lg {
    display: none !important;
  }
}

/*
* SHOW
* --------------------------------------------
*/

.cdr-show {
  display: block !important;
}

.cdr-show-inline {
  display: inline !important;
}

.cdr-show-inline-block {
  display: inline-block !important;
}

@include xs-mq-only {
  .cdr-show\@xs-only {
    display: block !important;
  }

  .cdr-show-inline\@xs-only {
    display: inline !important;
  }

  .cdr-show-inline-block\@xs-only {
    display: inline-block !important;
  }
}

/* @sm
============ */

@include sm-mq-only {
  .cdr-show\@sm-only {
    display: block !important;
  }

  .cdr-show-inline\@sm-only {
    display: inline !important;
  }

  .cdr-show-inline-block\@sm-only {
    display: inline-block !important;
  }
}

@include sm-mq {
  .cdr-show\@sm {
    display: block !important;
  }

  .cdr-show-inline\@sm {
    display: inline !important;
  }

  .cdr-show-inline-block\@sm {
    display: inline-block !important;
  }
}

/* @md
============ */

@include md-mq-only {
  .cdr-show\@md-only {
    display: block !important;
  }

  .cdr-show-inline\@md-only {
    display: inline !important;
  }

  .cdr-show-inline-block\@md-only {
    display: inline-block !important;
  }
}

@include md-mq {
  .cdr-show\@md {
    display: block !important;
  }

  .cdr-show-inline\@md {
    display: inline !important;
  }

  .cdr-show-inline-block\@md {
    display: inline-block !important;
  }
}

/* @lg
============ */

@include lg-mq-only {
  .cdr-show\@lg-only {
    display: block !important;
  }

  .cdr-show-inline\@lg-only {
    display: inline !important;
  }

  .cdr-show-inline-block\@lg-only {
    display: inline-block !important;
  }
}

@include lg-mq {
  .cdr-show\@lg {
    display: block !important;
  }

  .cdr-show-inline\@lg {
    display: inline !important;
  }

  .cdr-show-inline-block\@lg {
    display: inline-block !important;
  }
}

/*
* Print
* --------------------------------------------
*/

@media print {
  /* hide
  ============ */
  .cdr-hide\@print {
    display: none !important;
  }

  /* show
  ============ */
  .cdr-show\@print {
    display: block !important;
  }

  .cdr-show-inline\@print {
    display: inline !important;
  }

  .cdr-show-inline-block\@print {
    display: inline-block !important;
  }
}
