<p>Checkboxes are for selecting one or several options in a list, while radios are for selecting one option from many.</p>
<p>A checkbox or radio with the <code>disabled</code> attribute will be styled appropriately. To have the <code>&lt;label&gt;</code> for the checkbox or radio also display a "not-allowed" cursor when the user hovers over the label, add the <code>.disabled</code> class to your <code>.radio</code>, <code>.radio-inline</code>, <code>.checkbox</code>, <code>.checkbox-inline</code>, or <code>&lt;fieldset&gt;</code>.</p>

<h2 id="default" class="status status-good">Default (stacked)</h2>
<div class="well" data-example-id="block-checkboxes-radios">
    {% include /markup-templates/forms/checkbox.html %}
    {% include /markup-templates/forms/radio.html %}
</div><!-- /.well -->
{% highlight html %}
{% include /markup-templates/forms/checkbox.html %}
{% include /markup-templates/forms/radio.html %}
{% endhighlight %}

<h2 id="checkbox-and-radio-as-toggle-controls" class="status status-base-class">Checkbox and Radio as toggle controls</h2>
{% include /markup-templates/forms/toggle.html %}

