
<section class="vertical-push-3">

    <cdr-well-docs example-title="Default (stacked)" element-id="checkboxes-radios">
        <yield to="example-description">
           <p>Checkboxes are for selecting one or several options in a list, while radios are for selecting one option from many.</p>
<p>A checkbox or radio with the <code>disabled</code> attribute will be styled appropriately. To have the <code>&lt;label&gt;</code> for the checkbox or radio also display a "not-allowed" cursor when the user hovers over the label, add the <code>.disabled</code> class to your <code>.radio</code>, <code>.radio-inline</code>, <code>.checkbox</code>, <code>.checkbox-inline</code>, or <code>&lt;fieldset&gt;</code>.</p>
        </yield>
        <yield to="example">
          <div class="well well-lg">
            {% include /markup-templates/forms/checkbox.html %}
            {% include /markup-templates/forms/radio.html %}
          </div>
        </yield>
        <yield to="codeblock">
        {% highlight html %}
<div class="checkbox">
  <input type="checkbox" value="" id="checkbox1">
  <label for="checkbox1">Option one is this and that&mdash;be sure to include why it's great</label>
</div>

<div class="radio">
    <input type="radio" name="radio-errors" id="radio-error1" value="radio-error1" required />
    <label class="control-label" for="radio-error1">pick me</label>
</div>
        {% endhighlight %}
        </yield>
    </cdr-well-docs>


    <cdr-well-docs example-title="Checkbox and Radio as toggle controls" element-id="control-toggles">
        <yield to="example-description">
           <p>Checkboxes are for selecting one or several options in a list, while radios are for selecting one option from many.</p>
<p>A checkbox or radio with the <code>disabled</code> attribute will be styled appropriately. To have the <code>&lt;label&gt;</code> for the checkbox or radio also display a "not-allowed" cursor when the user hovers over the label, add the <code>.disabled</code> class to your <code>.radio</code>, <code>.radio-inline</code>, <code>.checkbox</code>, <code>.checkbox-inline</code>, or <code>&lt;fieldset&gt;</code>.</p>
        </yield>
        <yield to="example">
          <div class="well well-lg">
            {% include /markup-templates/forms/toggle.html %}
          </div>
        </yield>
        <yield to="codeblock">
        {% highlight html %}
{% include /markup-templates/forms/toggle.html %}
        {% endhighlight %}
        </yield>
    </cdr-well-docs>

