<h2 class="page-header">Components</h2>
<p>Most common form control, As Components: <code>cdr-textinput</code>.</p>

<div class="vertical-push-1">
	<div class="bs-callout bs-callout-info" id="callout-xref-input-group">
	    <h5>Component Text Inputs</h5>
	    <p>To add any text-based <code>&lt;cdr-textinput&gt;</code>, simply add this code</p>
	</div>
</div>
<div class="vertical-push-1" data-example-id="text-form-control">
	<div class="row row-flex">
		<div class="col-3-xs col-3-sm col-3-md col-3-lg">
    		{% include /markup-templates/forms/cdr-textinput.html %}
    	</div>
    </div>
</div><!-- /.well -->
{% highlight html %}
{% include /markup-templates/forms/cdr-textinput.html %}
{% endhighlight %}