<section class="vertical-push-3">

    <cdr-well-docs example-title="Textarea" element-id="textarea-form-control">
        <yield to="example-description">

        </yield>
        <yield to="example">
          <div class="well well-lg">
              {% include /markup-templates/forms/type-textarea.html %}
          </div>
        </yield>
        <yield to="codeblock">
        {% highlight html %}
{% include /markup-templates/forms/type-textarea.html %}
        {% endhighlight %}
        </yield>
    </cdr-well-docs>
</section>
