<section class="vertical-push-3">
    <cdr-well-docs example-title="Input validation" element-id="inputValidation">
        <yield to="example-description">
            <p>Using these validation styles to denote the state of a form control only provides a visual, color-based
            indication, which will not be conveyed to users of assistive technologies - such as screen readers - or to
            colorblind users.</p>

        <p>Ensure that an alternative indication of state is also provided. For instance, you can include a hint about
            state in the form control's <code>&lt;label&gt;</code> text itself, include an icon (with appropriate alternative text
            using the <code>.sr-only</code> class.
            Specifically for assistive technologies, invalid form controls can also be assigned an <code>aria-invalid="true"</code>
            attribute.</p>
        </yield>
        <yield to="example">
          <div class="well well-lg">
            {% include /markup-templates/forms/form-validation-states-with-icons.html %}
          </div>
        </yield>
        <yield to="codeblock">
        {% highlight html %}
{% include /markup-templates/forms/form-validation-states-with-icons.html %}
        {% endhighlight %}
        </yield>
    </cdr-well-docs>
</section>
