/* ==========================================================================
   # ICON
   ========================================================================== */

/*
* TOC:
*
* Base class
*/

.cdr-icon {
  width: 16px;
  height: 16px;
  fill: $sys-color-hillary-darken-30;

  & path {
    all: inherit;
  }
}
