<ul class="list-group-filter">
  <li class="list-group-item collapsibleList checkbox toggle-expand-collapse" data-ui="nav-level-1">
    <input type="checkbox" value="" id="list-group-item-1">
    <label for="list-group-item-1">list-group-filter-item 1</label>
    <ul class="nest">
      <li class="item-secondary">
        <div class="checkbox">
          <input type="checkbox" value="" id="filter-one">
          <label for="filter-one">Sub-option 1</label>

        </div>
      </li>
      <li class="item-secondary">
        <div class="checkbox">
          <input type="checkbox" value="" id="filter-two">
          <label for="filter-two">Sub-option 2 </label>
        </div>
      </li>
      <li class="item-secondary">
        <div class="checkbox">
          <input type="checkbox" value="" id="filter-three">
          <label for="filter-three">Sub-option 3</label>
        </div>
      </li>
    </ul>
  </li>
  <li class="list-group-item collapsibleList checkbox toggle-expand-collapse" data-ui="nav-level-1">
    <input type="checkbox" value="" id="list-group-item-2"/>
    <label for="list-group-item-2">list-group-filter-item 2</label>
    <ul class="nest">
      <li class="item-secondary">
        <div class="checkbox">
          <input type="checkbox" value="" id="Sub-option-1">
          <label for="Sub-option-1">Sub-option 1</label>
        </div>
      </li>
      <li class="item-secondary">
        <div class="checkbox">
          <input type="checkbox" value="" id="Sub-option-2">
          <label for="Sub-option-2">Sub-option 2 </label>
        </div>
      </li>
      <li class="item-secondary">
        <div class="checkbox">
          <input type="checkbox" value="" id="Sub-option-3">
          <label for="Sub-option-3">Sub-option 3</label>
        </div>
      </li>
    </ul>
  </li>
  <li class="list-group-item collapsibleList checkbox toggle-expand-collapse" data-ui="nav-level-1">
    <input type="checkbox" value="" id="list-group-item-3"/>
    <label for="list-group-item-3">list-group-filter-item 3</label>
    <ul class="nest">
      <li class="item-secondary" data-ui="nav-level-2">
        <a href="#list-group-menu" data-ui="nav-link">
          Sub-option 1
        </a>
      </li>
      <li class="item-secondary" data-ui="nav-level-2">
        <a href="#list-group-menu" data-ui="nav-link">
          Sub-option 2
        </a>
      </li>
      <li class="item-secondary" data-ui="nav-level-2">
        <a href="#list-group-menu" data-ui="nav-link">
          Sub-option 3
        </a>
      </li>
    </ul>
  </li>
  <li class="list-group-item collapsed" data-ui="nav-level-1">
    <a href="#list-group-menu" data-ui="nav-link">
      <span>list-group-item 4</span>
    </a>
  </li>
</ul>
