// Default theme color family
//Content colors should be centralized and switched out via the theme file.
//This would allow the component to stay agnostic and semantic
//As in primary is always primary regardless of theme.
$content-primary: $text-color-primary-on-light;
$content-secondary: $text-color-secondary-on-light;
$rating-number-decoration: $grey-matter;
