// Default theme color family
//Content colors should be centralized and switched out via the theme file.
//This would allow the component to stay agnostic and semantic
//As in primary is always primary regardless of theme.
$content-primary: $cdr-color-text-primary-lightmode;
$content-secondary: $cdr-color-text-secondary-lightmode;
$rating-number-decoration: $cdr-color-border-secondary-lightmode;

@mixin cdr-rating-base-text() {
  @include cdr-text-utility-200;
  line-height: 1.8;
}

@mixin cdr-rating-text-large() {
  @include cdr-text-utility-300;
  line-height: 2;
}

@mixin cdr-rating-text-small() {
  @include cdr-text-utility-100;
  line-height: 1.6;
}