/* ==========================================================================
  # CdrCaption

  All values should map to variables in
  vars/CdrCaption.vars.pcss
  in order to allow for theming

  TOC:

    :Base - CdrCaption
========================================================================== */
@import '../../../css/settings/index.scss';
@import './vars/CdrCaption.vars.scss';
.cdr-caption {
  @include cdr-caption-container-mixin;

  cite {
    @include cdr-caption-cite-mixin;
  }

  &__summary {
    @include cdr-caption-summary-mixin;
  }
}
