/* ==========================================================================
  # CdrCaption

  All values should map to variables in
  vars/CdrCaption.vars.pcss
  in order to allow for theming

  TOC:

    :Base - CdrCaption
========================================================================== */
@import '../../../css/settings/index.scss';
@import './vars/CdrCaption.vars.scss';
.cdr-caption {
  max-width: 530px;
  line-height: 1;
  padding: $cdr-space-inset-one-x-squish;

  &__cite {
    @include cdr-caption-citation-text-mixin;
    color: $cdr-color-text-secondary-lightmode;
  }

  &__summary {
    @include cdr-caption-summary-text-mixin;
    margin: 0;

    & + .cdr-caption__cite {
      display: inline-block;
      margin-top: $cdr-space-half-x;
    }
  }
}
