/* ==========================================================================
  # CdrCaption
  
  All values should map to variables in
  vars/CdrCaption.vars.pcss
  in order to allow for theming

  TOC:

    :Base - CdrCaption
========================================================================== */
@import '../../../css/settings/index.scss';

.cdr-caption {
  max-width: 530px;
  line-height: 1;

  &__summary {
    @include redwood-display-20;

    margin: 0;

    & + .cdr-caption__cite {
      display: inline-block;

      /* TODO: replace with spacing token */
      margin-top: $cdr-space-half-x;
    }
  }
}
