@import '../../../../css/settings/index.scss';
// variables shared between checkbox and radio
$cdr-label-base-spacing: $cdr-space-one-x;

$cdr-label-figure-size-small: 16px;
$cdr-label-figure-size-medium: 16px;
$cdr-label-figure-size-large: 20px;

$cdr-label-height-medium: $cdr-text-utility-sans-300-height;
@mixin cdr-label-base-mixin() {
  @include cdr-text-utility-sans-300;
  padding-left: calc(#{$cdr-label-figure-size-medium} + #{$cdr-label-base-spacing});
  color: $cdr-color-text-input-label;
}

@mixin cdr-label-hover-mixin() {
  cursor: pointer;
}

@mixin cdr-label-disabled-mixin() {
  color: $cdr-color-text-disabled !important;
  cursor: default;
}

$cdr-label-height-small: $cdr-text-utility-sans-200-height;
@mixin cdr-label-small-mixin() {
  @include cdr-text-utility-sans-200;
  padding-left: calc(#{$cdr-label-figure-size-small} + #{$cdr-label-base-spacing});
}

$cdr-label-height-large: $cdr-text-utility-sans-300-height;
@mixin cdr-label-large-mixin() {
  @include cdr-text-utility-sans-300;
  padding-left: calc(#{$cdr-label-figure-size-large} + #{$cdr-label-base-spacing});
}




@mixin label-wrapper-small-mixin($breakpoint: '') {
  &--small#{$breakpoint} {
    @include cdr-label-small-mixin;

    & > .cdr-label-wrapper__figure {
      width: $cdr-label-figure-size-small;
      height: $cdr-label-figure-size-small;

      &::after {
        width: $cdr-label-figure-size-small / 4;
        height: $cdr-label-figure-size-small / 4;
      }
    }
  }
}

@mixin label-wrapper-medium-mixin($breakpoint: '') {
  &--medium#{$breakpoint} {
    @include cdr-label-base-mixin;

    & > .cdr-label-wrapper__figure {
      width: $cdr-label-figure-size-medium;
      height: $cdr-label-figure-size-medium;

      &::after {
        width: $cdr-label-figure-size-medium / 4;
        height: $cdr-label-figure-size-medium / 4;
      }
    }
  }
}

@mixin label-wrapper-large-mixin($breakpoint: '') {
  &--large#{$breakpoint} {
    @include cdr-label-large-mixin;

    & > .cdr-label-wrapper__figure {
      width: $cdr-label-figure-size-large;
      height: $cdr-label-figure-size-large;

      &::after {
        width: $cdr-label-figure-size-large / 4;
        height: $cdr-label-figure-size-large / 4;
      }
    }
  }
}
