/* ==========================================================================
  # CdrIconButton
  
  All values should map to variables in
  vars/CdrIconButton.vars.pcss
  in order to allow for theming

  TOC:

    :Base - CdrIconButton
========================================================================== */
