@import '../../../css/settings/index.scss';
@import './vars/CdrFormGroup.vars.scss';

.cdr-form-group {
  @include cdr-form-group-base-mixin;

  &--error {
    box-shadow: 0 0 0 1px $cdr-color-border-input-error;
    background-color: $cdr-color-background-input-error;
    &:hover {
      background-color: transparent;
    }
  }

  &--disabled {
    cursor: not-allowed;
    legend {
      color: $cdr-color-text-disabled;
    }
  }

  &__error-message {
    @include cdr-text-utility-sans-300;
    color: $cdr-color-text-input-error;
    fill: $cdr-color-text-input-error;
    margin-top: $cdr-space-quarter-x;
  }

  &__wrapper {
    width: max-content;
    border-radius: $cdr-radius-softer;
    display: flex;
    flex-direction: column;
    & > * {
      flex: 1 1 0;
    }
  }

  &__optional {
    color: $cdr-color-text-input-optional;
    margin-left: $cdr-space-inset-quarter-x;
  }

  &__required {
    color: $cdr-color-text-input-required;
    margin-left: $cdr-space-inset-quarter-x;
  }
}
