/* ==========================================================================
   #HEADING
   ========================================================================== */

/*
* TOC:
*
* Base class
*/

.cdr-heading {}
