$left-border: 0.4rem solid;

@mixin cdr-banner-base-mixin() {
  position: relative;
  @include cdr-text-utility-sans-200;
}
@mixin cdr-banner-default-mixin() {
  background-color: $cdr-color-background-message-default-01;
  border-top: 0.1rem solid;
  border-right: 0.1rem solid;
  border-bottom: 0.1rem solid;
  border-color: $cdr-color-border-message-default-02;
}

@mixin cdr-banner-info-mixin() {
  background-color:  $cdr-color-background-message-info-01;
  border-top: 0.1rem solid;
  border-right: 0.1rem solid;
  border-bottom: 0.1rem solid;
  border-color: $cdr-color-border-message-info-02;
}

@mixin cdr-banner-success-mixin() {
  background-color:  $cdr-color-background-message-success-01;
  border-top: 0.1rem solid;
  border-right: 0.1rem solid;
  border-bottom: 0.1rem solid;
  border-color: $cdr-color-border-message-success-02;
}

@mixin cdr-banner-warning-mixin() {
  background-color:  $cdr-color-background-message-warning-01;
  border-top: 0.1rem solid;
  border-right: 0.1rem solid;
  border-bottom: 0.1rem solid;
  border-color: $cdr-color-border-message-warning-02;
}

@mixin cdr-banner-error-mixin() {
  background-color:  $cdr-color-background-message-error-01;
  border-top: 0.1rem solid;
  border-right: 0.1rem solid;
  border-bottom: 0.1rem solid;
  border-color: $cdr-color-border-message-error-02;
}
