@mixin cdr-banner-base-mixin() {
  position: relative;
  border-left: 4px solid;
  border-radius: $cdr-radius-softer;
  @include cdr-text-default;
}

@mixin cdr-banner-default-mixin() {
  background-color: $cdr-color-background-message-info;
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: #B8C5EC;
  svg {
    fill: $cdr-color-border-info;
  }
}

@mixin cdr-banner-info-mixin() {
  background-color: $cdr-color-background-message-info;
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: #B8C5EC;
  svg {
    fill: $cdr-color-border-info;
  }
}

@mixin cdr-banner-success-mixin() {
  background-color: #EAF9EC;
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: #BEE2C1;
  svg {
    fill: #4F974E;
  }
}

@mixin cdr-banner-warning-mixin() {
  background-color: $cdr-color-background-message-warning;
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: $cdr-color-border-warning;
  svg {
    fill: $cdr-color-border-warning;
  }
}

@mixin cdr-banner-error-mixin() {
  background-color: $cdr-color-background-message-error;
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: $cdr-color-border-error;
  svg {
    fill: $cdr-color-border-error;
  }
}
