/* Anchors */
:root {
  --link-color-contrast: var(--sys-color-core);
  --link-color-overlay: var(--sys-color-architectural-5);
  --link-resets: {
    cursor: pointer;
    display: inline;
    border: none;
  }
}
