/* Anchors */
:root {
  --link-color: var(--sys-color-link);
  --link-color-contrast: var(--sys-color-link-overlay);
  --link-color-overlay: var(--sys-color-link-contrast-overlay);
  --link-resets: {
    cursor: pointer;
    display: inline;
    border: none;
  }
}
