/* Anchors */

$link-color: $sys-color-link;
$link-color-contrast: $sys-color-link-overlay;
$link-color-overlay: $sys-color-link-contrast-overlay;

@define-mixin link-resets {
  cursor: pointer;
  display: inline;
  border: none;
}
