/* Forms and inputs */
:root {
  /* input group */
  --input-group-margin: 1.6rem;

  /* input */
  --input-br: 0.4rem;
  --input-bc: var(--sys-color-gray-lighten-30);
  --input-p: var(--spacing-space-sm);
  --input-valid-color: var(--sys-color-success);
  --input-warning-color: var(--sys-color-warning);
  --input-error-color: var(--sys-color-error);

  /* input icon */
  --input-icon-t: var(--input-p);
  --input-icon-r: var(--input-p);
  --input-icon-h: 1.9rem;
  --input-icon-w: 1.9rem;
}
