/* Lists */
:root {
  --list-pt: var(--spacing-space-md);
  --list-pr: var(--spacing-space-md);
  --list-pb: var(--spacing-space-md);
  --list-pl: var(--spacing-space-md);
  --list-pn: var(--spacing-space-closed);
  --list-menu-border-color: #222;
  --list-menu-item-color: #000;
}
