/* Lists */

$list-pt: $spacing-space-md;
$list-pr: $spacing-space-md;
$list-pb: $spacing-space-md;
$list-pl: $spacing-space-md;
$list-pn: $spacing-space-closed;
$list-menu-border-color: #222;
$list-menu-item-color: #000;
