/* media */
:root {
  --image-rounded-rad: 6px;
  --image-thumbnail-p: 4px;
  --image-thumbnail-rad: 4px;
  --image-thumbnail-border: 1px solid;
  --image-thumbnail-bc: var(--sys-color-architectural-4);
}
