/* media */

$image-rounded-rad: $radius-radius-10;
$image-thumbnail-p: $spacing-space-xs;
$image-thumbnail-rad: $radius-radius-10;
$image-thumbnail-border: 1px solid;
$image-thumbnail-bc: $sys-color-gray-lighten-20;
