/* media */
:root {
  --image-rounded-rad: var(--radius-radius-10);
  --image-thumbnail-p: var(--spacing-space-xs);
  --image-thumbnail-rad: var(--radius-radius-10);
  --image-thumbnail-border: 1px solid;
  --image-thumbnail-bc: var(--sys-color-gray-lighten-20);
}
