/* Select boxes */

/* select */
$select-height: calc(($input-p * 2) + $sys-font-spruce-bdy-25-line-height);
$select-multi-height: calc(2 * $select-height);
$select-br: $input-br;
$select-border-color: $input-border-color;
$select-border-width: $input-border-width;
$select-background-color: $input-background-color;
$select-disabled-background-color: $input-disabled-background-color;
