/* ==========================================================================
  # CdrLink

  TOC:

    :Base Styles
      :States
    :Modifiers
      :Style variants
        :Standalone
========================================================================== */
@import '../../../css/settings/index.scss';
@import './vars/CdrLink.vars.scss';
.cdr-link {
  @include cdr-link-base-mixin;
}

/* Style variants
  ========================================================================== */

/* Standalone
    ========== */
.cdr-link--standalone {
  @include cdr-link-standalone-mixin;
}
