/* ==========================================================================
  # CdrLink

  TOC:

    :Base Styles
      :States
    :Modifiers
      :Style variants
        :Standalone
========================================================================== */
@import '../../../css/settings/index.scss';
@import './vars/CdrLink.vars.scss';
.cdr-link {
  @include cdr-link-base-mixin;
}

/* Standalone
    ========== */
.cdr-link--standalone {
  @include cdr-link-standalone-mixin;
}

.cdr-link--inherit-color {
  @include cdr-link-inherit-color-mixin;
}
