<div class="row">
    {% for item in site.data.theme-class-names %}
        {% if item.theme == include.param %}
        <div class="col-sm-6 vertical-push-md">
          <h4>{{item.header}}</h4>
                 <button
                   type="button"
                   class="btn {{ item.buttonClass }}  {% if item.state == "active"%} active {% endif %}"
                   {% if item.state == "disabled"%} disabled="disabled" {% endif %}>
                   {{ item.theme }}
                 </button>

            </div>
        {% endif %}
    {% endfor %}
</div>
