<div class="bs-callout bs-callout-warning" id="callout-buttons-color-accessibility">
    <h5>Conveying meaning to assistive technologies</h5>
    <p>Using color to add meaning to a button only provides a visual indication, which will not be conveyed to users of
        assistive technologies – such as screen readers. Ensure that information denoted by the color is either obvious
        from the content itself (the visible text of the button), or is included through alternative means, such as
        additional text hidden with the <code>.sr-only</code> class.</p>
</div>
