<section class="vertical-push-3">
    <h2 id="helper-classes-close" class="status status-chat">Close icon</h2>
    <p>Use the generic close icon for dismissing content like modals and alerts.</p>
    <h3>Remove</h3>
    <div class="well" data-example-id="close-icon">
        <p><button type="button" class="close" aria-label="Close"><span class="icon icon-rei-close-small" aria-hidden="true"></span></button></p>
    </div>
    {% highlight html %}
    <button type="button" class="close" aria-label="Close"><span class="icon icon-rei-close-small" aria-hidden="true"></span></button>
    {% endhighlight %}
    <h3>Close</h3>
    <div class="well" data-example-id="close-icon">
        <p><button type="button" class="close" aria-label="Close"><span class="icon icon-rei-close" aria-hidden="true"></span></button></p>
    </div>
    {% highlight html %}
    <button type="button" class="close" aria-label="Close"><span class="icon icon-rei-close" aria-hidden="true"></span></button>
    {% endhighlight %}
</section>
