{% if page.slug == "buttons" %}
<section class="vertical-push-3">
    <h2 id="buttons-fam-theme-title" class="page-header">Families/Themes</h2>
    {% endif %}
    <section>
        <h3 id="buttons-fam-theme-core" class="status status-good">Core buttons</h3>

        <p> CORE buttons are meant for transactional use. They can be considered the "utilitarian"
            buttons, seen within product focused areas of the site, like Search Results, Product Details, or login
            pages.
            These buttons help the user act on an informational, research or purchase path of an REI product.
        </p>
        <p> Button examples: "Submit", "Checkout", "Add to cart", "See more", "Continue shopping".</p>
        <hr/>

        <cdr-card-docs example-title="Core Large - Primary" element-id="button-primary-core">
            <yield to="example-description">
               <p> Use for a single transactional CTA; when only one action is needed.</p>
               <p> When grouped, it is used for the primary action of the grouping.</p>
            </yield>
            <yield to="example">
              <div class="well well-lg">
                <button type="button" class="center-block btn btn-primary">
                    Primary button
                </button>
                </div>
                <div class="well">
                  <h4>Button sizes</h4>
                    <div class="group group-display-fixed">
                        <div class="col-xs-12 col-sm-4">
                            <section class="well well-lg">
                                <div class="well well-lg" data-theme="light-20">
                                    <button type="button" class="center-block btn btn-primary">
                                        Default
                                    </button>
                                </div>
                            </section>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <section class="well well-lg">
                               <div class="well well-lg" data-theme="light-20">
                                    <button type="button" class="center-block btn btn-primary btn-sm">
                                        Small
                                    </button>
                                </div>
                                <p class="vertical-pull">
                                   These smaller transaction buttons are used in conjunction with inline form fields or when repeated in a list such as "Register" on a classes and Events page. Hover / Active / Focus states match "Large" styling definition.
                                </p>
                            </section>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <section class="well well-lg">
                                <div class="well well-lg" data-theme="light-20">
                                    <button type="button" class="center-block btn btn-primary btn-xs">
                                        extra-Small
                                    </button>
                                </div>
                                <p class="vertical-pull">
                                    For use in very limited situations where space is at an extreme premium. Example: "Compare" buttons on search results. Hover / Active / Focus states match "Large" styling definition.
                                </p>
                            </section>
                        </div>
                    </div>
                </div>
            </yield>
            <yield to="codeblock">
            {% highlight html %}
<button type="button" class="btn btn-primary">
Primary Core button
</button>
            {% endhighlight %}
            </yield>
        </cdr-card-docs>

        <cdr-card-docs example-title="CORE Large - Secondary" element-id="button-secondary-core">
            <yield to="example-description">
               <p>Pair this button with the Primary CORE button when 2 CTAs are needed.</p>

                <p>When grouped, it is the second-choice button, placed second in-line.</p>

                <p>Examples: Cancel, Find in store</p>
            </yield>
            <yield to="example">
                {% include /markup-templates/buttons/standard.html param="Secondary Core" %}
            </yield>
            <yield to="codeblock">
            {% highlight html %}
<button type="button" class="btn btn-default">
Secondary Core button
</button>
            {% endhighlight %}
            </yield>
        </cdr-card-docs>

        <cdr-card-docs example-title="Core Large - Black Alternate" element-id="core-large-black-alternate">
            <yield to="example-description">
               Use this as the alternate choice when the Core Primary Blue button will clash with a photographic or colored background.
            </yield>
            <yield to="example">
                {% include /markup-templates/buttons/standard.html param="Primary Contrast" %}
            </yield>
            <yield to="codeblock">
            {% highlight html %}
<button type="button" class="btn  btn-contrast btn-primary">
High contrast button
</button>
            {% endhighlight %}
            </yield>
        </cdr-card-docs>

        <cdr-card-docs example-title="Core Large - White Alternate" example-theme="dark-20" element-id="button-secondary-contrast">
            <yield to="example-description">
               For use on dark backgrounds where the border of the CORE Secondary button would become lost and effect
                the visual alignment of a button parring.
            </yield>
            <yield to="example">
                {% include /markup-templates/buttons/standard.html param="Secondary Contrast" %}
            </yield>
            <yield to="codeblock">
            {% highlight html %}
<button type="button" class="btn btn-contrast btn-default">
    High contrast button
</button>
            {% endhighlight %}
            </yield>
        </cdr-card-docs>

            <h3 class="status status-good">Core Small</h3>

            <p>These smaller transaction buttons are used in conjunction with <strong>inline</strong> form fields or
                when repeated
                in a list such as "Register" on a classes and Events page. <strong>Hover / Active / Focus states match
                    "Large" styling definition.</strong></p>

            <div class="well overlay-medium-2" data-example-id="button-small">
                {% include /markup-templates/buttons/standard.html param="Core Small" %}
            </div>
            {% highlight html %}
<button type="button" class="btn btn-contrast btn-default btn-sm">
    Small button
</button>
            {% endhighlight %}

            <h3 class="status status-good ">Core Extra Small</h3>

            <p>For use in very limited situations where space is at an extreme premium. Example: "Compare" buttons on
                search results.
                <strong>Hover / Active / Focus states match "Large" styling definition</strong>.</p>

            <div class="well overlay-medium-2" data-example-id="button-extra-small">
                {% include /markup-templates/buttons/standard.html param="Core Extra Small" %}
            </div>
            {% highlight html %}
<button type="button" class="btn btn-xs btn-primary">
    Extra small button
</button>
            {% endhighlight %}
            <hr/>

    </section>
    {% if page.slug == "buttons" %}
</section>
{% endif %}
