{% if page.slug == "buttons" %}
<section class="vertical-push-3">
    <h2 id="buttons-fam-theme-title" class="page-header">Families/Themes</h2>
    {% endif %}
    <section>
        <h3 id="buttons-fam-theme-core" class="status status-good">Core buttons</h3>

        <p> CORE buttons are meant for transactional use. They can be considered the "utilitarian"
            buttons, seen within product focused areas of the site, like Search Results, Product Details, or login
            pages.
            These buttons help the user act on an informational, research or purchase path of an REI product.
        </p>

        <p> Button examples: "Submit", "Checkout", "Add to cart", "See more", "Continue shopping".
        </p>

        <h4>Core Specifications</h4>
        {% include /markup-templates/buttons/size.html param="primary core" %}
        <h5 class="vertical-pull-lg">Large (xs-breakpoint)</h5>

        <div class="row">
            <div class="col-sm-6 ">
                <button type="button" class="btn btn-primary btn-block" data-example-id="button-primary-core-block">Block button</button>
            </div>
            <div class="col-sm-6">
                <p class="note">Use the full breakpoint width in XS grid</p>

                <p class="note">Width: mobile version extends to full breakpoint size (Minus gutter).</p>

                <p class="note">Text: <b>sentence case</b>(horizontally centered within button).</p>
            </div>
        </div>
        <h5 class="vertical-pull-lg">Button at XS breakpoint with full-width override</h5>
        <div class="row">
            <div class="col-sm-6 ">
                <button type="button" class="btn btn-primary btn-fixed">Fixed state button</button>
            </div>
            <div class="col-sm-6">
                <p class="note">In specific cases (recommended for hub or campaign pages only)</p>

                <p class="note">This default behavior can be overridden, resulting in a narrower style identical to larger breakpoints. Alignment should align with parent style. </p>

                <p class="note">Text: <b>sentence case</b>(horizontally centered within button).</p>
            </div>
        </div>
        <hr/>
        <div>
            <h3 class="status status-good">Core Large - Primary</h3>

            <p> Use for a single transactional CTA; when only one action is needed.</p>

            <p> When grouped, it is used for the primary action of the grouping.</p>

            <div class="well" data-example-id="button-primary-core">
                {% include /markup-templates/buttons/standard.html param="Primary Core" %}
            </div>
            {% highlight html %}
<button type="button" class="btn btn-primary">
    Primary Core button
</button>
            {% endhighlight %}

            <h3 class="status status-good">CORE Large - Secondary</h3>

            <p>Pair this button with the Primary CORE button when 2 CTAs are needed.</p>

            <p>When grouped, it is the second-choice button, placed second in-line.</p>

            <p>Examples: Cancel, Find in store</p>

            <div class="well" data-example-id="button-secondary-core">
                {% include /markup-templates/buttons/standard.html param="Secondary Core" %}
            </div>

            <h3 class="status status-good"> Core Large - Black Alternate</h3>

            <p>Use this as the alternate choice when the Core Primary Blue button will clash with a photographic or
                colored background.</p>

            <div class="well" data-example-id="button-primary-contrast">
                {% include /markup-templates/buttons/standard.html param="Primary Contrast" %}
            </div>
            {% highlight html %}
<button type="button" class="btn  btn-contrast btn-primary">
    High contrast button
</button>
            {% endhighlight %}

            <h3 class="status status-good">Core Large - White Alternate</h3>

            <p>For use on dark backgrounds where the border of the CORE Secondary button would become lost and effect
                the visual alignment of a button parring. </p>

            <div class="well overlay-dark-2" data-example-id="button-secondary-contrast">
                {% include /markup-templates/buttons/standard.html param="Secondary Contrast" %}
            </div>
            {% highlight html %}
<button type="button" class="btn btn-contrast btn-default">
    High contrast button
</button>
            {% endhighlight %}

            <h3 class="status status-good">Core Small</h3>

            <p>These smaller transaction buttons are used in conjunction with <strong>inline</strong> form fields or
                when repeated
                in a list such as "Register" on a classes and Events page. <strong>Hover / Active / Focus states match
                    "Large" styling definition.</strong></p>

            <div class="well overlay-medium-2" data-example-id="button-small">
                {% include /markup-templates/buttons/standard.html param="Core Small" %}
            </div>
            {% highlight html %}
<button type="button" class="btn btn-contrast btn-default btn-sm">
    Small button
</button>
            {% endhighlight %}

            <h3 class="status status-good ">Core Extra Small</h3>

            <p>For use in very limited situations where space is at an extreme premium. Example: "Compare" buttons on
                search results.
                <strong>Hover / Active / Focus states match "Large" styling definition</strong>.</p>

            <div class="well overlay-medium-2" data-example-id="button-extra-small">
                {% include /markup-templates/buttons/standard.html param="Core Extra Small" %}
            </div>
            {% highlight html %}
<button type="button" class="btn btn-xs btn-primary">
    Extra small button
</button>
            {% endhighlight %}
            <hr/>
        </div>
    </section>
    <section>
        <h3 id="buttons-fam-theme-explore" class="status status-good">EXPLORE BUTTONS</h3>

        <p>EXPLORE buttons signify the voice of the REI Inspired Guide. They can be used for calls to action related to
            editorial content, or for content that is unique to the co-op. They help the user explore and find content
            seen in
            areas like Expert Advice. Button examples: "Find now", "See all expert advice", "Buy a membership".</p>

        <h4>Explore Specifications</h4>
        {% include /markup-templates/buttons/size.html param="primary explore" %}
        <h5 class="vertical-pull-lg">Large (xs-breakpoint)</h5>

        <div class="row">
            <div class="col-sm-6 ">
                <button type="button" class="btn btn-explore btn-primary btn-block">Block button</button>
            </div>
            <div class="col-sm-6">
                <p class="note">Use the full breakpoint width in XS grid</p>

                <p class="note">Width: mobile version extends to full breakpoint size (Minus gutter).</p>

                <p class="note">Text: <b>sentence case</b>(horizontally centered within button).</p>
            </div>
        </div>
        <h5 class="vertical-pull-lg">Button at XS breakpoint with full-width override</h5>
        <div class="row">
            <div class="col-sm-6 ">
                <button type="button" class="btn btn-explore btn-primary btn-fixed" data-example-id="button-explore-fixed">Fixed state button</button>
            </div>
            <div class="col-sm-6">
                <p class="note">In specific cases (recommended for hub or campaign pages only)</p>

                <p class="note">This default behavior can be overridden, resulting in a narrower style identical to larger breakpoints. Alignment should align with parent style. </p>

                <p class="note">Text: <b>sentence case</b>(horizontally centered within button).</p>
            </div>
        </div>
        <hr/>
        <h3 class="status status-good">Explore Large- Primary</h3>

        <p>Used for a single high-focus exploratory action.</p>

        <div class="well" data-example-id="button-primary-explore">
            {% include /markup-templates/buttons/standard.html param="Primary Explore" %}
        </div>
        {% highlight html %}
<button type="button" class="btn btn-explore btn-primary">
    Primary Explore button
</button>
        {% endhighlight %}

        <h3 class="status status-good">Explore Large - Secondary</h3>

        <p>Pair this button with the Explore Primary button. When grouped, it is the second choice button, placed second
            in line.</p>

        <div class="well" data-example-id="button-secondary-explore">
            {% include /markup-templates/buttons/standard.html param="Secondary Explore" %}
        </div>
        {% highlight html %}
<button type="button" class="btn btn-explore btn-default">
    Secondary Explore button
</button>
        {% endhighlight %}

        <h3 class="status status-good"> Explore Large - Black Alternate</h3>

        <p>Use this as the alternate choice when the Explore Primary Blue button will clash with a photographic or
            colored background.</p>

        <div class="well" data-example-id="button-primary-explore-contrast">
            {% include /markup-templates/buttons/standard.html param="Explore Primary Contrast" %}
        </div>
        {% highlight html %}
<button type="button" class="btn  btn-contrast btn-primary">
    High contrast button
</button>
        {% endhighlight %}

        <h3 class="status status-good">Explore Large - White Alternate</h3>

        <p>For use on dark backgrounds where the border of the Explore Secondary button would become lost and effect the
            visual alignment of a button parring. </p>

        <div class="well overlay-dark-2" data-example-id="button-secondary-explore-contrast">
            {% include /markup-templates/buttons/standard.html param="Explore Secondary Contrast" %}
        </div>
        {% highlight html %}
<button type="button" class="btn btn-contrast btn-default">
    High contrast button
</button>
        {% endhighlight %}

        <h3 class="status status-good">Explore Large - Explore Outline Alternate</h3>

        <p>Used when it's desired to have the background revealed through the button shape. Most often in the Hero area
            of a Hub page.</p>

        <div class="well overlay-dark-2 overlay-img" data-example-id="button-primary-outline">
            {% include /markup-templates/buttons/standard.html param="Explore Outline" %}
        </div>
        {% highlight html %}
<button type="button" class="btn  btn-outline-alternate btn-primary">
    High contrast button
</button>
        {% endhighlight %}

        <h3 class="status status-good">Explore Small</h3>

        <p>These small buttons pair inline with form fields or when there's a repetitive list of CTA's.</p>

        <div class="well overlay-medium-1">
            {% include /markup-templates/buttons/standard.html param="Explore Small" %}
        </div>
        {% highlight html %}
<button type="button" class="btn btn-explore btn-default btn-sm">
    Small Explore button
</button>
        {% endhighlight %}
        <hr/>
    </section>
    <section>
        <h3 id="buttons-fam-theme-off-price" class="status status-warning">OFF PRICE BUTTONS</h3>

        <h4> Off Price Large- Primary </h4>

        <div class="well">
        {% include /markup-templates/buttons/standard.html param="Primary Off Price" %}
        </div>
        {% highlight html %}
<button type="button" class="btn btn-off-price btn-primary">
    Primary Off Price button
</button>
        {% endhighlight %}
        <h4> Off Price Large- Secondary </h4>

        <p>Pair this button with the Off Price Red Primary button. When grouped it is the second-choice button, placed
            second in line.</p>

        <div class="well">
        {% include /markup-templates/buttons/standard.html param="Secondary Off Price" %}
        </div>
        {% highlight html %}
<button type="button" class="btn btn-off-price btn-default">
    Secondary Off Price button
</button>
        {% endhighlight %}
    </section>
    {% if page.slug == "buttons" %}
</section>
{% endif %}
