<section class="vertical-push-3">

    <cdr-well-docs example-title="Filters" element-id="button-filters">
        <yield to="example-description">
        <p>
            Enacting either the "X" or the button removes an applied filter selection. The scale of this button is consistent across all breakpoints.
        </p>
        </yield>
        <yield to="example">
                 <button class="center-block btn btn-primary btn-contrast btn-xs btn-fixed remove-toggle">
                    <span class="icon icon-rei-close-small" aria-hidden="true"></span>
                    <span class="sr-only">Remove</span>
                    <span>Active option 1</span>
                </button>
                <div class="group group-display-fixed group-gutter-xs-open-10">
                <div class="col-xs-12 col-sm-6">
                    <div>
                        <h4>Active State</h4>
                        <div class="well well-lg" data-theme="light-20">
                            <button class="center-block btn btn-default btn-xs btn-fixed remove-toggle remove-right" data-example-id="button-filter-remove-right">
                                <span class="icon icon-rei-close-small" aria-hidden="true"></span>
                                <span class="sr-only">Remove</span>
                                <span>Active option 1</span>
                            </button>
                        </div>
                        <div class="vertical-pull">
                                <p>
                                    Use when you want to show a single item in a state of being "applied" or "active" (Example: Compare button
                                    for a single product).
                                </p>
                            </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div>
                        <h4>Inactive State</h4>
                        <div class="well well-lg" data-theme="light-20">
                            <button class="center-block btn btn-default btn-xs btn-fixed" data-example-id="button-filter-inactive">
                                Inactive
                            </button>
                        </div>
                        <div class="vertical-pull">
                        <p>The inactive state for this button is the Core button style.</p>
                        </div>
                    </div>
                </div>
            </div>
        </yield>
        <yield to="codeblock">
        {% highlight html %}
<button class="btn btn-primary btn-contrast btn-xs btn-fixed remove-toggle left">
    <span class="icon icon-rei-close-small" aria-hidden="true"></span>
    <span class="sr-only">Remove</span>
    <span>Active option 1</span>
</button>
        {% endhighlight %}

<button class="btn btn-default btn-xs btn-fixed remove-toggle remove-right">
    <span class="icon icon-rei-close-small" aria-hidden="true"></span>
    <span class="sr-only">Remove</span>
    <span>Active option 1</span>
</button>

<button class="btn btn-default btn-xs btn-fixed">Inactive</button>

        </yield>
    </cdr-well-docs>

</section>
