<section class="vertical-push-3">
    <h1 id="buttons-with-icons" class="page-header">BUTTONS WITH ICONS</h1>

    <p>
        In addition to the "tree arrow" used in EXPLORE, there are additional icons that help illustrate a button's
        purpose. These may be used across all style families (Shown with CORE styling here) unless otherwise noted.
    </p>
    <section>
        <h2 id="buttons-icon-play" class="status status-good">Play Video</h2>

        <p>
            For use when a button activates a video player.
            (See Links reference for a "Play Video link with icon" alternative.)
        </p>

        <div class="well">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Large</h3>
                    <button type="button" class="btn btn-primary text-icon-play">
                        <span class="icon icon-rei-play-small" aria-hidden="true"></span>Play video
                    </button>
                    <ul class="list-unstyled vertical-pull-lg">
                        <li class="note">Text: 24px Anderson Bold, sentence case</li>
                        <li class="note">Icon size: Default + 4px this is implemented as a relative .7 of the font
                            size
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h3>Large Block and XS breakpoint</h3>
                    <button type="button" class="btn btn-primary btn-block text-icon-play">
                        <span class="icon icon-rei-play-small" aria-hidden="true"></span>Play video
                    </button>
                    <ul class="list-unstyled vertical-pull-lg">
                        <li class="note">Text: 24px Anderson Bold, sentence case</li>
                        <li class="note">Icon size: Default + 4px: this is implemented as a relative .7 of the font
                            size
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h3>Small</h3>
                    <button type="button" class="btn btn-primary btn-sm text-icon-play">
                        <span class="icon icon-rei-play-small" aria-hidden="true"></span>Play video
                    </button>
                    <ul class="list-unstyled vertical-pull-lg">
                        <li class="note">Text: 18px Interstate BD CD, sentence case</li>
                        <li class="note">Icon size: Default: this is implemented as a relative .7 of the font size</li>
                    </ul>
                </div>
            </div>
        </div>
        {% highlight html %}
        <button type="button" class="btn btn-primary btn-block text-icon-play">
            <span class="icon icon-rei-play-small" aria-hidden="true"></span>Play video
        </button>
        {% endhighlight %}
    </section>

    <section>
        <h2 id="buttons-icon-external" class="status status-good">Offsite</h2>

        <p>
            If a button directs a user to a destination outside of REI.com, use this style.
            (See Links reference for an "Offsite link with icon" alternative.)
        </p>

        <div class="bs-callout bs-callout-warning">
            <h2>Links acting as buttons</h2>

            <p>
                If the <code>&lt;a&gt;</code> elements are used to act as buttons – triggering in-page functionality,
                rather than navigating to another document or section within the current page – they should also be
                given an appropriate <code>role="button"</code>.
            </p>
        </div>
        <div class="well">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Large</h3>
                    <a href="#buttons-icon-external" type="button" class="btn btn-primary text-icon-external">
                        Visit site<span class="icon icon-rei-external-link" aria-hidden="true"></span>
                    </a>
                    <ul class="list-unstyled vertical-pull-lg">
                        <li class="note">Text: 24px Anderson Bold, sentence case</li>
                        <li class="note">Icon size: Default + 2px this is implemented as a relative .7 of the font
                            size
                        </li>
                    </ul>

                </div>
                <div class="col-sm-4">
                    <h3>Large Block and XS breakpoint</h3>
                    <a href="#buttons-icon-external" class="btn btn-primary btn-block text-icon-external">
                        Visit site<span class="icon icon-rei-external-link" aria-hidden="true"></span>
                    </a>
                    <ul class="list-unstyled vertical-pull-lg">
                        <li class="note">Text: 24px Anderson Bold, sentence case</li>
                        <li class="note">Icon size: Default + 4px: this is implemented as a relative .7 of the font
                            size
                        </li>
                    </ul>

                </div>
                <div class="col-sm-4">
                    <h3>Small</h3>
                    <a href="#buttons-icon-external" class="btn btn-primary btn-sm text-icon-external">
                        Visit site<span class="icon icon-rei-external-link" aria-hidden="true"></span>
                    </a>
                    <ul class="list-unstyled vertical-pull-lg">
                        <li class="note">Text: 18px Interstate BD CD, sentence case</li>
                        <li class="note">Icon size: Default: this is implemented as a relative .7 of the font size</li>
                    </ul>

                </div>
            </div>
        </div>
        {% highlight html %}
        <a href="#buttons-icon-external" type="button" class="btn btn-primary text-icon-external">
            Visit site<span class="icon icon-rei-external-link" aria-hidden="true"></span>
        </a>
        {% endhighlight %}
    </section>

</section>
