<section class="vertical-push-3">

  <h3 id="input-groups-buttons" class="status status-chat">Button add-ons</h3>
  <p>Buttons in input groups are a bit different and require one extra level of nesting. Instead of <code>.input-group-addon</code>, you'll need to use <code>.input-group-btn</code> to wrap the buttons. This is required due to default browser styles that cannot be overridden.</p>
  {% include /markup-templates/forms/button-addons.html %}
  {% highlight html %}
  {% include /markup-templates/forms/button-addons.html %}
  {% endhighlight %}
</section>
