<section class="vertical-push-3" id="button-groups">
    <cdr-well-docs example-title="Button Groups" example-theme="dark-20" element-id="button-group">
        <yield to="example-description">
           <p>
            Use buttons in these combinations to communicate hierarchy of user action. The family (Core, Explore,
            ect)
            color tone represents the intended primary call(s) to action.
           </p>
           <p> A singleton button possesses no margin</p>
            <p> Buttons which have a previous sibling which is also a button receive a left margin however if your buttons will wrap prior to displaying block you will have an undesirable staircase. For this reason we offer the <code> btn-group inline-group </code> classes.</p>
        </yield>
        <yield to="example">
            <section class="vertical-pull center-block">
                <div class="btn-group inline-group">
                    <button type="button" class="btn btn-primary">Primary call to action</button>
                    <button type="button" class="btn btn-default ">Secondary call to action</button>
                    <button type="button" class="btn btn-link">button link</button>
                </div>
            </section>
        </yield>
        <yield to="codeblock">
        {% highlight html %}
<div class="btn-group inline-group">
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-default">Secondary</button>
</div>
        {% endhighlight %}
        </yield>
    </cdr-well-docs>
</section>
