<section class="vertical-push-3">
  <h2 id="buttons-states-title" class="page-header">States</h2>

  <h3 id="buttons-active" class="vertical-pull-2 status status-good">Active state</h3>
  <p>Buttons will appear pressed (with a darker background, darker border, and inset shadow) when active. For <code>&lt;button&gt;</code> elements, this is done via <code>:active</code>. For <code>&lt;a&gt;</code> elements, it's done with <code>.active</code>. However, you may use <code>.active</code> on <code>&lt;button&gt;</code>s (and include the <code>aria-pressed="true"</code> attribute) should you need to replicate the active state programmatically.</p>
  <h4>Button element</h4>
  <p>No need to add <code>:active</code> as it's a pseudo-class, but if you need to force the same appearance, go ahead and add <code>.active</code>.</p>
  <p class="well" data-example-id="active-button-btns">
    {% include /markup-templates/buttons/active.html %}
  </p>
  {% highlight html %}
  {% include /markup-templates/buttons/active.html %}
  {% endhighlight %}

  <h4>Anchor element</h4>
  <p>Add the <code>.active</code> class to <code>&lt;a&gt;</code> buttons.</p>
  <p class="well" data-example-id="active-anchor-btns">
    {% include markup-templates/buttons/anchor.html %}
  </p>
  {% highlight html %}
  {% include /markup-templates/buttons/anchor.html %}
  {% endhighlight %}


  <h3 id="buttons-disabled" class="vertical-pull-2 status status-good">Disabled state</h3>
  <h4>Button element</h4>
  <p>Add the <code>disabled</code> attribute to <code>&lt;button&gt;</code> buttons.</p>
  <p class="well" data-example-id="disabled-button-btns">
    {% include /markup-templates/buttons/disabled.html %}
  </p>
  {% highlight html %}
  {% include /markup-templates/buttons/disabled.html %}
  {% endhighlight %}

  <div class="bs-callout bs-callout-danger" id="callout-buttons-ie-disabled">
    <h5>Cross-browser compatibility</h5>
    <p>If you add the <code>disabled</code> attribute to a <code>&lt;button&gt;</code>, Internet Explorer 9 and below will render text gray with a nasty text-shadow that we cannot fix.</p>
  </div>

  <h4>Anchor element</h4>
  <p>Add the <code>.disabled</code> class to <code>&lt;a&gt;</code> buttons.</p>
  <p class="well" data-example-id="disabled-anchor-btns">
    {% include /markup-templates/buttons/disabled-anchor.html %}
  </p>
  {% highlight html %}
  {% include /markup-templates/buttons/disabled-anchor.html %}
  {% endhighlight %}
  <p>
    We use <code>.disabled</code> as a utility class here, similar to the common <code>.active</code> class, so no prefix is required.
  </p>
  <div class="bs-callout bs-callout-warning" id="callout-buttons-disabled-anchor">
    <h5>Link functionality caveat</h5>
    <p>This class uses <code>pointer-events: none</code> to try to disable the link functionality of <code>&lt;a&gt;</code>s, but that CSS property is not yet standardized and isn't fully supported in Opera 18 and below, or in Internet Explorer 11. In addition, even in browsers that do support <code>pointer-events: none</code>, keyboard navigation remains unaffected, meaning that sighted keyboard users and users of assistive technologies will still be able to activate these links. So to be safe, use custom JavaScript to disable such links.</p>
  </div>
</section>
