// defaults
$cdr-accordion-border: 1px solid #dadada;
$cdr-accordion-background-color: $cdr-color-background-lightest;
$cdr-accordion-background-color-hover: $cdr-color-background-light;
$cdr-accordion-button-padding: $cdr-space-inset-one-x;
$cdr-accordion-text-color: $cdr-color-text-primary-lightmode;
$cdr-accordion-icon-spacing: $cdr-space-one-x;
$cdr-accordion-icon-fill: $cdr-color-icon-emphasis-lightmode;
$cdr-accordion-icon-transition: transform $cdr-duration-3-x $cdr-timing-function-ease-out;
$cdr-accordion-icon-transform: rotate(-180deg);
$cdr-accordion-close-duration: $cdr-duration-2-x;
$cdr-accordion-open-duration: $cdr-duration-3-x;
$cdr-accordion-content-transition: opacity $cdr-duration-1-x linear;
$cdr-accordion-content-container-transition-func: cubic-bezier(0.15, 0, 0.15, 1); // this one not represented by a token?

@mixin cdr-accordion-button-text-mixin() {
  @include cdr-text-utility-strong-300;
}

@mixin cdr-accordion-content-text-mixin() {
  @include cdr-text-body-300;
}

// border-aligned
$cdr-accordion-border-aligned-margin: 0 $cdr-space-inset-one-x;
$cdr-accordion-border-aligned-button-margin: -$cdr-space-one-x;
$cdr-accordion-border-aligned-button-width: calc(100% + (#{$cdr-space-one-x} * 2));
$cdr-accordion-border-aligned-content-padding: $cdr-space-half-x 0 $cdr-space-one-x;

// compact
$cdr-accordion-compact-button-padding: $cdr-space-inset-three-quarter-x;
$cdr-accordion-compact-content-padding: $cdr-space-quarter-x $cdr-space-three-quarter-x $cdr-space-three-quarter-x;

@mixin cdr-accordion-compact-button-text-mixin() {
  @include cdr-text-utility-strong-200;
}

@mixin cdr-accordion-compact-content-text-mixin() {
  @include cdr-text-utility-200;
}

// border-aligned & compact
$cdr-accordion-border-aligned-compact-button-margin: -$cdr-space-three-quarter-x;
$cdr-accordion-border-aligned-compact-button-width: calc(100% + (#{$cdr-space-three-quarter-x} * 2));
$cdr-accordion-border-aligned-compact-content-padding: $cdr-space-quarter-x 0 $cdr-space-three-quarter-x;
