{% for item in site.data.list-names %}
    {% if item.type == include.param %}
        <ul class="{{item.class}}">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Nulla volutpat aliquam velit
                <ul>
                    <li><a href="#">Phasellus iaculis neque</a></li>
                    <li><a href="#">Ac tristique libero volutpat at</a></li>
                </ul>
            </li>
            <li><a href="#">Eget porttitor lorem</a></li>
        </ul>
    {% endif %}
{% endfor %}