{% for item in site.data.list-names %}
    {% if item.type == include.param %}
        <ul class="{{item.class}}">
            <li>Lorem ipsum dolor sit amet</li>
            <li><a href="#">Consectetur adipiscing elit</a></li>
            <li>Integer molestie <a href="#" class="link-body">lorem</a> at massa</li>
            <li>Facilisis in pretium nisl aliquet</li>
            <li>Nulla volutpat aliquam velit
                <ul>
                    <li><a href="#">Phasellus iaculis neque</a></li>
                    <li><a href="#">Purus sodales ultricies</a></li>
                    <li><a href="#">Vestibulum laoreet porttitor sem</a></li>
                    <li><a href="#">Ac tristique libero volutpat at</a></li>
                </ul>
            </li>
            <li>Faucibus porta lacus fringilla vel</li>
            <li>Aenean sit amet erat nunc</li>
            <li><a href="#">Eget porttitor lorem</a></li>
        </ul>
    {% endif %}
{% endfor %}