////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//            THEME
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@type    : 'element';
@element : 'checkbox-and-radio';

@import (multiple) '../../theme.config';

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Checkbox and Radio
//
// TOC:
//
// :Standard Shared Controls
// :Standard Radio Control
// :Standard Checkbox Control
// :Toggle Controls
// :Toggle Controls --expand collapse
// :Toggle Controls --rating
// :Toggle Controls --remove
// :Toggle Controls --sort
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// Standard Shared Controls
//
//----------------------------------------------------------------------------------------------------------------------
.radio,
.checkbox {
    &:extend( .label-narrow all );
    margin: 0 0 @vertical-push ( @padding-base-horizontal + 4.25px );
    .form-inline & {
        display: inline-block;
    }
    &.disabled {
        color: @disabled-color;
    }
}
@control-standard: {
    border: none;
    clip: rect( 0 0 0 0 );
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    &[ disabled ] {
        + label {
            color: @disabled-color;
            cursor: @cursor-disabled;
            &:before {
                box-shadow: 0 0 0 1px @disabled-color;
            }
        }
    }
};
@control-standard-label: {
    cursor: pointer;
    display: block;
    margin-bottom: 0;
    min-height: 16px;
    padding-left: 0;
};
@control-standard-element-and-label: {
    display: block;
    color: inherit;
    position: relative;
    .required & {
        left: 35px;
        position: relative;
        &:after {
            left: -14px;
            position: absolute;
        }
        &:before {
            left: -35px;
            position: absolute;
            top: 5px
        }
    }
};
@control-standard-element-and-label-before: {
    content: '';
    border: 2px solid @core-architectural-5;
    box-shadow: 0 0 0 1px @text-color;
    display: inline-block;
    height: 12px;
    left: -( @padding-base-horizontal + 4.25px );
    margin-right: @padding-large-horizontal/ 2 ;
    position: absolute;
    top: 4px;
    width: 12px;
    .has-error & {
        box-shadow: 0 0 0 1px @utility-error;
        background: @alert-danger-bg;
    }
    .disabled&,
    fieldset[disabled] & {
        box-shadow: 0 0 0 1px @disabled-color;
    }
};
@control-standard-element-and-label-empty-before: {
    margin-right: 0;
};

.radio,
.checkbox {
    margin: 0 0 @vertical-push ( @padding-base-horizontal + 7px );
    .form-inline & {
        display: inline-block;
    }
    &.disabled,
    fieldset[disabled] & {
        color: @disabled-color;
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// Standard Radio Control
//
//----------------------------------------------------------------------------------------------------------------------
.radio,
.input-group-addon {
    > [type="radio"] {
        @control-standard();
    }
    > label {
        @control-standard-label();
    }
    > [type="radio"] + label {
        @control-standard-element-and-label();
        &:before {
            @control-standard-element-and-label-before();
            border-radius: 16px;
            box-shadow: 0 0 0 1.25px @text-color;
            vertical-align: -2px;
        }
        &:empty:before {
            @control-standard-element-and-label-empty-before();
        }
    }
    > [type="radio"]:checked + label:before {
       background: @text-color;
        outline: none;
    }
    > [type="radio"]:focus + label:before {
        .utility-focus-state();
        border: 1px solid @core-action-2;
    }
    [type="radio"]:active + label:before {
        outline: none;
        border: 1px solid @core-action-2;
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// Standard Checkbox Control
//
//----------------------------------------------------------------------------------------------------------------------
.checkbox,
.input-group-addon {
    > [type="checkbox"] {
        @control-standard();
    }
    > label {
        @control-standard-label();
    }
    > [type="checkbox"] + label {
        @control-standard-element-and-label();
        &:before {
            @control-standard-element-and-label-before();
            box-shadow: 0 0 0 1px @text-color;
        }
        &:empty:before {
            @control-standard-element-and-label-empty-before();
        }
    }
    > [type="checkbox"]:checked + label:before {
       background: @text-color;
        outline: none;
    }
    [type="checkbox"]:focus + label:before {
        .utility-focus-state();
        border: 1px solid @core-action-2;
    }
    [type="checkbox"]:active + label:before {
        outline: none;
        border: 1px solid @core-action-2;
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// Toggle Controls
//
//----------------------------------------------------------------------------------------------------------------------
@toggle-ruleset: {
    > [ type="checkbox" ] + label:before,
    > [ type="radio" ] + label:before {
        border: none;
        box-shadow: none;
        height: 18px;
        width: 18px;
        font-family: 'rei-icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        background: none;
    }
    > [type="checkbox"]:focus + label:before,
    > [type="radio"]:focus + label:before {
        outline: none;
        border: none;
    }
    > [type="checkbox"]:active + label:before,
    > [type="radio"]:active + label:before {
        border: none;
    }
    > [ type="checkbox" ]:checked + label:before,
    > [ type="radio" ]:checked + label:before {
        background: none;
    }
};

// expand collapse
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@toggle-expand-collapse-ruleset: {
> [ type="checkbox" ] + label:before,
> [ type="radio" ] + label:before {
    content:"\e739";
}
> [ type="checkbox" ]:checked + label:before,
> [ type="radio" ]:checked + label:before {
    content:"\e738";
}
};.toggle-expand-collapse {
      @toggle-ruleset();
      @toggle-expand-collapse-ruleset();
  }

// rating
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@toggle-rating-ruleset: {
    > [ type="checkbox" ] + label:before,
    > [ type="radio" ] + label:before {
        content:"\e731";
        color: @star-rating-empty;
    }
    > [ type="checkbox" ]:checked + label:before,
    > [ type="radio" ]:checked + label:before {
        content:"\e731";
        color: @star-rating-filled;
    }
};.toggle-rating {
    @toggle-ruleset();
    @toggle-rating-ruleset();
  }

// remove
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@toggle-remove-ruleset: {
> [ type="checkbox" ]+ label:before,
> [ type="radio" ]+ label:before {
    content:"\e600";
}
> [type="checkbox"]:checked + label:before,
> [type="radio"]:checked + label:before {
    content:"";
}
};.toggle-remove {
      @toggle-ruleset();
      @toggle-remove-ruleset();
  }

// sort
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@toggle-sort-ruleset: {
    > [ type="checkbox" ]:checked + label:before,
    > [ type="radio" ]:checked + label:before {
        content:"\e688";
    }
};.toggle-sort {
    @toggle-ruleset();
    @toggle-sort-ruleset();
  }

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//            OVERRIDES
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.loadUIOverrides();
