$container-x-padding-xs: $cdr-space-one-x;
$container-x-padding-md: $cdr-space-two-x;

/* ==========================================================================/*
* Container utility classes
*
** TOC:
**
** container fluid
** container
*/

/* ==========================================================================
   # CONTAINER FLUID
   ========================================================================== */

.cdr-container-fluid {
  @include cdr-text-default;
  @include cdr-container-fluid-mixin;
}

@include md-mq {
  .cdr-container-fluid {
    @include cdr-text-default;
    @include cdr-container-fluid-at-medium-mixin;
  }
}

/* ==========================================================================
   # CONTAINER
   ========================================================================== */

.cdr-container {
  @include cdr-text-default;
  @include cdr-container-mixin;
}

@include md-mq {
  .cdr-container {
    @include cdr-text-default;
    @include cdr-container-at-medium-mixin;
  }
}
