.cdr-bg--lightest {
  background-color: $background-color-lightest;
}

.cdr-bg--light {
  background-color: $background-color-light;
}

.cdr-bg--dark {
  background-color: $background-color-dark;
}

.cdr-bg--darker {
  background-color: $background-color-darker;
}
