<section class="color-swatches vertical-push-3">
    <h2 id="color-swatches-title" class="page-header">Color Palettes</h2>
        <h3 id="color-swatches-core">Core Palette</h3>
            <p>These core styles are used most frequently throughout REI.com. They have been adapted form our Brand Standards palette for interactive use.
                <strong>Be sure to check any undocumented background/foreground combinations for accessibility.</strong>
            </p>
            <h4 id="color-swatches-core-arch" class="status status-good">Architectural</h4>
                <div class="well">
                    <h5>White <code>@core-architectural-5;</code></h5>
                    <div class="color-swatch core-architectural-5" data-example-id="white"></div>
                    <h5>Dusty White <code>@core-architectural-6;</code></h5>
                    <div class="color-swatch core-architectural-6" data-example-id="dusty-white"></div>
                </div>
                <div class="well">
                    <h5>Black <code>@core-architectural-1;</code></h5>
                    <div class="color-swatch core-architectural-1" data-example-id="black"></div>
                    <h5>Architectural Gray 1 <code>@core-architectural-4;</code></h5>
                    <div class="color-swatch core-architectural-4" data-example-id="architectural-gray-1"></div>
                    <h5>Architectural Gray 2 <code>@core-architectural-3;</code></h5>
                    <div class="color-swatch core-architectural-3" data-example-id="architectural-gray-2"></div>
                    <h5>Architectural Gray 3 <code>@core-architectural-2;</code></h5>
                    <div class="color-swatch core-architectural-2" data-example-id="architectural-gray-3"></div>
                </div>
                <div class="well">
                    <h5>Background Gray 1 <code>@background-grey-1-ruleset();</code></h5>
                    <div class="color-swatch overlay-light-2" data-example-id="background-gray-1"></div>
                    <h5>Background Gray 2 <code>@background-grey-2-ruleset();</code></h5>
                    <div class="color-swatch overlay-medium-2" data-example-id="background-gray-2"></div>
                    <h5>Background Gray 3 <code>@background-grey-3-ruleset();</code></h5>
                    <div class="color-swatch core-architectural-3" data-example-id="background-gray-3"></div>
                    <h5>Background Gray 4 <code>@background-grey-4-ruleset();</code></h5>
                    <div class="color-swatch core-architectural-2" data-example-id="background-Gray-4"></div>
                </div>
            <h4 id="color-swatches-core-action" class="status status-good">Action</h4>
                <div class="well">
                    <h5>Core Action 1 <code>@core-action-1;</code></h5>
                    <div class="color-swatch core-action-1" data-example-id="core-action-1"></div>
                    <h5>Core Action 2 <code>@core-action-2;</code></h5>
                    <div class="color-swatch core-action-2" data-example-id="core-action-2"></div>
                </div>
            <h4 id="color-swatches-explore">Explore Palette</h4>
                <h5 id="color-swatches-explore-arch" class="status status-good">Architectural</h5>
                    <div class="well">
                        <h6>New Growth <code>@explore-architectural-1; //root @new-growth;</code></h6>
                        <div class="color-swatch explore-architectural-1" data-example-id="new-growth"></div>
                        <h6>Old Growth <code>@explore-architectural-2; //root @old-growth;</code></h6>
                        <div class="color-swatch explore-architectural-2" data-example-id="old-growth"></div>
                    </div>
                <h5 id="color-swatches-explore-action" class="status status-good">Action</h5>
                    <div class="well">
                        <h6>Explore Action 1 <code>@explore-action-1; //root @new-growth;</code></h6>
                        <div class="color-swatch explore-active-1" data-example-id="explore-active-1"></div>
                        <h6>Explore Action 2 <code>@explore-action-2; //root old-growth;</code></h6>
                        <div class="color-swatch explore-active-2" data-example-id="explore-active-2"></div>
                    </div>
            <h4 id="color-swatches-utility" class="status status-good">Utility Palette</h4>
                <div class="well">
                    <h5>Off-price <code>@utility-off-price;</code></h5>
                    <div class="color-swatch utility-off-price" data-example-id="utility-off-price"></div>
                    <h5>Error <code>@utility-error;</code></h5>
                    <div class="color-swatch utility-error" data-example-id="utility-error"></div>
                    <h5>Success <code>@brand-success // root @new-growth;</code></h5>
                    <div class="color-swatch utility-success" data-example-id="utility-success"></div>
                    <h5>Available <code>@utility-available; // root @new-growth;</code></h5>
                    <div class="color-swatch utility-available" data-example-id="utility-available"></div>
                    <h5>Warning <code>@brand-warning</code></h5>
                    <div class="color-swatch utility-warning" data-example-id="utility-warning"></div>
                </div>
</section>
