////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//            THEME
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@type    : 'element';
@element : 'anchors';

@import (multiple) '../../theme.config';

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// UI Framework Anchors
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
a {
    .link-variant( @link-color; @link-hover-decoration; );
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.link {
    // Core inline
    &-body {
        .link-variant( @link-color; @link-hover-decoration-alt; );
    }

    // Core standalone
    &_stag {
        &:extend( .text-sub-heading );
        .link-variant( @link-color; @link-hover-decoration; @link-hover-decoration-alt; );

        &-title {
            &:extend( .text-capitalize );
            &:extend( .link_stag all );
            &-overlay {
                &:extend( .link_stag-overlay all);
                &:extend( .text-capitalize );
            }
        }


        &-overlay {
            &:extend( .text-sub-heading );
            &:extend( .link_stag-overlay-body all);
            &-body {
                .link-variant( @link-color-overlay; @link-hover-decoration; @link-hover-decoration-alt;);
            }
        }

        &-explore {
            &:extend( .text-sub-heading );
            .link-variant( @explore-link-color; @link-hover-decoration; @link-hover-decoration-alt;);
            @text-with-icon-rei-tree-arrow-ruleset();
            &-overlay {
                &:extend( .text-sub-heading );
                .link-variant( @explore-link-color-overlay; @link-hover-decoration; @link-hover-decoration-alt; );
                @text-with-icon-rei-tree-arrow-ruleset();
            }
        }
    }

    // Core header link
    &_header {
        .link-variant( inherit; @link-hover-decoration; @link-hover-decoration; @link-color; );
        // overlay header link
        &-overlay {
            .link-variant( inherit; @link-hover-decoration; @link-hover-decoration; @overlay-link-color-active; );
        }
        // Explore header link
        &-explore {
            .link-variant( inherit; @link-hover-decoration; @link-hover-decoration; @explore-link-color; );
        }
        //off-price header link
        &-off-price {
            .link-variant( inherit; @link-hover-decoration; @link-hover-decoration; @off-price-link-color; );
        }
        // Outlet header link
        &-outlet {
            .link-variant( inherit; @link-hover-decoration; @link-hover-decoration; @outlet-link-color; );
        }
    }

    // Core navigation
    &_navigation {
        &:extend( .text-capitalize );
        .link-variant( @link-contrast-color; @link-hover-decoration; @link-hover-decoration-alt );
        &-subtitle {
            &:extend( .text-capitalize );
            &:extend( .text-sub-heading );
            .link-variant( @link-contrast-color; @link-hover-decoration; @link-hover-decoration-alt );
            &-overlay {
                &:extend( .text-sub-heading );
                .link-variant( @link-contrast-color-overlay; @link-hover-decoration; @link-hover-decoration-alt; );
            }
        }
        &-title {
            &:extend( .text-title );
            &:extend( .link_navigation all );
            &-overlay {
                &:extend( .text-title );
                .link-variant( @link-contrast-color-overlay; @link-hover-decoration; @link-hover-decoration-alt; );
            }
        }
        &-overlay {
            &:extend( .text-capitalize );
            .link-variant( @link-contrast-color-overlay; @link-hover-decoration; @link-hover-decoration-alt; );
        }
    }

    &-utility {
        font-size: @font-size-smaller;
        &:extend( .link_navigation all );
        &-overlay {
            font-size: @font-size-smaller;
            &:extend( .link_navigation-overlay all );
        }
    }

    // Core overlay
    &-overlay {
        .link-variant( @link-color-overlay; @link-hover-decoration-alt; );
    }

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //Explore
    &-explore {
        .link-variant( @explore-link-color;  @link-hover-decoration-alt; );
        &-overlay {
            .link-variant( @explore-link-color-overlay;  @link-hover-decoration-alt; );
        }
        &-crumb {
            &:extend( .link_crumb all );
            .link-variant( @explore-link-color;  @link-hover-decoration; );
        }
    }

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //Off Price
    &-off-price {
        .link-variant( @off-price-link-color;  @link-hover-decoration-alt; );
        &-overlay {
            .link-variant( @off-price-link-color-overlay; @link-hover-decoration-alt; );
        };
        &-standalone {
            &:extend( .text-sub-heading );
            .link-variant( @off-price-link-color; );
            &-overlay {
                &:extend( .text-sub-heading );
                .link-variant( @off-price-link-color-overlay; @link-hover-decoration; );
            }
        }
    }

    &-contrast-overlay {
        .link-variant( @link-contrast-color-overlay; @link-hover-decoration-alt; );
    }

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //Outlet
    &-outlet {
        .link-variant( @outlet-link-color;  @link-hover-decoration-alt; );
        &-overlay {
            .link-variant( @outlet-link-color-overlay; @link-hover-decoration-alt; );
        }
        &-standalone {
            &:extend( .text-sub-heading );
            .link-variant( @outlet-link-color; );
            &-overlay {
                &:extend( .text-sub-heading );
                .link-variant( @outlet-link-color-overlay; @link-hover-decoration; );
            }
        }
        &-crumb {
            &:extend( .link_crumb all );
            .link-variant( @outlet-link-color;  @link-hover-decoration; );
        }
    }


    &-sub-navigation {
        &:extend( .link-utility-overlay all );
        .link-variant( @link-color-overlay-2; @link-hover-decoration; @link-hover-decoration; @link-contrast-color-overlay; );
    }

    // Crumb
    &_crumb {
        font: normal normal @font-size-smaller @font-family-sans-serif;
        .link-variant( @link-color; @link-hover-decoration; );
    }
}

.use_link-stag-explore a {
    &:extend( .link_stag-explore all );
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//            OVERRIDES
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.loadUIOverrides();
