////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//            THEME
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@type    : 'element';
@element : 'buttons';

@import (multiple) '../../theme.config';

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// UI FRAMEWORK BUTTON
//
// TOC:
//
// :Base Styles
// :Theme
// :Theme --Core
// :Theme --Explore
// :Theme --High Contrast
// :Theme --Button Link
// :Size and Font
// :Controls
// :Specificity Overrides
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// Base Styles
//
// define generic, non-sized, non-themed button experience
//
//----------------------------------------------------------------------------------------------------------------------
.btn {
    .btn-lg();
    border: 0.1rem solid transparent;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    user-select: none;
    white-space: nowrap;
    @media all and ( min-width: 60rem ) {
        & + & {
            margin-left: ( @group-push / 2 );
        }
    }
    @media ( max-width: @screen-xs-max ) {
        &:not( .btn-fixed ) {
           .btn-block();
        }
    }
    .input-group-btn &,
    .form-inline &{
        // modified if contained within this parent class
        .btn-sm();
    }
    .form-inline & {
        // modified if contained within this parent class
        vertical-align: bottom;
        @media ( max-width: @screen-xs-max ) {
            vertical-align: inherit;
        }
    }
    &:hover,
    &:focus,
    &.focus {
        color: @btn-default-color;
        text-decoration: none;
    }
    &:focus {
      outline: thin dotted;
      // WebKit
      outline: 0.2rem auto;
      outline-color: @btn-focus-stroke-color;
      outline-offset: -0.1rem;
      box-shadow: 0 0 5px rgba(81, 203, 238, 1);
      border: 1px solid rgba(81, 203, 238, 1);
    }
    &:active,
    &.active {
        outline: 0;
        background-image: none;
    }
    @text-with-icon-rei-tree-arrow-button-ruleset();
    &.btn-play {
        border-radius: .5rem;
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// Theme
//
// define primary and default color for in-active, active, hover, and focus
//
//----------------------------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Core
// ---------------------------------------------------------------------------------------------------------------------
.btn-primary {
    .button-variant( @btn-primary-color; @btn-primary-bg; @btn-primary-border; @btn-primary-active-bg; @btn-primary-active-border; @btn-primary-active-color; );
}

.btn-default {
    .button-variant(
        @btn-default-color;
        @btn-default-bg;
        @btn-default-border;
        @btn-default-active-bg;
        @btn-default-active-border;
        @btn-default-active-color;
        @btn-default-disabled-text;
        @btn-default-disabled-background;
        @btn-default-disabled-border; );
    .input-group-btn & {
        .button-variant( @btn-default-color;
            @btn-default-bg;
            @btn-default-border;
            @btn-default-active-bg;
            @btn-default-border;
            @btn-default-active-color;
            @btn-default-disabled-text;
            @btn-default-disabled-background;
            @btn-default-disabled-border; );
    }
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// High Contrast
// ---------------------------------------------------------------------------------------------------------------------
.btn-contrast {
    &.btn-primary {
        .button-variant( @btn-high-contrast-color; @btn-high-contrast-bg; @btn-high-contrast-border; @btn-high-contrast-active-bg; @btn-high-contrast-active-border; );
    }
    &.btn-default {
        .button-variant( @btn-default-color; @btn-default-bg; @btn-default-bg; @btn-default-active-bg; @btn-default-bg; @btn-default-active-color; );
        .input-group-btn & {
            .button-variant( @btn-default-color; @btn-default-bg; @btn-default-border; @btn-default-active-bg; @btn-default-border; @btn-default-active-color; );
        }
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Button Link
// Make a button look and behave like a link
// ---------------------------------------------------------------------------------------------------------------------
// TODO: refactor, move into base and theme selectors above
.btn-link {
    padding: 0;
    &:extend( .link_stag all);
    .overlay-dark & {
        &:extend( .link_stag-overlay all);
    }
    &,
    &:active,
    &.active,
    &[disabled],
    fieldset[disabled] & {
        background-color: transparent;
    }
    &,
    &:hover,
    &:focus,
    &:active {
        border-color: transparent;
        .link-variant( @link-color; @link-hover-decoration; @link-hover-decoration-alt; );
    }
    &:hover,
    &:focus {
        background-color: transparent;
    }
    &[disabled],
    fieldset[disabled] & {
        &:hover,
        &:focus {

            color: @btn-link-disabled-color;
            text-decoration: none;
        }
    }
    &-explore {
        background-color: inherit;
        &:extend( .link_stag-explore all);
        .overlay-dark & {
            &:extend( .link_stag-explore-overlay all);
        }
    }
}

.btn__link-inline-play {
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    padding: 0;

    span.icon {
        font-size: 1.8rem;
        padding-right: 1.6rem;
        vertical-align: text-bottom;
    }

    &:extend( .link_stag all);
    .overlay-dark & {
        &:extend( .link_stag-overlay all);
    }

    &,
    &:hover,
    &:focus,
    &:active {
        border-color: transparent;
        .link-variant( @link-color; @link-hover-decoration; @link-hover-decoration-alt; );
    }

    &:hover,
    &:focus {
        background-color: transparent;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &,
        &:hover,
        &:focus,
        &.focus,
        &:active,
        &.active {
            cursor: @cursor-disabled;
            pointer-events: none;
            // Future-proof disabling of clicks
            color: @btn-disabled-color;
            @alpha-ruleset();
        }
    }
}

.btn-play {
    font-family: inherit;
    font-size: inherit;
    border-radius: .5rem;
    color: @btn-high-contrast-color;
    background-color: rgba(0,0,0,.9);

    span.icon {
        font-size: 1.8rem;
        padding-right: 1.6rem;
        vertical-align: text-bottom;
    }

    &:hover,
    &:active,
    &:focus {
        color: @btn-high-contrast-color;
        background-color: rgba(0,0,0,.8);
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &,
        &:hover,
        &:focus,
        &.focus,
        &:active,
        &.active {
            cursor: @cursor-disabled;
            pointer-events: none;
            // Future-proof disabling of clicks
            color: @btn-disabled-color;
            border-color: @btn-disabled-border;
            @alpha-ruleset();
        }
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// Size and Font
//
// define btn-lg, btn-sm, btn-xs, Block button, btn-cta
//
//----------------------------------------------------------------------------------------------------------------------
.btn-lg {
    .button-size();
}

.btn-sm {
    // line-height: ensure proper height of button next to small input
    .button-size(
        @btn-sm-inset;
        @cdr-type-redwood-ui-30-font-size;
        @cdr-type-redwood-ui-30-line-height;
        @btn-sm-type;
        @cdr-type-redwood-ui-30-font-style; );
    @text-with-icon-rei-tree-arrow-button-sm-ruleset();
}

.btn-xs {
    .button-size(
        @inset-md--squish;
        @cdr-type-redwood-ui-20-font-size;
        @cdr-type-redwood-ui-20-line-height;
        @btn-xs-type;
        @cdr-type-redwood-ui-20-font-style; );
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Block button
// ---------------------------------------------------------------------------------------------------------------------
.btn-block {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
    & + & {
        margin-left: 0;
    }
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Close button
// ---------------------------------------------------------------------------------------------------------------------
.btn-close {
    .button-variant( @btn-default-color;
            @btn-default-bg;
            @btn-default-border;
            @btn-default-active-bg;
            @btn-default-border;
            @btn-default-active-color;
            @btn-default-disabled-text;
            @btn-default-disabled-background;
            @btn-default-disabled-border; );
    .button-size(
        @btn-close-inset;
        @btn-close-font-size;
        @btn-close-line-height;
        @btn-close-type;
        @cdr-type-redwood-ui-20-font-style; );
    @media ( max-width: @screen-xs-max ) {
        &:not( .btn-fixed ) {
           width: auto;
           margin: 0;
        }
    }
    .img-circle();
    &:focus,
    &.focus {
        outline: none;
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// Controls
//
// define .remove-toggle (filter)
//
//----------------------------------------------------------------------------------------------------------------------
.remove-toggle {
    position: relative;
    & .icon-rei-close-small {
        border-right: solid 0.1rem @core-architectural-5;
        height: 108%;
        left: 0;
        padding: 0.7rem 0.8rem 0 0.7rem;
        position: absolute;
        overflow-y: hidden;
        top: -0.1rem;

    }

    & span:last-of-type {
        margin-left: 2.7rem; // for text
    }

    &.remove-right {
        & .icon-rei-close-small {
            &:extend( .btn-contrast.btn-primary );
            border-radius: 0 0.3rem 0.3rem 0;
            height: 100%;
            left: auto;
            right: -0.1rem;
            padding: 0.6rem 0.6rem 0 0.7rem;
            top: 0;
        }
        & span:last-of-type {
            margin-left: 0;
            margin-right: 2rem;
        }
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Specificity Overrides
// ---------------------------------------------------------------------------------------------------------------------
input[type="submit"],
input[type="reset"],
input[type="button"] {
    &.btn-block {
        width: 100%;
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// // Deprecated:
// ---------------------------------------------------------------------------------------------------------------------
//Explore
.btn-explore {
    &.btn-primary {
        .button-variant( @btn-explore-color; @btn-explore-bg; @btn-explore-border; @btn-explore-active-bg; @btn-explore-active-border; );
    }
}

.btn-outline-alternate {
  &:extend(.btn-primary all);
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//            OVERRIDES
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.loadUIOverrides();
