<section class="vertical-push-3">
    <h2 id="examples" class="page-header">Template Examples</h2>

    <p class="lead">Examples of various template implementations available with use of cedar.</p>

    <h3>Template/layout Examples</h3>
    <div class="row well">
        <div class="col-xs-6 col-md-4">
            <a class="thumbnail" href="../examples/starter-template/">
                <img src="../examples/screenshots/template-examples.jpg" alt="Template examples">
            </a>
            <h4>Contained examples</h4>
            <ul>
                <li><a href="../examples/starter-template#six-card">Six card layout</a></li>
            </ul>
        </div>
</section>
