/**
  * REI Cedar Button variables:
  * This file provides a contract between
  * design tokens and cedar non-changing variables.
  *
  * TOC:
  * Button Themes
  ** Settings
  ** Active
  ** Focus
  ** Disabled
  * Button Sizes
*/

/**
  * button themes
*/

/* default */
$btn-bg: $sys-color-btn-primary;
$btn-stroke: $sys-color-btn-primary-stroke;
$btn-radius: $radius-button;
$btn-text: $sys-color-btn-text;
$btn-font-family: $sys-font-redwood-ui-30-font-family;
$btn-font-size: $sys-font-redwood-ui-30-font-size;
$btn-font-style: $sys-font-redwood-ui-30-font-style;
$btn-font-weight: $sys-font-redwood-ui-30-font-weight;
$btn-line-height: $sys-font-redwood-ui-30-line-height;

/* Secondary */
$btn-secondary-bg: $sys-color-btn-secondary;
$btn-secondary-stroke: $sys-color-btn-secondary-stroke;
$btn-secondary-text: $sys-color-btn-secondary-text;

/**
  * active
*/

/* default */
$btn-active-bg: $sys-color-btn-primary-active;
$btn-active-stroke: $sys-color-btn-primary-active-stroke;
$btn-active-text: $sys-color-btn-text-active;

/* secondary active */
$btn-secondary-active-bg: $sys-color-btn-secondary-active;
$btn-secondary-active-stroke: $sys-color-btn-secondary-active-stroke;
$btn-secondary-active-text: $sys-color-btn-secondary-text;

/**
  * focus
*/

/* default */
$btn-focus-text: $sys-color-btn-primary-focus-text;
$btn-focus-stroke: $sys-color-btn-stroke-focus;

/* secondary */
$btn-secondary-focus-text: $sys-color-btn-secondary-focus-text;
$btn-secondary-focus-stroke: $sys-color-btn-stroke-focus;

/**
  * disabled
*/

/* default */
$btn-disabled-bg: $sys-color-btn-primary-disabled;
$btn-disabled-stroke: $sys-color-btn-primary-disabled-stroke;
$btn-disabled-text: $sys-color-btn-primary-disabled-text;

/* secondary */
$btn-secondary-disabled-bg: $sys-color-btn-secondary-disabled;
$btn-secondary-disabled-stroke: $sys-color-btn-secondary-disabled-stroke;
$btn-secondary-disabled-text: $sys-color-btn-secondary-disabled-text;

/**
  * button sizes
*/

/* small */
$btn--sm-font-family: $sys-font-redwood-ui-30-font-family;
$btn--sm-font-size: $sys-font-redwood-ui-30-font-size;
$btn--sm-font-style: $sys-font-redwood-ui-30-font-style;
$btn--sm-font-weight: $sys-font-redwood-ui-30-font-weight;
$btn--sm-line-height: $sys-font-redwood-ui-30-line-height;

/* extra small */
$btn--xs-font-family: $sys-font-redwood-ui-20-font-family;
$btn--xs-font-size: $sys-font-redwood-ui-20-font-size;
$btn--xs-font-style: $sys-font-redwood-ui-20-font-style;
$btn--xs-font-weight: $sys-font-redwood-ui-20-font-weight;
$btn--xs-line-height: $sys-font-redwood-ui-20-line-height;
