$cdr-button-base-color-border: none;
$cdr-button-base-color-outline: none;
$cdr-button-base-size-border-radius: $cdr-radius-softer;
$cdr-button-base-space-display: inline-flex;
$cdr-button-base-space-overflow: visible;
$cdr-button-base-space-padding: $cdr-space-inset-one-x-squish;
$cdr-button-base-text-align: left;
$cdr-button-base-text-decoration: none;
$cdr-button-base-text-transform: none;
$cdr-button-base-ui-cursor: pointer;

$cdr-button-primary-color-background: #3278ae;
$cdr-button-primary-prominence-box-shadow: inset 0 0 0 1px #2b6692;
$cdr-button-primary-color-fill: #ffffff;
$cdr-button-primary-color-text: #ffffff;

$cdr-button-base-space-icon-align-self: center;
$cdr-button-primary-color-icon-fill: inherit;
$cdr-button-base-space-icon-margin-right: $cdr-space-quarter-x;

$cdr-button-primary-color-background-hover: #2b6692;
$cdr-button-primary-color-fill-hover: #ffffff;
$cdr-button-primary-color-text-hover: #ffffff;
$cdr-button-primary-prominence-box-shadow-hover: inset 0 0 0 1px #2b6692;
$cdr-button-base-color-outline-hover: none;
$cdr-button-base-space-outline-offset-hover: 0;
$cdr-button-base-text-decoration-hover: none;

$cdr-button-primary-color-background-active: #2b6692;
$cdr-button-primary-color-fill-active: #ffffff;
$cdr-button-primary-color-text-active: #ffffff;
$cdr-button-primary-prominence-box-shadow-active: inset 0 0 0 1px #2b6692;
$cdr-button-base-color-outline-active: none;
$cdr-button-base-space-outline-offset-active: 0;
$cdr-button-base-text-decoration-active: none;

$cdr-button-primary-color-background-focus: #2b6692;
$cdr-button-primary-color-fill-focus: #ffffff;
$cdr-button-primary-color-text-focus: #ffffff;
$cdr-button-primary-prominence-box-shadow-focus: inset 0 0 0 1px #2b6692;
$cdr-button-base-color-outline-focus: $default-outline;
$cdr-button-base-space-outline-offset-focus: 0;
$cdr-button-base-text-decoration-focus: none;

$cdr-button-primary-color-background-disabled: #dadada;
$cdr-button-primary-color-text-disabled: #ffffff;
$cdr-button-primary-prominence-box-shadow-disabled: inset 0 0 0 1px #b8b8b8;

$cdr-button-base-ui-cursor-disabled: not-allowed;

$cdr-button-secondary-color-background: #ffffff;
$cdr-button-secondary-color-text: #292929;
$cdr-button-secondary-color-fill: #292929;
$cdr-button-secondary-prominence-box-shadow: inset 0 0 0 1px #616161;

$cdr-button-secondary-color-background-hover: #f7f7f7;
$cdr-button-secondary-color-text-hover: #292929;
$cdr-button-secondary-color-fill-hover: #292929;
$cdr-button-secondary-prominence-box-shadow-hover: inset 0 0 0 1px #616161;

$cdr-button-secondary-color-background-active: #f7f7f7;
$cdr-button-secondary-color-text-active: #292929;
$cdr-button-secondary-color-fill-active: #292929;
$cdr-button-secondary-prominence-box-shadow-active: inset 0 0 0 1px #616161;

$cdr-button-secondary-color-background-focus: #f7f7f7;
$cdr-button-secondary-color-text-focus: #292929;
$cdr-button-secondary-color-fill-focus: #292929;
$cdr-button-secondary-prominence-box-shadow-focus: inset 0 0 0 1px #616161;

$cdr-button-secondary-color-background-disabled: #ffffff;
$cdr-button-secondary-color-text-disabled: #b8b8b8;
$cdr-button-secondary-color-fill-disabled: #b8b8b8;
$cdr-button-secondary-prominence-box-shadow-disabled: inset 0 0 0 1px #dadada;

$cdr-button-base-space-padding-large: $cdr-space-inset-one-and-a-half-x-squish;
$cdr-button-base-space-padding-left-has-icon-large: calc($cdr-space-one-and-a-half-x - $cdr-space-quarter-x);

$cdr-button-base-space-padding-medium: $cdr-space-inset-one-x-squish;
$cdr-button-base-space-padding-left-has-icon-medium: calc($cdr-space-one-x - $cdr-space-quarter-x);

$cdr-button-base-space-padding-small: $cdr-space-inset-three-quarter-x-squish;
$cdr-button-base-space-padding-left-has-icon-small: calc($cdr-space-three-quarter-x - $cdr-space-quarter-x);

$cdr-button-base-size-width-icon-small: 20px;
$cdr-button-base-size-height-icon-small: 20px;
$cdr-button-base-size-width-icon-medium: $cdr-icon-size;
$cdr-button-base-size-height-icon-medium: $cdr-icon-size;
$cdr-button-base-size-width-icon-large: $cdr-icon-size;
$cdr-button-base-size-height-icon-large: $cdr-icon-size;

$cdr-button-base-size-width-full-width: 100%;
$cdr-button-base-space-justify-content-full-width: center;

$cdr-button-base-color-background-icon-only: none;
$cdr-button-base-color-border-icon-only: none;
$cdr-button-base-prominence-box-shadow-icon-only: none;
$cdr-button-base-space-display-icon-only: inline-block;


$cdr-button-base-space-padding-icon-only: $cdr-space-inset-half-x; // this class has "padding" and "padding-right" declared. Should the variables export separate top/left/right/bottom variables in cases like these?
$cdr-button-base-space-padding-right-icon-only: calc($cdr-space-inset-half-x - $cdr-space-quarter-x); // then in the actual component css we would do like: padding: $padding-top $padding-right $padding-bottom $padding-left

$cdr-button-base-color-fill-icon-only: $heart-of-darkness;

$cdr-button-base-color-background-icon-only-hover: none;
$cdr-button-base-color-fill-icon-only-hover: $heart-of-darkness;
$cdr-button-base-prominence-box-shadow-icon-only-hover: none;

$cdr-button-base-color-background-icon-only-active: none;
$cdr-button-base-color-fill-icon-only-active: $heart-of-darkness;
$cdr-button-base-prominence-box-shadow-icon-only-active: none;

$cdr-button-base-color-background-icon-only-focus: none;
$cdr-button-base-color-fill-icon-only-focus: $heart-of-darkness;
$cdr-button-base-prominence-box-shadow-icon-only-focus: none;

$cdr-button-base-color-fill-icon-only-darkmode: $moon-shot;
