$cdr-button-base-border: none;
$cdr-button-base-outline: none;
$cdr-button-base-border-radius: $cdr-radius-softer;
$cdr-button-base-display: inline-flex;
$cdr-button-base-overflow: visible;
$cdr-button-base-padding: $cdr-space-inset-one-x-squish;
$cdr-button-base-text-align: left;
$cdr-button-base-text-decoration: none;
$cdr-button-base-text-transform: none;
$cdr-button-base-cursor: pointer;

$cdr-button-primary-background-color: #3278ae;
$cdr-button-primary-box-shadow: inset 0 0 0 1px #2b6692;
$cdr-button-primary-fill: #ffffff;
$cdr-button-primary-color: #ffffff;

$cdr-button-base-icon-align-self: center;
$cdr-button-base-icon-fill: inherit;
$cdr-button-base-icon-mr: $cdr-space-quarter-x;

$cdr-button-primary-background-color-hover: #2b6692;
$cdr-button-primary-fill-hover: #ffffff;
$cdr-button-primary-color-hover: #ffffff;
$cdr-button-primary-box-shadow-hover: inset 0 0 0 1px #2b6692;
$cdr-button-base-outline-hover: none;
$cdr-button-base-outline-offset-hover: 0;
$cdr-button-base-text-decoration-hover: none;

$cdr-button-primary-background-color-active: #2b6692;
$cdr-button-primary-fill-active: #ffffff;
$cdr-button-primary-color-active: #ffffff;
$cdr-button-primary-box-shadow-active: inset 0 0 0 1px #2b6692;
$cdr-button-base-outline-active: none;
$cdr-button-base-outline-offset-active: 0;
$cdr-button-base-text-decoration-active: none;

$cdr-button-primary-background-color-focus: #2b6692;
$cdr-button-primary-fill-focus: #ffffff;
$cdr-button-primary-color-focus: #ffffff;
$cdr-button-primary-box-shadow-focus: inset 0 0 0 1px #2b6692;
$cdr-button-base-outline-focus: $default-outline;
$cdr-button-base-outline-offset-focus: 0;
$cdr-button-base-text-decoration-focus: none;

$cdr-button-primary-background-color-disabled: #dadada;
$cdr-button-primary-color-disabled: #ffffff;
$cdr-button-primary-box-shadow-disabled: inset 0 0 0 1px #b8b8b8;

$cdr-button-base-cursor-disabled: not-allowed;

$cdr-button-secondary-background-color: #ffffff;
$cdr-button-secondary-color: #292929;
$cdr-button-secondary-fill: #292929;
$cdr-button-secondary-box-shadow: inset 0 0 0 1px #616161;

$cdr-button-secondary-background-color-hover: #f7f7f7;
$cdr-button-secondary-color-hover: #292929;
$cdr-button-secondary-fill-hover: #292929;
$cdr-button-secondary-box-shadow-hover: inset 0 0 0 1px #616161;

$cdr-button-secondary-background-color-active: #f7f7f7;
$cdr-button-secondary-color-active: #292929;
$cdr-button-secondary-fill-active: #292929;
$cdr-button-secondary-box-shadow-active: inset 0 0 0 1px #616161;

$cdr-button-secondary-background-color-focus: #f7f7f7;
$cdr-button-secondary-color-focus: #292929;
$cdr-button-secondary-fill-focus: #292929;
$cdr-button-secondary-box-shadow-focus: inset 0 0 0 1px #616161;

$cdr-button-secondary-background-color-disabled: #ffffff;
$cdr-button-secondary-color-disabled: #b8b8b8;
$cdr-button-secondary-fill-disabled: #b8b8b8;
$cdr-button-secondary-box-shadow-disabled: inset 0 0 0 1px #dadada;

$cdr-button-base-padding-large: $cdr-space-inset-one-and-a-half-x-squish;
$cdr-button-has-icon-pl-large: calc(#{$cdr-space-one-and-a-half-x} - #{$cdr-space-quarter-x});

$cdr-button-base-padding-medium: $cdr-space-inset-one-x-squish;
$cdr-button-has-icon-pl-medium: calc(#{$cdr-space-one-x} - #{$cdr-space-quarter-x});

$cdr-button-base-padding-small: $cdr-space-inset-three-quarter-x-squish;
$cdr-button-has-icon-pl-small: calc(#{$cdr-space-three-quarter-x} - #{$cdr-space-quarter-x});

$cdr-button-base-icon-width-small: 20px;
$cdr-button-base-icon-height-small: 20px;
$cdr-button-base-icon-width-medium: $cdr-icon-size;
$cdr-button-base-icon-height-medium: $cdr-icon-size;
$cdr-button-base-icon-width-large: $cdr-icon-size;
$cdr-button-base-icon-height-large: $cdr-icon-size;

$cdr-button-full-width-width: 100%;
$cdr-button-full-width-justify-content: center;

$cdr-button-icon-only-background-color: none;
$cdr-button-icon-only-border: none;
$cdr-button-icon-only-box-shadow: none;
$cdr-button-icon-only-display: inline-block;


$cdr-button-icon-only-padding: $cdr-space-inset-half-x;
$cdr-button-icon-only-pr: calc(#{$cdr-space-inset-half-x} - #{$cdr-space-quarter-x}); // note that this overrides the previous padding variable

$cdr-button-icon-only-fill: $heart-of-darkness;

$cdr-button-icon-only-background-color-hover: none;
$cdr-button-icon-only-fill-hover: $heart-of-darkness;
$cdr-button-icon-only-box-shadow-hover: none;

$cdr-button-icon-only-background-color-active: none;
$cdr-button-icon-only-fill-active: $heart-of-darkness;
$cdr-button-icon-only-box-shadow-active: none;

$cdr-button-icon-only-background-color-focus: none;
$cdr-button-icon-only-fill-focus: $heart-of-darkness;
$cdr-button-icon-only-box-shadow-focus: none;

$cdr-button-icon-only-fill-darkmode: $moon-shot;

@mixin cdr-button-base-text-mixin() {
  @include redwood-display-30
}

@mixin cdr-button-base-text-mixin-small() {
  @include redwood-display-20;
}

@mixin cdr-button-base-text-mixin-medium() {
  @include redwood-display-30;
}

@mixin cdr-button-base-text-mixin-large() {
  @include redwood-display-40;
}