$cdr-button-base-border: none;
$cdr-button-base-outline: none;
$cdr-button-base-border-radius: $cdr-radius-softer;
$cdr-button-base-display: inline-flex;
$cdr-button-base-overflow: visible;
$cdr-button-base-padding: $cdr-space-inset-one-x-squish;
$cdr-button-base-text-align: left;
$cdr-button-base-text-decoration: none;
$cdr-button-base-text-transform: none;
$cdr-button-base-cursor: pointer;

$cdr-button-primary-background-color: #3278ae;
$cdr-button-primary-box-shadow: inset 0 0 0 1px #2b6692;
$cdr-button-primary-fill: #ffffff;
$cdr-button-primary-color: #ffffff;

$cdr-button-base-icon-align-self: center;
$cdr-button-base-icon-fill: inherit;
$cdr-button-base-icon-mr: $cdr-space-quarter-x;

$cdr-button-primary-background-color-hover: #2b6692;
$cdr-button-primary-fill-hover: #ffffff;
$cdr-button-primary-color-hover: #ffffff;
$cdr-button-primary-box-shadow-hover: inset 0 0 0 1px #2b6692;
$cdr-button-base-outline-hover: none;
$cdr-button-base-outline-offset-hover: 0;
$cdr-button-base-text-decoration-hover: none;

$cdr-button-primary-background-color-active: #2b6692;
$cdr-button-primary-fill-active: #ffffff;
$cdr-button-primary-color-active: #ffffff;
$cdr-button-primary-box-shadow-active: inset 0 0 0 1px #2b6692;
$cdr-button-base-outline-active: none;
$cdr-button-base-outline-offset-active: 0;
$cdr-button-base-text-decoration-active: none;

$cdr-button-primary-background-color-focus: #2b6692;
$cdr-button-primary-fill-focus: #ffffff;
$cdr-button-primary-color-focus: #ffffff;
$cdr-button-primary-box-shadow-focus: inset 0 0 0 1px #2b6692;
$cdr-button-base-outline-focus: $default-outline;
$cdr-button-base-outline-color-focus: -webkit-focus-ring-color;
$cdr-button-base-outline-offset-focus: 0;
$cdr-button-base-text-decoration-focus: none;

$cdr-button-primary-background-color-disabled: #dadada;
$cdr-button-primary-color-disabled: #ffffff;
$cdr-button-primary-box-shadow-disabled: inset 0 0 0 1px #b8b8b8;

$cdr-button-base-cursor-disabled: not-allowed;

$cdr-button-secondary-background-color: #ffffff;
$cdr-button-secondary-color: #292929;
$cdr-button-secondary-fill: #292929;
$cdr-button-secondary-box-shadow: inset 0 0 0 1px #616161;

$cdr-button-secondary-background-color-hover: #f7f7f7;
$cdr-button-secondary-color-hover: #292929;
$cdr-button-secondary-fill-hover: #292929;
$cdr-button-secondary-box-shadow-hover: inset 0 0 0 1px #616161;

$cdr-button-secondary-background-color-active: #f7f7f7;
$cdr-button-secondary-color-active: #292929;
$cdr-button-secondary-fill-active: #292929;
$cdr-button-secondary-box-shadow-active: inset 0 0 0 1px #616161;

$cdr-button-secondary-background-color-focus: #f7f7f7;
$cdr-button-secondary-color-focus: #292929;
$cdr-button-secondary-fill-focus: #292929;
$cdr-button-secondary-box-shadow-focus: inset 0 0 0 1px #616161;

$cdr-button-secondary-background-color-disabled: #ffffff;
$cdr-button-secondary-color-disabled: #b8b8b8;
$cdr-button-secondary-fill-disabled: #b8b8b8;
$cdr-button-secondary-box-shadow-disabled: inset 0 0 0 1px #dadada;

$cdr-button-base-padding-large: $cdr-space-inset-one-and-a-half-x-squish;
$cdr-button-has-icon-pl-large: calc(#{$cdr-space-one-and-a-half-x} - #{$cdr-space-quarter-x});

$cdr-button-base-padding-medium: $cdr-space-inset-one-x-squish;
$cdr-button-has-icon-pl-medium: calc(#{$cdr-space-one-x} - #{$cdr-space-quarter-x});

$cdr-button-base-padding-small: $cdr-space-inset-three-quarter-x-squish;
$cdr-button-has-icon-pl-small: calc(#{$cdr-space-three-quarter-x} - #{$cdr-space-quarter-x});

$cdr-button-base-icon-width-small: 20px;
$cdr-button-base-icon-height-small: 20px;
$cdr-button-base-icon-width-medium: $cdr-icon-size;
$cdr-button-base-icon-height-medium: $cdr-icon-size;
$cdr-button-base-icon-width-large: $cdr-icon-size;
$cdr-button-base-icon-height-large: $cdr-icon-size;

$cdr-button-full-width-width: 100%;
$cdr-button-full-width-justify-content: center;

$cdr-button-icon-only-background-color: none;
$cdr-button-icon-only-border: none;
$cdr-button-icon-only-box-shadow: none;
$cdr-button-icon-only-display: inline-block;


$cdr-button-icon-only-padding: $cdr-space-inset-half-x;
$cdr-button-icon-only-pr: calc(#{$cdr-space-inset-half-x} - #{$cdr-space-quarter-x}); // note that this overrides the previous padding variable

$cdr-button-icon-only-fill: $cdr-color-icon-emphasis-lightmode;

$cdr-button-icon-only-background-color-hover: none;
$cdr-button-icon-only-fill-hover: $cdr-color-icon-emphasis-lightmode;
$cdr-button-icon-only-box-shadow-hover: none;

$cdr-button-icon-only-background-color-active: none;
$cdr-button-icon-only-fill-active: $cdr-color-icon-emphasis-lightmode;
$cdr-button-icon-only-box-shadow-active: none;

$cdr-button-icon-only-background-color-focus: none;
$cdr-button-icon-only-fill-focus: $cdr-color-icon-emphasis-lightmode;
$cdr-button-icon-only-box-shadow-focus: none;

$cdr-button-icon-only-fill-darkmode: $cdr-color-icon-emphasis-darkmode;

@mixin cdr-button-base-text-mixin() {
  // TODO: typography token
  @include redwood-display-30
}

@mixin cdr-button-base-text-mixin-small() {
  // TODO: typography token
  @include redwood-display-20;
}

@mixin cdr-button-base-text-mixin-medium() {
  // TODO: typography token
  @include redwood-display-30;
}

@mixin cdr-button-base-text-mixin-large() {
  // TODO: typography token
  @include redwood-display-40;
}

/* start of mixin land */

@mixin cdr-button-base-mixin() {
  @include cdr-button-base-text-mixin;

  border: $cdr-button-base-border;
  border-radius: $cdr-button-base-border-radius;
  cursor: $cdr-button-base-cursor;
  display: $cdr-button-base-display;
  outline: $cdr-button-base-outline;
  overflow: $cdr-button-base-overflow;
  padding: $cdr-button-base-padding;
  text-align: $cdr-button-base-text-align;
  text-decoration: $cdr-button-base-text-decoration;
  text-transform: $cdr-button-base-text-transform;

  /* States
    ---------- */

  &:hover {
    outline: $cdr-button-base-outline-hover;
    outline-offset: $cdr-button-base-outline-offset-hover;
    text-decoration: $cdr-button-base-text-decoration-hover;
  }

  &:active {
    outline: $cdr-button-base-outline-active;
    outline-offset: $cdr-button-base-outline-offset-active;
    text-decoration: $cdr-button-base-text-decoration-active;
  }

  &:focus {
    outline: $cdr-button-base-outline-focus;
    outline-color: $cdr-button-base-outline-color-focus;
    outline-offset: $cdr-button-base-outline-offset-focus;
    text-decoration: $cdr-button-base-text-decoration-focus;
  }

  &[disabled] {
    cursor: $cdr-button-base-cursor-disabled;
  }
}

@mixin cdr-button-base-icon-mixin() {
  align-self: $cdr-button-base-icon-align-self;
  margin-right: $cdr-button-base-icon-mr;
  fill: $cdr-button-base-icon-fill;
}

@mixin cdr-button-primary-mixin() {
  background-color: $cdr-button-primary-background-color;
  box-shadow: $cdr-button-primary-box-shadow;
  color: $cdr-button-primary-color;
  fill: $cdr-button-primary-fill;

  /* States
    ---------- */

  &:hover {
    background-color: $cdr-button-primary-background-color-hover;
    color: $cdr-button-primary-color-hover;
    box-shadow: $cdr-button-primary-box-shadow-hover;
    fill: $cdr-button-primary-fill-hover;
  }

  &:active {
    background-color: $cdr-button-primary-background-color-active;
    color: $cdr-button-primary-color-active;
    box-shadow: $cdr-button-primary-box-shadow-active;
    fill: $cdr-button-primary-fill-active;
  }

  &:focus {
    background-color: $cdr-button-primary-background-color-focus;
    color: $cdr-button-primary-color-focus;
    box-shadow: $cdr-button-primary-box-shadow-focus;
    fill: $cdr-button-primary-fill-focus;
  }

  &[disabled] {
    background-color: $cdr-button-primary-background-color-disabled;
    box-shadow: $cdr-button-primary-box-shadow-disabled;
    color: $cdr-button-primary-color-disabled;
  }
}

@mixin cdr-button-secondary-mixin() {
  background-color: $cdr-button-secondary-background-color;
  box-shadow: $cdr-button-secondary-box-shadow;
  color: $cdr-button-secondary-color;
  fill: $cdr-button-secondary-fill;

  /* States
  ---------- */

  &:hover {
    background-color: $cdr-button-secondary-background-color-hover;
    box-shadow: $cdr-button-secondary-box-shadow-hover;
    color: $cdr-button-secondary-color-hover;
    fill: $cdr-button-secondary-fill-hover;
  }

  &:active {
    background-color: $cdr-button-secondary-background-color-active;
    box-shadow: $cdr-button-secondary-box-shadow-active;
    color: $cdr-button-secondary-color-active;
    fill: $cdr-button-secondary-fill-active;
  }

  &:focus {
    background-color: $cdr-button-secondary-background-color-focus;
    box-shadow: $cdr-button-secondary-box-shadow-focus;
    color: $cdr-button-secondary-color-focus;
    fill: $cdr-button-secondary-fill-focus;
  }

  &[disabled] {
    background-color: $cdr-button-secondary-background-color-disabled;
    box-shadow: $cdr-button-secondary-box-shadow-disabled;
    color: $cdr-button-secondary-color-disabled;
    fill: $cdr-button-secondary-fill-disabled;
  }
}

@mixin cdr-button-full-width-mixin() {
  width: $cdr-button-full-width-width !important;
  justify-content: $cdr-button-full-width-justify-content;
}

@mixin cdr-button-icon-only-mixin() {
  background: $cdr-button-icon-only-background-color;
  border: $cdr-button-icon-only-border;
  box-shadow: $cdr-button-icon-only-box-shadow;
  display: $cdr-button-icon-only-display;
  padding: $cdr-button-icon-only-padding;
  padding-right: $cdr-button-icon-only-pr;
  fill: $cdr-button-icon-only-fill;

  &:hover {
    background: $cdr-button-icon-only-background-color-hover;
    box-shadow: $cdr-button-icon-only-box-shadow-hover;
    fill: $cdr-button-icon-only-fill-hover;
  }

  &:active {
    background: $cdr-button-icon-only-background-color-active;
    box-shadow: $cdr-button-icon-only-box-shadow-active;
    fill: $cdr-button-icon-only-fill-active;
  }

  &:focus {
    background: $cdr-button-icon-only-background-color-focus;
    box-shadow: $cdr-button-icon-only-box-shadow-focus;
    fill: $cdr-button-icon-only-fill-focus;
  }
}

@mixin cdr-button-small-mixin() {
  @include cdr-button-base-text-mixin-small;
  padding: $cdr-button-base-padding-small;
  width: auto;
}

@mixin cdr-button-has-icon-small-mixin {
  padding-left: $cdr-button-has-icon-pl-small;
}

@mixin cdr-button-icon-small-mixin {
  /* This is to correct icon size vs line height */
  width: $cdr-button-base-icon-width-small;
  height: $cdr-button-base-icon-height-small;
}

@mixin cdr-button-medium-mixin() {
  @include cdr-button-base-text-mixin-medium;
  padding: $cdr-button-base-padding-medium;
  width: auto;
}

@mixin cdr-button-has-icon-medium-mixin {
  padding-left: $cdr-button-has-icon-pl-medium;
}

@mixin cdr-button-icon-medium-mixin {
  /* This is to correct icon size vs line height */
  width: $cdr-button-base-icon-width-medium;
  height: $cdr-button-base-icon-height-medium;
}

@mixin cdr-button-large-mixin() {
  @include cdr-button-base-text-mixin-large;
  padding: $cdr-button-base-padding-large;
  width: auto;
}

@mixin cdr-button-has-icon-large-mixin {
  padding-left: $cdr-button-has-icon-pl-large;
}

@mixin cdr-button-icon-large-mixin {
  /* This is to correct icon size vs line height */
  width: $cdr-button-base-icon-width-large;
  height: $cdr-button-base-icon-height-large;
}
