<section class="vertical-push-3">
    <cdr-well-docs example-title="Breadcrumbs" element-id="list-breadcrumbs">
        <yield to="example-description">
             <p class="lead">Indicate the current page's location within a navigational hierarchy.</p>
             <p>Separators are automatically added in CSS through <code>:before</code> and <code>content</code>.</p>
        </yield>
        <yield to="example">
            {% include markup-templates/lists/breadcrumb.html param="breadcrumbs" %}
        </yield>
        <yield to="codeblock">
        {% highlight html %}
<ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item" href="https://example.com/item1">
            <span itemprop="name">Item 1</span></a>
        <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item" href="https://example.com/item1/item2">
            <span itemprop="name">Item 2</span></a>
        <meta itemprop="position" content="2" />
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item" href="https://example.com/item1/item2/item3">
            <span itemprop="name">Item 3</span></a>
        <meta itemprop="position" content="3" />
    </li>
</ol>
        {% endhighlight %}
        </yield>
    </cdr-well-docs>
</section>
