@import '../../../css/settings/index.scss';

.cdr-image {
  max-width: 100%;
  vertical-align: middle;
  border-style: none;

  /* Style variants
    ========================================================================== */

  /* responsive
    ========== */
  &--responsive {
    display: block;
    height: auto;
    width: 100%;
  }

  /* rounded
    ========== */

  &--rounded {
    border-radius: $cdr-radius-softer;
  }

  /* circle
    ========== */

  &--circle {
    border-radius: $cdr-radius-round;
  }
}

/* ==========================================================================
   # MEDIA FRAME
   ========================================================================== */

.cdr-image-ratio {
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    height: 0;
    display: block;
    padding-bottom: var(--ratio);
  }

  &__cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;

    &--crop {
      object-fit: none;
    }

    &--cover {
      object-fit: cover;
    }
  }
}
