/* ==========================================================================
   # ICON
   ========================================================================== */

/*
* TOC:
*
* Base class
*/

.cdr-icon {
  width: 32px;
  height: 32px;

  &:hover > use {
    fill: $sys-color-lowe-lighten-20;
  }

  & path {
    all: inherit;
  }
}
