/* ==========================================================================
  # {NAME-FULLNAME}

  This file provides a contract between
  design tokens and cedar non-changing variables.

  TOC:

    :Base
========================================================================== */
