<form>
    <div class="form-group row required has-error">
        <div class="col-xs-12">
            <div class="checkbox">
                <input type="checkbox" name="checkbox-error1" id="checkbox-error1" required/>
                <label class="control-label" for="checkbox-error1">Sign up for email updates</label>
            </div>
            <span class="field-msg_error">
                <span class="icon icon-rei-error" aria-hidden="true"></span>
                <span class="alert-text">
                    <span class="sr-only">Error:</span>
                    This field is required
                </span>
            </span>
        </div>
    </div>
</form>
