<section>
  <div class="checkbox">
  <input type="checkbox" value="" id="checkbox1">
  <label for="checkbox1">Option one is this and that&mdash;be sure to include why it's great</label>
</div>
</section>
  <div class="group group-display-fixed group-gutter-xs-open-10">
    <div class="col-xs-12 col-sm-6">
        <section>
            <div class="checkbox disabled">
              <input type="checkbox" id="checkbox3" value="" disabled>
              <label for="checkbox3">
                Option disabled
              </label>
            </div>
        </section>
    </div>
    <div class="col-xs-12 col-sm-6">
         <section>
            <form>
                <div class="form-group row required has-error">
                    <div class="col-xs-12">
                        <div class="checkbox">
                            <input type="checkbox" name="checkbox-error1" id="checkbox-error1" required="">
                            <label class="control-label" for="checkbox-error1">Sign up for email updates</label>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>



