<form>
    <div class="controls">
        <input class="form-control input-lg" type="text" placeholder=".input-lg">
        <input type="text" class="form-control" placeholder="Default input">
        <input class="form-control input-sm" type="text" placeholder=".input-sm">
        <select class="form-control input-lg">
            <option value="">.input-lg</option>
        </select>
        <select class="form-control">
            <option value="">Default select</option>
        </select>
        <select class="form-control input-sm">
            <option value="">.input-sm</option>
        </select>
    </div>
</form>