<form>
    <div class="form-group has-success">
        <label class="control-label" for="inputSuccess1">Input with success</label>
        <input type="text" class="form-control" id="inputSuccess1">
    </div>
    <div class="form-group has-warning">
        <label class="control-label" for="inputWarning1">Input with warning</label>
        <input type="text" class="form-control" id="inputWarning1">
    </div>
    <div class="form-group has-error">
        <label class="control-label" for="inputError1">Input with error</label>
        <input type="text" class="form-control" id="inputError1">
    </div>
    <div class="has-success">
        <div class="checkbox">
          <input type="checkbox" id="checkboxSuccess" value="option1">
          <label for="checkboxSuccess">Checkbox with success</label>

        </div>
    </div>
    <div class="has-warning">
        <div class="checkbox">
          <input type="checkbox" id="checkboxWarning" value="option1">
          <label for="checkboxWarning">Checkbox with warning</label>

        </div>
    </div>
    <div class="has-error">
        <div class="checkbox">
          <input type="checkbox" id="checkboxError" value="option1">
          <label for="checkboxError">Checkbox with error</label>

        </div>
    </div>
</form>
