<form class="form-inline">
    <div class="form-group">
        <label class="sr-only" for="exampleInputAmount">Search Label</label>
        <div class="input-group">
            <div class="input-group-addon"><span class="icon icon-rei-search" aria-hidden="true"></span></div>
            <input type="text" class="form-control" id="search-input" placeholder="Find great gear">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default">
                Search
                </button>
            </span>
        </div>
    </div>
</form>
