<form>
    <div class="form-group has-warning">
        <label class="control-label" for="inputWarningBlock">Input with warning text</label>
        <input type="text" id="inputWarningBlock" class="form-control" aria-describedby="warningBlock" placeholder="Warning input placeholder text">
        <span id="warningBlock"class="field-msg_warning">
            <span class="icon icon-rei-warning" aria-hidden="true"></span>
            <span class="alert-text">
               <span class="sr-only">Warning:</span>
                A block of warning text that breaks onto a new line and may extend beyond one line.
            </span>
        </span>
    </div>
</form>
