<form>
    <div class="form-group">
        <label class="control-label" for="inputHelpBlock">Input with help text</label>
        <input type="text" id="inputHelpBlock" class="form-control" aria-describedby="helpBlock" placeholder="Help input placeholder text">
        <span id="helpBlock" class="field-msg_help">
            <span class="icon icon-rei-help" aria-hidden="true"></span>
            <span class="alert-text">
                A block of help text that breaks onto a new line and may extend beyond one line.
            </span>
        </span>
    </div>
</form>
