<div class="radio">
  <input type="radio" id="optionsRadios1" value="" checked>
  <label for="optionsRadios1">Option one is this and that&mdash;be sure to include why it's great</label>
</div>

  <div class="group group-display-fixed group-gutter-xs-open-10">
    <div class="col-xs-12 col-sm-6">
        <section>
            <div class="radio disabled">
              <input type="radio" id="RadioOptionsRadio" value="" disabled>
              <label for="RadioOptionsRadio">Radio option disabled</label>
            </div>
        </section>
    </div>
    <div class="col-xs-12 col-sm-6">
         <section>
            <form>
                <div class="form-group row required has-error">
                    <div class="radio">
                        <input type="radio" name="radio-errors" id="radio-error1" value="radio-error1" required />
                        <label class="control-label" for="radio-error1">pick me</label>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
