@mixin cdr-data-table-base-text() {
  @include cdr-text-utility-sans-200;
  color: $cdr-color-text-primary;
}

@mixin cdr-data-table-header-text() {
  @include cdr-text-utility-sans-strong-200;
}

@mixin cdr-data-table-caption-text() {
  @include cdr-text-utility-sans-strong-300;
}

@mixin cdr-data-table-locked-column() {
  @include cdr-data-table-header-text;

  border-right: 2px solid $cdr-color-border-table-head;
  left: 0;
  position: absolute;
  width: 150px;
}
