<!DOCTYPE html>
<html lang="en-us">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="REI Cedar Style Framework, built on Bootstrap, a sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.">
<meta name="keywords" content="HTML, CSS, JS, JavaScript, framework, bootstrap, front-end, frontend, web development">
<meta name="author" content="REI FED, IXD, UX, and the Bootstrap team">

<title>
  
    Tiles &middot; REI Cedar Style Framework
  
</title>

<script src="https://cdn.jsdelivr.net/riot/2.4.1/riot.min.js"></script>

<link href="/rei-cedar.css" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:400,700" rel="stylesheet">

<!-- Documentation extras -->
<link href="/assets/css/src/docs.css" rel="stylesheet">

<!-- Favicons -->
<link rel="icon" href="/favicon.ico">

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-146052-10', 'getbootstrap.com');
  ga('send', 'pageview');
</script>

  </head>
  <body>
    <div>
      <a id="skippy" class="skip-nav-link sr-only sr-only-focusable" href="#content">
          <div class="container">
              <span class="skiplink-text">Skip to main content</span>
          </div>
      </a>
    </div>

      <!-- Docs master nav -->


      <!-- Docs page layout -->
      <div class="bs-docs-header bs-docs-content" id="content" tabindex="-1">
        <div class="container">
          <h1 class="heading-hero">Tiles</h1>
          <p>An overview of the REI Pattern Library's tile and tiles</p>
        </div>
      </div>
      <div class="overlay-dark-1 ui-navigation">
          <div class="container">
              <div class="row">
                    <button type="button" class="btn btn-block btn-contrast btn-primary hidden-md hidden-lg"
                      data-toggle="collapse"
                      aria-expanded="false"
                      aria-controls="pattern_navigation"
                      data-target="#pattern_navigation"
                      aria-label="Navigation Toggle">
                        <span class="icon icon-rei-hamburger-menu" aria-hidden="true"></span>
                    </button>
                    <nav id="pattern_navigation" aria-label="Primary Navigation" role="navigation" class="collapse">
                        <div id="current" class="hidden">current page</div>
<ul id="js-a11ynav" class="doc_head-navigation">
    
    <li class="doc_head-navigation-item home">
        <a href="/" class="link_stag-explore-overlay">REI Pattern Library</a>
    </li>
    
    
    <li class="doc_head-navigation-item ">
        <a href="/getting-started/"
          >
            Getting Started
        </a>
        
    </li>
    
    <li class="doc_head-navigation-item ">
        <a href="/layouts/"
          >
            Layouts
        </a>
        
        <ul class="doc_head-navigation-nested-list">
            
            <li class="nested-item">
                <a href="/layouts/color/"
                  >
                    Color
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/layouts/grid/"
                  >
                    Grid
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/layouts/containers/"
                  >
                    Containers
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/layouts/groups/"
                  >
                    Groups
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/layouts/cards/"
                  >
                    Cards
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/layouts/tiles"
                  >
                    Tiles
                </a>
            </li>
            
        </ul>
        
    </li>
    
    <li class="doc_head-navigation-item ">
        <a href="/elements/"
          >
            Elements
        </a>
        
        <ul class="doc_head-navigation-nested-list">
            
            <li class="nested-item">
                <a href="/elements/typography/"
                  >
                    Typography
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/elements/buttons/"
                  >
                    Buttons
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/elements/links/"
                  >
                    Links
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/elements/lists/"
                  >
                    Lists
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/elements/inputs/"
                  >
                    Inputs
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/elements/checkboxes-and-radios/"
                  >
                    Checkboxes and Radios
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/elements/images/"
                  >
                    Images
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/elements/rei-icons/"
                  >
                    Icons
                </a>
            </li>
            
        </ul>
        
    </li>
    
    <li class="doc_head-navigation-item ">
        <a href="/collections/"
          >
            Collections
        </a>
        
        <ul class="doc_head-navigation-nested-list">
            
            <li class="nested-item">
                <a href="/collections/alerts/"
                  >
                    Alerts
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/collections/list-groups/"
                  >
                    List Groups
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/collections/breadcrumbs/"
                  >
                    Breadcrumbs
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/collections/button-groups/"
                  >
                    Button Groups
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/collections/input-groups/"
                  >
                    Input Groups
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/collections/forms/"
                  >
                    Forms
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/collections/tables/"
                  >
                    Tables
                </a>
            </li>
            
        </ul>
        
    </li>
    
    <li class="doc_head-navigation-item ">
        <a href="/modules/"
          >
            Modules
        </a>
        
        <ul class="doc_head-navigation-nested-list">
            
            <li class="nested-item">
                <a href="/modules/tabs/"
                  >
                    Tabs
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/modules/tool-tips/"
                  >
                    Tool Tips
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/modules/accordion/"
                  >
                    Accordion
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/modules/modals/"
                  >
                    Modals
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/modules/pagination/"
                  >
                    Pagination
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/modules/carousel/"
                  >
                    Carousel
                </a>
            </li>
            
        </ul>
        
    </li>
    
    <li class="doc_head-navigation-item ">
        <a href="/style-and-behavior/"
          >
            Style and Behavior
        </a>
        
        <ul class="doc_head-navigation-nested-list">
            
            <li class="nested-item">
                <a href="/style-and-behavior/utility-helpers/"
                  >
                    Utility Helpers
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/style-and-behavior/utility-responsive/"
                  >
                    Responsive Utilities
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/style-and-behavior/less-variables/"
                  >
                    Less Variables
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/style-and-behavior/less-mixins/"
                  >
                    Less Mixins
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/style-and-behavior/javascript/"
                  >
                    Javascript Documentation
                </a>
            </li>
            
        </ul>
        
    </li>
    
</ul>

                    </nav>
              </div>
          </div>
      </div>
      <div class="container vertical-pull-2" role="main">
        <div class="row">
            
          <div class="col-md-12" role="main">
            <p>A <strong>Tile</strong> is a flexible and extensible content container.</p>
<p>Tiles require a small amount of markup and classes to provide you with as much control as possible.</p>
<p>Tiles support a wide variety of content, including images, text, list groups, links, and more. Mix and match multiple content types to create the tile you need.</p>
<h2>Examples</h2>

<article class="card vertical-push-lg">
    <section class="card-block card-block--top" data-theme="light-20">
        <h3 class="h4">Tile orginization example</h3>
    </section>
    <section class="card-block cedar-example">
        <section class="tile" data-example-id="tile-orginization">
            <div class="media-frame ratio-3-4 portrait center">
                <img src="http://placehold.it/320x150" alt="Example image" />
            </div>
            <p>Don't wrap content within a tile-block when the content needs to span edge to edge.</p>
                <div class="tile-block text-xs-center">
                <p>The tile-block class provides padding to nested content</p>
                </div>
        </section>
    </section>
    <div class="code-toggle--control checkbox toggle-show-hide text-xs-right" data-theme="light-20">
        <input type="checkbox" value="" id="checkbox-tile-orginization" data-toggle="collapse" data-target="#tile-orginization" />
        <label for="checkbox-tile-orginization">View code</label>
    </div>
    <div class="collapse code-toggle--document" id="tile-orginization" data-theme="light-20">
    
<figure class="highlight"><pre><code class="language-html" data-lang="html">    <span class="nt">&lt;section</span> <span class="na">class=</span><span class="s">"tile"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"media-frame ratio-3-4 portrait center"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">"http://placehold.it/320x150"</span> <span class="na">alt=</span><span class="s">"Example image"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
        content out side of a block
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"tile-block text-xs-center"</span><span class="nt">&gt;</span>
            content within a tile-block
        <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/section&gt;</span>
    </code></pre></figure>

    </div>
</article>

<article class="card vertical-push-lg">
    <section class="card-block card-block--top" data-theme="light-20">
        <h3 class="h4">Groups within tiles</h3>
    </section>
    <section class="card-block">Placeing a group of wells within a tile.</section>
    <section class="card-block cedar-example">
        <section class="tile" data-example-id="groups-within-tiles">
            <section class="media-frame ratio-3-4 portrait center">
                <img src="http://placehold.it/320x150" alt="Example image" />
            </section>
            <div class="group group-display-fixed">
                <div class="col-xs-4">
                    <section class="well">
                        <div class="media-frame ratio-3-4 portrait center">
                            <img src="http://placehold.it/320x150" alt="Example image" />
                        </div>
                    </section>
                </div>
                <div class="col-xs-4">
                    <section class="well">
                        <div class="media-frame ratio-3-4 portrait center">
                            <img src="http://placehold.it/320x150" alt="Example image" />
                        </div>
                    </section>
                </div>
                <div class="col-xs-4">
                    <section class="well">
                        <div class="media-frame ratio-3-4 portrait center">
                            <img src="http://placehold.it/320x150" alt="Example image" />
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </section>
    <div class="code-toggle--control checkbox toggle-show-hide text-xs-right" data-theme="light-20">
        <input type="checkbox" value="" id="checkbox-groups-within-tiles" data-toggle="collapse" data-target="#groups-within-tiles" />
        <label for="checkbox-groups-within-tiles">View code</label>
    </div>
    <div class="collapse code-toggle--document" id="groups-within-tiles" data-theme="light-20">
    
<figure class="highlight"><pre><code class="language-html" data-lang="html">    <span class="nt">&lt;section</span> <span class="na">class=</span><span class="s">"tile"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;section</span> <span class="na">class=</span><span class="s">"media-frame"</span><span class="nt">&gt;&lt;/section&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"group group-display-fixed"</span><span class="nt">&gt;</span>
                <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs-4"</span><span class="nt">&gt;</span>
                    <span class="nt">&lt;section</span> <span class="na">class=</span><span class="s">"well"</span><span class="nt">&gt;&lt;/section&gt;</span>
                <span class="nt">&lt;/div&gt;</span>
                <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs-4"</span><span class="nt">&gt;</span>
                    <span class="nt">&lt;section</span> <span class="na">class=</span><span class="s">"well"</span><span class="nt">&gt;&lt;/section&gt;</span>
                <span class="nt">&lt;/div&gt;</span>
                <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs-4"</span><span class="nt">&gt;</span>
                    <span class="nt">&lt;section</span> <span class="na">class=</span><span class="s">"well"</span><span class="nt">&gt;&lt;/section&gt;</span>
                <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/section&gt;</span>
    </code></pre></figure>

    </div>
</article>

<article class="card vertical-push-lg">
    <section class="card-block card-block--top" data-theme="light-20">
        <h3 class="h4">Linked Tile</h3>
    </section>
    <section class="card-block"><p>When linking an entire tile, be sure no other actionable items are nested within the parent structure.</p></section>
    <section class="card-block cedar-example">
        <a href="#tile-as-an-anchor" class="tile" id="tile-as-an-anchor" data-example-id="linked-tile">
            <div class="media-frame ratio-3-4 portrait center">
                <img src="http://placehold.it/320x150" alt="Example image" />
            </div>
            <div class="tile-block">
                <h4>Heading</h4>
                <p>Copy.</p>
            </div>
        </a>
    </section>
    <div class="code-toggle--control checkbox toggle-show-hide text-xs-right" data-theme="light-20">
        <input type="checkbox" value="" id="checkbox-linked-tile" data-toggle="collapse" data-target="#linked-tile" />
        <label for="checkbox-linked-tile">View code</label>
    </div>
    <div class="collapse code-toggle--document" id="linked-tile" data-theme="light-20">
    
<figure class="highlight"><pre><code class="language-html" data-lang="html">    <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#tile-as-an-anchor"</span> <span class="na">class=</span><span class="s">"tile"</span> <span class="na">id=</span><span class="s">"tile-as-an-anchor"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"media-frame ratio-3-4 portrait center"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">"http://placehold.it/320x150"</span> <span class="na">alt=</span><span class="s">"Example image"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"tile-block"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;h4&gt;</span>Heading<span class="nt">&lt;/h4&gt;</span>
            <span class="nt">&lt;p&gt;</span>Copy.<span class="nt">&lt;/p&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/a&gt;</span>
    </code></pre></figure>

    </div>
</article>

<article class="card vertical-push-lg">
    <section class="card-block card-block--top" data-theme="light-20">
        <h3 class="h4">Image overlays</h3>
    </section>
    <section class="card-block">
        <p>Turn an image into a card background and overlay your card's text. To achive an accessible result, be sure to pass a <strong>theme</strong> value that is in line with the image color.</p>
    </section>
    <section class="card-block cedar-example">
        <section class="tile" data-theme="dark-10" data-example-id="image-overlays">
            <div class="media-frame ratio-3-4 portrait center">
                <img src="http://www.rei.com/content/landing-pages/lets-camp/img/mark/lead.jpg" alt="Text overlay cedar-card-image-cap component example" />
            </div>
            <div class="tile-block media-overlay">
                <h4>Cedar tile</h4>
                <p>Some quick example text to build on the tile title and make up the bulk of the tiles content.</p>
                <button class="btn btn-primary">Button</button>
            </div>
        </section>
    </section>
    <div class="code-toggle--control checkbox toggle-show-hide text-xs-right" data-theme="light-20">
        <input type="checkbox" value="" id="checkbox-image-overlays" data-toggle="collapse" data-target="#image-overlays" />
        <label for="checkbox-image-overlays">View code</label>
    </div>
    <div class="collapse code-toggle--document" id="image-overlays" data-theme="light-20">
    
<figure class="highlight"><pre><code class="language-html" data-lang="html">    <span class="nt">&lt;section</span> <span class="na">class=</span><span class="s">"tile"</span> <span class="na">data-theme=</span><span class="s">"dark-10"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"media-frame ratio-3-4 portrait center"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">"img-path"</span> <span class="na">alt=</span><span class="s">"context"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"tile-block media-overlay"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/section&gt;</span>
    </code></pre></figure>

    </div>
</article>

<article class="card vertical-push-lg">
    <section class="card-block card-block--top" data-theme="light-20"><h3 class="h4">Theming a tile</h3></section>
    <section class="card-block"><p>Tiles can include a theme data attribute for quickly changing the <strong>background-color</strong> and <strong>color</strong>.</p></section>
    <section class="card-block cedar-example">
        <div class="group group-display-fixed" data-example-id="theming-a-tile">
            <div class="col-sm-3">
                <section class="tile" data-theme="light-10">
                    <div class="tile-block">
                        <p>light-10</p>
                    </div>
                </section>
            </div>
            <div class="col-sm-3">
                <section class="tile" data-theme="light-20">
                    <div class="tile-block">
                        <p>light-20</p>
                    </div>
                </section>
            </div>
            <div class="col-sm-3">
                <section class="tile" data-theme="light-30">
                    <div class="tile-block">
                        <p>light-30</p>
                    </div>
                </section>
            </div>
            <div class="col-sm-3">
                <section class="tile" data-theme="medium-10">
                    <div class="tile-block">
                        <p>medium-10</p>
                    </div>
                </section>
            </div>
            <div class="col-sm-3">
                <section class="tile" data-theme="medium-20">
                    <div class="tile-block">
                        <p>medium-20</p>
                    </div>
                </section>
            </div>
            <div class="col-sm-3">
                <section class="tile" data-theme="dark-10">
                    <div class="tile-block">
                        <p>dark-10</p>
                    </div>
                </section>
            </div>
            <div class="col-sm-3">
                <section class="tile" data-theme="dark-20">
                    <div class="tile-block">
                        <p>dark-20</p>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <div class="code-toggle--control checkbox toggle-show-hide text-xs-right" data-theme="light-20">
        <input type="checkbox" value="" id="checkbox-theming-a-tile" data-toggle="collapse" data-target="#theming-a-tile" />
        <label for="checkbox-theming-a-tile">View code</label>
    </div>
    <div class="collapse code-toggle--document" id="theming-a-tile" data-theme="light-20">
    
<figure class="highlight"><pre><code class="language-html" data-lang="html">    <span class="nt">&lt;section</span> <span class="na">class=</span><span class="s">"tile"</span> <span class="na">data-theme=</span><span class="s">'light-20'</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"tile-block"</span><span class="nt">&gt;&lt;/div&gt;</span>
    <span class="nt">&lt;/section&gt;</span>
    </code></pre></figure>

    </div>
</article>

<cdr-card-docs example-title="Event date tile cards as a Riot Component - Example" element-id="dateTileCard">
    <yield to="example-description">
        <p>Date event tiles that will display as list view in mobile and as cards in Desktop.</p>
        <p>To create a new component, create a new folder within the components folder ( src/components ) and create a '.tag' file within that new folder with the same name.</p>
        <p>Style a component leveraging PL classes. Adding a style block in the tag file will scope the css to the component for component specific styling.</p>
    </yield>
    <yield to="example">
        <cdr-event-aggregator items="{ items }" />
        <script>
            const tag = this;
            tag.items = [
                { 
                    imgPath: 'http://placehold.it/320x150',
                    imgPathAlt: 'an image',
                    dateDayOfWeek: 'Sat',
                    dateMonthAndDayOfMonth: 'Oct 26',
                    title: 'This is the event you have been waiting for',
                    location: 'Seattle — 9:30AM',
                    waitListUrl: '',
                    spots: '5'
                },
                { 
                    imgPath: 'http://placehold.it/320x150',
                    imgPathAlt: 'an image',
                    dateDayOfWeek: 'Sun',
                    dateMonthAndDayOfMonth: 'Oct 26',
                    title: 'This is the event you have been waiting for',
                    location: 'Seattle — 9:30AM',
                    waitListUrl: '/join',
                    spots: '0'
                },
                { 
                    imgPath: 'http://placehold.it/320x150',
                    imgPathAlt: 'an image',
                    dateDayOfWeek: 'Mon',
                    dateMonthAndDayOfMonth: 'Oct 26',
                    title: 'This is the event you have been waiting for',
                    location: 'Seattle — 9:30AM',
                    waitListUrl: ''
                },
                { 
                    imgPath: 'http://placehold.it/320x150',
                    imgPathAlt: 'an image',
                    dateDayOfWeek: 'Tue',
                    dateMonthAndDayOfMonth: 'Oct 26',
                    title: 'This is the event you have been waiting for',
                    location: 'Seattle — 9:30AM',
                    waitListUrl: '',
                    spots: '12'
                }
            ]
        </script>
    </yield>
    <yield to="codeblock">
        
<figure class="highlight"><pre><code class="language-html" data-lang="html">        <span class="nt">&lt;cdr-list-to-grid&gt;</span>
            <span class="nt">&lt;section</span> <span class="na">class=</span><span class="s">"tile"</span><span class="nt">&gt;</span>
                <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"hidden-xs media-frame ratio-3-4 portrait center"</span><span class="nt">&gt;</span>
                    <span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">""</span> <span class="na">alt=</span><span class="s">""</span><span class="nt">&gt;</span>
                <span class="nt">&lt;/div&gt;</span>
                <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"tile-block"</span><span class="nt">&gt;</span>
                    <span class="nt">&lt;section</span> <span class="na">class=</span><span class="s">"event"</span><span class="nt">&gt;</span>
                        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"event__date text-uppercase"</span><span class="nt">&gt;</span>
                            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"h2 event__title"</span><span class="nt">&gt;</span>{ opts.item.dateDayOfWeek }<span class="nt">&lt;/div&gt;</span>
                            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"text-muted"</span><span class="nt">&gt;</span>{ opts.item.dateMonthAndDayOfMonth }<span class="nt">&lt;/div&gt;</span>
                        <span class="nt">&lt;/div&gt;</span>
                        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"event__content"</span><span class="nt">&gt;</span>
                            <span class="nt">&lt;h4</span> <span class="na">class=</span><span class="s">"event__title"</span><span class="nt">&gt;</span>{ opts.item.title }<span class="nt">&lt;/h4&gt;</span>
                            <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"event__location"</span><span class="nt">&gt;</span>{ opts.item.location }<span class="nt">&lt;/p&gt;</span>
                            <span class="nt">&lt;div</span> <span class="na">if=</span><span class="s">{</span> <span class="na">opts</span><span class="err">.</span><span class="na">item</span><span class="err">.</span><span class="na">spots</span> <span class="nt">&gt;</span> 0 || opts.item.spots == 0 } class="event__availability"&gt;
                                <span class="nt">&lt;div</span> <span class="na">if=</span><span class="s">{</span> <span class="na">opts</span><span class="err">.</span><span class="na">item</span><span class="err">.</span><span class="na">spots</span> <span class="nt">&gt;</span> 0 } class="text-muted"&gt;{ opts.item.spots } spots available<span class="nt">&lt;/div&gt;</span>
                                <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"event__waitList"</span> <span class="na">if=</span><span class="s">{</span> <span class="na">opts</span><span class="err">.</span><span class="na">item</span><span class="err">.</span><span class="na">spots =</span><span class="s">=</span> <span class="na">0</span> <span class="err">}</span><span class="nt">&gt;&lt;span</span> <span class="na">class=</span><span class="s">"text-off-price"</span><span class="nt">&gt;</span>Event is full.<span class="nt">&lt;/span&gt;</span> <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">class=</span><span class="s">"link_navigation text-nowrap"</span><span class="nt">&gt;</span>Join wait list<span class="nt">&lt;/a&gt;&lt;/div&gt;</span>
                            <span class="nt">&lt;/div&gt;</span>
                        <span class="nt">&lt;/div&gt;</span>
                    <span class="nt">&lt;/section&gt;</span>
                <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;/section&gt;</span>
        <span class="nt">&lt;/cdr-list-to-grid&gt;</span>
        </code></pre></figure>

    </yield>
</cdr-card-docs>


          </div>
        </div>
      </div>
      <!-- Footer
================================================== -->
<footer class="bs-docs-footer overlay-dark-1" role="contentinfo">
  <div class="container">
      <div class="row">
          <div class="row col-sm-10 col-sm-offset-1 ">
              
              <div class="col-md-2 col-sm-6">
                  <ul class="list-text">
                      <li><a class="h3 link_header-overlay" href="/getting-started/">Getting Started</a></li>
                      
                  </ul>
              </div>
              
              <div class="col-md-2 col-sm-6">
                  <ul class="list-text">
                      <li><a class="h3 link_header-overlay" href="/layouts/">Layouts</a></li>
                      
                      <li>
                          <a class="nested" href="/layouts/color/">Color</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/layouts/grid/">Grid</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/layouts/containers/">Containers</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/layouts/groups/">Groups</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/layouts/cards/">Cards</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/layouts/tiles">Tiles</a>
                      </li>
                      
                  </ul>
              </div>
              
              <div class="col-md-2 col-sm-6">
                  <ul class="list-text">
                      <li><a class="h3 link_header-overlay" href="/elements/">Elements</a></li>
                      
                      <li>
                          <a class="nested" href="/elements/typography/">Typography</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/elements/buttons/">Buttons</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/elements/links/">Links</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/elements/lists/">Lists</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/elements/inputs/">Inputs</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/elements/checkboxes-and-radios/">Checkboxes and Radios</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/elements/images/">Images</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/elements/rei-icons/">Icons</a>
                      </li>
                      
                  </ul>
              </div>
              
              <div class="col-md-2 col-sm-6">
                  <ul class="list-text">
                      <li><a class="h3 link_header-overlay" href="/collections/">Collections</a></li>
                      
                      <li>
                          <a class="nested" href="/collections/alerts/">Alerts</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/collections/list-groups/">List Groups</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/collections/breadcrumbs/">Breadcrumbs</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/collections/button-groups/">Button Groups</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/collections/input-groups/">Input Groups</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/collections/forms/">Forms</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/collections/tables/">Tables</a>
                      </li>
                      
                  </ul>
              </div>
              
              <div class="col-md-2 col-sm-6">
                  <ul class="list-text">
                      <li><a class="h3 link_header-overlay" href="/modules/">Modules</a></li>
                      
                      <li>
                          <a class="nested" href="/modules/tabs/">Tabs</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/modules/tool-tips/">Tool Tips</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/modules/accordion/">Accordion</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/modules/modals/">Modals</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/modules/pagination/">Pagination</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/modules/carousel/">Carousel</a>
                      </li>
                      
                  </ul>
              </div>
              
              <div class="col-md-2 col-sm-6">
                  <ul class="list-text">
                      <li><a class="h3 link_header-overlay" href="/style-and-behavior/">Style and Behavior</a></li>
                      
                      <li>
                          <a class="nested" href="/style-and-behavior/utility-helpers/">Utility Helpers</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/style-and-behavior/utility-responsive/">Responsive Utilities</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/style-and-behavior/less-variables/">Less Variables</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/style-and-behavior/less-mixins/">Less Mixins</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/style-and-behavior/javascript/">Javascript Documentation</a>
                      </li>
                      
                  </ul>
              </div>
              
          </div>
      </div>
    <ul class="footer-inline-list">
      <li><a class="nested" href="https://github.com/rei/rei-cedar">Github</a></li>
    </ul>
  </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script src="/rei-cedar.js"></script>

<script src="/rei-cedar-components.js"></script>

<script>
  riot.mount('*');
</script>

<script src="/assets/js/vendor/particles.min.js"></script>


  
  <script src="/assets/js/vendor/holder.js"></script>
  
  <script src="/assets/js/vendor/anchor.js"></script>
  
  <script src="/assets/js/src/application.js"></script>
  
  <script src="/assets/js/src/a11y.js"></script>
  



<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>

  </body>
</html>
