// This will be compiled to static/cdr-fonts.css

$cdr-warn: false;
@import "~@rei/cdr-tokens/dist/scss/cdr-tokens.scss";

// Standard fonts (for browsers that don't support variable fonts --> loaded below)
// -----------------------------------------

// Stuart
@font-face {
  font-family: $cdr-font-family-serif-brand-font;
  src: url("//www.rei.com/satchel/media/font-optimized/Stuart/REIStuart-Medium-Web-Subset.woff2") format("woff2"),
       url("//www.rei.com/satchel/media/font-optimized/Stuart/REIStuart-Medium-Web-Subset.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: $cdr-font-family-serif-brand-font;
  src: url("//www.rei.com/satchel/media/font-optimized/Stuart/REIStuart-Semibold-Web-Subset.woff2") format("woff2"),
       url("//www.rei.com/satchel/media/font-optimized/Stuart/REIStuart-Semibold-Web-Subset.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

// Graphik
@font-face {
	font-family: $cdr-font-family-sans-brand-font;
	src: url("//www.rei.com/satchel/media/font-optimized/Graphik/Graphik-Medium-Web-Subset.woff2") format("woff2"),
		   url("//www.rei.com/satchel/media/font-optimized/Graphik/Graphik-Medium-Web-Subset.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: $cdr-font-family-sans-brand-font;
	src: url("//www.rei.com/satchel/media/font-optimized/Graphik/Graphik-Semibold-Web-Subset.woff2") format("woff2"),
		   url("//www.rei.com/satchel/media/font-optimized/Graphik/Graphik-Semibold-Web-Subset.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}

// Variable fonts
// -----------------------------------------
@supports(font-variation-settings: normal) {
  @font-face {
    font-family: $cdr-font-family-serif-brand-font;
    font-weight: 1 999;
    src: url("//www.rei.com/satchel/media/font-optimized/Stuart/REIStuart-VF-Web-Subset.woff2") format("woff2-variations"),
      url("//www.rei.com/satchel/media/font-optimized/Stuart/REIStuart-VF-Web-Subset.woff2") format("woff2")
  }

  @font-face {
    font-family: $cdr-font-family-serif-brand-font;
    font-weight: 1 999;
    font-style: italic;
    src: url("//www.rei.com/satchel/media/font-optimized/Stuart/REIStuartWebItalics-VF-Web-Subset.woff2") format("woff2-variations"),
      url("//www.rei.com/satchel/media/font-optimized/Stuart/REIStuartWebItalics-VF-Web-Subset.woff2") format("woff2")
  }

  @font-face {
    font-family: $cdr-font-family-sans-brand-font;
    font-weight: 1 999;
    src: url("//www.rei.com/satchel/media/font-optimized/Graphik/Graphik-VF-Web-Subset.woff2") format("woff2-variations"),
    url("//www.rei.com/satchel/media/font-optimized/Graphik/Graphik-VF-Web-Subset.woff2") format("woff2")
  }

  @font-face {
    font-family: $cdr-font-family-sans-brand-font;
    font-weight: 1 999;
    font-style: italic;
    src: url("//www.rei.com/satchel/media/font-optimized/Graphik/GraphikWebItalic-VF-Web-Subset.woff2") format("woff2-variations"),
    url("//www.rei.com/satchel/media/font-optimized/Graphik/GraphikWebItalic-VF-Web-Subset.woff2") format("woff2")
  }
}
