// This will be compiled to static/cdr-fonts.css and used in conjuction 
// with typography mixin tokens from @rei/cdr-tokens to apply brand font styles

$cdr-warn: false;
@import "~@rei/cdr-tokens/dist/scss/cdr-tokens.scss";

@font-face {
  font-display: swap;
  font-family: $cdr-font-family-serif-brand-font;
  font-weight: 1 999;
  src: url("//www.rei.com/satchel/media/font-optimized/Stuart/REIStuart-VF-Web-Subset.woff2") format("woff2-variations"),
    url("//www.rei.com/satchel/media/font-optimized/Stuart/REIStuart-VF-Web-Subset.woff2") format("woff2")
}

@font-face {
  font-display: swap;
  font-family: $cdr-font-family-serif-brand-font;
  font-weight: 1 999;
  font-style: italic;
  src: url("//www.rei.com/satchel/media/font-optimized/Stuart/REIStuartWebItalics-VF-Web-Subset.woff2") format("woff2-variations"),
    url("//www.rei.com/satchel/media/font-optimized/Stuart/REIStuartWebItalics-VF-Web-Subset.woff2") format("woff2")
}

@font-face {
  font-display: swap;
  font-family: $cdr-font-family-sans-brand-font;
  font-weight: 1 999;
  src: url("//www.rei.com/satchel/media/font-optimized/Graphik/Graphik-VF-Web-Subset.woff2") format("woff2-variations"),
  url("//www.rei.com/satchel/media/font-optimized/Graphik/Graphik-VF-Web-Subset.woff2") format("woff2")
}

@font-face {
  font-display: swap;
  font-family: $cdr-font-family-sans-brand-font;
  font-weight: 1 999;
  font-style: italic;
  src: url("//www.rei.com/satchel/media/font-optimized/Graphik/GraphikWebItalic-VF-Web-Subset.woff2") format("woff2-variations"),
  url("//www.rei.com/satchel/media/font-optimized/Graphik/GraphikWebItalic-VF-Web-Subset.woff2") format("woff2")
}
