@font-face {
  font-family: Stuart;
  font-weight: 1 999;
  src: url("//www.rei.com/satchel/media/font-optimized/REI_Stuart/REI_Stuart-VF/REIStuart-VF-Web.woff2") format("woff2-variations"), url("//www.rei.com/satchel/media/font-optimized/REI_Stuart/REI_Stuart-VF/REIStuart-VF-Web.woff2") format("woff2"); }

@font-face {
  font-family: Stuart;
  font-weight: 1 999;
  font-style: italic;
  src: url("//www.rei.com/satchel/media/font-optimized/REI_Stuart/REI_Stuart-VF/REIStuartWebItalics-VF-Web.woff2") format("woff2-variations"), url("//www.rei.com/satchel/media/font-optimized/REI_Stuart/REI_Stuart-VF/REIStuartWebItalics-VF-Web.woff2") format("woff2"); }

@font-face {
  font-family: Graphik;
  font-weight: 1 999;
  src: url("//www.rei.com/satchel/media/font-optimized/Graphik/Graphik-VF/Graphik-VF-Web.woff2") format("woff2-variations"), url("//www.rei.com/satchel/media/font-optimized/Graphik/Graphik-VF/Graphik-VF-Web.woff2") format("woff2"); }

@font-face {
  font-family: Graphik;
  font-weight: 1 999;
  font-style: italic;
  src: url("//www.rei.com/satchel/media/font-optimized/Graphik/Graphik-VF/GraphikWebItalic-VF-Web.woff2") format("woff2-variations"), url("//www.rei.com/satchel/media/font-optimized/Graphik/Graphik-VF/GraphikWebItalic-VF-Web.woff2") format("woff2"); }
