{% for item in site.data.link-class-names %}
{% if item.type == include.param %}

<h1>
    <a href="#{{ item.family }}-links-header" class="{{ item.class }} text-icon-right-arrow">
        H1 Header Link<span class="icon icon-rei-right-arrow"></span>
    </a>
</h1>
<h2>
    <a href="#{{ item.family }}-links-header" class="{{ item.class }} text-icon-right-arrow">
        H2 Header Link<span class="icon icon-rei-right-arrow"></span>
    </a>
</h2>

<h3>
    <a href="#{{ item.family }}-links-header" class="{{ item.class }} text-icon-right-arrow">
        H3 Header Link<span class="icon icon-rei-right-arrow"></span>
    </a>
</h3>

{% endif %}
{% endfor %}
