{% for item in site.data.header-theme-class-names %}
    {% if item.theme == include.param %}
        {% case item.theme %}
            {% when 'hero' %}
            <h1 class="{{ item.headerClass }}"> When you gear up, we give back </h1>
            {% when 'announce' %}
            <h1 class="{{ item.headerClass }}"> When you gear up, we give back </h1>
        {% else %}
            <h1 class="{{ item.headerClass }}"> When you gear up, we give back </h1>
            <h2 class="{{ item.headerClass }}"> When you gear up, we give back </h2>
            <h3 class="{{ item.headerClass }}"> When you gear up, we give back </h3>
            <h4 class="{{ item.headerClass }}"> When you gear up, we give back </h4>
            <h5 class="{{ item.headerClass }}"> When you gear up, we give back </h5>
            <h6 class="{{ item.headerClass }}"> When you gear up, we give back </h6>
        {% endcase %}
    {% endif %}
{% endfor %}


