<table class="table">
    <caption>Legacy link classes</caption>
    <thead>
        <tr>
            <th> Description </th>
            <th> Class </th>
        </tr>
    </thead>
    <tbody>
    {% for item in site.data.link-class-names %}
    {% case item.family %}
    {% when 'overlay' %}
        <tr>
            <td data-theme='dark-10'><a class="{{ item.class }}" href="#"> Normal {{ item.type }} link</a></td>
        </tr>
        {% else %}
        <tr>
            <td><a class="{{ item.class }}" href="#"> Normal {{ item.type }} link</a></td>
        </tr>
        {% endcase %}
        {% endfor %}
    </tbody>
</table>