{% for item in site.data.link-class-names %}
    {% if item.type == include.param %}
        <table>
            {% if item.type contains 'singleton' %}
            <tr>
                <td>{{item.class}}</td>
                <td><a class="{{ item.class }}" href="#"> Normal standalone link</a></td>
            </tr>
            {% else %}
            <tr>
                <td>{{ item.class }} {{ item.type }}</a></td>
                <td><a class="{{ item.class }}" href="#"> Normal {{ item.type }} link</a></td>
            </tr>
            {% endif %}
        </table>
    {% endif %}
{% endfor %}
