/* ==========================================================================
  # {NAME-PASCAL}
  ========================================================================== */

/*
* TOC:
*
* Base class
*/
