/*
* Bootstrap Documentation
* Special styles for presenting Bootstrap's documentation and code examples.
*/
@media screen and (max-width: 767px) {
}
.bs-docs-header h1,
.bs-docs-header p {
  text-align: center;
}
.doc_head-navigation > li > a,
.doc_head-navigation ul > li > a {
  color: #222;
  text-decoration: none;
  outline: none;
}
.doc_head-navigation > li > a:hover,
.doc_head-navigation > li > a:active,
.doc_head-navigation > li > a:focus,
.doc_head-navigation ul > li > a:hover,
.doc_head-navigation ul > li > a:active,
.doc_head-navigation ul > li > a:focus {
  color: #222;
  text-decoration: underline;
}
.doc_head-navigation > li > a:focus,
.doc_head-navigation ul > li > a:focus {
  outline: thin dotted;
  outline: 0.5rem auto;
  outline-color: #4eaaff;
  outline-offset: -0.2rem;
}
.doc_head-navigation > li > a .icon,
.doc_head-navigation ul > li > a .icon {
  display: inline-block;
  text-decoration: none;
}
.doc_head-navigation > li > a ~ .icon,
.doc_head-navigation ul > li > a ~ .icon {
  color: #222;
}
.bs-docs-footer .list-text .nested,
.bs-docs-footer .footer-inline-list .nested,
.bs-docs-footer .list-text > li > ul .nested,
.bs-docs-footer .list-decoration .nested,
.bs-docs-footer .list-decoration > li > ul .nested,
.bs-docs-footer .list-decoration > li > ul .nested,
.bs-docs-footer .list-decoration > li > ul > li > ul .nested {
  color: #ccc;
  text-decoration: none;
  outline: none;
}
@media (min-width: 768px) {
}
.doc_head-navigation > li > a,
.doc_head-navigation ul > li > a {
  display: block;
  font-family: Roboto;
  font-size: 1.8rem;
  font-style: normal;
  line-height: 1;
  padding: 1.1rem 1.6rem;
}
.doc_head-navigation > li > a:hover,
.doc_head-navigation > li > a:focus,
.doc_head-navigation ul > li > a:hover,
.doc_head-navigation ul > li > a:focus {
  background-color: #f2f2f2;
  text-decoration: none;
}
.doc_head-navigation > li.disabled > a,
.doc_head-navigation ul > li.disabled > a {
  color: #f2f2f2;
}
.doc_head-navigation > li.disabled > a:hover,
.doc_head-navigation > li.disabled > a:focus,
.doc_head-navigation ul > li.disabled > a:hover,
.doc_head-navigation ul > li.disabled > a:focus {
  background-color: transparent;
  color: #f2f2f2;
  cursor: not-allowed;
  text-decoration: none;
}
.doc_head-navigation > li > ul > li > a,
.doc_head-navigation ul > li > ul > li > a {
  font-family: 4px;
  font-size: 1.6rem;
  font-style: normal;
  line-height: 1;
  padding: 1.1rem 1.6rem;
}
.dl-horizontal dd:before,
.dl-horizontal dd:after {
  content: " ";
  display: table;
}
.dl-horizontal dd:after {
  clear: both;
}
/*
* Variables
*
* Ain't nobody got time for hexadecimals
*/
/* Default Bootstrap docs colors */
/* REI doc theme colors */
/*
* Scaffolding
*
* Update the basics of our documents to prep for docs content.
*/
body {
  position: relative;
  /* For scrollspy */
}
/* Keep code small in tables on account of limited space */
.table code {
  font-size: 1.3rem;
  font-weight: normal;
}
/* Inline code within headings retain the heading's background-color */
h2 code,
h3 code,
h4 code {
  background-color: inherit;
}
/* Outline button for use within the docs */
.btn-outline {
  color: #fff;
  background-color: #a1c900;
  border-color: #a1c900;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
  color: #fff;
  background-color: #789600;
  border-color: #a1c900;
}
/* Inverted outline button (white on dark) */
.btn-outline-inverse {
  color: #fff;
  background-color: transparent;
  border-color: #d1ff17;
}
.btn-outline-inverse:hover,
.btn-outline-inverse:focus,
.btn-outline-inverse:active {
  color: #a1c900;
  text-shadow: none;
  background-color: #fff;
  border-color: #fff;
}
.vertical-push-1 {
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .vertical-push-1 {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .vertical-push-1 {
    margin-bottom: 3rem;
  }
}
.vertical-push-2 {
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .vertical-push-2 {
    margin-bottom: 4rem;
  }
}
@media (min-width: 992px) {
  .vertical-push-2 {
    margin-bottom: 6rem;
  }
}
.vertical-push-3 {
  margin-bottom: 3rem;
}
@media (min-width: 768px) {
  .vertical-push-3 {
    margin-bottom: 6rem;
  }
}
@media (min-width: 992px) {
  .vertical-push-3 {
    margin-bottom: 9rem;
  }
}
.vertical-pull-1 {
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .vertical-pull-1 {
    margin-top: 2rem;
  }
}
@media (min-width: 992px) {
  .vertical-pull-1 {
    margin-top: 3rem;
  }
}
.vertical-pull-2 {
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .vertical-pull-2 {
    margin-top: 4rem;
  }
}
@media (min-width: 992px) {
  .vertical-pull-2 {
    margin-top: 6rem;
  }
}
.vertical-pull-3 {
  margin-top: 3rem;
}
@media (min-width: 768px) {
  .vertical-pull-3 {
    margin-top: 6rem;
  }
}
@media (min-width: 992px) {
  .vertical-pull-3 {
    margin-top: 9rem;
  }
}
/*
* Fancy skip link
*
* Make it look a bit less "bare bones"
* Also includes focus suppression for the Chrome tabindex="-1" workaround
*/
.skip-nav-link {
  display: block;
  padding: 1rem;
  color: #004e00 !important;
  background-color: #a1c900;
  outline: 0;
}
/*
* Main navigation
*
* Turn the `.navbar` at the top of the docs purple.
*/
.bs-navbar-collapse,
.bs-list-nav {
  width: 100%;
}
.rei-logo {
  fill: #fff;
  stroke: none;
  width: 20rem;
  height: auto;
}
.rei-logo.secondary {
  width: 10rem;
  height: auto;
}
.ui-navigation .btn {
  margin-bottom: 0;
}
/*NAV*/
.doc_head-navigation,
.doc_head-navigation ul {
  padding-left: 0;
  list-style: none;
}
.doc_head-navigation > li > a,
.doc_head-navigation ul > li > a {
  border-bottom: 0.1rem solid #ccc;
  line-height: 1.5;
}
.doc_head-navigation > li > a:hover,
.doc_head-navigation ul > li > a:hover,
.doc_head-navigation > li > a:focus,
.doc_head-navigation ul > li > a:focus {
  background-color: #f2f2f2;
  text-decoration: none;
}
.doc_head-navigation.right,
.doc_head-navigation ul.right {
  text-align: right;
}
.doc_head-navigation-item {
  background: #fff;
}
.doc_head-navigation-item a:hover,
.doc_head-navigation-item a:focus,
.doc_head-navigation-item.active a {
  background: #a1c900 !important;
  color: #004e00 !important;
}
.doc_head-navigation-item.home a {
  color: #a1c900;
  background: #000;
}
.doc_head-navigation-item.home a:hover {
  background: #000;
}
.doc_head-navigation-item.active .nested-item a,
.doc_head-navigation-item .nested-item a {
  font-size: 1.4rem;
  background: #f2f2f2 !important;
  color: #000 !important;
}
.doc_head-navigation-item.active .nested-item a:hover,
.doc_head-navigation-item .nested-item a:hover {
  background: #000 !important;
  color: #fff !important;
}
@media (min-width: 992px) {
  #pattern_navigation {
    background-color: #000;
    display: block;
    position: relative;
    width: 100%;
    z-index: 1000;
  }
  #pattern_navigation .collapse {
    display: block !important;
  }
  .doc_head-navigation {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .doc_head-navigation > li > a {
    border-bottom: none;
  }
  .doc_head-navigation-nested-list {
    font-size: 1.4rem;
    position: absolute;
    left: 0;
    display: none;
    width: 20rem;
  }
  .doc_head-navigation-nested-list.js-show-menu {
    display: block;
    opacity: 0.99;
  }
  .doc_head-navigation-item > a {
    border: none;
  }
  .doc_head-navigation-item.home a {
    background-color: #000;
    color: #a1c900;
  }
  .doc_head-navigation-item.home a:hover {
    background: #000;
  }
  .doc_head-navigation-item,
  .nested-item {
    background: inherit;
  }
  .doc_head-navigation-item {
    float: left;
    margin: 0;
    padding: 0 1.6rem 0 0;
    position: relative;
  }
  .doc_head-navigation-item a {
    font-family: "Sentinel", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    line-height: 1;
    padding: 1.3rem 3.2rem;
    color: #fff !important;
    text-decoration: none;
    transition: all linear 0.1s;
    width: auto;
  }
  .doc_head-navigation-item > a:hover,
  .doc_head-navigation-item > a:focus,
  .doc_head-navigation-item:focus > a,
  .doc_head-navigation-item:hover > a {
    background: #8db000;
    outline: 0;
  }
  .nested-item a {
    color: #000;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
  }
}
/*
* Footer
*
* Separated section of content at the bottom of all pages, save the homepage.
*/
.bs-docs-footer {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-top: 6rem;
  border-top: 0.1rem solid #e5e5e5;
}
.bs-docs-footer .well {
  border: none !important;
}
.bs-docs-footer .footer-inline-list {
  position: relative;
  border-top: 0.1rem solid #333;
  padding-top: 4rem;
  margin-top: 4rem;
}
.bs-docs-footer .footer-inline-list > li {
  display: block;
}
.bs-docs-footer .footer-inline-list:after {
  position: absolute;
  top: -3.5rem;
  right: 1.7rem;
  content: "";
  background: url(http://www.rei.com/img/footer/trees.svg) 73% 12.5% no-repeat;
  height: 5rem;
  width: 10rem;
}
@media (min-width: 768px) {
  .bs-docs-footer .footer-inline-list > li {
    display: inline-block;
    padding: 0;
  }
  .bs-docs-footer .footer-inline-list > li:first-of-type {
    padding-left: 0;
  }
  .bs-docs-footer .footer-inline-list > li:last-of-type {
    padding-right: 0;
  }
  .bs-docs-footer .footer-inline-list.list-inline-md > li {
    padding: 0 1.6rem;
  }
  .bs-docs-footer .footer-inline-list.list-inline-md > li:first-of-type {
    padding-left: 0;
  }
  .bs-docs-footer .footer-inline-list.list-inline-md > li:last-of-type {
    padding-right: 0;
  }
  .bs-docs-footer .footer-inline-list.list-inline-lg > li {
    padding-right: 2.9rem;
  }
  .bs-docs-footer .footer-inline-list > li {
    padding: 0 1.6rem;
  }
  .bs-docs-footer .footer-inline-list > li:first-of-type {
    padding-left: 0;
  }
  .bs-docs-footer .footer-inline-list > li:last-of-type {
    padding-right: 0;
  }
  .bs-docs-footer .footer-inline-list > li {
    border-right: 0.1rem solid #666;
  }
  .bs-docs-footer .footer-inline-list > li:last-child {
    border: none;
  }
}
.bs-docs-footer-links {
  padding-left: 0;
  margin-top: 2rem;
}
.bs-docs-footer-links li {
  display: inline;
  padding: 0 0.2rem;
}
.bs-docs-footer-links li:first-child {
  padding-left: 0;
}
@media (min-width: 768px) {
  .bs-docs-footer p {
    margin-bottom: 0;
  }
}
/*
* Side navigation
*
* Scrollspy and affixed enhanced navigation to highlight sections and secondary
* sections of docs content.
*/
/* By default it's not affixed in mobile views, so undo that */
.bs-docs-sidebar.affix {
  position: static;
}
@media (min-width: 768px) {
  .bs-docs-sidebar {
    padding-left: 2rem;
  }
}
/* First level of nav */
.bs-docs-sidenav {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .bs-docs-sidenav {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .bs-docs-sidenav {
    margin-bottom: 3rem;
  }
}
@media (min-width: 768px) {
  .bs-docs-sidenav {
    margin-top: 2rem;
  }
}
@media (min-width: 992px) {
  .bs-docs-sidenav {
    margin-top: 3rem;
  }
}
/* Nav: second level (shown on .active) */
.bs-docs-sidebar .list-nav .nav,
.bs-docs-sidebar .doc_head-navigation .nav,
.bs-docs-sidebar .doc_head-navigation ul .nav {
  display: none;
  /* Hide by default, but at >768px, show it */
  padding-bottom: 1rem;
}
/* Back to top (hidden on mobile) */
.back-to-top,
.bs-docs-theme-toggle {
  display: none;
  padding: 0.4rem 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #999;
}
.back-to-top:hover,
.bs-docs-theme-toggle:hover {
  color: #a1c900;
  text-decoration: none;
}
.bs-docs-theme-toggle {
  margin-top: 0;
}
@media (min-width: 768px) {
  .back-to-top,
  .bs-docs-theme-toggle {
    display: block;
  }
}
/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
  .bs-docs-sidebar .list-nav > .active > ul,
  .bs-docs-sidebar .doc_head-navigation > .active > ul,
  .bs-docs-sidebar .doc_head-navigation ul > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .bs-docs-sidebar.affix,
  .bs-docs-sidebar.affix-bottom {
    width: 21.3rem;
  }
  .bs-docs-sidebar.affix {
    position: fixed;
    /* Undo the static from mobile first approach */
    top: 2rem;
  }
  .bs-docs-sidebar.affix-bottom {
    position: absolute;
    /* Undo the static from mobile first approach */
  }
  .bs-docs-sidebar.affix-bottom .bs-docs-sidenav,
  .bs-docs-sidebar.affix .bs-docs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .bs-docs-sidebar.affix-bottom,
  .bs-docs-sidebar.affix {
    width: 26.3rem;
  }
}
/*
* Homepage
*/
/* Share masthead with page headers */
.bs-docs-masthead {
  background-color: #111;
  background-size: 100%;
}
/* Masthead (headings and download button) */
.bs-docs-masthead .bs-docs-booticon {
  margin: 0 auto 3rem;
}
.bs-docs-masthead .lead {
  position: relative;
}
.bs-docs-masthead .version {
  margin-top: -1.5rem;
  margin-bottom: 3rem;
  color: #cafc00;
}
.bs-docs-masthead .btn {
  width: 100%;
}
@media (min-width: 480px) {
  .bs-docs-masthead .btn {
    width: auto;
  }
}
@media (min-width: 768px) {
  .bs-docs-masthead {
    padding: 8rem 0;
  }
  .bs-docs-masthead .lead {
    font-size: 2.4rem;
  }
}
@media (min-width: 992px) {
  .bs-docs-masthead .lead {
    width: 80%;
    font-size: 3rem;
  }
}
/*
* Page headers
*/
.bs-docs-header {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  background: #333;
  background-size: cover;
}
.bs-docs-header h1 {
  font: 2.843rem "Sentinel", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 1.333;
  color: inherit;
  margin-top: 0;
  margin-bottom: 1.2rem;
  color: #fff;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .bs-docs-header h1 {
    font-size: 3.79rem;
    line-height: 1.333;
  }
}
@media only screen and (min-width: 992px) {
  .bs-docs-header h1 {
    font-size: 3.79rem;
    line-height: 1.333;
  }
}
@media only screen and (min-width: 1200px) {
  .bs-docs-header h1 {
    font-size: 5.025rem;
    line-height: 1.333;
  }
}
.bs-docs-header h1.heading-announce {
  font-size: 6.734rem;
  line-height: 1.125;
}
@media only screen and (min-width: 768px) {
  .bs-docs-header h1.heading-announce {
    font-size: 8.976rem;
    line-height: 1.125;
  }
}
@media only screen and (min-width: 992px) {
  .bs-docs-header h1.heading-announce {
    font-size: 11.965rem;
    line-height: 1.125;
  }
}
@media only screen and (min-width: 1200px) {
  .bs-docs-header h1.heading-announce {
    font-size: 15.949rem;
    line-height: 1.125;
  }
}
.bs-docs-header h1.heading-impact,
.bs-docs-header h1.heading-editorial {
  font-size: 2.843rem;
  line-height: 1.333;
}
@media only screen and (min-width: 768px) {
  .bs-docs-header h1.heading-impact,
  .bs-docs-header h1.heading-editorial {
    font-size: 3.79rem;
    line-height: 1.333;
  }
}
@media only screen and (min-width: 992px) {
  .bs-docs-header h1.heading-impact,
  .bs-docs-header h1.heading-editorial {
    font-size: 3.79rem;
    line-height: 1.333;
  }
}
@media only screen and (min-width: 1200px) {
  .bs-docs-header h1.heading-impact,
  .bs-docs-header h1.heading-editorial {
    font-size: 5.025rem;
    line-height: 1.333;
  }
}
.bs-docs-header h1 + h1,
.bs-docs-header h1 + h2,
.bs-docs-header h1 + h3,
.bs-docs-header h1 + h4,
.bs-docs-header h1 + h5,
.bs-docs-header h1 + h6 {
  margin-top: 1.6rem;
}
.bs-docs-header p {
  margin-bottom: 0;
  color: #fff;
  line-height: 1.4;
}
.bs-docs-header .container {
  position: relative;
}
.page-header {
  padding-bottom: 1.1rem;
  margin: 4.8rem 0 2.4rem;
  border-bottom: 0.1rem solid #666;
}
/*
* Docs sections
*
* Content blocks for each component or feature.
*/
.note {
  color: #cc0000;
}
/* Space things out */
.bs-docs-section {
  margin-bottom: 6rem;
}
.bs-docs-section:last-child {
  margin-bottom: 0;
}
h1[id] {
  padding-top: 0;
  margin-top: 0;
}
.bs-list-nav > li > a {
  line-height: 1.6;
}
/*
* Callouts
*
* Not quite alerts, but custom and helpful notes for folks reading the docs.
* Requires a base and modifier class.
*/
/* Common styles for all types */
.bs-callout {
  padding: 2rem;
  margin: 0;
  border: 0.1rem solid #eee;
  border-left-width: 0.5rem;
  border-radius: 0.3rem;
}
.bs-callout h4 {
  margin-bottom: 0.5rem;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  border-radius: 0.3rem;
}
/* Tighten up space between multiple callouts */
.bs-callout + .bs-callout {
  margin-top: -0.5rem;
}
/* Variations */
.bs-callout-danger {
  border-left-color: #ce4844;
}
.bs-callout-danger h4 {
  color: #ce4844;
}
.bs-callout-warning {
  border-left-color: #aa6708;
}
.bs-callout-warning h4 {
  color: #aa6708;
}
.bs-callout-info {
  border-left-color: #1b809e;
}
.bs-callout-info h4 {
  color: #1b809e;
}
/*
* Grid examples
*
* Highlight the grid columns within the docs so folks can see their padding,
* alignment, sizing, etc.
*/
.show-grid {
  margin-bottom: 1.5rem;
}
.show-grid [class^="col-"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #eee;
  background-color: rgba(86, 61, 124, 0.15);
  border: 0.1rem solid #ddd;
  border: 0.1rem solid rgba(86, 61, 124, 0.2);
}
/*
* Examples
*
* Isolated sections of example content for each component or feature. Usually
* followed by a code snippet.
*/
.bs-example {
  position: relative;
  margin: 0 0 2.2rem;
}
.cedar-example > .card,
.cedar-example > .tile {
  width: 100%;
  max-width: 32rem;
  min-width: 32rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.card-doc-heading {
  margin-bottom: 0;
}
.code-toggle {
  position: relative;
  display: block;
}
.code-toggle--control {
  display: block;
  width: 100%;
  padding: 1.2rem 3.6rem 1.2rem 1.6rem;
  position: relative;
}
.code-toggle--control > [type="checkbox"] + label:before,
.code-toggle--control > [type="radio"] + label:before {
  bottom: auto;
  color: inherit;
  display: block;
  font-size: 1.4rem;
  left: auto;
  position: absolute;
  right: -4rem;
  top: 0.5rem;
}
.code-toggle--control.checkbox {
  margin: 0;
}
.code-toggle--control > [type="checkbox"]:checked + label:before,
.code-toggle--control > [type="radio"]:checked + label:before {
  color: inherit;
}
.code-toggle--document {
  border-top: 1px solid #666;
  position: relative;
}
.overlay-img {
  background: transparent url(http://www.rei.com/content/landing-pages/lets-camp/img/mark/lead.jpg) 0 0;
}
.overlay-img[data-theme="medium-10"] p,
.overlay-img[data-theme="dark-10"] p,
.overlay-img[data-theme="dark-20"] p,
.overlay-img[data-theme="medium-10"] h1,
.overlay-img[data-theme="dark-10"] h1,
.overlay-img[data-theme="dark-20"] h1,
.overlay-img[data-theme="medium-10"] h2,
.overlay-img[data-theme="dark-10"] h2,
.overlay-img[data-theme="dark-20"] h2,
.overlay-img[data-theme="medium-10"] h3,
.overlay-img[data-theme="dark-10"] h3,
.overlay-img[data-theme="dark-20"] h3,
.overlay-img[data-theme="medium-10"] h4,
.overlay-img[data-theme="dark-10"] h4,
.overlay-img[data-theme="dark-20"] h4,
.overlay-img[data-theme="medium-10"] h5,
.overlay-img[data-theme="dark-10"] h5,
.overlay-img[data-theme="dark-20"] h5,
.overlay-img[data-theme="medium-10"] h6,
.overlay-img[data-theme="dark-10"] h6,
.overlay-img[data-theme="dark-20"] h6 {
  text-shadow: 0 0 1px #000000;
}
.bs-header-well {
  padding: 1.6rem 0;
}
.media-state.well:before {
  content: "Extra small breakpoint";
  border: 0.1rem solid #f5f5f5;
  border-left: none;
  border-top: none;
  color: #ccc;
  position: relative;
  padding: 0.2rem;
  left: -1.6rem;
  top: -1.3rem;
}
@media (min-width: 768px) {
  .media-state.well:before {
    content: "Small breakpoint";
  }
}
@media (min-width: 992px) {
  .media-state.well:before {
    content: "Medium breakpoint";
  }
}
@media (min-width: 1200px) {
  .media-state.well:before {
    content: "Large breakpoint";
  }
}
.status a {
  color: #222;
}
.status-icon-danger:after {
  font: normal normal normal 1.2rem/1 'rei-icons';
  speak: none;
  transform: translate(0, 0);
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e748";
}
.status-icon-warning:after {
  font: normal normal normal 1.2rem/1 'rei-icons';
  speak: none;
  transform: translate(0, 0);
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e757";
}
.status-icon-help:after {
  font: normal normal normal 1.2rem/1 'rei-icons';
  speak: none;
  transform: translate(0, 0);
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e736";
}
.status-icon-info:after {
  font: normal normal normal 1.2rem/1 'rei-icons';
  speak: none;
  transform: translate(0, 0);
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e74c";
}
.status-icon-good:after {
  font: normal normal normal 1.2rem/1 'rei-icons';
  speak: none;
  transform: translate(0, 0);
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e755";
}
.status-icon-chat:after {
  font: normal normal normal 1.2rem/1 'rei-icons';
  speak: none;
  transform: translate(0, 0);
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e742";
}
.status-icon-builder-class:after {
  font: normal normal normal 1.2rem/1 'rei-icons';
  speak: none;
  transform: translate(0, 0);
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e63b";
}
.status-danger:after {
  color: #cc0000;
  display: inline-block;
  margin-left: 1.2rem;
  position: relative;
  top: 0.3rem;
}
h1.status-danger:after,
h2.status-danger:after {
  font-size: 2.843rem;
}
h3.status-danger:after,
h4.status-danger:after {
  font-size: 2.133rem;
}
.status-danger:after {
  font: normal normal normal 1.2rem/1 'rei-icons';
  speak: none;
  transform: translate(0, 0);
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e748";
}
.status-warning:after {
  color: #e4ac00;
  display: inline-block;
  margin-left: 1.2rem;
  position: relative;
  top: 0.3rem;
}
h1.status-warning:after,
h2.status-warning:after {
  font-size: 2.843rem;
}
h3.status-warning:after,
h4.status-warning:after {
  font-size: 2.133rem;
}
.status-warning:after {
  font: normal normal normal 1.2rem/1 'rei-icons';
  speak: none;
  transform: translate(0, 0);
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e757";
}
.status-chat:after {
  color: #808080;
  display: inline-block;
  margin-left: 1.2rem;
  position: relative;
  top: 0.3rem;
}
h1.status-chat:after,
h2.status-chat:after {
  font-size: 2.843rem;
}
h3.status-chat:after,
h4.status-chat:after {
  font-size: 2.133rem;
}
.status-chat:after {
  font: normal normal normal 1.2rem/1 'rei-icons';
  speak: none;
  transform: translate(0, 0);
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e742";
}
.status-base-class:after {
  color: #808080;
  display: inline-block;
  margin-left: 1.2rem;
  position: relative;
  top: 0.3rem;
}
h1.status-base-class:after,
h2.status-base-class:after {
  font-size: 2.843rem;
}
h3.status-base-class:after,
h4.status-base-class:after {
  font-size: 2.133rem;
}
.status-base-class:after {
  font: normal normal normal 1.2rem/1 'rei-icons';
  speak: none;
  transform: translate(0, 0);
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e742";
}
.status-base-class:after {
  font: normal normal normal 1.2rem/1 'rei-icons';
  speak: none;
  transform: translate(0, 0);
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e63b";
}
.status-info:after {
  color: #222;
  display: inline-block;
  margin-left: 1.2rem;
  position: relative;
  top: 0.3rem;
}
h1.status-info:after,
h2.status-info:after {
  font-size: 2.843rem;
}
h3.status-info:after,
h4.status-info:after {
  font-size: 2.133rem;
}
.status-info:after {
  font: normal normal normal 1.2rem/1 'rei-icons';
  speak: none;
  transform: translate(0, 0);
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e74c";
}
.status-good:after {
  color: #a1c900;
  display: inline-block;
  margin-left: 1.2rem;
  position: relative;
  top: 0.3rem;
}
h1.status-good:after,
h2.status-good:after {
  font-size: 2.843rem;
}
h3.status-good:after,
h4.status-good:after {
  font-size: 2.133rem;
}
.status-good:after {
  font: normal normal normal 1.2rem/1 'rei-icons';
  speak: none;
  transform: translate(0, 0);
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e755";
}
.bs-example-padded-bottom {
  padding-bottom: 2.4rem;
}
/* Tweak display of the code snippets when following an example */
.well + .highlight,
.well + .zero-clipboard + .highlight,
.well-group + .highlight,
.well-group + .zero-clipboard + .highlight {
  margin: -2.2rem -1.5rem 2.2rem;
  border-width: 0 0 0.1rem;
  border-radius: 0;
}
/* Make the examples and snippets not full-width */
@media (min-width: 768px) {
  .well + .highlight,
  .well + .zero-clipboard + .highlight,
  .well-group + .highlight,
  .well-group + .zero-clipboard + .highlight {
    margin-top: -2.2rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 0.1rem;
    border-top: none;
    border-bottom-right-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
  }
  .bs-example-standalone {
    border-radius: 0.4rem;
  }
}
/* Undo width of container */
.bs-example .container {
  width: auto;
}
.bs-example > p > .close {
  float: none;
}
/* Typography */
.bs-example-type .table .type-info {
  color: #767676;
  vertical-align: middle;
}
.bs-example-type .table td {
  padding: 1.5rem 0;
  border-color: #eee;
}
.bs-example-type .table tr:first-child td {
  border-top: 0;
}
/* Contextual background colors */
.bs-example-bg-classes p {
  padding: 1.5rem;
}
/* Images */
.bs-example > .img-circle,
.bs-example > .img-rounded,
.bs-example > .img-thumbnail {
  margin: 0.5rem;
}
/* Tables */
.bs-example > .table-responsive > .table {
  background-color: #fff;
}
/* Buttons */
.bs-example > .btn,
.bs-example > .btn-group {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
/* Forms */
.bs-example-control-sizing select,
.bs-example-control-sizing input[type="text"] + input[type="text"] {
  margin-top: 1rem;
}
.bs-example-form .input-group {
  margin-bottom: 1rem;
}
.bs-example > textarea.form-control {
  resize: vertical;
}
/* List groups */
.bs-example > .list-group {
  max-width: 40rem;
}
/* Navbars */
.bs-example .navbar:last-child {
  margin-bottom: 0;
}
.bs-navbar-top-example,
.bs-navbar-bottom-example {
  z-index: 1;
  padding: 0;
  overflow: hidden;
  /* cut the drop shadows off */
}
.bs-navbar-top-example .navbar-header,
.bs-navbar-bottom-example .navbar-header {
  margin-left: 0;
}
.bs-navbar-top-example .navbar-fixed-top,
.bs-navbar-bottom-example .navbar-fixed-bottom {
  position: relative;
  margin-right: 0;
  margin-left: 0;
}
.bs-navbar-top-example {
  padding-bottom: 4.5rem;
}
.bs-navbar-top-example:after {
  top: auto;
  bottom: 1.5rem;
}
.bs-navbar-top-example .navbar-fixed-top {
  top: -0.1rem;
}
.bs-navbar-bottom-example {
  padding-top: 4.5rem;
}
.bs-navbar-bottom-example .navbar-fixed-bottom {
  bottom: -0.1rem;
}
.bs-navbar-bottom-example .navbar {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .bs-navbar-top-example .navbar-fixed-top,
  .bs-navbar-bottom-example .navbar-fixed-bottom {
    position: absolute;
  }
}
/* Pagination */
.bs-example .pagination {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
/* Pager */
.bs-example > .pager {
  margin-top: 0;
}
/* Example modals */
.bs-example-modal {
  background-color: #f5f5f5;
}
.bs-example-modal .modal {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  display: block;
}
.bs-example-modal .modal-dialog {
  left: auto;
  margin-right: auto;
  margin-left: auto;
}
/* Example dropdowns */
/* Example tabbable tabs */
.bs-example-tabs .nav-tabs {
  margin-bottom: 1.5rem;
}
/* Tooltips */
.bs-example-tooltips {
  text-align: center;
}
.bs-example-tooltips > .btn {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.bs-example-tooltip .tooltip {
  position: relative;
  display: inline-block;
  margin: 1rem 2rem;
  opacity: 1;
}
/* Popovers */
.bs-example-popover {
  padding-bottom: 2.4rem;
  background-color: #f9f9f9;
}
.bs-example-popover .popover {
  position: relative;
  display: block;
  float: left;
  width: 26rem;
  margin: 2rem;
}
/* Scrollspy demo on fixed height div */
.scrollspy-example {
  position: relative;
  height: 20rem;
  margin-top: 1rem;
  overflow: auto;
}
/* Simple collapse example */
#collapseExample .well {
  margin-bottom: 0;
}
/* Don't wrap event names in Events tables in JS plugin docs */
.bs-events-table > thead > tr > th:first-child,
.bs-events-table > tbody > tr > td:first-child {
  white-space: nowrap;
}
.bs-events-table > thead > tr > th:first-child {
  width: 15rem;
}
.js-options-table > thead > tr > th:nth-child(1),
.js-options-table > thead > tr > th:nth-child(2) {
  width: 10rem;
}
.js-options-table > thead > tr > th:nth-child(3) {
  width: 5rem;
}
.zero-clipboard {
  position: relative;
}
.btn-clipboard {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: block;
  padding: 0.5rem 0.8rem;
  font-size: 1.2rem;
  color: #565656;
  cursor: pointer;
  background-color: #ffffff;
  border: 0.1rem solid #565656;
  border-radius: 0 0.4rem 0 0.4rem;
}
/*
* Miscellaneous
*
* Odds and ends for optimum docs display.
*/
/* Pseudo :focus state for showing how it looks in the docs */
#focusedInput {
  border: 0.1rem solid #0066cc;
  /* Restate unfocused value to make CSSLint happy that there's a pre-CSS3 fallback*/
}
dl {
  margin-top: 0;
  margin-bottom: 2.4rem;
}
dt,
dd {
  line-height: 1.5;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 179.8px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dl-horizontal dd {
    margin-left: 180px;
  }
}
/*
* Color swatches
*
* Color swatches and associated values for our grayscale and brand colors.
*/
.color-swatches,
.documentation {
  overflow: hidden;
  /* clearfix */
}
.color-swatches .dl-horizontal dt,
.documentation .dl-horizontal dt {
  text-align: left;
}
.color-swatch {
  display: inline-table;
  width: 100%;
  height: 5.5rem;
  margin: 0;
  border: solid 0.1rem #ccc;
}
/*
/* Brand colors */
.core-action-1 {
  background-color: #4eaaff;
}
.core-action-2 {
  background-color: #0066cc;
}
.core-action-3 {
  background-color: #83c4ff;
}
.core-architectural-1 {
  background-color: #000;
}
.core-architectural-2,
.utility-info {
  background-color: #222;
}
.core-architectural-3 {
  background-color: #666;
}
.core-architectural-4 {
  background-color: #ccc;
}
.core-architectural-5 {
  background-color: #fff;
}
.core-architectural-6 {
  background-color: #efeee2;
}
.explore-active-1 {
  background-color: #a1c900;
}
.explore-active-2 {
  background-color: #004e00;
}
.explore-active-3 {
  background-color: #bdd94d;
}
.explore-active-4 {
  background-color: #4d834d;
}
.explore-active-5 {
  background-color: #004e00;
}
.explore-architectural-1 {
  background-color: #a1c900;
}
.explore-architectural-2 {
  background-color: #004e00;
}
.utility-off-price,
.outlet-action-1,
.outlet-architectural-1 {
  background-color: #cc0000;
}
.outlet-action-2 {
  background-color: #db4d4d;
}
.utility-error {
  background-color: #cc0000;
}
.utility-warning {
  background-color: #e4ac00;
}
.utility-success,
.utility-available {
  background-color: #a1c900;
}
/* Docs colors */
.color-swatches .bs-purple {
  background-color: #a1c900;
}
.color-swatches .bs-purple-light {
  background-color: #b5e300;
}
.color-swatches .bs-purple-lighter {
  background-color: #cafc00;
}
.color-swatches .bs-gray {
  background-color: #f9f9f9;
}
.hll {
  background-color: #fff;
}
.c {
  color: #004e00;
  font-style: italic;
}
/* Comment */
.err {
  color: #cc0000;
}
/* Error */
.k {
  color: #000080;
  font-weight: bold;
}
/* Keyword */
.cm {
  color: #004e00;
  font-style: italic;
}
/* Comment.Multiline */
.cp {
  color: #008080;
}
/* Comment.Preproc */
.c1 {
  color: #004e00;
  font-style: italic;
}
/* Comment.Single */
.cs {
  color: #004e00;
  font-weight: bold;
}
/* Comment.Special */
.gd {
  color: #000000;
  background-color: #fff;
}
/* Generic.Deleted */
.ge {
  font-style: italic;
}
/* Generic.Emph */
.gr {
  color: #cc0000;
}
/* Generic.Error */
.gh {
  color: #999999;
}
/* Generic.Heading */
.gi {
  color: #000000;
  background-color: #fff;
}
/* Generic.Inserted */
.go {
  color: #888888;
}
/* Generic.Output */
.gp {
  color: #555555;
}
/* Generic.Prompt */
.gs {
  font-weight: bold;
}
/* Generic.Strong */
.gu {
  color: #aaaaaa;
}
/* Generic.Subheading */
.gt {
  color: #cc0000;
}
/* Generic.Traceback */
.kc {
  color: #004c99;
  font-weight: bold;
}
/* Keyword.Constant */
.kd {
  color: #004c99;
  font-weight: bold;
}
/* Keyword.Declaration */
.kn {
  color: #004c99;
  font-weight: bold;
}
/* Keyword.Namespace */
.kp {
  color: #004c99;
  font-weight: bold;
}
/* Keyword.Pseudo */
.kr {
  color: #004c99;
  font-weight: bold;
}
/* Keyword.Reserved */
.kt {
  color: #004c99;
  font-weight: bold;
}
/* Keyword.Type */
.m {
  color: #0066cc;
}
/* Literal.Number */
.s {
  color: #0066cc;
}
/* Literal.String */
.na {
  color: #cc0000;
}
/* Name.Attribute */
.nt {
  color: #004c99;
  font-weight: bold;
}
/* Name.Tag */
.ow {
  font-weight: bold;
}
/* Operator.Word */
.w {
  color: #fff;
}
/* Text.Whitespace */
.mf {
  color: #0066cc;
}
/* Literal.Number.Float */
.mh {
  color: #0066cc;
}
/* Literal.Number.Hex */
.mi {
  color: #0066cc;
}
/* Literal.Number.Integer */
.mo {
  color: #0066cc;
}
/* Literal.Number.Oct */
.sb {
  color: #0066cc;
}
/* Literal.String.Backtick */
.sc {
  color: #800080;
}
/* Literal.String.Char */
.sd {
  color: #0066cc;
}
/* Literal.String.Doc */
.s2 {
  color: #0066cc;
}
/* Literal.String.Double */
.se {
  color: #0066cc;
}
/* Literal.String.Escape */
.sh {
  color: #0066cc;
}
/* Literal.String.Heredoc */
.si {
  color: #0066cc;
}
/* Literal.String.Interpol */
.sx {
  color: #0066cc;
}
/* Literal.String.Other */
.sr {
  color: #0066cc;
}
/* Literal.String.Regex */
.s1 {
  color: #0066cc;
}
/* Literal.String.Single */
.ss {
  color: #0066cc;
}
/* Literal.String.Symbol */
.il {
  color: #0066cc;
}
/* Literal.Number.Integer.Long */
/*
* Responsive tests
*
* Generate a set of tests to show the responsive utilities in action.
*/
/* Responsive (scrollable) doc tables */
.table-responsive .highlight pre {
  white-space: normal;
}
/* Utility classes table  */
.bs-table th small,
.responsive-utilities th small {
  display: block;
  font-weight: normal;
  color: #999;
}
.responsive-utilities tbody th {
  font-weight: normal;
}
.responsive-utilities td {
  text-align: center;
}
.responsive-utilities td.is-visible {
  color: #468847;
  background-color: #dff0d8 !important;
}
.responsive-utilities td.is-hidden {
  color: #ccc;
  background-color: #f9f9f9 !important;
}
/* Responsive tests */
.responsive-utilities-test {
  margin-top: 0.5rem;
}
.responsive-utilities-test .col-xs-6 {
  margin-bottom: 1rem;
}
.responsive-utilities-test span {
  display: block;
  padding: 1.5rem 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.1;
  text-align: center;
  border-radius: 0.4rem;
}
.visible-on .col-xs-6 .hidden-xs,
.visible-on .col-xs-6 .hidden-sm,
.visible-on .col-xs-6 .hidden-md,
.visible-on .col-xs-6 .hidden-lg,
.hidden-on .col-xs-6 .hidden-xs,
.hidden-on .col-xs-6 .hidden-sm,
.hidden-on .col-xs-6 .hidden-md,
.hidden-on .col-xs-6 .hidden-lg {
  color: #999;
  border: 0.1rem solid #ddd;
}
.visible-on .col-xs-6 .visible-xs-block,
.visible-on .col-xs-6 .visible-sm-block,
.visible-on .col-xs-6 .visible-md-block,
.visible-on .col-xs-6 .visible-lg-block,
.hidden-on .col-xs-6 .visible-xs-block,
.hidden-on .col-xs-6 .visible-sm-block,
.hidden-on .col-xs-6 .visible-md-block,
.hidden-on .col-xs-6 .visible-lg-block {
  color: #468847;
  background-color: #dff0d8;
  border: 0.1rem solid #d6e9c6;
}
/*
 * Glyphicons
 *
 * Special styles for displaying the icons and their classes in the docs.
 */
.bs-icons:before,
.bs-icons:after {
  content: " ";
  display: table;
}
.bs-icons:after {
  clear: both;
}
.bs-icons:before,
.bs-icons:after {
  content: " ";
  display: table;
}
.bs-icons:after {
  clear: both;
}
.bs-icons .bs-icons-list {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.bs-icons .bs-icons-list .bs-icons-item {
  width: 100%;
  min-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 768px) {
  .bs-icons .bs-icons-list .bs-icons-item {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 992px) {
  .bs-icons .bs-icons-list .bs-icons-item {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.bs-icons .bs-icons-list .bs-icons-item .media:before,
.bs-icons .bs-icons-list .bs-icons-item .media:after {
  content: " ";
  display: table;
}
.bs-icons .bs-icons-list .bs-icons-item .media:after {
  clear: both;
}
.bs-icons .bs-icons-list .bs-icons-item .media:before,
.bs-icons .bs-icons-list .bs-icons-item .media:after {
  content: " ";
  display: table;
}
.bs-icons .bs-icons-list .bs-icons-item .media:after {
  clear: both;
}
.bs-icons .bs-icons-list .bs-icons-item .media-left {
  display: block !important;
  padding: 1.6rem;
}
.bs-icons .bs-icons-list .bs-icons-item .media-body {
  width: auto;
}
.bs-icons .bs-icons-list .bs-icons-item .media-body.pull-right {
  float: none !important;
  padding-left: 0;
}
@media (min-width: 35rem) {
  .bs-icons .bs-icons-list .bs-icons-item {
    width: 50%;
    min-width: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (min-width: 35rem) and (min-width: 768px) {
  .bs-icons .bs-icons-list .bs-icons-item {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 35rem) and (min-width: 992px) {
  .bs-icons .bs-icons-list .bs-icons-item {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media (min-width: 70rem) {
  .bs-icons .bs-icons-list .bs-icons-item {
    width: 33.33333333%;
    min-width: 33.33333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .bs-icons .bs-icons-list .bs-icons-item .media-left {
    display: table-cell !important;
  }
  .bs-icons .bs-icons-list .bs-icons-item .media-body.pull-right {
    padding-left: 1.2rem;
  }
}
@media (min-width: 70rem) and (min-width: 768px) {
  .bs-icons .bs-icons-list .bs-icons-item {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 70rem) and (min-width: 992px) {
  .bs-icons .bs-icons-list .bs-icons-item {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.bs-icons .bs-icons-list .bs-icons-item .icon {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  vertical-align: middle;
}
.bs-icons.rating {
  color: #ccc;
}
.bs-icons.rating .icon {
  font-size: 6.4rem;
  display: inline-block;
}
.bs-icons.rating .icon:nth-child(2) {
  content: "\e72e";
  color: #a1c900;
}
.bs-icons.rating .icon:first-child,
.bs-icons.rating .icon:hover:before,
.bs-icons.rating .icon:hover ~ .bs-icons.rating .icon:before {
  content: "\e731";
  color: #a1c900;
}
.mountain-example {
  border-color: inherit;
  display: inline-block;
  height: 2rem;
  /* Primary Mountain Peak */
  /* Secondary Mountain Peak */
}
.mountain-example:before,
.mountain-example:after {
  content: "";
  position: absolute;
  border-top-width: 0 !important;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: #000;
}
.mountain-example:before {
  border-width: 2rem;
}
.mountain-example:after {
  border-width: 1.5rem;
  transform: translate(2.2rem, 0.5rem);
}
@media (min-width: 768px) {
  .mountain-example {
    height: 3rem;
  }
  .mountain-example:before {
    border-width: 3rem;
  }
  .mountain-example:after {
    border-width: 2rem;
    transform: translate(3.6rem, 1rem);
  }
}
/*
   /$$$$$$$             /$$     /$$                                         /$$       /$$ /$$                                                     /$$$$$$                        /$$                             /$$                       /$$     /$$
  | $$__  $$           | $$    | $$                                        | $$      |__/| $$                                                    /$$__  $$                      | $$                            |__/                      | $$    |__/
  | $$  \ $$ /$$$$$$  /$$$$$$ /$$$$$$    /$$$$$$   /$$$$$$  /$$$$$$$       | $$       /$$| $$$$$$$   /$$$$$$  /$$$$$$   /$$$$$$  /$$   /$$      | $$  \__/ /$$   /$$  /$$$$$$$ /$$$$$$    /$$$$$$  /$$$$$$/$$$$  /$$ /$$$$$$$$  /$$$$$$  /$$$$$$   /$$  /$$$$$$  /$$$$$$$   /$$$$$$$
  | $$$$$$$/|____  $$|_  $$_/|_  $$_/   /$$__  $$ /$$__  $$| $$__  $$      | $$      | $$| $$__  $$ /$$__  $$|____  $$ /$$__  $$| $$  | $$      | $$      | $$  | $$ /$$_____/|_  $$_/   /$$__  $$| $$_  $$_  $$| $$|____ /$$/ |____  $$|_  $$_/  | $$ /$$__  $$| $$__  $$ /$$_____/
  | $$____/  /$$$$$$$  | $$    | $$    | $$$$$$$$| $$  \__/| $$  \ $$      | $$      | $$| $$  \ $$| $$  \__/ /$$$$$$$| $$  \__/| $$  | $$      | $$      | $$  | $$|  $$$$$$   | $$    | $$  \ $$| $$ \ $$ \ $$| $$   /$$$$/   /$$$$$$$  | $$    | $$| $$  \ $$| $$  \ $$|  $$$$$$
  | $$      /$$__  $$  | $$ /$$| $$ /$$| $$_____/| $$      | $$  | $$      | $$      | $$| $$  | $$| $$      /$$__  $$| $$      | $$  | $$      | $$    $$| $$  | $$ \____  $$  | $$ /$$| $$  | $$| $$ | $$ | $$| $$  /$$__/   /$$__  $$  | $$ /$$| $$| $$  | $$| $$  | $$ \____  $$
  | $$     |  $$$$$$$  |  $$$$/|  $$$$/|  $$$$$$$| $$      | $$  | $$      | $$$$$$$$| $$| $$$$$$$/| $$     |  $$$$$$$| $$      |  $$$$$$$      |  $$$$$$/|  $$$$$$/ /$$$$$$$/  |  $$$$/|  $$$$$$/| $$ | $$ | $$| $$ /$$$$$$$$|  $$$$$$$  |  $$$$/| $$|  $$$$$$/| $$  | $$ /$$$$$$$/
  |__/      \_______/   \___/   \___/   \_______/|__/      |__/  |__/      |________/|__/|_______/ |__/      \_______/|__/       \____  $$       \______/  \______/ |_______/    \___/   \______/ |__/ |__/ |__/|__/|________/ \_______/   \___/  |__/ \______/ |__/  |__/|_______/
                                                                                                                                 /$$  | $$
                                                                                                                                |  $$$$$$/
                                                                                                                                 \______/
*/
/* OMG the original green is hideous */
.btn-explore.btn-primary.pl-hamburger {
  background-color: #333;
  color: #fff;
  border-color: #555;
}
.btn-explore.btn-primary.pl-hamburger .icon-rei-hamburger-menu {
  margin-top: 0.3rem;
  display: inline-block;
}
/* particles-js */
.bs-docs-masthead {
  position: relative;
}
#particles-js {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
