/**
  * REI Cedar Button variables:
  * This file provides a contract between
  * design tokens and cedar non-changing variables.
  *
  * TOC:
  * Variants
  ** Settings
  ** Active
  ** Focus
  ** Disabled
  * Sizes
*/
