<section>
    <h2 id="buttons-icon-remove" class="status status-good">Filter - Groups</h2>

    <p>use the <code>inline-group btn-group</code> classes to create a filter group</p>

    <div class="well" data-example-id="filters">
        <div class="btn-group inline-group inline-group-fixed ig-sm">
            <button class="btn btn-primary btn-contrast btn-xs btn-fixed remove-toggle">
                <span class="icon icon-rei-close-small" aria-hidden="true"></span>
                <span class="sr-only">Remove</span>
                <span>Active option 1</span>
            </button>
            <button class="btn btn-primary btn-contrast btn-xs btn-fixed remove-toggle">
                <span class="icon icon-rei-close-small" aria-hidden="true"></span>
                <span class="sr-only">Remove</span>
                <span>Active option 2</span>
            </button>
            <button class="btn btn-primary btn-contrast btn-xs btn-fixed remove-toggle">
                <span class="icon icon-rei-close-small" aria-hidden="true"></span>
                <span class="sr-only">Remove</span>
                <span>Active option 3</span>
            </button>
            <button class="btn btn-primary btn-contrast btn-xs btn-fixed remove-toggle">
                <span class="icon icon-rei-close-small" aria-hidden="true"></span>
                <span class="sr-only">Remove</span>
                <span>Active option 4</span>
            </button>
            <button class="btn btn-primary btn-contrast btn-xs btn-fixed remove-toggle">
                <span class="icon icon-rei-close-small" aria-hidden="true"></span>
                <span class="sr-only">Remove</span>
                <span>Active option 5</span>
            </button>
            <button class="btn btn-primary btn-contrast btn-xs btn-fixed remove-toggle">
                <span class="icon icon-rei-close-small" aria-hidden="true"></span>
                <span class="sr-only">Remove</span>
                <span>Active option 6</span>
            </button>
        </div>
    </div>
{% highlight html %}
<div class="btn-group inline-group ig-sm">
    <button></button>
    <button></button>
</div>
{% endhighlight %}

</section>
