@import url('@rei/cedar/dist/style/cdr-button.css');
@import url('@rei/cedar/dist/style/cdr-icon.css');
@import '../../../css/settings/index.scss';

@mixin arrow($borderSide) {

  &::before, &::after {
    border-style: solid;
    border-color: transparent;
    #{$borderSide}: 100%;
  }
  &::before {
    border-#{$borderSide}-color: $cdr-color-border-secondary;
    border-width: 10px; // arrow is 10px tall, 1px border
  }

  &::after {
    border-#{$borderSide}-color: $cdr-color-background-primary;
    border-width: 9px;
  }
}

.cdr-popover{
  padding: $cdr-space-half-x;
  padding-left: $cdr-space-one-x;
  background: $cdr-color-background-primary;
  border: 1px solid $cdr-color-border-secondary;
  // box-shadow: $cdr-prominence-elevated; // TODO: box-shadow doesn't work on arrow
  min-width: 286px;
  position: absolute;
  z-index: 100;

  &__container {
    display: flex;
  }
  &__content {
    flex: auto;
  }
  &__title {
    @include cdr-text-heading-serif-400;
    margin-bottom: $cdr-space-one-x;
    margin-right: $cdr-space-half-x;
  }

  &__close-button {
    align-self: flex-start;
    flex: none;
    padding: 0;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    margin: auto;
    width: 0;
    height: 0;
  }

  // Up and down arrows
  &__up,
  &__down {
    &,
    &::before,
    &::after {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  // &__corner--left {
  //   left: 0;
  //   transform: unset;
  //   &::before,
  //   &::after {
  //     // magic number?
  //     left: 2rem;
  //     transform: unset;
  //   }
  // }
  //
  // &__corner--right {
  //   left: unset;
  //   right: 0;
  //   transform: unset;
  //   &::before,
  //   &::after {
  //     left: unset;
  //     right: 0;
  //     // transform: unset;
  //   }
  // }

  &__down {
    @include arrow(bottom);
    top: calc(100% + 1rem + #{$cdr-space-quarter-x}); // TODO: 1rem arrow size here, variable?
  }

  &__up {
    @include arrow(top);
    bottom: calc(100% + 1rem + #{$cdr-space-quarter-x}); // TODO: 1rem arrow size here, variable?
  }


  // Left and right arrows
  &__left,
  &__right {
    &,
    &::before,
    &::after {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__right {
    @include arrow(right);
    left: calc(100% + 1rem + #{$cdr-space-quarter-x}); // TODO: 1rem arrow size here, variable?
  }

  &__left {
    @include arrow(left);
    right: calc(100% + 1rem + #{$cdr-space-quarter-x}); // TODO: 1rem arrow size here, variable?
  }
}
