@import url('@rei/cedar/dist/style/cdr-popup.css');
@import url('@rei/cedar/dist/style/cdr-button.css');
@import url('@rei/cedar/dist/style/cdr-icon.css');
@import '../../../css/settings/index.scss';

.cdr-popover{

  &--wrapper {
    position: relative;
    width: max-content;
    height: max-content;

    // Override CdrPopup closed state for a11y
    .cdr-popup--closed {
      display: none;
    }
  }
  &__title {
    @include cdr-text-heading-serif-400;
    margin-bottom: $cdr-space-half-x;
    margin-right: $cdr-space-half-x;
  }

  &__container {
    padding: $cdr-space-half-x;
    padding-left: $cdr-space-one-x;
    display: flex;
  }
  &__content {
    flex: auto;
  }

  &__close-button {
    align-self: flex-start;
    flex: none;
    padding: 0;
  }
}
