<h2 id="modals" class="page-header status status-chat">Modals <small>modal.js</small></h2>
<p>Modals are streamlined, but flexible, dialog prompts with the minimum required functionality and smart defaults.</p>

<div class="bs-callout bs-callout-warning" id="callout-stacked-modals">
    <h6>Overlapping modals not supported</h6>
    <p>Be sure not to open a modal while another is still visible. Showing more than one modal at a time requires custom code.</p>
</div>
<div class="bs-callout bs-callout-warning" id="callout-modal-markup-placement">
    <h6>Modal markup placement</h6>
    <p>Always try to place a modal's HTML code in a top-level position in your document to avoid other components affecting the modal's appearance and/or functionality.</p>
    <p>When invoking a modal, remember that the HTML code will be moved to a top-level position in the document, if it is not already. This is required for consistent appearance and functionality.</p>
</div>
<div class="bs-callout bs-callout-warning" id="callout-modal-mobile-caveats">
    <h6>Mobile device caveats</h6>
    <p>There are some caveats regarding using modals on mobile devices. <a href="../getting-started/#support-fixed-position-keyboards">See our browser support docs</a> for details.</p>
</div>

<p><strong class="text-danger">Due to how HTML5 defines its semantics, the <code>autofocus</code> HTML attribute has no effect in Bootstrap modals.</strong> To achieve the same effect, use some custom JavaScript:</p>
{% highlight js %}
$('#myModal').on('shown.bs.modal', function () {
    $('#myInput').focus()
})
{% endhighlight %}

<h4 id="modals-examples">Examples</h4>

<h5>Static example</h5>
<p>A rendered modal with header, body, and set of actions in the footer.</p>

<div class="well well-modal" data-example-id="static-modal">
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="myTitle" aria-describedby="myDesc">
      <span class="sr-only">Begin dialog</span>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="close icon icon-rei-close" aria-label="Close"></div>
                    <h6 class="modal-title" id="myTitle">Modal title</h6>
                </div>
                <div class="modal-body">
                    <div class="modal-body-content">
                        <p id="myDesc">One fine body&hellip;</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
        <span class="sr-only">End dialog</span>
    </div><!-- /.modal -->
</div><!-- /example -->
{% highlight html %}
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="myTitle" aria-describedby="myDesc">
    <span class="sr-only">Begin dialog</span>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="close icon icon-rei-close" aria-label="Close"></div>
                <h6 class="modal-title" id="myTitle">Modal title</h6>
            </div>
            <div class="modal-body">
                <div class="modal-body-content">
                    <p id="myDesc">One fine body&hellip;</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
    <span class="sr-only">End dialog</span>
</div>
{% endhighlight %}

<h5>Live demo</h5>
<p>Toggle a modal via JavaScript by clicking the button below. It will slide down and fade in from the top of the page.</p>
<!-- sample modal content -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <span class="sr-only">Begin dialog</span>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="close close-dialog icon icon-rei-close" aria-label="Close" data-dismiss="modal"></div>
                <h6 class="modal-title" id="myModalLabel">Demo Modal title</h6>
            </div>
            <div class="modal-body">
                <div class="modal-body-content">
                    <h6>Text in a modal</h6>
                    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>

                    <h6>Popover in a modal</h6>
                    <p>This <a href="#" role="button" class="btn btn-default popover-test" title="A Title" data-content="And here's some amazing content. It's very engaging. right?">button</a> should trigger a popover on click.</p>

                    <h6>Tooltips in a modal</h6>
                    <p><a href="#" class="tooltip-test" title="Tooltip">This link</a> and <a href="#" class="tooltip-test" title="Tooltip">that link</a> should have tooltips on hover.</p>

                    <hr>

                    <h6>Overflowing text to show scroll behavior</h6>
                    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                    <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                    <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                    <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    <span class="sr-only">End dialog</span>
</div><!-- /.modal -->

<div class="well well-padded-bottom">
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Launch demo modal
        <span class="visually-hidden">Opens dialog</span>
    </button>
</div><!-- /example -->
{% highlight html %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Launch demo modal
    <span class="visually-hidden">Opens dialog</span>
</button>

<!-- Modal -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <span class="sr-only">Begin dialog</span>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="close icon icon-rei-close" aria-label="Close"></div>
                <h6 class="modal-title" id="myModalLabel">Modal title</h6>
            </div>
            <div class="modal-body">
                <div class="modal-body-content">
                    ...
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>

        </div>
    </div>
    <span class="sr-only">End dialog</span>
</div>
{% endhighlight %}

<div class="bs-callout bs-callout-warning" id="callout-modal-accessibility">
    <h6>Make modals accessible</h6>
    <p>Be sure to add <code>role="dialog"</code> to <code>.modal</code>, <code>aria-labelledby="myModalLabel"</code> attribute to reference the modal title, and <code>aria-hidden="true"</code> to tell assistive technologies to skip the modal's DOM elements.</p>
    <p>Note: You <strong>must</strong> have <code>aria-labelledby</code> and visible descriptive text.</p>
    <p>Additionally, you may give a description of your modal dialog with <code>aria-describedby</code> on <code>.modal</code>.</p>
</div>

<div class="bs-callout bs-callout-info" id="callout-modal-youtube">
    <h6>Embedding YouTube videos</h6>
    <p>Embedding YouTube videos in modals requires additional JavaScript not in Bootstrap to automatically stop playback and more. <a href="http://stackoverflow.com/questions/18622508/bootstrap-3-and-youtube-in-modal">See this helpful Stack Overflow post</a> for more information.</p>
</div>

<h4 id="modals-sizes">Optional sizes</h4>
<p>Modals have two optional sizes, available via modifier classes to be placed on a <code>.modal-dialog</code>.</p>
<div class="well">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".well-modal-lg">Large modal</button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".well-modal-sm">Small modal</button>
</div>
{% highlight html %}
<!-- Large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".well-modal-lg">Large modal</button>

<div class="modal fade well-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <span class="sr-only">Begin dialog</span>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <h6 class="modal-title" id="myLargeModalLabel">Large Modal</h6>
            ...
        </div>
    </div>
    <span class="sr-only">End dialog</span>
</div>

<!-- Small modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".well-modal-sm">Small modal</button>

<div class="modal fade well-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <span class="sr-only">Begin dialog</span>
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <h6 class="modal-title" id="mySmallModalLabel">Small Modal</h6>
            ...
        </div>
    </div>
    <span class="sr-only">End dialog</span>
</div>
{% endhighlight %}

<!--  Modal content for the above example -->
<div class="modal fade well-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <span class="sr-only">Begin dialog</span>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="close close-dialog icon icon-rei-close" aria-label="Close" data-dismiss="modal"></div>
                <h6 class="modal-title" id="myLargeModalLabel">Large modal</h6>
            </div>
            <div class="modal-body">
                <div class="modal-body-content">
                    ...
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    <span class="sr-only">End dialog</span>
</div><!-- /.modal -->
<div class="modal fade well-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <span class="sr-only">Begin dialog</span>
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="close close-dialog icon icon-rei-close" aria-label="Close" data-dismiss="modal"></div>
                <h6 class="modal-title" id="mySmallModalLabel">Small modal</h6>
            </div>
            <div class="modal-body">
                <div class="modal-body-content">
                    ...
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    <span class="sr-only">End dialog</span>
</div><!-- /.modal -->

<h4 id="modals-remove-animation">Remove animation</h4>
<p>For modals that simply appear rather than fade in to view, remove the <code>.fade</code> class from your modal markup.</p>
{% highlight html %}
<div class="modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <span class="sr-only">Begin dialog</span>
    ...
    <span class="sr-only">End dialog</span>
</div>
{% endhighlight %}

<h4 id="modals-grid-system">Using the grid system</h4>
<p>To take advantage of the Bootstrap grid system within a modal, just nest <code>.container-fluid</code> within the <code>.modal-body</code> and then use the normal grid system classes within this container.</p>
<!-- sample modal content -->
<div id="gridSystemModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true">
    <span class="sr-only">Begin dialog</span>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="close close-dialog icon icon-rei-close" aria-label="Close" data-dismiss="modal"></div>
                <h6 class="modal-title" id="gridModalLabel">Modal title</h6>
            </div>
            <div class="modal-body">
                <div class="modal-body-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">.col-md-4</div>
                            <div class="col-md-4 col-md-offset-4">.col-md-4 .col-md-offset-4</div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>
                            <div class="col-md-2 col-md-offset-4">.col-md-2 .col-md-offset-4</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">.col-md-6 .col-md-offset-3</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9">
                                Level 1: .col-sm-9
                                <div class="row">
                                    <div class="col-xs-8 col-sm-6">
                                        Level 2: .col-xs-8 .col-sm-6
                                    </div>
                                    <div class="col-xs-4 col-sm-6">
                                        Level 2: .col-xs-4 .col-sm-6
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    <span class="sr-only">End dialog</span>
</div><!-- /.modal -->
<div class="well well-padded-bottom">
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#gridSystemModal">
        Launch demo modal
        <span class="visually-hidden">Opens dialog</span>
    </button>
</div><!-- /example -->
{% highlight html %}
<div class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
    <span class="sr-only">Begin dialog</span>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="close icon icon-rei-close" aria-label="Close"></div>
                <h6 class="modal-title" id="gridSystemModalLabel">Modal title</h6>
            </div>
            <div class="modal-body">
                <div class="modal-body-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">.col-md-4</div>
                            <div class="col-md-4 col-md-offset-4">.col-md-4 .col-md-offset-4</div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>
                            <div class="col-md-2 col-md-offset-4">.col-md-2 .col-md-offset-4</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">.col-md-6 .col-md-offset-3</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9">
                                Level 1: .col-sm-9
                                <div class="row">
                                    <div class="col-xs-8 col-sm-6">
                                        Level 2: .col-xs-8 .col-sm-6
                                    </div>
                                    <div class="col-xs-4 col-sm-6">
                                        Level 2: .col-xs-4 .col-sm-6
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    <span class="sr-only">End dialog</span>
</div><!-- /.modal -->

{% endhighlight %}

<h4 id="modals-usage">Usage</h4>
<p>The modal plugin toggles your hidden content on demand, via data attributes or JavaScript. It also adds <code>.modal-open</code> to the <code>&lt;body&gt;</code> to override default scrolling behavior and generates a <code>.modal-backdrop</code> to provide a click area for dismissing shown modals when clicking outside the modal.</p>

<h5>Via data attributes</h5>
<p>Activate a modal without writing JavaScript. Set <code>data-toggle="modal"</code> on a controller element, like a button, along with a <code>data-target="#foo"</code> or <code>href="#foo"</code> to target a specific modal to toggle.</p>

{% highlight html %}
<button type="button" data-toggle="modal" data-target="#myModal">Launch modal</button>
{% endhighlight %}

<h5>Via JavaScript</h5>
<p>Call a modal with id <code>myModal</code> with a single line of JavaScript:</p>

{% highlight js %}$( '#myModal' ).modal( options ){% endhighlight %}

<p>Alternatively, you can use the Modal API directly by calling <code>require( 'components/modal' )</code> and instantiating a new Modal object, as shown below.</p>

{% highlight js %}
var Modal = require( 'components/modal' );
var options = {
    keyboard: true,
    show: true,
    class: 'my-modal-class',
    content: '<p>Modal content to be rendered as HTML.</p>'
};

var myModal = new Modal( options );

myModal.show();
myModal.hide();
...
{% endhighlight%}

<p><strong>The benefit of creating a modal this way</strong> is that you do not have to define the entire modal yourself, it builds a default modal with the appropriate structure for you.</p>

<h5 id="modals-options">Options</h5>
<p>Options can be passed via data attributes or JavaScript. For data attributes, append the option name to <code>data-</code>, as in <code>data-backdrop=""</code>.</p>
<div class="table-responsive">
    <table class="table table-bordered table-striped js-options-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>type</th>
            <th>default</th>
            <th>description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>backdrop</td>
            <td>boolean or the string <code>'static'</code></td>
            <td>true</td>
            <td>Includes a modal-backdrop element. Alternatively, specify <code>static</code> for a backdrop which doesn't close the modal on click.</td>
        </tr>
        <tr>
            <td>keyboard</td>
            <td>boolean</td>
            <td>true</td>
            <td>Closes the modal when escape key is pressed</td>
        </tr>
        <tr>
            <td>title</td>
            <td>String</td>
            <td>null</td>
            <td>Title of the modal</td>
        </tr>
        <tr>
            <td>content</td>
            <td>string, DOM element or jQuery object</td>
            <td>null</td>
            <td>Content to be inserted into the <code>.modal-body-content</code> div of the modal.  It can be a text string, an HTML string (will be coerced into an actual HTML element), a DOM element or jQuery object.  If it is a DOM element or jQuery object, the element is copied and inserted into the modal.</td>
        </tr>
        <tr>
            <td>show</td>
            <td>boolean</td>
            <td>true</td>
            <td>Shows the modal when initialized.</td>
        </tr>
        <tr>
            <td>url</td>
            <td>path</td>
            <td>false</td>
            <td>
                <p>If a remote URL is provided, <strong>content will be loaded one time</strong> via jQuery's <code>$.ajax</code> method and injected into the <code>.modal-body-content</code> div. If you're using the data-api, you may alternatively use the <code>data-url</code> attribute to define the URL of the content, and the <code>data-selector</code> attribute to define a selector to extract specific content from within the given content.  This method <strong>requires</strong> a <code>data-target</code> attribute defining a CSS selector pointing to a pre-defined modal, as shown below.</p>
                {% highlight html %}
                <a data-toggle="modal" data-url="/content/remote.html" data-selector="#myContent" data-target="#modal">Click me</a>

                <div id="modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
                    <span class="sr-only">Begin dialog</span>
                    ...
                    <span class="sr-only">End dialog</span>
                </div>
                {% endhighlight %}
            </td>
        </tr>
        <tr>
            <td>selector</td>
            <td>string</td>
            <td>null</td>
            <td>A string representing a CSS selector for the remotely loaded content.  If specified along with the <code>url</code> option, it will search the loaded content for a DOM element matching this selector to pull content from.</td>
        </tr>
        <tr>
            <td>class</td>
            <td>string</td>
            <td>null</td>
            <td>Adds a class on the <code>.modal-dialog</code> div that can be used to style the modal as needed.</td>
        </tr>
        <tr>
            <td>onShow/onHide</td>
            <td>function</td>
            <td>null</td>
            <td>Defines functions to be called when the modal is shown/hidden.  The <code>onShow</code> function is called <strong>after</strong> transition effects are complete. The <code>onHide</code> function is called <strong>before</strong> transition effects start.  The <code>this</code> keyword references the actual modal object itself, meaning <code>this.modal</code> will give you the actual modal div.</td>
        </tr>
        </tbody>
    </table>
</div><!-- /.table-responsive -->

<h5 id="modals-methods">Methods</h5>

<h6><code>.modal(options)</code></h6>
<p>Activates your content as a modal. Accepts an optional options <code>object</code>.</p>
{% highlight js %}
$('#myModal').modal({
    keyboard: false
})
{% endhighlight %}

<h6><code>.modal('toggle')</code></h6>
<p>Manually toggles a modal. <strong>Returns to the caller before the modal has actually been shown or hidden</strong> (i.e. before the <code>shown.bs.modal</code> or <code>hidden.bs.modal</code> event occurs).</p>
{% highlight js %}$('#myModal').modal('toggle'){% endhighlight %}

<h6><code>.modal('show')</code></h6>
<p>Manually opens a modal. <strong>Returns to the caller before the modal has actually been shown</strong> (i.e. before the <code>shown.bs.modal</code> event occurs).</p>
{% highlight js %}$('#myModal').modal('show'){% endhighlight %}

<h6><code>.modal('hide')</code></h6>
<p>Manually hides a modal. <strong>Returns to the caller before the modal has actually been hidden</strong> (i.e. before the <code>hidden.bs.modal</code> event occurs).</p>
{% highlight js %}$('#myModal').modal('hide'){% endhighlight %}

<h5 id="modals-events">Events</h5>
<p>Bootstrap's modal class exposes a few events for hooking into modal functionality.</p>
<p>All modal events are fired at the modal itself (i.e. at the <code>&lt;div class="modal"&gt;</code>).</p>
<div class="table-responsive">
    <table class="table table-bordered table-striped bs-events-table">
        <thead>
        <tr>
            <th>Event Type</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>show.bs.modal</td>
            <td>This event fires immediately when the <code>show</code> instance method is called. If caused by a click, the clicked element is available as the <code>relatedTarget</code> property of the event.</td>
        </tr>
        <tr>
            <td>shown.bs.modal</td>
            <td>This event is fired when the modal has been made visible to the user (will wait for CSS transitions to complete). If caused by a click, the clicked element is available as the <code>relatedTarget</code> property of the event.</td>
        </tr>
        <tr>
            <td>hide.bs.modal</td>
            <td>This event is fired immediately when the <code>hide</code> instance method has been called.</td>
        </tr>
        <tr>
            <td>hidden.bs.modal</td>
            <td>This event is fired when the modal has finished being hidden from the user (will wait for CSS transitions to complete).</td>
        </tr>
        <tr>
            <td>loaded.bs.modal</td>
            <td>This event is fired when the modal has loaded content using the <code>url</code> option.</td>
        </tr>
        </tbody>
    </table>
</div><!-- /.table-responsive -->

{% highlight js %}
$('#myModal').on('hidden.bs.modal', function (e) {
    // do something...
})
{% endhighlight %}

<h4 id="modals-riot-component">Modal as a Riot component</h4>
<!-- Video Modal component -->
<cdr-modal-video button-text="Watch Video" video-id="IdeaKaG92MY" video-title="Title goes here">
</cdr-modal-video>

{% highlight html %}
<cdr-modal-video button-text="Watch Video" video-id="IdeaKaG92MY" video-title="Title goes here">
</cdr-modal-video>
 {% endhighlight %}