////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//            THEME
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@type    : 'element';
@element : 'inputs';

@import (multiple) '../../theme.config';

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// INPUTS
//
//TOC:
//
// :Normalize form controls
// :Search inputs in iOS
// :Special styles for iOS temporal inputs
// :Input control sizing
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// Normalize form controls
//
// While most of our form styles require extra classes, some basic normalization
// is required to ensure optimum display with or without those classes to better
// address browser inconsistencies.
//
//----------------------------------------------------------------------------------------------------------------------
// Override content-box in Normalize (* isn't specific enough)
input[type="search"] {
    .box-sizing(border-box);
}

// Set the height of file controls to match text inputs
input[type="file"] {
    display: block;
}

// Make range inputs behave like textual form controls
input[type="range"] {
    display: block;
    width: 100%;
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
    height: auto;
}

// Adjust output element
output {
    display: block;
    padding-top: ( @padding-base-vertical + 1rem );
    font-size: @font-size-base;
    line-height: @line-height-base;
    color: @input-color;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// Search inputs in iOS
//
// This overrides the extra rounded corners on search inputs in iOS so that our
// `.form-control` class can properly style them. Note that this cannot simply
// be added to `.form-control` as it's not specific enough. For details, see
// https://github.com/twbs/bootstrap/issues/11586.
//
//----------------------------------------------------------------------------------------------------------------------
input[type="search"] {
    -webkit-appearance: none;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// Special styles for iOS temporal inputs
//
// In Mobile Safari, setting `display: block` on temporal inputs causes the
// text within the input to become vertically misaligned. As a workaround, we
// set a pixel line-height that matches the given height of the input, but only
// for Safari. See https://bugs.webkit.org/show_bug.cgi?id=139848
//
//----------------------------------------------------------------------------------------------------------------------
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type="date"],
    input[type="time"],
    input[type="datetime-local"],
    input[type="month"] {
        line-height: @input-height-base;

        &.input-sm,
        .input-group-sm & {
            line-height: @input-height-small;
        }

        &.input-lg,
        .input-group-lg & {
            line-height: @input-height-large;
        }
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// Input sizing
//
// Build on `.form-control` with modifier classes to decrease or increase the
// height and font-size of form controls.
//
//----------------------------------------------------------------------------------------------------------------------
.input-sm {
    .input-size(@input-height-small; @padding-small-vertical; @padding-xs-horizontal; @font-size-small; @line-height-small;);
}
.input-lg {
    .input-size(@input-height-large; @padding-large-vertical; @padding-large-horizontal; @font-size-large; @line-height-large;);
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//            OVERRIDES
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.loadUIOverrides();
