/* ==========================================================================
  # CdrCta
  
  All values should map to variables in
  vars/CdrCta.vars.pcss
  in order to allow for theming

  TOC:

    :Base - CdrCta
========================================================================== */
