/* ==========================================================================
  # CdrCta
  
  All values should map to variables in
  vars/CdrCta.vars.pcss
  in order to allow for theming

  TOC:

    :Base - CdrCta
========================================================================== */

.cdr-cta {
  @include maple-utility-40;

  background-color: $cta-background-color;
  box-shadow: $cta-box-shadow;
  border: none;
  border-radius: $cta-border-radius;
  color: $cta-color;
  cursor: pointer;
  display: inline-flex;
  outline: none;
  padding: $cdr-space-inset-one-and-a-half-x-squish;
  padding-right: calc(#{$cdr-space-one-and-a-half-x} - #{$cdr-space-half-x});
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;

  & > .cdr-cta__icon {
    align-self: center;
    display: inline-block;
    fill: inherit;
    height: $cdr-icon-size;
    margin-left: $cdr-space-quarter-x;
    vertical-align: middle;
    flex: 0 0 auto;
    width: $cdr-icon-size;
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }

  &:focus {
    outline: $default-outline;
    outline-offset: 0;
  }

  /* Full Width
     ========== */
  &--full-width {
    justify-content: center;
    width: 100%;
  }

  &--brand {
    background-color: $cta-brand-background-color;
    box-shadow: $cta-brand-box-shadow;
    color: $cta-brand-color;
    fill: $cta-brand-color;

    &:hover,
    &:focus,
    &:active {
      background-color: $cta-brand-hover-background-color;
      box-shadow: $cta-brand-box-shadow;
      color: $cta-brand-hover-color;
      fill: $cta-brand-hover-color;
    }
  }

  &--dark {
    background-color: $cta-dark-background-color;
    box-shadow: $cta-dark-box-shadow;
    color: $cta-dark-color;
    fill: $cta-dark-color;

    &:hover,
    &:focus,
    &:active {
      background-color: $cta-dark-hover-background-color;
      box-shadow: $cta-dark-box-shadow;
      color: $cta-dark-hover-color;

      & > .cdr-cta__icon {
        fill: $cta-dark-hover-color;
      }
    }
  }

  &--light {
    background-color: $cta-light-background-color;
    box-shadow: $cta-light-box-shadow;
    color: $cta-light-color;
    fill: $cta-light-color;

    &:hover,
    &:focus,
    &:active {
      background-color: $cta-light-hover-background-color;
      box-shadow: $cta-light-box-shadow;
      color: $cta-light-hover-color;
      fill: $cta-light-hover-color;
    }

    &.cdr-cta--elevated {
      box-shadow: $cta-light-box-shadow, $cdr-prominence-elevated;
      
      &:hover,
      &:focus,
      &:active, {
        box-shadow: $cta-light-box-shadow, $cdr-prominence-elevated;
      }
    }
  }

  &--sale {
    background-color: $cta-sale-background-color;
    box-shadow: $cta-sale-box-shadow;
    color: $cta-sale-color;
    fill: $cta-sale-color;

    &:hover,
    &:focus,
    &:active {
      background-color: $cta-sale-hover-background-color;
      box-shadow: $cta-sale-box-shadow;
      color: $cta-sale-hover-color;
      fill: $cta-sale-hover-color;
    }
  }
  
  &--elevated {
    box-shadow: $cdr-prominence-elevated;

    &:hover,
    &:focus,
    &:active {
      box-shadow: $cdr-prominence-elevated;
    }
  }
}
