/* ==========================================================================
  # CdrCta

  All values should map to variables in
  vars/CdrCta.vars.pcss
  in order to allow for theming

  TOC:

    :Base - CdrCta
========================================================================== */

.cdr-cta {
  @include cdr-cta-base-mixin;

  & > .cdr-cta__icon {
    @include cdr-cta-base-icon-mixin;
  }

  /* Full Width
     ========== */
  &--full-width {
    @include cdr-cta-full-width-mixin;
  }

  &--brand {
    @include cdr-cta-brand-mixin;
  }

  &--dark {
    background-color: $cta-dark-background-color;
    box-shadow: $cta-dark-box-shadow;
    color: $cta-dark-color;
    fill: $cta-dark-color;

    &:hover,
    &:focus,
    &:active {
      background-color: $cta-dark-hover-background-color;
      box-shadow: $cta-dark-box-shadow;
      color: $cta-dark-hover-color;

      & > .cdr-cta__icon {
        fill: $cta-dark-hover-color;
      }
    }
  }

  &--light {
    background-color: $cta-light-background-color;
    box-shadow: $cta-light-box-shadow;
    color: $cta-light-color;
    fill: $cta-light-color;

    &:hover,
    &:focus,
    &:active {
      background-color: $cta-light-hover-background-color;
      box-shadow: $cta-light-box-shadow;
      color: $cta-light-hover-color;
      fill: $cta-light-hover-color;
    }

    &.cdr-cta--elevated {
      box-shadow: $cta-light-box-shadow, $cdr-prominence-elevated;

      &:hover,
      &:focus,
      &:active, {
        box-shadow: $cta-light-box-shadow, $cdr-prominence-elevated;
      }
    }
  }

  &--sale {
    @include cdr-cta-sale-mixin;
  }

  &--elevated {
    @include cdr-cta-elevated-mixin;
  }
}
