// Card variants

.card-variant( @background: @card-bg;) {
    background-color: @background;
    box-shadow: 0 .1rem .6rem 0 contrast( @background, rgba( 0, 0, 0, .30 ), rgba( 0, 0, 0, .80 ) );
    color: contrast( @background, @text-color, @text-overlay );
}

