////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//            Group columns
//----------------------------------------------------------------------------------------------------------------------
.group-col-variant( @number; @class; @index: 1; ) when ( @index =< @number ) {
  >.col-@{class}-@{index} {
    min-width: ( @index * 100% / @number );
    width: ( @index * 100% / @number );
    .group-flex-default( @index; @group-flex-shrink-default; @group-flex-basis-auto; );
  }
  .group-col-variant( @number; @class; (@index + 1) );
}

.group-flex-default( @flex-grow; @flex-shrink; @flex-basis; ) {
	flex-grow: @flex-grow;
	flex-shrink: @flex-shrink;
	flex-basis: @flex-basis;
}
