<!DOCTYPE html>
<html lang="en-us">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="REI Cedar Style Framework, built on Bootstrap, a sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.">
<meta name="keywords" content="HTML, CSS, JS, JavaScript, framework, bootstrap, front-end, frontend, web development">
<meta name="author" content="REI FED, IXD, UX, and the Bootstrap team">

<title>
  
    Color &middot; REI Cedar Style Framework
  
</title>

<script src="https://cdn.jsdelivr.net/riot/2.4.1/riot.min.js"></script>

<link href="/rei-cedar.css" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:400,700" rel="stylesheet">

<!-- Documentation extras -->
<link href="/assets/css/src/docs.css" rel="stylesheet">

<!-- Favicons -->
<link rel="icon" href="/favicon.ico">

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-146052-10', 'getbootstrap.com');
  ga('send', 'pageview');
</script>

  </head>
  <body>
    <div>
      <a id="skippy" class="skip-nav-link sr-only sr-only-focusable" href="#content">
          <div class="container">
              <span class="skiplink-text">Skip to main content</span>
          </div>
      </a>
    </div>

      <!-- Docs master nav -->


      <!-- Docs page layout -->
      <div class="bs-docs-header bs-docs-content" id="content" tabindex="-1">
        <div class="container">
          <h1 class="heading-hero">Color</h1>
          <p>An overview of the REI Pattern Library's colors, palettes, and palette options.</p>
        </div>
      </div>
      <div class="overlay-dark-1 ui-navigation">
          <div class="container">
              <div class="row">
                    <button type="button" class="btn btn-block btn-contrast btn-primary hidden-md hidden-lg"
                      data-toggle="collapse"
                      aria-expanded="false"
                      aria-controls="pattern_navigation"
                      data-target="#pattern_navigation"
                      aria-label="Navigation Toggle">
                        <span class="icon icon-rei-hamburger-menu" aria-hidden="true"></span>
                    </button>
                    <nav id="pattern_navigation" aria-label="Primary Navigation" role="navigation" class="collapse">
                        <div id="current" class="hidden">current page</div>
<ul id="js-a11ynav" class="doc_head-navigation">
    
    <li class="doc_head-navigation-item home">
        <a href="/" class="link_stag-explore-overlay">REI Pattern Library</a>
    </li>
    
    
    <li class="doc_head-navigation-item ">
        <a href="/getting-started/"
          >
            Getting Started
        </a>
        
    </li>
    
    <li class="doc_head-navigation-item ">
        <a href="/layouts/"
          >
            Layouts
        </a>
        
        <ul class="doc_head-navigation-nested-list">
            
            <li class="nested-item">
                <a href="/layouts/color/"
                  aria-describedby="current">
                    Color
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/layouts/grid/"
                  >
                    Grid
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/layouts/containers/"
                  >
                    Containers
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/layouts/groups/"
                  >
                    Groups
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/layouts/cards/"
                  >
                    Cards
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/layouts/tiles"
                  >
                    Tiles
                </a>
            </li>
            
        </ul>
        
    </li>
    
    <li class="doc_head-navigation-item ">
        <a href="/elements/"
          >
            Elements
        </a>
        
        <ul class="doc_head-navigation-nested-list">
            
            <li class="nested-item">
                <a href="/elements/typography/"
                  >
                    Typography
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/elements/buttons/"
                  >
                    Buttons
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/elements/links/"
                  >
                    Links
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/elements/lists/"
                  >
                    Lists
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/elements/inputs/"
                  >
                    Inputs
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/elements/checkboxes-and-radios/"
                  >
                    Checkboxes and Radios
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/elements/images/"
                  >
                    Images
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/elements/rei-icons/"
                  >
                    Icons
                </a>
            </li>
            
        </ul>
        
    </li>
    
    <li class="doc_head-navigation-item ">
        <a href="/collections/"
          >
            Collections
        </a>
        
        <ul class="doc_head-navigation-nested-list">
            
            <li class="nested-item">
                <a href="/collections/alerts/"
                  >
                    Alerts
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/collections/list-groups/"
                  >
                    List Groups
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/collections/breadcrumbs/"
                  >
                    Breadcrumbs
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/collections/button-groups/"
                  >
                    Button Groups
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/collections/input-groups/"
                  >
                    Input Groups
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/collections/forms/"
                  >
                    Forms
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/collections/tables/"
                  >
                    Tables
                </a>
            </li>
            
        </ul>
        
    </li>
    
    <li class="doc_head-navigation-item ">
        <a href="/modules/"
          >
            Modules
        </a>
        
        <ul class="doc_head-navigation-nested-list">
            
            <li class="nested-item">
                <a href="/modules/tabs/"
                  >
                    Tabs
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/modules/tool-tips/"
                  >
                    Tool Tips
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/modules/accordion/"
                  >
                    Accordion
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/modules/modals/"
                  >
                    Modals
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/modules/pagination/"
                  >
                    Pagination
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/modules/carousel/"
                  >
                    Carousel
                </a>
            </li>
            
        </ul>
        
    </li>
    
    <li class="doc_head-navigation-item ">
        <a href="/style-and-behavior/"
          >
            Style and Behavior
        </a>
        
        <ul class="doc_head-navigation-nested-list">
            
            <li class="nested-item">
                <a href="/style-and-behavior/utility-helpers/"
                  >
                    Utility Helpers
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/style-and-behavior/utility-responsive/"
                  >
                    Responsive Utilities
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/style-and-behavior/less-variables/"
                  >
                    Less Variables
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/style-and-behavior/less-mixins/"
                  >
                    Less Mixins
                </a>
            </li>
            
            <li class="nested-item">
                <a href="/style-and-behavior/javascript/"
                  >
                    Javascript Documentation
                </a>
            </li>
            
        </ul>
        
    </li>
    
</ul>

                    </nav>
              </div>
          </div>
      </div>
      <div class="container vertical-pull-2" role="main">
        <div class="row">
            
            <div class="col-md-3 pull-right" role="complementary">
                <div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm">
                    <ul class="ui list-menu">

                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        

                        
                        
                        
                        
                        
                        
                        <li>
                            <a href="#color-swatches-core">Core</a>
                        </li>
                        
                        <li>
                            <a href="#color-swatches-explore">Explore</a>
                        </li>
                        
                        <li>
                            <a href="#color-swatches-utility">Utility Palette</a>
                        </li>
                        
                        <li>
                            <a href="#accessibility-title">Accessibility</a>
                        </li>
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        <li>
                            <a href="#content">Back to top</a>
                        </li>
                    </ul>
                </div>
            </div>
            
          <div class="col-md-9 " role="main">
            <section class="color-swatches vertical-push-3">
    <h2 id="color-swatches-title" class="page-header">Color Palettes</h2>
        <h3 id="color-swatches-core">Core Palette</h3>
            <p>These core styles are used most frequently throughout REI.com. They have been adapted form our Brand Standards palette for interactive use.
                <strong>Be sure to check any undocumented background/foreground combinations for accessibility.</strong>
            </p>
            <h4 id="color-swatches-core-arch" class="status status-good">Architectural</h4>
                <div class="well">
                    <h5>White <code>@core-architectural-5;</code></h5>
                    <div class="color-swatch core-architectural-5" data-example-id="white"></div>
                    <h5>Dusty White <code>@core-architectural-6;</code></h5>
                    <div class="color-swatch core-architectural-6" data-example-id="dusty-white"></div>
                </div>
                <div class="well">
                    <h5>Black <code>@core-architectural-1;</code></h5>
                    <div class="color-swatch core-architectural-1" data-example-id="black"></div>
                    <h5>Architectural Gray 1 <code>@core-architectural-4;</code></h5>
                    <div class="color-swatch core-architectural-4" data-example-id="architectural-gray-1"></div>
                    <h5>Architectural Gray 2 <code>@core-architectural-3;</code></h5>
                    <div class="color-swatch core-architectural-3" data-example-id="architectural-gray-2"></div>
                    <h5>Architectural Gray 3 <code>@core-architectural-2;</code></h5>
                    <div class="color-swatch core-architectural-2" data-example-id="architectural-gray-3"></div>
                </div>
                <div class="well">
                    <h5>Background Gray 1 <code>@background-grey-1-ruleset();</code></h5>
                    <div class="color-swatch overlay-light-2" data-example-id="background-gray-1"></div>
                    <h5>Background Gray 2 <code>@background-grey-2-ruleset();</code></h5>
                    <div class="color-swatch overlay-medium-2" data-example-id="background-gray-2"></div>
                    <h5>Background Gray 3 <code>@background-grey-3-ruleset();</code></h5>
                    <div class="color-swatch core-architectural-3" data-example-id="background-gray-3"></div>
                    <h5>Background Gray 4 <code>@background-grey-4-ruleset();</code></h5>
                    <div class="color-swatch core-architectural-2" data-example-id="background-Gray-4"></div>
                </div>
            <h4 id="color-swatches-core-action" class="status status-good">Action</h4>
                <div class="well">
                    <h5>Core Action 1 <code>@core-action-1;</code></h5>
                    <div class="color-swatch core-action-1" data-example-id="core-action-1"></div>
                    <h5>Core Action 2 <code>@core-action-2;</code></h5>
                    <div class="color-swatch core-action-2" data-example-id="core-action-2"></div>
                </div>
            <h4 id="color-swatches-explore">Explore Palette</h4>
                <h5 id="color-swatches-explore-arch" class="status status-good">Architectural</h5>
                    <div class="well">
                        <h6>New Growth <code>@explore-architectural-1; //root @new-growth;</code></h6>
                        <div class="color-swatch explore-architectural-1" data-example-id="new-growth"></div>
                        <h6>Old Growth <code>@explore-architectural-2; //root @old-growth;</code></h6>
                        <div class="color-swatch explore-architectural-2" data-example-id="old-growth"></div>
                    </div>
                <h5 id="color-swatches-explore-action" class="status status-good">Action</h5>
                    <div class="well">
                        <h6>Explore Action 1 <code>@explore-action-1; //root @new-growth;</code></h6>
                        <div class="color-swatch explore-active-1" data-example-id="explore-active-1"></div>
                        <h6>Explore Action 2 <code>@explore-action-2; //root old-growth;</code></h6>
                        <div class="color-swatch explore-active-2" data-example-id="explore-active-2"></div>
                    </div>
            <h4 id="color-swatches-utility" class="status status-good">Utility Palette</h4>
                <div class="well">
                    <h5>Off-price <code>@utility-off-price;</code></h5>
                    <div class="color-swatch utility-off-price" data-example-id="utility-off-price"></div>
                    <h5>Error <code>@utility-error;</code></h5>
                    <div class="color-swatch utility-error" data-example-id="utility-error"></div>
                    <h5>Success <code>@brand-success // root @new-growth;</code></h5>
                    <div class="color-swatch utility-success" data-example-id="utility-success"></div>
                    <h5>Available <code>@utility-available; // root @new-growth;</code></h5>
                    <div class="color-swatch utility-available" data-example-id="utility-available"></div>
                    <h5>Warning <code>@brand-warning</code></h5>
                    <div class="color-swatch utility-warning" data-example-id="utility-warning"></div>
                </div>
</section>

<section>
  <h2 id="accessibility-title" class="page-header">Accessibility</h2>
    <section class="vertical-push-3">
    <h3 id="accessibility-contrast">Color contrast</h3>
    <p>Currently, some of the default color combinations available in Bootstrap (such as the various
        <a href="../elements/buttons/">styled button</a> classes, some of the code highlighting colors used for
        <a href="../css/#code-block">basic code blocks</a>, the <code>.bg-primary</code>
        <a href="../css/#helper-classes-backgrounds">contextual background</a> helper class, and the default link color
        when used on a white background) have a low contrast ratio (below the
        <a href="http://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast">recommended ratio of 4.5:1</a>). This can
        cause problems to users with low vision or who are color blind. These default colors may need to be modified to
        increase their contrast and legibility.</p>
</section>

    <section class="vertical-push-3">
    <h3>Conveying meaning to assistive technologies</h3>
    <p>Using color to add meaning only provides a visual indication, which will not be conveyed to users of assistive technologies – such as screen readers. Ensure that information denoted by the color is either obvious from the content itself (the contextual colors are only used to reinforce meaning that is already present in the text/markup), or is included through alternative means, such as additional text hidden with the <code>.sr-only</code> class.</p>
</section>

    
<section class="vertical-push-3">
<h3 id="accessibility-addtl-rscs">Additional resources</h3>
<ul>
  
  <li><a href="http://www.paciellogroup.com/resources/contrastanalyser/">Colour Contrast Analyser</a>
  
</ul>
</section>



</section>




          </div>
        </div>
      </div>
      <!-- Footer
================================================== -->
<footer class="bs-docs-footer overlay-dark-1" role="contentinfo">
  <div class="container">
      <div class="row">
          <div class="row col-sm-10 col-sm-offset-1 ">
              
              <div class="col-md-2 col-sm-6">
                  <ul class="list-text">
                      <li><a class="h3 link_header-overlay" href="/getting-started/">Getting Started</a></li>
                      
                  </ul>
              </div>
              
              <div class="col-md-2 col-sm-6">
                  <ul class="list-text">
                      <li><a class="h3 link_header-overlay" href="/layouts/">Layouts</a></li>
                      
                      <li>
                          <a class="nested" href="/layouts/color/">Color</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/layouts/grid/">Grid</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/layouts/containers/">Containers</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/layouts/groups/">Groups</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/layouts/cards/">Cards</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/layouts/tiles">Tiles</a>
                      </li>
                      
                  </ul>
              </div>
              
              <div class="col-md-2 col-sm-6">
                  <ul class="list-text">
                      <li><a class="h3 link_header-overlay" href="/elements/">Elements</a></li>
                      
                      <li>
                          <a class="nested" href="/elements/typography/">Typography</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/elements/buttons/">Buttons</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/elements/links/">Links</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/elements/lists/">Lists</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/elements/inputs/">Inputs</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/elements/checkboxes-and-radios/">Checkboxes and Radios</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/elements/images/">Images</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/elements/rei-icons/">Icons</a>
                      </li>
                      
                  </ul>
              </div>
              
              <div class="col-md-2 col-sm-6">
                  <ul class="list-text">
                      <li><a class="h3 link_header-overlay" href="/collections/">Collections</a></li>
                      
                      <li>
                          <a class="nested" href="/collections/alerts/">Alerts</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/collections/list-groups/">List Groups</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/collections/breadcrumbs/">Breadcrumbs</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/collections/button-groups/">Button Groups</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/collections/input-groups/">Input Groups</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/collections/forms/">Forms</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/collections/tables/">Tables</a>
                      </li>
                      
                  </ul>
              </div>
              
              <div class="col-md-2 col-sm-6">
                  <ul class="list-text">
                      <li><a class="h3 link_header-overlay" href="/modules/">Modules</a></li>
                      
                      <li>
                          <a class="nested" href="/modules/tabs/">Tabs</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/modules/tool-tips/">Tool Tips</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/modules/accordion/">Accordion</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/modules/modals/">Modals</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/modules/pagination/">Pagination</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/modules/carousel/">Carousel</a>
                      </li>
                      
                  </ul>
              </div>
              
              <div class="col-md-2 col-sm-6">
                  <ul class="list-text">
                      <li><a class="h3 link_header-overlay" href="/style-and-behavior/">Style and Behavior</a></li>
                      
                      <li>
                          <a class="nested" href="/style-and-behavior/utility-helpers/">Utility Helpers</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/style-and-behavior/utility-responsive/">Responsive Utilities</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/style-and-behavior/less-variables/">Less Variables</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/style-and-behavior/less-mixins/">Less Mixins</a>
                      </li>
                      
                      <li>
                          <a class="nested" href="/style-and-behavior/javascript/">Javascript Documentation</a>
                      </li>
                      
                  </ul>
              </div>
              
          </div>
      </div>
    <ul class="footer-inline-list">
      <li><a class="nested" href="https://github.com/rei/rei-cedar">Github</a></li>
    </ul>
  </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script src="/rei-cedar.js"></script>

<script src="/rei-cedar-components.js"></script>

<script>
  riot.mount('*');
</script>

<script src="/assets/js/vendor/particles.min.js"></script>


  
  <script src="/assets/js/vendor/holder.js"></script>
  
  <script src="/assets/js/vendor/anchor.js"></script>
  
  <script src="/assets/js/src/application.js"></script>
  
  <script src="/assets/js/src/a11y.js"></script>
  



<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>

  </body>
</html>
