<form class="form-inline">
    <fieldset>
        <legend class="sr-only">Example form</legend>
        <div class="form-group">
            <label class="sr-only">Email</label>
            <p class="form-control-static">email@example.com</p>
        </div>
        <div class="form-group">
            <label for="inputPassword2" class="sr-only">Password</label>
            <input type="password" class="form-control" id="inputPassword2" placeholder="Password" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Confirm identity</button>
        </div>
    </fieldset>
</form>
