<div class="controls">
    <input class="form-control input-lg" aria-label="..." type="text" placeholder=".input-lg" />
    <input type="text" class="form-control" aria-label="..." placeholder="Default input" />
    <input class="form-control input-sm" aria-label="..." type="text" placeholder=".input-sm" />
    <select class="form-control input-lg" aria-label="...">
        <option value="">.input-lg</option>
    </select>
    <select class="form-control" aria-label="...">
        <option value="">Default select</option>
    </select>
    <select class="form-control input-sm" aria-label="...">
        <option value="">.input-sm</option>
    </select>
</div>
