<form class="form-horizontal">
    <fieldset>
        <legend class="sr-only">Example form</legend>
        <div class="form-group">
            <label for="input-email-form-horizontal" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" name="input-email-form-horizontal" id="input-email-form-horizontal" placeholder="Email" />
            </div>
        </div>
        <div class="form-group">
            <label for="input-password-form-horizontal" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" name="input-password-form-horizontal" id="input-password-form-horizontal" placeholder="Password" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                  <input type="checkbox" id="horizontal-checkbox" />
                  <label for="horizontal-checkbox">Remember me </label>

                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </div>
    </fieldset>
</form>
