<form class="form-horizontal">
    <fieldset>
        <legend class="sr-only">Example form</legend>
        <div class="form-group has-success has-feedback">
            <label class="control-label col-sm-3" for="inputSuccess3">Input</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="inputSuccess3" aria-describedby="inputSuccess3Status" />
                <span class="icon icon-rei-success form-control-feedback" aria-hidden="true"></span>
                <span id="inputSuccess3Status" class="sr-only">(success)</span>
            </div>
        </div>
        <div class="form-group has-success has-feedback">
            <label class="control-label col-sm-3" for="inputGroupSuccess2">Input group</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <span class="input-group-addon">@</span>
                    <input type="text" class="form-control" id="inputGroupSuccess2" aria-describedby="inputGroupSuccess2Status" />
                </div>
                <span class="icon icon-rei-success form-control-feedback" aria-hidden="true"></span>
                <span id="inputGroupSuccess2Status" class="sr-only">(success)</span>
            </div>
        </div>
    </fieldset>
</form>
