<form class="form-inline">
    <fieldset>
        <legend class="sr-only">Example Inline Form</legend>
        <div class="form-group">
            <label class="sr-only" for="exampleInputEmail3">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Enter email" />
        </div>
        <div class="form-group">
            <label class="sr-only" for="exampleInputPassword3">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password" />
        </div>
        <div class="form-group">
            <div class="checkbox">
                <input type="checkbox" id="Remember" value="" />
                <label for="Remember">Remember me</label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
    </fieldset>
</form>
