<form>
    <div class="form-group">
        <label class="control-label" for="inputInfoBlock">Input with information text</label>
        <input type="text" id="inputInfoBlock" class="form-control" aria-describedby="infoBlock" placeholder="Information input placeholder text">
        <span id="infoBlock" class="field-msg_info">
            <span class="icon icon-rei-help" aria-hidden="true"></span>
            <span class="alert-text">
                A block of information text that breaks onto a new line and may extend beyond one line.
            </span>
        </span>
    </div>
</form>
