<div class="form-group required has-error">
    <label class="control-label" for="inputErrorBlock"> Input with help text </label>
    <input class="form-control" type="text" name="field1" id="inputErrorBlock" spellcheck="false" autocorrect="off"  aria-describedby="errorBlock" placeholder="Error input placeholder text" required/>
    <span id="errorBlock" class="field-msg_error">
        <span class="icon icon-rei-error" aria-hidden="true"></span>
        <span class="alert-text">
            <span class="sr-only">Error:</span>
            This field is required
        </span>
    </span>
</div>
