<form>
    <fieldset>
        <legend class="sr-only">Example form</legend>
        <div class="form-group row required has-error">
            <div class="col-xs-12">
                <div class="radio">
                    <input type="radio" name="radio-errors" id="radio-error1" value="radio-error1" required />
                    <label class="control-label" for="radio-error1">pick me</label>
                </div>
                <div class="radio">
                    <input type="radio" name="radio-errors" id="radio-error2" value="radio-error2"/>
                    <label class="control-label" for="radio-error2">Or pick me</label>
                </div>
                <span class="field-msg_error">
                    <span class="icon icon-rei-error" aria-hidden="true"></span>
                    <span class="alert-text">
                        <span class="sr-only">Error:</span>
                        This field is required
                    </span>
                </span>
            </div>
        </div>
    </fieldset>
</form>
