<form>
    <fieldset>
        <legend class="sr-only">Example form</legend>
        <div class="form-group has-error">
            <label class="control-label" for="control-label-field1">Field 1 <span class="required-field">*</span></label>
            <input class="form-control" type="text" name="field1" id="control-label-field1" spellcheck="false" autocorrect="off" />
            <span class="field-error-msg">This field is required</span>
        </div>
        <div class="form-group">
            <label class="control-label" for="control-label-inputHelpBlock">Input with help text</label>
            <input type="text" id="control-label-inputHelpBlock" class="form-control" aria-describedby="helpBlock">
            <span id="helpBlock" class="field-msg_help">A block of help text that breaks onto a new line and may extend beyond one line.</span>
        </div>
        <div class="form-group has-warning">
            <label class="control-label" for="control-label-inputHelpBlock2">Input with help text</label>
            <input type="text" id="control-label-inputHelpBlock2" class="form-control" aria-describedby="helpBlock">
            <span id="warningBlock"class="field-msg_warning">A block of warning text that breaks onto a new line and may extend beyond one line.</span>
        </div>
        <div class="form-group">
            <label class="control-label" for="control-label-inputHelpBlock3">Input with help text</label>
            <input type="text" id="control-label-inputHelpBlock3" class="form-control" aria-describedby="helpBlock">
            <span id="infoBlock" class="field-msg_info">A block of information text that breaks onto a new line and may extend beyond one line.</span>
        </div>
    </fieldset>
</form>
