<div class="checkbox toggle-rating">
  <input type="checkbox" value="" id="check-rating" />
  <label for="check-rating"> Option one is this and that&mdash;be sure to include why it's great</label>
</div>
<div class="radio toggle-rating">
  <input type="radio" value="" id="radio-rating" />
  <label for="radio-rating">Option one is this and that&mdash;be sure to include why it's great</label>
</div>

<div class="checkbox toggle-sort">
  <input type="checkbox" value="" id="check-sort" />
  <label for="check-sort">Option one is this and that&mdash;be sure to include why it's great</label>
</div>
<div class="radio toggle-sort">
  <input type="radio" value="" id="radio-sort" />
  <label for="radio-sort">Option one is this and that&mdash;be sure to include why it's great </label>
</div>
<div class="checkbox toggle-remove">
  <input type="checkbox" value="" id="check-remove" />
  <label for="check-remove">Option one is this and that&mdash;be sure to include why it's great</label>
</div>
<div class="radio toggle-remove">
  <input type="radio" value="" id="radio-remove" />
  <label for="radio-remove">Option one is this and that&mdash;be sure to include why it's great </label>
</div>
<div class="checkbox toggle-expand-collapse">
  <input type="checkbox" value="" id="check-expand-collapse" />
  <label for="check-expand-collapse">Option one is this and that&mdash;be sure to include why it's great</label>
</div>
<div class="radio toggle-expand-collapse">
  <input type="radio" value="" id="radio-expand-collapse" />
  <label for="radio-expand-collapse">Option one is this and that&mdash;be sure to include why it's great</label>
</div>
