////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//            THEME
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@type: 'collection';
@element: 'alerts';
@import (multiple) '../../theme.config';

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// alert icon support || Deprecated this supports some old functionality from the
//shoelace frameowrk and needs to be removed once that has been updated
//----------------------------------------------------------------------------------------------------------------------
@import (reference) "../../icon-font/icon-font";

.alert-icon-base(@color) {
    color: @color;
    font-weight: normal;
    font-size: @line-height-base;
    display: block;
    line-height: @line-height-computed;
    padding: 0.9rem 0 0 2.2rem; //this is 22px so that the space is 6px between the icon and the first letter
    &:before {
        font-size: @line-height-computed; // match line height of copy
        margin-top: -0.1rem;
        margin-left: -2.2rem;
        display: block;
        float: left;
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Alerts and messages
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.alert {
    &:extend( .media all );
    margin: 0 0 @vertical-push;
    padding: 0.6rem 0 0.6rem 2rem;
    &-text {
        &:extend( .media-body all );
        .form-inline & {
            width: auto;
        }
    }
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //
    // Alert states
    //
    // Generate contextual modifier classes for colorizing the alert.
    //
    //----------------------------------------------------------------------------------------------------------------------
    &-success &-text {
        &:extend( .text-success all );
    }
    &-info &-text {
        &:extend( .text-info all );
    }
    &-warning &-text {
        &:extend( .text-warning all );
    }
    &-danger &-text {
        &:extend( .text-danger all );
    }
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //
    // Dismissible alerts
    //
    // Expand the right padding and account for the close button's positioning.
    //
    //----------------------------------------------------------------------------------------------------------------------
    &-dismissible {
        padding-right: (@alert-padding + 2);
        // Adjust close link position
        .close {
            position: relative;
            top: -0.2rem;
            right: -2.1rem;
            color: inherit;
        }
    }

    > .icon:first-of-type {
        &:extend( .media-left all );
    }
    &-page {
        &-error {
            .alert-icon-base(@brand-danger);
            &:extend( .rei-icon-danger );
        }
        &-warning {
            .alert-icon-base(@brand-warning);
            &:extend( .rei-icon-warning );
        }
        &-info {
            .alert-icon-base(@text-color);
            &:extend( .rei-icon-info );
        }
        &-help {
            .alert-icon-base(@text-color);
            &:extend( .rei-icon-help );
        }
    }
    .overlay-dark-1 &,
    .overlay-dark-2 &,
    .overlay-explore-dark &,
    .overlay-explore-light,
    .overlay-medium-1 &,
    .overlay-outlet-dark-1 & {
        background-color: @core-architectural-5;
        color: @text-color;
        &:active,
        &:focus {
            border-color: @core-architectural-5;
        }
    }
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//            OVERRIDES
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.loadUIOverrides();
