<section class ="vertical-push-3" data-ui="list-group">

<cdr-well-docs example-title="Filter Menu" element-id="list-group-filter">
  <yield to="example-description">
 
  </yield>
  <yield to="example">
      {% include /markup-templates/list-group/list-group-filter.html %}
  </yield>
  <yield to="codeblock">
    {% highlight html %}
    {% include /markup-templates/list-group/list-group-filter.html %}
    {% endhighlight %}
  </yield>
</cdr-well-docs>

<cdr-well-docs example-title="Menu" element-id="list-group-menu">
  <yield to="example-description">

  </yield>
  <yield to="example">
    {% include /markup-templates/list-group/list-group-menu.html%}
  </yield>
  <yield to="codeblock">
    {% highlight html %}
    {% include /markup-templates/list-group/list-group-menu.html%}
    {% endhighlight %}
  </yield>
</cdr-well-docs>

</section>
