/*
  LEGACY utility classes
  NOTE: these classes are deprecated, and will be removed from Cedar in the Winter 2019 release
*/ 


/*====================
asset v0.1.3 space
======================*/

.cdr-inset {
    padding: 1.6rem !important;
    display: block;
}

.cdr-inset--squish {
    padding: .8rem 1.6rem !important;
}

.cdr-inset--stretch {
    padding: 2.4rem 1.6rem !important;
}

.cdr-inset--sm {
    padding: .8rem !important;
}

.cdr-inset--sm.cdr-inset--squish {
    padding: .4rem .8rem !important;
}

.cdr-inset--sm.cdr-inset--stretch {
    padding: 1.2rem .8rem !important;
}

.cdr-inset--xs {
    padding: .4rem !important;
}

.cdr-inset--xs.cdr-inset--squish {
    padding: .2rem .4rem !important;
}

.cdr-inset--xs.cdr-inset--stretch {
    padding: .6rem .4rem !important;
}

.cdr-inset--xxs {
    padding: .2rem !important;
}

.cdr-inset--xxs.cdr-inset--squish {
    padding: .1rem .2rem !important;
}

.cdr-inset--xxs.cdr-inset--stretch {
    padding: .3rem .2rem !important;
}

.cdr-inset--lg {
    padding: 3.2rem !important;
}

.cdr-inset--lg.cdr-inset--squish {
    padding: 1.6rem 3.2rem !important;
}

.cdr-inset--lg.cdr-inset--stretch {
    padding: 4.8rem 3.2rem !important;
}

.cdr-inset--xl {
    padding: 6.4rem !important;
}

.cdr-inset--xl.cdr-inset--squish {
    padding: 3.2rem 6.4rem !important;
}

.cdr-inset--xl.cdr-inset--stretch {
    padding: 9.6rem 6.4rem !important;
}

.cdr-inset--remove-all {
    padding: 0 !important;
}

.cdr-inset--remove-top {
    padding-top: 0 !important;
}

.cdr-inset--remove-right {
    padding-right: 0 !important;
}

.cdr-inset--remove-bottom {
    padding-bottom: 0 !important;
}

.cdr-inset--remove-left {
    padding-left: 0 !important;
}

.cdr-inline {
    margin-right: 1.6rem !important;
}

.cdr-inline--xxs {
    margin-right: .2rem !important;
}

.cdr-inline--xs {
    margin-right: .4rem !important;
}

.cdr-inline--sm {
    margin-right: .8rem !important;
}

.cdr-inline--lg {
    margin-right: 3.2rem !important;
}

.cdr-inline--xl {
    margin-right: 6.4rem !important;
}

.cdr-inline--xxl {
    margin-right: 12.8rem !important;
}

.cdr-inline-left {
    margin-right: 1.6rem !important;
}

.cdr-inline-left--xxs {
    margin-right: .2rem !important;
}

.cdr-inline-left--xs {
    margin-right: .4rem !important;
}

.cdr-inline-left--sm {
    margin-right: .8rem !important;
}

.cdr-inline-left--lg {
    margin-right: 3.2rem !important;
}

.cdr-inline-left--xl {
    margin-right: 6.4rem !important;
}

.cdr-inline-left--xxl {
    margin-right: 12.8rem !important;
}

.cdr-inline-right {
    margin-left: 1.6rem !important;
}

.cdr-inline-right--xxs {
    margin-left: .2rem !important;
}

.cdr-inline-right--xs {
    margin-left: .4rem !important;
}

.cdr-inline-right--sm {
    margin-left: .8rem !important;
}

.cdr-inline-right--lg {
    margin-left: 3.2rem !important;
}

.cdr-inline-right--xl {
    margin-left: 6.4rem !important;
}

.cdr-inline-right--xxl {
    margin-left: 12.8rem !important;
}

.cdr-stack {
    margin-bottom: 1.6rem !important;
}

.cdr-stack--xxs {
    margin-bottom: .2rem !important;
}

.cdr-stack--xs {
    margin-bottom: .4rem !important;
}

.cdr-stack--sm {
    margin-bottom: .8rem !important;
}

.cdr-stack--lg {
    margin-bottom: 3.2rem !important;
}

.cdr-stack--xl {
    margin-bottom: 6.4rem !important;
}

.cdr-stack--xxl {
    margin-bottom: 12.8rem !important;
}