@mixin cdr-form-error-base-mixin() {
  @include cdr-text-utility-sans-300;
  color: $cdr-color-text-input-error;
  fill: $cdr-color-text-input-error;
  margin-top: $cdr-space-quarter-x;
}

@mixin cdr-form-error-icon-mixin() {
  margin-right: $cdr-space-quarter-x;
}
