@mixin cdr-select-base-label-mixin() {
  @include cdr-text-utility-sans-200;
  font-weight: 600; // TODO: test 500
  color: $cdr-color-text-input-label;
  display: inline-block;
  margin: 0;
  margin-bottom: $cdr-space-quarter-x;
  margin-right: $cdr-space-inset-quarter-x;
}

/* input label disabled */
@mixin cdr-select-base-label-disabled-mixin() {
  color: $cdr-color-text-input-disabled;
}

/* select base */

@mixin cdr-select-base-mixin() {
  @include cdr-text-utility-sans-300;

  color: $cdr-color-text-input-default;
  box-shadow: inset 0 0 0 1px $cdr-color-border-input-default;
  border: 0;
  border-radius: $cdr-radius-softer;
  padding-left: $cdr-space-half-x;
  padding-right: $cdr-space-two-x;
  height: 40px;
  display: block;
  width: 100%;
  overflow: auto;
  margin: 0;
  background: $cdr-color-background-input-default;

  /* Hide Browser Styled Drowpdown Arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &::-ms-expand {
    display: none;
  }

  /* Prevent iOS from altering border and box-shadow */
  @supports (-webkit-overflow-scrolling: touch) {
    /* CSS specific to iOS devices */
    -webkit-appearance: none;
  }

  &[disabled] {
    background-color: $cdr-color-background-input-default-disabled;
    color: $cdr-color-text-input-disabled;
    box-shadow: inset 0 0 0 1px $cdr-color-border-input-default-disabled;

    &:hover {
      box-shadow: inset 0 0 0 1px $cdr-color-border-input-default-disabled;
      cursor: not-allowed;
    }
  }

  &:active,
  &:focus {
    box-shadow: inset 0 0 0 1px $cdr-color-border-input-default-active;
  }
}

@mixin cdr-select-prompt-mixin() {
  @include cdr-text-utility-sans-300;

  font-style: normal;
  color: $cdr-color-text-primary;

  &[disabled] {
    color: $cdr-color-text-input-disabled;
  }
}

/* --large */
@mixin cdr-select-large-mixin() {
  height: 48px;
}

/* required label */
@mixin cdr-select-required-label-mixin() {
  color: $cdr-color-text-input-required;
}

/* info container */
@mixin cdr-select-info-container-mixin() {
  @include cdr-text-utility-sans-200;

  float: right;
}

/* helper text */
@mixin cdr-select-helper-text-mixin() {
  @include cdr-text-utility-sans-200;

  color: $cdr-color-text-input-help;
}

/* caret */
@mixin cdr-select-base-caret-mixin() {
  fill: $cdr-color-icon-default;
  position: absolute;
  top: 50%;
  right: $cdr-space-half-x;
  transform: translateY(-50%);
  pointer-events: none;
}

@mixin cdr-select-base-caret-disabled-mixin() {
  fill: $cdr-color-icon-disabled;
}
