/* select base */

@mixin cdr-select-base-mixin() {
  @include cdr-text-utility-sans-300;
  font-weight: 500;
  background: $cdr-color-background-input-default;
  color: $cdr-color-text-input-default;
  box-shadow: inset 0 0 0 1px $cdr-color-border-input-default;
  border: 0;
  border-radius: $cdr-radius-softer;
  padding-left: $cdr-space-half-x;
  padding-right: $cdr-space-two-x;
  height: $cdr-form-input-height-default;
  display: block;
  width: 100%;
  overflow: auto;
  margin: 0;

  &[disabled] {
    background-color: $cdr-color-background-input-default-disabled;
    color: $cdr-color-text-input-disabled;
    box-shadow: inset 0 0 0 1px $cdr-color-border-input-default-disabled;

    &:hover {
      box-shadow: inset 0 0 0 1px $cdr-color-border-input-default-disabled;
      cursor: not-allowed;
    }
  }

  &:active,
  &:focus {
    box-shadow: inset 0 0 0 2px $cdr-color-border-input-default-focus, $cdr-prominence-raised;
    outline: none;
  }
}

@mixin cdr-select-prompt-mixin() {
  @include cdr-text-utility-sans-300;

  font-style: normal;
  color: $cdr-color-text-primary;

  &[disabled] {
    color: $cdr-color-text-input-disabled;
  }
}

/* --large */
@mixin cdr-select-large-mixin() {
  @include cdr-text-utility-sans-400;
  height: $cdr-form-input-height-large;
  padding-left: $cdr-space-half-x;
}

@mixin cdr-select-primary-mixin() {
  background-color: $cdr-color-background-input-default;
  &:active,
  &:focus {
    background-color: $cdr-color-background-input-default-active;
  }
}

@mixin cdr-select-secondary-mixin() {
  background-color: $cdr-color-background-input-secondary;
  &:active,
  &:focus {
    background-color: $cdr-color-background-input-secondary-active;
  }
}

@mixin cdr-select-error-mixin() {
  background-color: $cdr-color-background-input-error;
  box-shadow: inset 0 0 0 1px $cdr-color-border-input-error;
}
