/* ==========================================================================
  # CdrTabs
  
  All values should map to variables in
  vars/CdrTabs.vars.pcss
  in order to allow for theming

  TOC:

    :Base - CdrTabs
========================================================================== */
