@import '../../../css/settings/index.scss';
@import './vars/CdrTabs.vars.scss';
@import url('@rei/cedar/dist/style/cdr-tab-panel.css');
/* ==========================================================================
  # CdrTabs

  All values should map to variables in
  vars/CdrTabs.vars.pcss
  in order to allow for theming

  TOC:

    :Base - CdrTabs
    :Elements
      :header
      :header-item
      :header-item-button
      :underline
      :content-container
    :Modifiers
      :compact
      :no-border
      :full-width
========================================================================== */

.cdr-tabs {
  /* overflow-x: auto; */
  display: flex;
  flex-flow: column;
  height: 500px;

  // https://davidwalsh.name/osx-overflow
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }

  &__header-container {
    overflow-x: auto;
    border-bottom: 1px solid $cdr-color-border-secondary-lightmode;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    &::-webkit-scrollbar { width: 0 !important; height: 0 !important; }
  }

  &__gradient-container {
    position: relative;

    &::before {
      transition: opacity 150ms ease;
      -webkit-transition: opacity 150ms ease;
      content: '';
      position: absolute;
      z-index: 100;
      top: 0;
      bottom: 0;
      left: 0;
      width: 36px;
      background:
        linear-gradient(
          to left,
          rgba($cdr-color-background-lightest, 0),
          $cdr-color-background-lightest
        );
      pointer-events: none;
      opacity: 0;
    }

    &::after {
      transition: opacity 150ms ease;
      -webkit-transition: opacity 150ms ease;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 36px;
      background:
        linear-gradient(
          to right,
          rgba($cdr-color-background-lightest, 0),
          $cdr-color-background-lightest
        );
      pointer-events: none;
      opacity: 0;
    }
  }

  &__header {
    display: flex;
    width: 100%;
    margin: 0;

    padding: 0;
    position: relative;

    &-gradient-left::before {
      opacity: 1;
    }

    &-gradient-right::after {
      opacity: 1;
    }
  }

  &__header-item {
    display: block;
    padding: 0;

    & + & {
      margin-left: $cdr-space-one-x;
    }

    &[aria-selected] > .cdr-tabs__header-item-label {
      color: $cdr-color-text-link-lightmode;
    }
  }

  &__header-item-label {
    @include cdr-tabs-base-header-item-label;

    display: block;
    text-decoration: none;
    padding: $cdr-space-inset-half-x-stretch;
    color: $cdr-color-text-primary-lightmode;
    white-space: nowrap;
    outline-offset: -3px;

    &:active,
    &:hover,
    &:focus {
      text-decoration: none;
      color: $cdr-color-text-link-lightmode;
    }
  }

  &__underline {
    position: absolute;
    width: 30px;
    margin: 0;
    height: $cdr-space-quarter-x;
    box-sizing: border-box;
    border: none;

    /* border: none; */
    background-color: $cdr-color-text-link-lightmode;
    transition: 0.6s cubic-bezier(0.32, 0.94, 0.6, 1);
  }

  &__content-container {
    position: relative;
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .fade-enter-active,
  .fade-leave-active {
    opacity: 0.5s;
  }

  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }

  /* Compact
    ========== */
  &--compact {
    .cdr-tabs__header-item-label {
      @include cdr-tabs-compact-header-item-label;

      padding: $cdr-space-inset-three-quarter-x-squish;

    }
    .cdr-tabs__header-item {
      & + & {
        margin-left: $cdr-space-half-x;
      }
    }
  }

  /* No Border
    ========== */
  &--no-border {
    .cdr-tabs__header,
    .cdr-tabs__header-container {
      border-bottom: 1px solid transparent;
    }
  }

  /* Full Width
    ========== */
  &--full-width {
    .cdr-tabs__header-item {
      flex-grow: 1;
    }
  }

  /* Centered
    ========== */
  &--centered {
    .cdr-tabs__header {
      justify-content: center;
    }
  }
}
