@import '../../../css/settings/index.scss';

$tab-panel-animation-duration: $cdr-duration-2-x;

.cdr-tab-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: $cdr-space-eighth-x;
}

@keyframes :global(flyLeft) {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-10px);
  }
}

@keyframes :global(flyRight) {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(10px);
  }
}

.flyLeft {
  :global {
    animation-name: flyLeft;
  }
  animation-duration: $tab-panel-animation-duration;
}

.flyRight {
  :global {
    animation-name: flyRight;
  }
  animation-duration: $tab-panel-animation-duration;
}

:global(.fly-enter) {
  opacity: 0;
}

:global(.fly-leave-to) {
  opacity: 0;
}

:global(.fly-enter-active) {
  transition: opacity $tab-panel-animation-duration cubic-bezier(0.32, 0.94, 0.6, 1);
}

:global(.fly-leave-active) {
  transition: opacity $tab-panel-animation-duration cubic-bezier(0.32, 0.94, 0.6, 1);
}
