@import '../../../css/settings/index.scss';

$tab-panel-animation-duration: $cdr-duration-2-x;

.cdr-tab-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: $cdr-space-eighth-x;
}

@keyframes :global(exit-left) {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  
  to {
    transform: translateX(-10px);
    opacity: 0;
  }
}

@keyframes :global(exit-right) {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(10px);
    opacity: 0;
  }
}

@keyframes :global(enter-left) {
  from {
    transform: translateX(-10px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes :global(enter-right) {
  from {
    transform: translateX(10px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@mixin cdr-tab-panel-animation {
  animation-duration: $tab-panel-animation-duration;
  animation-timing-function: cubic-bezier(0.32, 0.94, 0.6, 1);
}

.cdr-tab-panel-active-fly-left {
  :global {
    animation-name: enter-left;
  }
  @include cdr-tab-panel-animation;
}

.cdr-tab-panel-active-fly-right {
  :global {
    animation-name: enter-right;
  }
  @include cdr-tab-panel-animation;
}

.cdr-tab-panel-inactive-fly-left {
  :global {
    animation-name: exit-left;
  }
  @include cdr-tab-panel-animation;
}

.cdr-tab-panel-inactive-fly-right {
  :global {
    animation-name: exit-right;
  }
  @include cdr-tab-panel-animation;
}

