@import '../../../css/settings/index.scss';

$tab-panel-animation-duration: $cdr-duration-5-x;

.cdr-tab-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: $cdr-space-eighth-x;
}

// flyLeft= fadeout
// flyRight= fadein

@keyframes :global(fadeout) {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100vw);
  }
}

@keyframes :global(fadein) {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100vw);
  }
}

.fadeout {
  // :global {
  //   animation-name: fadeout;
  // }
  transition: opacity $cdr-duration-1-x linear;
  opacity: 0;
  animation-duration: $tab-panel-animation-duration;
}

.fadein {
  // :global {
  //   animation-name: fadein;
  // }
  transition: opacity $cdr-duration-1-x linear;
  opacity: 1;
  animation-duration: $tab-panel-animation-duration;
}
