<section class="vertical-push-3">
    <h2 id="body-copy" class="page-header">Body copy</h2>
    {% include /elements/typography/text-utilities.html %}
    <h3 id="groupings" class="status status-good">Groupings</h3>
    <div class="well" data-example-id="heading-copy-spacing">
        {% include /markup-templates/typography/grouping.html %}
    </div>
    {% highlight html %}
    <div>
        <h2> Lorem Ipsum </h2>

        <p>Duis malesuada volutpat scelerisque...</p>
    </div>
    {% endhighlight %}
</section>
