<section class="vertical-push-3">
    <cdr-well-docs example-title="Headings" element-id="headings">
        <yield to="example-description">
            <p>
                A heading helps users to identify and create a hierarchical structure within a 
                page. Headings are typically the largest text on the screen and should be short
                and include important information.
            </p>
        </yield>
        <yield to="example">
            {% include /markup-templates/typography/headings.html param="core" %}
        </yield>
        <yield to="codeblock">
{% highlight html %}
<h1> H1 core </h1>

<h1 class="h4"> H1 core styled as h4</h1>
{% endhighlight %}
        </yield>
    </cdr-well-docs>

    <cdr-well-docs example-title="Hero and Announce Headings" element-id="announce">
        <yield to="example-description">
            <p>
                Uses the cedar <strong>Serif-strong</strong>
                <code>cdr-text-heading-serif-strong-1100 & cdr-text-heading-serif-strong-1200
                </code> tokens
            </p>
        </yield>
        <yield to="example">
            {% include /markup-templates/typography/headings.html param="announce" %}
        </yield>
        <yield to="codeblock">
{% highlight html %}
<h1 class="heading-announce"> When you gear up, we give back </h1>
{% endhighlight %}
        </yield>
    </cdr-well-docs>

    <cdr-well-docs example-title="Eyebrow" element-id="eyebrow">
        <yield to="example-description">
            <p>Eyebrows introduce a topic or show how an item is categorized. Content tags or certain label styles are two
                examples.
                Eyebrow text styles should not be used as headings or used for brand names.
            </p>
        </yield>
        <yield to="example">
            <p class="label-classification">Hiking, backpacking</p>
        </yield>
        <yield to="codeblock">
            {% highlight html %}
            <p class="label-classification">Hiking, backpacking</p>
            {% endhighlight %}
        </yield>
    </cdr-well-docs>
</section>
