
    <h3 id="copy" class="status status-good"> Copy</h3>
    <div class="well" data-example-id="copy">
        {% include /markup-templates/typography/paragraph-highlight.html param="copy"%}
    </div>

    <h3 id="alignment" class="status status-good"> Alignment</h3>
    <div class="well" data-example-id="alignment">
        {% include /markup-templates/typography/paragraph-highlight.html param="alignment" %}
    </div>
{% highlight html %}
{% include /markup-templates/typography/paragraph-highlight.html param="alignment" %}
{% endhighlight %}

    <h3 id="transformation" class="status status-good"> Transformation </h3>
    <div class="well" data-example-id="transformation">
        {% include /markup-templates/typography/paragraph-highlight.html param="transformation"%}
    </div>

    <h3 id="color" class="status status-good"> Color </h3>
    <div class="well" data-example-id="color">
        {% include /markup-templates/typography/paragraph-highlight.html param="color"%}
    </div>
{% highlight html %}
{% include /markup-templates/typography/paragraph-highlight.html param="color"%}
{% endhighlight %}

    <h3 id="visibility" class="status status-good"> Visibility</h3>
    <div class="well" data-example-id="visibility">
        {% include /markup-templates/typography/paragraph-highlight.html param="visibility"%}
    </div>
{% highlight html %}
{% include /markup-templates/typography/paragraph-highlight.html param="visibility"%}
{% endhighlight %}

    <h3 id="weight-and-size"class="status status-good"> Weight and Size</h3>
    <div class="well" data-example-id="weight-size">
        {% include /markup-templates/typography/paragraph-highlight.html param="weight-size"%}
    </div>
{% highlight html %}
{% include /markup-templates/typography/paragraph-highlight.html param="weight-size"%}
{% endhighlight %}

