/* ==========================================================================
  # CdrDataTable

  TOC:

    :Base - CdrDataTable
    :States
      :borderless
      :compact
========================================================================= */
@import '../../../css/settings/index.scss';

.cdr-data-table {
  // TODO: typography token
  @include redwood-display-20();

  position: relative;

  &__caption {
    @include cdr-text-heading-400();

    color: $cdr-color-text-primary-lightmode;
  }

  &__scroll-container {
    /* margin-left: 150px; */
    overflow-x: auto;

    /* &:global(.full-scroll) {
      margin-left: 0;

      .cdr-data-table__content {
        th.empty,
        tbody th {
          position: relative;
        }
      }
    }
    */

    &:global(.locked-col) {
      margin-left: 150px;

      @mixin lockedColTh() {
        border-right: 2px solid $cdr-color-border-secondary-lightmode;
        left: 0;
        position: absolute;
        width: 150px;
      }

      thead tr th:first-child {
        @include lockedColTh();
      }

      tbody tr th {
        @include lockedColTh();
      }
    }

    &:global(.is-scrolling) {
      /* add extra border width */
      thead tr th:first-child {
        border-right: 4px solid $cdr-color-border-secondary-lightmode;
      }

      tbody tr th {
        border-right: 4px solid $cdr-color-border-secondary-lightmode;
      }
    }
  }

  &__content {
    border: none;
    border-collapse: collapse;

    th,
    td {
      border: 1px solid $cdr-color-border-secondary-lightmode;
      min-height: 48px;
      color: $cdr-color-text-primary-lightmode;
      padding: $cdr-space-inset-one-x;
      text-align: left;
      min-width: 127px;
    }

    /* td {
      &:not(:first-of-type) {
        text-align: left;
      }
    } */

    &:global(.constrain-width) {
      th,
      td {
        max-width: 150px;
      }
    }

    thead {
      th {
        border-bottom: 2px solid $cdr-color-border-secondary-lightmode;

        /* empty column header, row header column */
        &[class^=empty] {
          border-right: 2px solid $cdr-color-border-secondary-lightmode;
        }
      }
    }

    tbody {
      tr {
        &:nth-child(even) {
          background-color: $cdr-color-background-light;

          th {
            background-color: $cdr-color-background-light;
          }
        }

        th {
          min-width: 150px;
          border-right: 2px solid $cdr-color-border-secondary-lightmode;
        }
      }

      .align-row-header-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
    }
  }

  &--borderless {
    border: none;

    th,
    td {
      border: none;
    }

    tbody tr th {
      border-right: none;
    }
  }

  &--compact {
    th,
    td {
      padding: $cdr-space-inset-one-x-squish;
    }
  }
}
