@import '../../../css/settings/index.scss';
@import './vars/CdrLabelStandalone.vars.scss';

.cdr-label-standalone {
  display: grid;

  grid-template-areas:
    "label label info"
    "input input input"
    "post post post";


  &__label-wrapper {
    grid-area: label;
  }

  &__label {
    @include cdr-label-standalone-label-mixin;
    &--sr-only {
      @include cdr-display-sr-only;
    }
    &--disabled {
      @include cdr-label-standalone-disabled-mixin;

      .cdr-label-standalone__optional {
        @include cdr-label-standalone-disabled-mixin;
      }
    }
  }

  &__optional {
    @include cdr-label-standalone-optional-mixin;
  }

  &__helper {
    @include cdr-label-standalone-helper-mixin;
  }

  &__info {
    @include cdr-label-standalone-info-mixin;
    grid-area: info;
    order: 2;
    align-self: end;
    justify-self: end;
  }

  &__post-content {
    grid-area: post;
  }

  &__info-action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
  }

  &__input-wrap {
    position: relative;
    display: flex;
    grid-area: input;
  }

  &__input-spacing {
    margin-top: $cdr-space-half-x;
  }

}
