/*
* Docs sections
*
* Content blocks for each component or feature.
*/
.note {
  color: @utility-error;
}
/* Space things out */
.bs-docs-section {
    margin-bottom: 6rem;
}
.bs-docs-section:last-child {
    margin-bottom: 0;
}

h1[id] {
    padding-top: 0;
    margin-top: 0;
}

.bs-list-nav {
    > li {
        > a {
            line-height: 1.6;
        }
    }
}
/*
* Callouts
*
* Not quite alerts, but custom and helpful notes for folks reading the docs.
* Requires a base and modifier class.
*/

/* Common styles for all types */
.bs-callout {
    padding: 2rem;
    margin: 0;
    border: 0.1rem solid #eee;
    border-left-width: 0.5rem;
    border-radius: 0.3rem;
}
.bs-callout h4 {

    margin-bottom: 0.5rem;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 0.3rem;
}

/* Tighten up space between multiple callouts */
.bs-callout + .bs-callout {
    margin-top: -0.5rem;
}

/* Variations */
.bs-callout-danger {
    border-left-color: #ce4844;
}
.bs-callout-danger h4 {
    color: #ce4844;
}
.bs-callout-warning {
    border-left-color: #aa6708;
}
.bs-callout-warning h4 {
    color: #aa6708;
}
.bs-callout-info {
    border-left-color: #1b809e;
}
.bs-callout-info h4 {
    color: #1b809e;
}

/*
* Grid examples
*
* Highlight the grid columns within the docs so folks can see their padding,
* alignment, sizing, etc.
*/

.show-grid {
    margin-bottom: 1.5rem;
}
.show-grid [class^="col-"] {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 0.1rem solid #ddd;
    border: 0.1rem solid rgba(86,61,124,.2);
}


/*
* Examples
*
* Isolated sections of example content for each component or feature. Usually
* followed by a code snippet.
*/

.bs-example {
    position: relative;
    margin: 0 0 2.2rem;
}

.cedar-example > .card,
.cedar-example > .tile {
    width: 100%;
    max-width: 32rem;
    min-width: 32rem;
    .center-block();
}

.code-toggle {
    position: relative;
    display: block;
}
.code-toggle--control {
    position: relative;
    display: block;
    padding: 1.2rem 3.6rem 1.2rem 1.6rem;
    .place-toggle-variant( @icon-size-md; 0.5rem; -4rem; );
}
.code-toggle--document {
    border-top: 1px solid @core-architectural-3;
    position: relative;
}
.overlay-img {
  background: transparent url(http://www.rei.com/content/landing-pages/lets-camp/img/mark/lead.jpg) 0 0 ;

  &[data-theme="medium-10"],
  &[data-theme="dark-10"],
  &[data-theme="dark-20"] {
      p,
      h1,h2,h3,h4,h5,h6 {
          text-shadow: 0 0 1px rgba(0,0,0,1);
      }
  }
}

.bs-header-well {
    padding: 1.6rem 0;
}

.well {
    .media-state& {
        &:before {
            content: "Extra small breakpoint";
            @media( min-width: @screen-sm-min ) {
                content: "Small breakpoint";
            }
            @media( min-width: @screen-md-min ) {
                content: "Medium breakpoint";
            }
            @media( min-width: @screen-lg-min ) {
                content: "Large breakpoint";
            }
            border: 0.1rem solid #f5f5f5;
            border-left: none;
            border-top: none;
            color: @core-architectural-4;
            position: relative;
            padding: 0.2rem;
            left: -1.6rem;
            top: -1.3rem;
        }
    }
}
.status {
    a {
        color: #222;
    }
}
.status-icon-base(@color) {
  &:after {
    color: @color;
    display: inline-block;
    margin-left: 1.2rem;
    position: relative;
    top: 0.3rem;
    h1&,
    h2& {
        font-size: @font-size-h1;
    }
    h3&,
    h4& {
        font-size: @font-size-h3;
    }
  }
}

.status-icon-danger {
    &:after {
        .icon();
        content: @icon-var-rei-error;
    }
}

.status-icon-warning {
    &:after {
        .icon();
        content: @icon-var-rei-warning;
    }
}

.status-icon-help {
    &:after {
        .icon();
        content: @icon-var-rei-help;
    }
}

.status-icon-info {
    &:after {
        .icon();
        content: @icon-var-rei-info;
    }
}
.status-icon-good {
     &:after {
        .icon();
        content: @icon-var-rei-success;
    }
}
.status-icon-chat {
    &:after {
        .icon();
        content: @icon-var-rei-chat;
    }
}
.status-icon-builder-class {
    &:after {
        .icon();
        content: @icon-var-cog;
    }
}
.status-danger{
  .status-icon-base(@brand-danger);
  .status-icon-danger;
}
.status-warning {
  .status-icon-base(@brand-warning);
  .status-icon-warning;
}
.status-chat {
  .status-icon-base( lighten(@gray-base, 50%));
  .status-icon-chat;
}
.status-base-class {
    .status-icon-base( lighten(@gray-base, 50%));
    .status-icon-chat;
    .status-icon-builder-class
}
.status-info {
  .status-icon-base(@text-color);
  .status-icon-info;
}
.status-good {
  .status-icon-base(@brand-success);
  .status-icon-good;
}

.bs-example-padded-bottom {
    padding-bottom: 2.4rem;
}

/* Tweak display of the code snippets when following an example */
.well + .highlight,
.well + .zero-clipboard + .highlight,
.well-group + .highlight,
.well-group + .zero-clipboard + .highlight {
    margin: -2.2rem -1.5rem 2.2rem;
    border-width: 0 0 0.1rem;
    border-radius: 0;
}

/* Make the examples and snippets not full-width */
@media (min-width: @screen-sm-min) {
    .well + .highlight,
    .well + .zero-clipboard + .highlight,
    .well-group + .highlight,
    .well-group + .zero-clipboard + .highlight {
        margin-top: -2.2rem;
        margin-right: 0;
        margin-left: 0;
        border-width: 0.1rem;
        border-top: none;
        border-bottom-right-radius: 0.4rem;
        border-bottom-left-radius: 0.4rem;
    }
    .bs-example-standalone {
        border-radius: 0.4rem;
    }
}

/* Undo width of container */
.bs-example .container {
    width: auto;
}

.bs-example > p > .close {
    float: none;
}

/* Typography */
.bs-example-type .table .type-info {
    color: @docs-gray;
    vertical-align: middle;
}
.bs-example-type .table td {
    padding: 1.5rem 0;
    border-color: #eee;
}
.bs-example-type .table tr:first-child td {
    border-top: 0;
}

/* Contextual background colors */
.bs-example-bg-classes p {
    padding: 1.5rem;
}

/* Images */
.bs-example > .img-circle,
.bs-example > .img-rounded,
.bs-example > .img-thumbnail {
    margin: 0.5rem;
}

/* Tables */
.bs-example > .table-responsive > .table {
    background-color: #fff;
}

/* Buttons */
.bs-example > .btn,
.bs-example > .btn-group {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* Forms */
.bs-example-control-sizing select,
.bs-example-control-sizing input[type="text"] + input[type="text"] {
    margin-top: 1rem;
}
.bs-example-form .input-group {
    margin-bottom: 1rem;
}
.bs-example > textarea.form-control {
    resize: vertical;
}

/* List groups */
.bs-example > .list-group {
    max-width: 40rem;
}

/* Navbars */
.bs-example .navbar:last-child {
    margin-bottom: 0;
}
.bs-navbar-top-example,
.bs-navbar-bottom-example {
    z-index: 1;
    padding: 0;
    overflow: hidden; /* cut the drop shadows off */
}
.bs-navbar-top-example .navbar-header,
.bs-navbar-bottom-example .navbar-header {
    margin-left: 0;
}
.bs-navbar-top-example .navbar-fixed-top,
.bs-navbar-bottom-example .navbar-fixed-bottom {
    position: relative;
    margin-right: 0;
    margin-left: 0;
}
.bs-navbar-top-example {
    padding-bottom: 4.5rem;
}
.bs-navbar-top-example:after {
    top: auto;
    bottom: 1.5rem;
}
.bs-navbar-top-example .navbar-fixed-top {
    top: -0.1rem;
}
.bs-navbar-bottom-example {
    padding-top: 4.5rem;
}
.bs-navbar-bottom-example .navbar-fixed-bottom {
    bottom: -0.1rem;
}
.bs-navbar-bottom-example .navbar {
    margin-bottom: 0;
}
@media (min-width: @screen-sm-min) {
    .bs-navbar-top-example .navbar-fixed-top,
    .bs-navbar-bottom-example .navbar-fixed-bottom {
        position: absolute;
    }
}

/* Pagination */
.bs-example .pagination {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Pager */
.bs-example > .pager {
    margin-top: 0;
}

/* Example modals */
.bs-example-modal {
    background-color: #f5f5f5;
}
.bs-example-modal .modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block;
}
.bs-example-modal .modal-dialog {
    left: auto;
    margin-right: auto;
    margin-left: auto;
}

/* Example dropdowns */

/* Example tabbable tabs */
.bs-example-tabs .nav-tabs {
    margin-bottom: 1.5rem;
}

/* Tooltips */
.bs-example-tooltips {
    text-align: center;
}
.bs-example-tooltips > .btn {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.bs-example-tooltip .tooltip {
    position: relative;
    display: inline-block;
    margin: 1rem 2rem;
    opacity: 1;
}

/* Popovers */
.bs-example-popover {
    padding-bottom: 2.4rem;
    background-color: @docs-gray-lightest;
}
.bs-example-popover .popover {
    position: relative;
    display: block;
    float: left;
    width: 26rem;
    margin: 2rem;
}

/* Scrollspy demo on fixed height div */
.scrollspy-example {
    position: relative;
    height: 20rem;
    margin-top: 1rem;
    overflow: auto;
}

/* Simple collapse example */
#collapseExample .well {
    margin-bottom: 0;
}

/* Don't wrap event names in Events tables in JS plugin docs */
.bs-events-table > thead > tr > th:first-child,
.bs-events-table > tbody > tr > td:first-child {
    white-space: nowrap;
}

.bs-events-table > thead > tr > th:first-child {
    width: 15rem;
}

.js-options-table > thead > tr > th:nth-child(1),
.js-options-table > thead > tr > th:nth-child(2) {
    width: 10rem;
}

.js-options-table > thead > tr > th:nth-child(3) {
    width: 5rem;
}

.zero-clipboard {
    position: relative;
}

.btn-clipboard {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: block;
  padding: 0.5rem 0.8rem;
  font-size: 1.2rem;
  color: #565656;
  cursor: pointer;
  background-color: #ffffff;
  border: 0.1rem solid #565656;
  border-radius: 0 0.4rem 0 0.4rem;
}


/*
* Miscellaneous
*
* Odds and ends for optimum docs display.
*/

/* Pseudo :focus state for showing how it looks in the docs */
#focusedInput {
    border: 0.1rem solid @core-action-2; /* Restate unfocused value to make CSSLint happy that there's a pre-CSS3 fallback*/

}

// TODO need ERL impl
// Description Lists
dl {
    margin-top: 0; // Remove browser default
    margin-bottom: 2.4rem;
}
dt,
dd {
    line-height: @line-height-base;
}
dt {
    font-weight: bold;
}
dd {
    margin-left: 0; // Undo browser default
}

// Horizontal description lists
//
// Defaults to being stacked without any of the below styles applied, until the
// grid breakpoint is reached (default of ~768px).

.dl-horizontal {
    dd {
        &:extend(.clearfix all); // Clear the floated `dt` if an empty `dd` is present
    }

    @media ( min-width: @screen-sm-min ) {
        dt {
            float: left;
            width: ( @dl-horizontal-offset - 0.2 );
            clear: left;
            text-align: right;
            .text-overflow();
        }
        dd {
            margin-left: (@dl-horizontal-offset);
        }
    }
}
