    /*
* Fancy skip link
*
* Make it look a bit less "bare bones"
* Also includes focus suppression for the Chrome tabindex="-1" workaround
*/

.skip-nav-link {
    display: block;
    padding: 1rem;
    color: #004e00 !important;
    background-color: #a1c900;
    outline: 0;
}

/*
* Main navigation
*
* Turn the `.navbar` at the top of the docs purple.
*/

@docs-logo-width: 10rem;
@docs-logo-height: auto;

.bs-navbar-collapse,
.bs-list-nav {
    width: 100%;
}

.rei-logo {
    fill: #fff;
    stroke: none;
    width: 20rem;
    height: auto;
    &.secondary {
        width: @docs-logo-width;
        height: @docs-logo-height;

    }
}

.ui-navigation {
    background: @cdr-color-background-button-secondary-rest;
    .btn {
        margin-bottom: 0;
    }
}

/*NAV*/

.doc_head-navigation,
.doc_head-navigation ul {
    .list-menu();
    padding-left: 0;
    list-style: none;
}

.doc_head-navigation-item {
    a:hover,
    a:focus,
    &.active a {
        background-color: @cdr-color-background-button-secondary-hover;
        color: @cdr-color-text-button-secondary-hover;
    }
    &.active .nested-item,
    .nested-item {

        a {
            font-size: 1.4rem;
            color: @cdr-color-text-button-secondary-hover;
            background-color: @cdr-color-background-button-secondary-hover;
            &:hover {
                background: #000 !important;
                color: #fff !important;
            }
        }
    }
}

@media ( min-width: @screen-md-min ) {
    #pattern_navigation {
        display: block;
        position: relative;
        width: 100%;
        z-index: 1000;
        .collapse {
            display: block !important;
        }
    }
    .doc_head-navigation {
        float: left;
        list-style: none;
        margin: 0;
        padding: 0;
        & > li > a {
          border-bottom: none;
        }
    }
    .doc_head-navigation-nested-list {
        font-size: @font-size-smaller;
        position: absolute;
        left: 0;
        display: none;
        width: 20rem;

        &.js-show-menu {
            display: block;
            opacity: 0.99;
        }
    }
    .doc_head-navigation-item > a {
        border: none;
    }

    .doc_head-navigation-item {
        float: left;
        margin: 0;
        padding: 0;
        position: relative;
        a {
            font-family: @headings-font-family;
            font-size: @btn-font-size;
            font-style: @btn-font-style;
            background: @cdr-color-background-button-secondary-rest;
            color: @cdr-color-text-button-secondary;
            font-weight: 500;
            letter-spacing: -.08px;
            line-height: @btn-line-height;
            padding: @cdr-space-inset-one-x-squish !important;
            text-decoration: none;
            transition: all linear 0.1s;
            width: auto;
        }
    }
    .doc_head-navigation-item > a:hover,
    .doc_head-navigation-item > a:focus,
    .doc_head-navigation-item:focus > a,
    .doc_head-navigation-item:hover > a {
        background: @cdr-color-background-button-secondary-hover;
        color: @cdr-color-text-button-secondary-hover;
        outline: 0;
    }
    .nested-item a {
        color: #000;
        display: block;
        text-decoration: none;
        text-transform: uppercase;
    }
}
