@import '../../../css/settings/index.scss';

$rating-color: #2b6692;

@mixin cdr-rating-small() {
  & .cdr-rating__icon {
    width: $cdr-icon-size-sm;
    height: $cdr-icon-size-sm;
  }

  & .cdr-rating__count {
    @include cdr-text-utility-sans-100;

    margin-left: $cdr-space-quarter-x;
  }
}

@mixin cdr-rating-medium($parent-selector: '& ') {
  #{$parent-selector}.cdr-rating__icon {
    width: $cdr-icon-size;
    height: $cdr-icon-size;
  }

  #{$parent-selector}.cdr-rating__count {
    @include cdr-text-utility-sans-200;

    margin-left: $cdr-space-half-x;
  }
}

@mixin cdr-rating-large() {
  & .cdr-rating__icon {
    width: $cdr-icon-size-lg;
    height: $cdr-icon-size-lg;
  }

  & .cdr-rating__count {
    @include cdr-text-utility-sans-300;
  }
}

@include cdr-rating-medium('');

.cdr-rating {
  display: flex;
  align-items: center;
  position: relative;
  line-height: 1;

  color: $cdr-color-text-rating-default;

  /* Elements
    ========================================================================== */

  &__number {
    font-weight: 600;
  }

  &__ratings {
    display: flex;
  }

  &__caption-sr {
    @include cdr-display-sr-only-mixin;
  }

  /* Placeholder
    ========== */

  &__placeholder {
    background-image: svg-load('node_modules/@rei/cedar-icons/dist/icons/star-stroke.svg', fill=#{$rating-color});
    background-repeat: no-repeat;

    &--no-reviews {
      background-image: svg-load('node_modules/@rei/cedar-icons/dist/icons/star-stroke.svg', fill=#{$cdr-color-text-form-placeholder-lightmode});
    }
  }

  /* Stars
    ========== */

  &__100 {
    background-image: svg-load('node_modules/@rei/cedar-icons/dist/icons/star-100.svg', fill=#{$rating-color});
    background-repeat: no-repeat;
  }

  &__75 {
    background-image: svg-load('node_modules/@rei/cedar-icons/dist/icons/star-75.svg', fill=#{$rating-color});
    background-repeat: no-repeat;
  }

  &__50 {
    background-image: svg-load('node_modules/@rei/cedar-icons/dist/icons/star-50.svg', fill=#{$rating-color});
    background-repeat: no-repeat;
  }

  &__25 {
    background-image: svg-load('node_modules/@rei/cedar-icons/dist/icons/star-25.svg', fill=#{$rating-color});
    background-repeat: no-repeat;
  }

  /* Modifiers
    ========================================================================== */

  /* Linked
    ========== */

  &--linked {
    display: inline-flex;
    text-decoration: none;

    & .cdr-rating__count {
      &:hover,
      &:active,
      &:focus {
        color: $cdr-color-text-rating-hover;
        text-decoration: underline;
      }

      & > .cdr-rating__number {
        border-right: 1px solid $cdr-color-text-rating-separator;
        padding: 0 $cdr-space-quarter-x;
        margin-right: $cdr-space-quarter-x;
      }
    }
  }

  /* Large
    ========== */

  &--large {
    @include cdr-rating-large;
  }

  /* Medium
    ========== */

  &--medium {
    @include cdr-rating-medium();
  }

  /* Small
    ========== */

  &--small {
    @include cdr-rating-small;
  }

  @include xs-mq-only {
    &--small\@xs {
      @include cdr-rating-small;
    }

    &--medium\@xs {
      @include cdr-rating-medium;
    }

    &--large\@xs {
      @include cdr-rating-large;
    }
  }

  @include sm-mq-only {
    &--small\@sm {
      @include cdr-rating-small;
    }

    &--medium\@sm {
      @include cdr-rating-medium;
    }

    &--large\@sm {
      @include cdr-rating-large;
    }
  }

  @include md-mq-only {
    &--small\@md {
      @include cdr-rating-small;
    }

    &--medium\@md {
      @include cdr-rating-medium;
    }

    &--large\@md {
      @include cdr-rating-large;
    }
  }

  @include lg-mq-only {
    &--small\@lg {
      @include cdr-rating-small;
    }

    &--medium\@lg {
      @include cdr-rating-medium;
    }

    &--large\@lg {
      @include cdr-rating-large;
    }
  }
}
