@import '../../../css/settings/index.scss';

$rating-color: #2b6692;

@mixin cdr-rating-small() {
  & .cdr-rating__icon {
    width: $cdr-icon-size-sm;
    height: $cdr-icon-size-sm;
  }

  & .cdr-rating__count {
    @include cdr-text-utility-100;

    margin-left: $cdr-space-quarter-x;
  }
}

@mixin cdr-rating-medium($parent-selector: '& ') {
  #{$parent-selector}.cdr-rating__icon {
    width: $cdr-icon-size;
    height: $cdr-icon-size;
  }

  #{$parent-selector}.cdr-rating__count {
    @include cdr-text-utility-200;

    margin-left: $cdr-space-half-x;
  }
}

@mixin cdr-rating-large() {
  & .cdr-rating__icon {
    width: $cdr-icon-size-lg;
    height: $cdr-icon-size-lg;
  }

  & .cdr-rating__count {
    @include cdr-text-utility-300;
  }
}

@include cdr-rating-medium('');

.cdr-rating {
  display: flex;
  align-items: center;
  position: relative;
  line-height: 1;

  /* Elements
    ========================================================================== */

  &__ratings {
    display: flex;
  }

  &__caption-sr {
    @include cdr-display-sr-only-mixin;
  }

  /* Placeholder
    ========== */

  &__placeholder {
    background-image: svg-load('node_modules/@rei/cedar-icons/dist/icons/star-stroke.svg', fill=#{$rating-color});
    background-repeat: no-repeat;

    &--no-reviews {
      background-image: svg-load('node_modules/@rei/cedar-icons/dist/icons/star-stroke.svg', fill=#{$cdr-color-text-form-placeholder-lightmode});
    }
  }

  /* Stars
    ========== */

  &__100 {
    background-image: svg-load('node_modules/@rei/cedar-icons/dist/icons/star-100.svg', fill=#{$rating-color});
    background-repeat: no-repeat;
  }

  &__75 {
    background-image: svg-load('node_modules/@rei/cedar-icons/dist/icons/star-75.svg', fill=#{$rating-color});
    background-repeat: no-repeat;
  }

  &__50 {
    background-image: svg-load('node_modules/@rei/cedar-icons/dist/icons/star-50.svg', fill=#{$rating-color});
    background-repeat: no-repeat;
  }

  &__25 {
    background-image: svg-load('node_modules/@rei/cedar-icons/dist/icons/star-25.svg', fill=#{$rating-color});
    background-repeat: no-repeat;
  }

  /* Modifiers
    ========================================================================== */

  /* Linked
    ========== */

  &--linked {
    display: inline-flex;
    text-decoration: none;

    & .cdr-rating__count {
      &:hover,
      &:active,
      &:focus {
        text-decoration: underline;
      }

      & > .cdr-rating__number {
        border-right: 1px solid $cdr-color-border-secondary-lightmode;
        padding: 0 $cdr-space-quarter-x;
        margin-right: $cdr-space-quarter-x;
      }
    }
  }

  /* Large
    ========== */

  &--large {
    @include cdr-rating-large;
  }

  /* Small
    ========== */

  &--small {
    @include cdr-rating-small;
  }

  /* Content Color Variants
    ========================================================================== */
  &--primary {
    & .cdr-rating__count {
      color: $cdr-color-text-primary-lightmode;
    }

    & .cdr-rating--linked {
      &:hover,
      &:active,
      &:focus {
        text-decoration-color: $cdr-color-text-primary-lightmode;
      }
    }

    & .cdr-rating__number {
      border-right-color: $cdr-color-border-secondary-lightmode;
    }
  }

  &--secondary {
    & .cdr-rating__count {
      color: $cdr-color-text-secondary-lightmode;
    }

    & .cdr-rating--linked {
      &:hover,
      &:active,
      &:focus {
        text-decoration-color: $cdr-color-text-secondary-lightmode;
      }
    }

    & .cdr-rating__number {
      border-right-color: $cdr-color-border-secondary-lightmode;
    }
  }


// TODO: does medium need to be here too? probably?

  @include xs-mq-only {
    &--small\@xs {
      @include cdr-rating-small;
    }

    &--large\@xs {
      @include cdr-rating-large;
    }
  }

  @include sm-mq-only {
    &--small\@sm {
      @include cdr-rating-small;
    }

    &--large\@sm {
      @include cdr-rating-large;
    }
  }

  @include md-mq-only {
    &--small\@md {
      @include cdr-rating-small;
    }

    &--large\@md {
      @include cdr-rating-large;
    }
  }

  @include lg-mq-only {
    &--small\@lg {
      @include cdr-rating-small;
    }

    &--large\@lg {
      @include cdr-rating-large;
    }
  }
}
