/* ==========================================================================
  # CdrButton

  TOC:

    :Base Styles
      :States
    :Modifiers
      :Style variants
        :Secondary
    :Size variants
      :large
      :medium
      :small
    :full-width
    :icon-only
    :on-dark
    :Breakpoint variants
      :xs
      :sm
      :md
      :lg
========================================================================== */

.cdr-button {
  @include cdr-button-base-mixin;

  & > :global(&__icon) {
    @include cdr-button-base-icon-mixin;
  }

  /* Modifier style variants
    ========================================================================== */
  &--primary {
    @include cdr-button-primary-mixin;
  }

  /* Secondary
     ========== */
  &--secondary {
    @include cdr-button-primary-mixin;
  }

  /* Size variants
    ========================================================================== */

  /* Large
     ========== */
  &--large {
    @include cdr-button-large-mixin;

    &.cdr-button--has-icon {
      @include cdr-button-has-icon-large-mixin;
    }

    & > :global(.cdr-button__icon) {
      @include cdr-button-icon-large-mixin;
    }
  }

  /* Medium
     ========== */
  &--medium {
    @include cdr-button-medium-mixin;

    &.cdr-button--has-icon {
      @include cdr-button-has-icon-medium-mixin;
    }

    & > :global(.cdr-button__icon) {
      @include cdr-button-icon-medium-mixin;
    }
  }

  /* Small
     ========== */

  &--small {
    @include cdr-button-small-mixin;

    &.cdr-button--has-icon {
      @include cdr-button-has-icon-small-mixin;
    }

    & > :global(.cdr-button__icon) {
      @include cdr-button-icon-small-mixin;
    }
  }

  /* Full Width
     ========== */
  &--full-width {
    @include cdr-button-full-width-mixin;
  }

  /* Icon Only
     ========= */

  &--icon-only {
    @include cdr-button-icon-only-mixin;

    &.cdr-button--on-dark {
      fill: $cdr-button-icon-only-fill-darkmode;
    }
  }

  /* Breakpoint variants

  /* @xs
    0px - 767px
    ========== */
  @include xs-mq-only {
    &--small\@xs {
      @include cdr-button-small-mixin;

      &.cdr-button--has-icon {
        @include cdr-button-has-icon-small-mixin;
      }

      & > :global(.cdr-button__icon) {
        @include cdr-button-icon-small-mixin;
      }
    }

    &--medium\@xs {
      @include cdr-button-medium-mixin;

      &.cdr-button--has-icon {
        @include cdr-button-has-icon-medium-mixin;
      }

      & > :global(.cdr-button__icon) {
        @include cdr-button-icon-medium-mixin;
      }
    }

    &--large\@xs {
      @include cdr-button-large-mixin;

      &.cdr-button--has-icon {
        @include cdr-button-has-icon-large-mixin;
      }

      & > :global(.cdr-button__icon) {
        @include cdr-button-icon-large-mixin;
      }
    }
  }

  /* @sm
    768px - 991px
    ========== */
  @include sm-mq-only {
    &--small\@sm {
      @include cdr-button-small-mixin;

      &.cdr-button--has-icon {
        @include cdr-button-has-icon-small-mixin;
      }

      & > :global(.cdr-button__icon) {
        @include cdr-button-icon-small-mixin;
      }
    }

    &--medium\@sm {
      @include cdr-button-medium-mixin;

      &.cdr-button--has-icon {
        @include cdr-button-has-icon-medium-mixin;
      }

      & > :global(.cdr-button__icon) {
        @include cdr-button-icon-medium-mixin;
      }
    }

    &--large\@sm {
      @include cdr-button-large-mixin;

      &.cdr-button--has-icon {
        @include cdr-button-has-icon-large-mixin;
      }

      & > :global(.cdr-button__icon) {
        @include cdr-button-icon-large-mixin;
      }
    }
  }

  /* @md
    992px - 1199px
    ========== */
  @include md-mq-only {
    &--small\@md {
      @include cdr-button-small-mixin;

      &.cdr-button--has-icon {
        @include cdr-button-has-icon-small-mixin;
      }

      & > :global(.cdr-button__icon) {
        @include cdr-button-icon-small-mixin;
      }
    }

    &--medium\@md {
      @include cdr-button-medium-mixin;

      &.cdr-button--has-icon {
        @include cdr-button-has-icon-medium-mixin;
      }

      & > :global(.cdr-button__icon) {
        @include cdr-button-icon-medium-mixin;
      }
    }

    &--large\@md {
      @include cdr-button-large-mixin;

      &.cdr-button--has-icon {
        @include cdr-button-has-icon-large-mixin;
      }

      & > :global(.cdr-button__icon) {
        @include cdr-button-icon-large-mixin;
      }
    }
  }

  /* @lg
    1200px and up
    ========== */

  @include lg-mq-only {
    &--small\@lg {
      @include cdr-button-small-mixin;

      &.cdr-button--has-icon {
        @include cdr-button-has-icon-small-mixin;
      }

      & > :global(.cdr-button__icon) {
        @include cdr-button-icon-small-mixin;
      }
    }

    &--medium\@lg {
      @include cdr-button-medium-mixin;

      &.cdr-button--has-icon {
        @include cdr-button-has-icon-medium-mixin;
      }

      & > :global(.cdr-button__icon) {
        @include cdr-button-icon-medium-mixin;
      }
    }

    &--large\@lg {
      @include cdr-button-large-mixin;

      &.cdr-button--has-icon {
        @include cdr-button-has-icon-large-mixin;
      }

      & > :global(.cdr-button__icon) {
        @include cdr-button-icon-large-mixin;
      }
    }
  }
}