@import '../../../css/settings/index.scss';
@import './vars/CdrButton.vars.scss';
.cdr-button {
  @include cdr-button-base-mixin;

  svg {
    @include cdr-button-base-icon-mixin;
  }

  &.cdr-button--has-icon-left svg {
    margin-right: $cdr-space-quarter-x;
  }

  &.cdr-button--has-icon-right svg {
    margin-left: $cdr-space-quarter-x;
  }

  /* Modifier style variants
    ========================================================================== */
  &--primary {
    @include cdr-button-primary-mixin;

    &.cdr-button--elevated {
      @include cdr-button-primary-elevated-mixin;
    }
  }

  &--secondary {
    @include cdr-button-secondary-mixin;

    &.cdr-button--elevated {
      @include cdr-button-secondary-elevated-mixin;
    }
  }

  &--dark {
    @include cdr-button-dark-mixin;

    &.cdr-button--elevated {
      @include cdr-button-dark-elevated-mixin;
    }
  }

  &--sale {
    @include cdr-button-sale-mixin;

    &.cdr-button--elevated {
      @include cdr-button-sale-elevated-mixin;
    }
  }

  &--link {
    @include cdr-button-link-mixin;
  }

  /* Size variants
    ========================================================================== */

  /* Large
     ========== */
  &--large {
    @include cdr-button-large-mixin;
  }

  /* Medium
     ========== */
  &--medium {
    @include cdr-button-medium-mixin;
  }

  /* Small
     ========== */

  &--small {
    @include cdr-button-small-mixin;
  }

  /* Icon Only
     ========= */

  &--icon-only {
    @include cdr-button-icon-only-mixin;

    & > svg {
      margin: 0;
    }
  }

  &--icon-only-large {
    padding: $cdr-space-three-quarter-x;
  }

  &--with-background {
    @include cdr-button-with-background-mixin;
  }

  /* Full Width
    ========== */

  &--full-width {
    @include cdr-button-full-width-mixin;
  }

  /* Breakpoint variants

  /* @xs
    0px - 767px
    ========== */
  @include cdr-xs-mq-only {
    &--small\@xs {
      @include cdr-button-small-mixin;
    }

    &--medium\@xs {
      @include cdr-button-medium-mixin;
    }

    &--large\@xs {
      @include cdr-button-large-mixin;
    }

    &--fullWidth\@xs {
      @include cdr-button-full-width-mixin;
    }
  }

  /* @sm
    768px - 991px
    ========== */
  @include cdr-sm-mq-only {
    &--small\@sm {
      @include cdr-button-small-mixin;
    }

    &--medium\@sm {
      @include cdr-button-medium-mixin;
    }

    &--large\@sm {
      @include cdr-button-large-mixin;
    }

    &--fullWidth\@sm {
      @include cdr-button-full-width-mixin;
    }
  }

  /* @md
    992px - 1199px
    ========== */
  @include cdr-md-mq-only {
    &--small\@md {
      @include cdr-button-small-mixin;
    }

    &--medium\@md {
      @include cdr-button-medium-mixin;
    }

    &--large\@md {
      @include cdr-button-large-mixin;
    }

    &--fullWidth\@md {
      @include cdr-button-full-width-mixin;
    }
  }

  /* @lg
    1200px and up
    ========== */

  @include cdr-lg-mq-only {
    &--small\@lg {
      @include cdr-button-small-mixin;
    }

    &--medium\@lg {
      @include cdr-button-medium-mixin;
    }

    &--large\@lg {
      @include cdr-button-large-mixin;
    }

    &--fullWidth\@lg {
      @include cdr-button-full-width-mixin;
    }
  }
}
